@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model CompleteQuestionnaireBrowseView
@foreach (var item in Model.Items)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionnaireTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEntryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
            @Html.HiddenFor(modelItem => item.Status.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsible.Name)
            @Html.HiddenFor(modelItem => item.Responsible.Id)
        </td>
        <td class="buttons">
            @Html.ActionLink("Details", "Result", new { id = item.Id }, new { @class = "btn small" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn small danger" })
        </td>
    </tr>
}