@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model CompleteQuestionnaireBrowseView
@foreach (var item in Model.Items)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionnaireTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEntryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
            @Html.HiddenFor(modelItem => item.Status.Id)
        </td>
        <td class="buttons">
            @Html.ActionLink("Details", "Result", new { id = item.Id }, new {@class = "btn"})

            @Html.ActionLink("Edit", "QuestionI", "CompleteQuestionnaire", new { id = item.Id }, new {@class = "btn"})
        </td>
    </tr>
}