@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@using RavenQuestionnaire.Web.Models
@model CompleteQuestionnaireBrowseView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="bordered-table zebra-striped">
    <thead>
        <tr>
            <th>Id </th>
            <th>Title </th>
            <th>Creation date</th>
            <th>Last edit date</th>
            <th>Status</th>
            <th>Responsible</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionnaireTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastEntryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponsibleId)
                </td>
                <td class="buttons">
                    @Html.ActionLink("Details", "Question", new { id = item.Id }, new { @class = "btn small" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn small danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination">
    @Html.QPager(Model.PageSize, Model.Page, Model.TotalCount)
</div>
