@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@using RavenQuestionnaire.Web.Models
@model CompleteQuestionnaireBrowseView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="../../Scripts/sorter.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $("#completedQuestionnaireTable").tablesorter({
                order: "@Model.Order",
                send: function(data) {
                    $.ajax({
                            type: "POST",
                            url: "@Url.Action("_TableData", "CompleteQuestionnaire")",
                            data: JSON.stringify({ Orders: data, Page: @Model.Page , PageSize: @Model.PageSize }),
                            contentType: 'application/json, charset=utf-8',
                            statusCode: {
                                200: function(response) {
                                    $("#completedQuestionnaireTable tbody").html(response);
                                }
                            }
                        });
                }
            });
    });
</script>
<table id="completedQuestionnaireTable" class="bordered-table zebra-striped">
    <thead>
        <tr>
            <th sorter='{"key":"Id"}'>Id </th>
            <th sorter='{"key":"Questionnaire.Title"}'>Title </th>
            <th sorter='{"key":"LastEntryDate"}'>Last edit date </th>
            <th sorter='{"disable":"true"}'></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_Table", Model)
    </tbody>
</table>
<div class="pagination">
    @Html.QPager(Model.PageSize, Model.Page, Model.TotalCount, new {order = Model.Order})
</div>
