@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Vertical
@using RavenQuestionnaire.Web.Models
@model CompleteQuestionnaireViewV
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="../../Content/themes/classic/galleria.classic.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/galleria-1.2.6.min.js" type="text/javascript"></script>
<script src="../../Content/themes/classic/galleria.classic.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/take.js")" type="text/javascript"></script>


<div class="">
    <div class="row-fluid">
        <div class="span3">
            <ul class="nav nav-list well  scroll-y">
                @foreach (var gh in Model.Groups)
                {
                    if (gh.IsCurrent)
                    {
                    <li class="active"><a href="#@gh.GetClientId("div")">
                        @gh.GroupText
                    </a></li>
                    }
                    else
                    {
                    <li><a href="@Url.Action("QuestionI", new { id = Model.Id, group = gh.PublicKey })">
                        @gh.GroupText
                    </a></li>
                    }
                    <li class="divider"></li>
                }
            </ul>
        </div>
        <div class="span9 tab_content">
            <h2>@Model.Title</h2>
            @Html.Partial("ViewSwitcher", new SwitcherModel { Id = Model.Id, PublicKey = Model.CurrentGroup.PublicKey })
            <div id="@Model.CurrentGroup.GetClientId("div")">
                @Html.Partial("~/Views/Group/_ScreenI.cshtml", Model)
            </div>
        </div>
    </div>
</div>
<div id="loadingModal" class="">
</div>
