@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@using RavenQuestionnaire.Core.Views.Group
@model CompleteQuestionnaireViewEnumerable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.CurrentGroup.GroupText;
}
<h1>@Model.Title</h1>
<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Switch view <span
        class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Question", "CompleteQuestionnaire", new { id = Model.Id, group = Model.CurrentGroup.PublicKey })">
            Horizontal</a></li>
        <li><a href="@Url.Action("QuestionV", "CompleteQuestionnaire", new { id = Model.Id, group = Model.CurrentGroup.PublicKey })">
            Vertical</a></li>
        <li><a href="@Url.Action("QuestionC", "CompleteQuestionnaire", new { id = Model.Id, group = Model.CurrentGroup.PublicKey })">
            Modal</a></li>
    </ul>
</div>
<div class="tabbable">
<ul class="nav nav-tabs">
    @foreach (CompleteGroupView groupView in Model.Groups)
    {
        string cssClass = groupView.PublicKey == Model.CurrentGroup.PublicKey ? "active" : "";
        <li  class="@cssClass">
            @Html.ActionLink(groupView.GroupText, "Question", new { id = Model.Id, group = groupView.PublicKey })</li>
    }
</ul>
<div id='@Model.CurrentGroup.GetClientId("div")'>
    @{ Html.RenderPartial("~/Views/Group/_Screen.cshtml", Model.CurrentGroup); }
</div>
@Html.HiddenFor(model => Model.Id)
<div class="">
    @Html.ActionLink("Back to List of Questionnaires", "Index", null, new { @class = "btn" })
</div>
</div>
