@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Vertical
@using RavenQuestionnaire.Core.Views.Group
@using RavenQuestionnaire.Web.Models
@model CompleteQuestionnaireViewV
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function ShowOverlay() {
        $('#loadingModal').addClass('overlay');
        $('.modal-backdrop').remove();
    }
    function HideOverlay() {
        $('#loadingModal').removeClass('overlay');
    }
</script>
<style type="text/css">
    .col1 td
    {
        visibility: hidden;
    }
    .col2 th
    {
        visibility: hidden;
    }
    .col-wrap1
    {
        width: 100%;
    }
    
    .col-wrap2
    {
        width: 100%;
        margin-right: -100%;
        position: relative;
        left: 200px;
    }
    
    .col1
    {
        float: left;
        width: 200px;
        margin-right: -100%;
        position: relative;
        left: -200px;
        border-right: 1px solid #DDDDDD;
    }
    
    .clear
    {
        clear: both;
        font-size: 0;
        overflow: hidden;
    }
</style>
<h1>@Model.Title</h1>
@Html.Partial("ViewSwitcher", new SwitcherModel{Id = Model.Id, PublicKey = Model.CurrentGroup.PublicKey})
<div class="">
    <div class="tabbable tabs-left row-fluid">
        <div class="span3">
            <ul class="nav nav-tabs">
                @foreach (var gh in Model.Groups)
                {
                    if (gh.IsCurrent)
                    {
                    <li class="active"><a data-toggle="tab" href="#@gh.GetClientId("div")">
                        @gh.GroupText
                    </a></li>
                    }
                    else
                    {
                    <li><a href="@Url.Action("QuestionI", new { id = Model.Id, group = gh.PublicKey })">
                        @gh.GroupText
                    </a></li>
                    }
                }
            </ul>
        </div>
        <div class="span9 tab_content">
            <div class="tab-content">
                <div id="@Model.CurrentGroup.GetClientId("div")" class="tab-pane active">
                    @Html.Partial("~/Views/Group/_ScreenI.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingModal" class="">
</div>
