@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Mobile
@model CompleteQuestionnaireMobileView
@{
    Layout = "~/Views/Shared/_LayputHtml5.cshtml";
    var questionKey = (Guid)ViewBag.CurrentQuestion;
    this.ViewBag.CurrentQuestion = questionKey;
}
<script type="text/javascript">

    jQuery(document).bind("pageshow", function () {
        var scrollHere = $('.scrollHere').length > 0 ? $('.scrollHere').get(0) : null;
        if (scrollHere != null) {
            scrollHere.focus();
            $(scrollHere).effect("highlight", { color: "#5393C5" }, 2000);
        }
    });


    (function (window, $, PhotoSwipe) {
        $(document).ready(function () {
            $('div.gallery-page')
                    .live('pageshow', function (e) {
                        var currentPage = $(e.target);
                        var options = {};
                        var photoSwipeInstance = PhotoSwipe.getInstance(currentPage.attr('id'));
                        if (!(typeof photoSwipeInstance != "undefined" && photoSwipeInstance != null)) {
                            photoSwipeInstance = $("ul.gallery a", e.target).photoSwipe(options, currentPage.attr('id'));
                        }
                        return true;
                    })

                    .live('pagehide', function (e) {
                        var currentPage = $(e.target),
                            photoSwipeInstance = PhotoSwipe.getInstance(currentPage.attr('id'));

                        if (typeof photoSwipeInstance != "undefined" && photoSwipeInstance != null) {
                            PhotoSwipe.detatch(photoSwipeInstance);
                        }

                        return true;
                    });
        });
    } (window, window.jQuery, window.Code.PhotoSwipe));

</script>
<div data-role="panel" data-id="menu">
    <!-- Start of first page -->
    <div data-role="page" id="sidebar">
        <div data-role="header" data-theme="c">
            <a data-corners="false"  data-icon="arrow-l" href="@Url.Action("Index", "Dashboard")" rel = "external">Dashboard</a>
            <h3></h3>
        </div>
        <!-- /header -->
        <div data-role="content">
            <ul data-role="listview" data-theme="c" data-dividertheme="d" data-counttheme="e">
                @foreach (var gh in Model.Groups)
                {
                    if (!gh.IsCurrent)
                    {
                    <li><a href="@Url.Action("QuestionHtml5", new { id = Model.Id, group = gh.PublicKey })" rel="external" data-ajax="false">@gh.GroupText
                        <span  id="counter-@(gh.PublicKey)" class="ui-li-count">@(gh.Totals.Answered)/@gh.Totals.Enablad</span></a></li>
                    }
                    else
                    {
                    <li data-theme="b"><a>@gh.GroupText <span id="counter-@(gh.PublicKey)" data-theme="a" class="ui-li-count">@(gh.Totals.Answered)/@gh.Totals.Enablad</span></a></li>
                    }
                }
            </ul>
        </div>
        <!-- /content -->
    </div>
    <!-- /page -->
    <!-- other side panel pages here -->
</div>
<div data-role="panel" data-id="main">
    <!-- Start of second page -->
    <div data-role="page" id="main" class="page">
        <div data-role="header" data-theme="b" class="navigation">
            <h1>@Model.Title</h1>
            <div data-type="horizontal" class="ui-btn-right navigation-btn-group">
                <a data-role="button" data-corners="false" href="@Url.Action("Details", "Statistic", new { id = Model.Id })" 
                   rel="external" data-ajax="false">Statistic</a> 
                   <a data-corners="false" data-ajax="false" data-role="button"  rel="external" href="@Url.Action("Complete", "CompleteQuestionnaire", new { id = Model.Id })">
                       Complete</a>
            </div>
        </div>
        <!-- /header -->
        <div data-role="content" id="@Model.CurrentGroup.GetClientId("div")">
            @Html.Partial("~/Views/Group/_ScreenHtml5.cshtml", Model)
            <div style="width: 100%; height: 50px;">
                &nbsp;</div>
        </div>
        <div data-role="footer" data-theme="b">
            <!-- /navbar -->
            @Html.Partial("MobileGroupNavigation", Model)
        </div>
        <!-- /content -->
    </div>
    <!-- /page -->
    <!-- other main panel pages here -->
    @foreach (var question in Model.QuestionsWithCards)
    {
        <div data-role="page" data-add-back-btn="true" id="gallery-@(question.PublicKey)" class="gallery-page">
            <div data-role="header">
                <h1>Question cards</h1>
            </div>
            <div data-role="content">
                <ul class="gallery">
                    @foreach (var card in question.Cards)
                    {
                        <li><a href="@Url.Action("Images", "Resource", new { id = card.Original })" rel="external">
                            <img src="@Url.Action("Images", "Resource", new { id = card.Thumb })" alt="@card.Title" /></a></li>
                    }
                </ul>
            </div>
        </div>
    }
    @foreach (var question in Model.QuestionsWithInstructions)
    {
        <div data-role="page" data-add-back-btn="true" id="inctruction-@(question.PublicKey)">
            <div data-role="header" data-theme="b">
                <h1>Instructions</h1>
            </div>
            <div data-role="content">
                <h3>@Html.Raw(question.Instructions)</h3>
            </div>
        </div>
    }
</div>
@*
Validation button

@using (Ajax.BeginFormHtml5("Validate", "CompleteQuestionnaire", new { id = Model.Id, group = Model.CurrentGroup.PublicKey }, new AjaxOptions
     {
         OnComplete = "JsonResults"
     }))
{
    <input value="Validate" type="submit" data-role="button" data-icon="check" data-theme="e"
        data-iconpos="top" />
         
}*@