@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model CompleteQuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("UpdateResult", "CompleteQuestionnaire"))
{
    <h2>@Model.Title</h2>
    <div class="pairs">
        <div class="clearfix">
            <div class="key">
                Creation Date</div>
            <div class="value">
                @Html.DisplayFor(model => model.CreationDate)
            </div>
        </div>
        <div class="clearfix">
            <div class="key">
                Last edit Date</div>
            <div class="value">
                @Html.DisplayFor(model => model.LastEntryDate)
            </div>
        </div>
        <div class="clearfix">
            <div class="key">
                Status</div>
            <div class="value">
                @Html.DropDownListFor(model => model.Status.Id,
                new SelectList(ViewBag.AvailableStatuses, "Id", "Name", Model.Status.Id))
            </div>
        </div>
        <div class="clearfix">
            <div class="key">
                Responsible</div>
                
            <div class="value">
                @Html.DropDownListFor(model => model.Responsible.Id,
         new SelectList(ViewBag.Users, "Id", "UserName", Model.Responsible.Id))
            </div>
        </div>
    </div>

    <h3>
        Questions:</h3>
    Html.RenderPartial("~/Views/Question/_Take.cshtml", Model.Questions);
    @Html.HiddenFor(model => Model.Id)
    <p>
        <input type="submit" value="Save" class="btn primary" />
    </p>
}
<p>
    @Html.ActionLink("Back to List of Questionnaires", "Index")
</p>
