@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model CompleteQuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("UpdateResult", "CompleteQuestionnaire", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset><legend>@Model.Title</legend>
        <div class="control-group">
            <label class="control-label">ID</label>
            <div class="controls">
                <p class="text-block">@Html.DisplayFor(model => model.Id)</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Creation Date</label>
            <div class="controls">
                <p class="text-block">@Html.DisplayFor(model => model.CreationDate)</p>
            </div>
        </div>
      @*  <div class="control-group">
            <label class="control-label">Last edit Date</label>
            <div class="controls">
                <p class="text-block">@Html.DisplayFor(model => model.LastEntryDate)</p>
            </div>
        </div>*@
        <div class="control-group">
            <label class="control-label">Status</label>
            <div class="controls">
                @Html.DropDownListFor(model => model.Status.PublicId, new SelectList(ViewBag.AvailableStatuses, "PublicId", "Name", Model.Status.PublicId))
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Responsible</label>
            <div class="controls">
                @Html.DropDownListFor(model => model.Responsible.Id, new SelectList(ViewBag.Users, "Id", "UserName", Model.Responsible.Id))
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Comment</label>
            <div class="controls">
                @Html.TextAreaFor(model => model.Status.ChangeComment) 
            </div>
        </div>
        @Html.HiddenFor(model => Model.Id)
        
        @if (!String.IsNullOrEmpty(ViewBag.StatusHolderId))
        {
            @Html.Hidden("StatusHolderId", (string)ViewBag.StatusHolderId)     
        }
       
        <p>
            <input type="submit" value="Save" class="btn btn-primary" />
        </p>
    </fieldset>
}