@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model CompleteQuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("UpdateResult", "CompleteQuestionnaire"))
{
    <fieldset>
        <legend>@Model.Title</legend>
        <div class="display-label">
            @Html.LabelFor(model => model.Title)</div>
        <div class="display-field">
            <b>@Html.DisplayFor(model => model.Title)</b>
        </div>
        <div class="display-label">
            Creation Date</div>
        <div class="display-field">
            <b>@Html.DisplayFor(model => model.CreationDate)</b>
        </div>
        <div class="display-label">
            Last edit Date</div>
        <div class="display-field">
            <b>@Html.DisplayFor(model => model.LastEntryDate)</b>
        </div>
        <br />
        <fieldset>
            <legend>Questions</legend>
            @{ Html.RenderPartial("~/Views/Question/_Take.cshtml", Model.Questions); }
        </fieldset>
        @Html.HiddenFor(model => Model.Id)

        <div class="display-label">
            @Html.LabelFor(model => model.Status)</div>

            @Html.DropDownListFor(model => model.Status,
         new SelectList(ViewBag.AvailableStatuses/*, "Id", "Status", Model.Status*/))


        @*<div class="display-field">
            <b>@Html.DisplayFor(model => model.Status)</b>
        </div>*@
        <br />
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<p>
    @Html.ActionLink("Back to List of Questionnaires", "Index")
</p>
