@using Questionnaire.Core.Web.Helpers
@using System.Web.Mvc.Html5
@using RavenQuestionnaire.Core.Views.Answer
@model RavenQuestionnaire.Core.Views.Question.CompleteQuestionView
           @{
    var answerGuid = Model.Answers.Length > 0 ? Model.Answers[0].PublicKey : Guid.NewGuid();
}
@using (Html.BeginCollectionItem("Answers", true, answerGuid))
{
    ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onchange", "$(this.form).submit();");
    //   string answerKey = string.Format("answers[{0}].", Model.PublicKey);
    //string tbClientId = "#" + Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName("AnswerValue");
    var dateValue = Model.Answers.Length > 0 ? Model.Answers[0].AnswerValue : string.Empty;
    @Html.Hidden("QuestionId", Model.PublicKey)
    <div class="answer">
        @Html.Hidden("PublicKey", answerGuid)
        @Html.Hidden("Selected", true)
        @*@Model.Answers[0].AnswerText*@
         @Html.Label("AnswerValue", Model.QuestionText)
         
        <input type="date" 
               name='@Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName("AnswerValue")' 
               id='@Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("AnswerValue")' 
               value='@dateValue' onchange ="$(this.form).submit();" />	
     @*   @Html.Html5Date("AnswerValue", Model.Answers.Length > 0 ? Model.Answers[0].AnswerValue : string.Empty, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)
     *@
        @* <span>
            @Html.RadioButton("PublicKey", item.PublicKey, item.Selected, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)</span>
        @{Html.RenderPartial(string.Format("~/Views/Answer/answerView/_{0}.cshtml", item.AnswerType), item);}*@
    </div>
   
}