@using Questionnaire.Core.Web.Helpers
@using System.Web.Mvc.Html5
@using RavenQuestionnaire.Core.Views.Answer
@model RavenQuestionnaire.Core.Views.Question.CompleteQuestionView
@{
    var answerGuid = Model.Answers.Length > 0 ? Model.Answers[0].PublicKey : Guid.NewGuid();
}
@using (Html.BeginCollectionItem("Answers", true, answerGuid))
{
    ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onchange", "$(this.form).submit();");
    
    var dateValue = Model.Answers.Length > 0 ? Model.Answers[0].AnswerValue : string.Empty;
    @Html.Hidden("QuestionId", Model.PublicKey)
    <div class="answer">
        @Html.Hidden("PublicKey", answerGuid)
        @Html.Hidden("Selected", true)
        
        @Html.Label("AnswerValue", Model.QuestionText)
        <input  data-role="datebox" data-options='{"mode": "datebox","calStartDay": 1}'
            name='@Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName("AnswerValue")' 
               id='@Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("AnswerValue")' 
               value='@dateValue' onchange ="$(this.form).submit();" />

    </div>
   
}