@using System.Web.Mvc.Html5
@using Questionnaire.Core.Web.Helpers
@model RavenQuestionnaire.Core.Views.Question.CompleteQuestionView
@{
    var answerGuid = Model.Answers.Length > 0 ? Model.Answers[0].PublicKey : Guid.NewGuid();
}
@using (Html.BeginCollectionItem("Answers", true, answerGuid))
{
    var viewBag = (IDictionary<string, object>) ViewBag.EnabledRadioBoxSettings;
  
    viewBag.Add("name", Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName("AnswerValue"));
    var id = Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("AnswerValue");
    viewBag.Add("id", id);
    viewBag.Add("draw-key-board","true");
    @Html.Hidden("PublicKey", answerGuid)
    @Html.Hidden("Selected", true)
    @Html.Hidden("QuestionId", Model.PublicKey)
    @Html.Label("AnswerValue", Model.QuestionText)
    @Html.Html5Range(0, 100, 1, Model.Answers.Length > 0 && !string.IsNullOrEmpty(Model.Answers[0].AnswerValue) ? Convert.ToInt32(Model.Answers[0].AnswerValue) : 0, viewBag)
 @*   <input type="number" value="" id="@Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("AnswerValue")" name="@Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName("AnswerValue")" />*@
    
    @*<div id="@Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("AnswerValue")" custom-numeric="true"></div>*@
    @*
    <input type="submit" value="Set Number" data-inline="true"/>*@
}
