@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.Answer
@model RavenQuestionnaire.Core.Views.Question.CompleteQuestionView
@{

    var settings = ((IDictionary<string, object>) ViewBag.EnabledRadioBoxSettings);
    settings.Add("onclick", "$(this.form).submit();");
}

@using (Html.BeginCollectionItem("Answers", true, Model.PublicKey))
{
    @Html.Hidden("QuestionId", Model.PublicKey)
   @* <div  data-role="fieldcontain">*@
        <fieldset data-role="controlgroup">
            <legend>@Html.Raw( Model.QuestionText)</legend>
            @foreach (var item in Model.Answers)
            {
                
                @Html.Hidden("Selected", true)
                
                    var radibutonname = string.Format("{0}-{1}",ViewData.TemplateInfo.GetFullHtmlFieldId("PublicKey"), item.PublicKey);
                    settings["id"] = radibutonname;
                
                @Html.RadioButton("PublicKey", item.PublicKey, item.Selected, settings)
               <label for="@radibutonname">@{ Html.RenderPartial(string.Format("~/Views/Answer/answerViewHtml5/_{0}.cshtml", item.AnswerType), item); }</label>
          
            }
        </fieldset>
       
  @*  </div>*@
}
