@model WB.Core.BoundedContexts.Headquarters.Views.Survey.SurveyLineView[]

@{
    ViewBag.Title = SurveyResources.SurveysIndexPageTitle;
}


<div>
    <h1>@ViewBag.Title</h1>
    <div class="row col-sm-12 bottom-buffer">
        @Html.ActionLink(SurveyResources.StartNewSurveyLink, "StartNew", "Surveys", null, new { @class = "btn btn-default" })
    </div>
    <div class="row col-sm-12">
        <table class="table table-striped">
            <tr>
                <th>@SurveyResources.SurveyListName</th>
                <th>@CommonResources.Action</th>
            </tr>
            @foreach (var survey in Model)
            {
                <tr>
                    <td>@survey.Name</td>
                    <td>@Html.ActionLink(SurveyResources.RegisterSupervisorLinkText, "RegisterSupervisorAccount", "Surveys")</td>
                </tr>
            }
        </table>
    </div>
</div>