@using System.Web.Optimization
@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.BatchUploadModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = BatchUpload.BatchUpload_Title;
}

@section scripts
{
    @Scripts.Render("~/validate")
    <script type="text/javascript">
        $(function () {
            $('.prefilled-file-upload').bind('change', function() {
                var fileSize = this.files[0].size / 1024 / 1024;
                if (fileSize > 300) {
                    bootbox.alert('@BatchUpload.FileSizeLimit');
                    $(".prefilled-file-upload").val('');
                }
            });
            $('.toggle-prefilled-table').click(function () {
                $('.prefilled-table').toggle();
                return false;
            });
        });
    </script>
}

<main>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink(MainMenu.SurveySetup, "Index", "SurveySetup")
                    </li>
                </ol>
                <h1>@BatchUpload.CreatingMultipleAssignments</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h2>
                    @Html.QuestionnaireName(Model.QuestionnaireTitle, Model.QuestionnaireVersion)
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-10 prefilled-data-info info-block">
                <p>@BatchUpload.UploadDescription</p>
                <p>@BatchUpload.EmptySupervisorDescription</p>
            </div>
        </div>
@if (Model != null && Model.FeaturedQuestions != null)
{
        <div class="row">
            <div class="col-sm-6 col-xs-10 prefilled-data-info info-block short-prefilled-data-info">
                <a href="#" class="list-required-prefilled-data">@BatchUpload.ViewListPrefilledData</a>
            </div>
            <div class="col-sm-6 col-xs-10 prefilled-data-info info-block full-prefilled-data-info" style="display: none;">
                <h3>@BatchUpload.PrefilledRequiredData</h3>
                <p>
                    @BatchUpload.DownloadDescListRequiredPreffiledData
                    <a href="@Url.Action("SimpleTemplateDownload", "SurveySetup", new {id = Model.QuestionnaireId, version = Model.QuestionnaireVersion})">@BatchUpload.DownloadLinkTitleListRequiredPreffiledData</a>
                </p>
                <ul class="list-unstyled prefilled-data">
                    @foreach (var item in Model.FeaturedQuestions)
                    {
                        <li>@Html.DisplayFor(modelItem => item.Caption)</li>
                    }
                </ul>
                <a href="#" class="hide-list-of-required-prefilled-data">@BatchUpload.HideListPrefilledData</a>
            </div>
            <script type="text/javascript">
                    $(function() {
                        $(".list-required-prefilled-data")
                            .click(function() {
                                $(".short-prefilled-data-info").hide();
                                $(".full-prefilled-data-info").show();
                            });
                        $(".hide-list-of-required-prefilled-data")
                            .click(function() {
                                $(".full-prefilled-data-info").hide();
                                $(".short-prefilled-data-info").show();
                            });
                    });
            </script>
        </div>
}
        <div class="row flex-row">
            <div class="col-sm-6">
                <div class="flex-block selection-box">
                    <div class="block">
                        <h3>@BatchUpload.SimpleTitle</h3>
                        <p>@BatchUpload.SimpleDescription</p>
                    </div>
                    <div>
                        <a href="@Url.Action("SimpleTemplateDownload", "SurveySetup", new {id = Model.QuestionnaireId, version = Model.QuestionnaireVersion})">@BatchUpload.DownloadTabTemplate</a>
                        @using (Html.BeginForm("AssignmentsBatchUploadAndVerify", "SurveySetup", new {questionnaireId = Model.QuestionnaireId, version = Model.QuestionnaireVersion}, FormMethod.Post, new {enctype = "multipart/form-data"}))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.QuestionnaireId)
                            @Html.HiddenFor(x => x.QuestionnaireVersion)
                            @Html.Partial("ClientTimezoneOffset")
                            <label class="btn btn-success btn-file">
                                @BatchUpload.UploadTabFile
                                @Html.TextBoxFor(m => m.File, new {type = "file", accept = ".tab, .txt, .zip", onchange = "this.form.submit()"})
                            </label>
                            @Html.ValidationMessageFor(x => x.File, null, new {@class = "help-block"})
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flex-block selection-box">
                    <div class="block">
                        <h3>@BatchUpload.BatchTitle</h3>
                        <p>@BatchUpload.BatchDescription</p>
                    </div>
                    <div>
                        <a href="@Url.Action("TemplateDownload", "SurveySetup", new {id = Model.QuestionnaireId, version = Model.QuestionnaireVersion})">@BatchUpload.DownloadTemplateArchive</a>
                        @using (Html.BeginForm("PanelBatchUploadAndVerify", "SurveySetup", routeValues: new {id = Model.QuestionnaireId, version = Model.QuestionnaireVersion}, method: FormMethod.Post, htmlAttributes: new {enctype = "multipart/form-data"}))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.QuestionnaireId)
                            @Html.HiddenFor(x => x.QuestionnaireVersion)
                            @Html.Partial("ClientTimezoneOffset")
                            <label class="btn btn-success btn-file">
                                @BatchUpload.UploadZipFile
                                @Html.TextBoxFor(m => m.File, new {type = "file", accept = ".zip", onchange = "this.form.submit()"})
                            </label>
                            @Html.ValidationMessageFor(x => x.File, null, new {@class = "help-block"})
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-5 text-page">
                <p>
                    @{
                        string link = string.Format("<a href='{0}'>{1}</a>", Url.Action("TakeNew", "HQ", new { id = Model.QuestionnaireId, version = Model.QuestionnaireVersion }), BatchUpload.ManualModeLinkTitle);
                        string textWithLink = string.Format(BatchUpload.ManualModeDescription, link);
                    }
                    @Html.Raw(textWithLink)
                </p>
            </div>
        </div>
    </div>
</main>
