@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@using WB.UI.Headquarters.Code

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = Dashboard.Questionnaires;

    var authorizedUser = DependencyResolver.Current.GetService<IAuthorizedUser>();
    var isObserver = authorizedUser.IsObserver;
    var isAdmin = authorizedUser.IsAdministrator;
}

@section scripts
{
    @Scripts.Render("~/js/main-no-libs")
    @Scripts.Render("~/js/common")
    @Scripts.Render("~/js/list")
    @Scripts.Render("~/js/questionnaires")

    <script type="text/javascript">

        var questionnaireListUrl =
            '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "QuestionnairesApi", action = "Questionnaires"})';

        var $newInterviewUrl = '@Url.Action("TakeNew", "HQ")';
        var $batchUploadUrl = '@Url.Action("BatchUpload", "SurveySetup")';
        var $migrateAssignmentsUrl = '@Url.Action("UpgradeAssignments", "SurveySetup")';
        var $cloneQuestionnaireUrl = '@Url.Action("CloneQuestionnaire", "HQ")';
        var $exportQuestionnaireUrl = '@Url.Action("ExportQuestionnaire", "HQ")';
        var $deleteQuestionnaireUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "QuestionnairesApi", action = "DeleteQuestionnaire"})';
        var $webInterviewUrl = '@Url.Action("Start", "WebInterviewSetup")';

        var notifier = new Notifier();
        var ajax = new Ajax(notifier);

        $(function() {
            var model = new Supervisor.VM.Questionnaires(questionnaireListUrl, notifier, ajax,
                $newInterviewUrl, $batchUploadUrl, $cloneQuestionnaireUrl,
                $deleteQuestionnaireUrl, $webInterviewUrl, $exportQuestionnaireUrl, $migrateAssignmentsUrl);
            model.toLocalDate = function(data) {
                if (data === null || data === undefined || data === "") return "";

                var localDate = moment.utc(data).local();
                return localDate.format(window.CONFIG.dateFormat);
            }
            model.getDataTableColumns = function() {
                return [
                    {
                        data: "title",
                        name: "Title", // case-sensitive!
                        "class": "title",
                        render: function(data, type, row) {
                            return (row.allowCensusMode === true ? "<span class='census-icon'></span>" : "") + data;
                        }
                    },
                    {
                        data: "version",
                        name: "Version",// case-sensitive! should be DB name here from Designer DB questionnairelistviewitems? to sort column
                        "class": "parameters"
                    },
                    {
                        data: "importDate",
                        name: "ImportDate",// case-sensitive! should be DB name here from Designer DB questionnairelistviewitems? to sort column
                        "class": "date",
                        render: function (data, type, row) {
                            return model.toLocalDate(data);
                        }
                    },
                    {
                        data: "lastEntryDate",
                        name: "LastEntryDate",// case-sensitive! should be DB name here from Designer questionnairelistviewitems? to sort column
                        "class": "date",
                        render: function (data, type, row) {
                            return model.toLocalDate(data);
                        }
                    },
                    {
                        data: "creationDate",
                        name: "CreationDate",// case-sensitive! should be DB name here from Designer DB questionnairelistviewitems? to sort column
                        "class": "date",
                        render: function (data, type, row) {
                            return model.toLocalDate(data);
                        }
                    }
                ];
            };

            model.onTableInitCompleteExtra = function () {

                var buildMenuItem = function(selectedRow) {
                    var items = {}

                    if (!(selectedRow.isDisabled)) {
                        @if (!isObserver)
                        {
                            <text>
                                if (!selectedRow.allowCensusMode) {
                                    items["addNew"] = {
                                        name: "@Html.ToSafeJavascriptMessage(Dashboard.NewAssignment)",
                                        callback: model.addNewInterview
                                    };
                                }
                                items["batchUpload"] = {
                                    name: "@Html.ToSafeJavascriptMessage(Dashboard.UploadAssignments)",
                                    callback: model.interviewsBatchUpload
                                };
                                items["migrateFromOlderVersion"] = {
                                    name: "@Html.ToSafeJavascriptMessage(Dashboard.UpgradeAssignments)",
                                    callback: model.migrateAssignments
                                };
                            </text>
                        }


                        @if (isAdmin)
                        {
                            <text>
                                items["sep1"] = "---------";
                            </text>
                        }
                    }
                    @if (ApplicationSettings.WebInterviewEnabled && !isObserver)
                    {
                        <text>
                        if (!selectedRow.isDisabled) {
                            items["webSetup"] = {
                                name: "@Html.ToSafeJavascriptMessage(Dashboard.WebInterviewSetup)",
                                callback: model.webInterviewSetup
                            }
                        }
                        </text>
                    }


                    @if (isAdmin)
                    {
                        <text>
                        items["clone"] =
                        {
                            name: "@Html.ToSafeJavascriptMessage(Dashboard.CloneQuestionnaire)",
                            callback: model.cloneQuestionnaire,
                            disabled: selectedRow.isDisabled
                        };
                        items["delete"] =
                        {
                            name: "@Html.ToSafeJavascriptMessage(Dashboard.DeleteQuestionnaire)",
                            callback: model.deleteQuestionnaire
                            /*,disabled: selectedRow.isDisabled*/
                        };
                        items["export"] = {
                            name: "@Html.ToSafeJavascriptMessage(Dashboard.ExportQuestionnaire)",
                            callback: model.exportQuestionnaire,
                            disabled: selectedRow.isDisabled
                        }
                        </text>
                    }
                    return items;
                }

                var contextMenuOptions = {
                    selector: "table#data_holder .with-context-menu",
                    autoHide: false,
                    build: function ($trigger, e) {
                        var selectedRow = model.selectRowAndGetData($trigger);
                        var items = buildMenuItem(selectedRow);
                        return { items: items };
                    },
                    trigger: 'left'
                };

                $.contextMenu(contextMenuOptions);
            };

            ko.applyBindings(model);
            model.load();
        });
    </script>
}

<main>
    <div class="container-fluid">
        <div class="row">
            @Html.Partial("_alerts")
            <div class="page-header clearfix">
                <div class="neighbor-block-to-search">
                    <div class="topic-with-button">                    
                        <h1>@MainMenu.SurveySetup</h1>
                        @if (!isObserver)
                        {
                            <a class="btn btn-success" href="@Url.Action("Import", "Template")">@Dashboard.ImportTemplate</a>
                        }
                    </div>
                </div>
                <ol class="list-unstyled">
                    <li>@Dashboard.SurveySetupIntroMessage1</li>
                    <li>@Dashboard.SurveySetupIntroMessage2</li>
                </ol>
            </div>
        </div>
        <div id="list">
            <table id="data_holder" class="table table-striped table-bordered table-hover table-ordered"
                   data-order="[[ 2, &quot;desc&quot; ]]" data-searching="true">
                <thead>
                <tr>
                    <th>@Dashboard.Questionnaire</th>
                    <th>@Dashboard.Version</th>
                    <th>@Dashboard.ImportDate</th>
                    <th>@Dashboard.LastEntryDate</th>
                    <th>@Dashboard.CreationDate</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</main>

