@model WB.UI.Headquarters.Models.PreloadedDataConfirmationModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = BatchUpload.VerifySampleData;
    var modelState = ViewContext.ViewData.ModelState;
    var hasModelLevelErrors = modelState[""] != null && modelState[""].Errors.Any();
}

@section scripts
{
    @Scripts.Render("~/js/responsibles-selector")
    <script type="text/javascript">
        var StartInterviewCreationModel = function (ajax) {
            var $responsiblesUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "Teams", action = "Responsibles" })';

            var self = this;

            self.isResponsiblesLoading = ko.observable(false);
            self.responsibles = function (query, sync, pageSize) {
                self.isResponsiblesLoading(true);
                ajax.sendRequest($responsiblesUrl, "get", { query: query, pageSize: pageSize }, true,
                    // onSuccess
                    function (response) {
                        sync(response.Users, response.TotalCountByQuery);
                    },
                    // onDone
                    function () {
                        self.isResponsiblesLoading(false);
                    });
            };

            self.selectedResponsible = ko.observable(undefined).extend({ required: { shouldValidateOnStart: false } });

            self.selectedResponsibleId = ko.computed(function () {
                return _.isUndefined(self.selectedResponsible()) ? "" : self.selectedResponsible().ResponsibleId;
            });

            self.isResponsibleSelected = ko.computed(function () {
                return !_.isUndefined(self.selectedResponsible());
            });
        };

        $(function () {
            var model = new StartInterviewCreationModel(new Ajax(new Notifier()));
            ko.applyBindings(model);
        });
    </script>
}
<main>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li>@Html.ActionLink(MainMenu.SurveySetup, "Index", "SurveySetup")</li>
                    <li>@Html.ActionLink(BatchUpload.BreadCrumbs_CreatingMultipleInterviews, "BatchUpload", "SurveySetup", new { id = Model.QuestionnaireId, version = Model.Version }, new { })</li>
                </ol>
                <h1>@BatchUpload.CreatingMultipleAssignments</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <h3>
                    @string.Format(BatchUpload.ImportFrom, Model.FileName, Html.QuestionnaireName(Model.QuestionnaireTitle, Model.Version))
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 col-xs-12 action-block">
                <div class="import-progress">
                    <p class="success-text">@BatchUpload.VerificationCompleted</p>
                    <p>
                        @(Model.EntitiesCount == 1 ? BatchUpload.DataForSingleAssignmentFound : string.Format(BatchUpload.DataForMultipleAssignmentsFound, Model.EntitiesCount))
                    </p>
                    @if (Model.WasResponsibleProvided)
                    {
                        <p>
                            @(Model.SupervisorsCount == 1 ? BatchUpload.AssignedToSingleSupervisor : string.Format(BatchUpload.AssignedToMultipleSupervisors, Model.SupervisorsCount))
                        </p>
                        <p>
                            @(Model.EnumeratorsCount == 1 ? BatchUpload.AssignedToSingleEnumerator : string.Format(BatchUpload.AssignedToMultipleEnumerators, Model.EnumeratorsCount))
                        </p>
                    }
                </div>
                @using (Html.BeginForm("InterviewImportConfirmation", "SurveySetup", new { Id = Model.Id, questionnaireId = Model.QuestionnaireId, version = Model.Version }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.EntitiesCount)
                    @Html.HiddenFor(x => x.EnumeratorsCount)
                    @Html.HiddenFor(x => x.SupervisorsCount)
                    @Html.HiddenFor(x => x.FileName)
                    @Html.HiddenFor(x => x.WasResponsibleProvided)
                    @Html.HiddenFor(x => x.AssignmentImportType)

                    <input id="responsibleId" name="responsibleId" type="hidden" data-bind="value: selectedResponsibleId">
                    if (hasModelLevelErrors)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary(true)
                        </div>
                    }
                    if (!Model.WasResponsibleProvided)
                    {
                        <div class="form-group @(modelState.Keys.Contains("ResponsibleId") ? "has-error" : "")">
                            <label class="control-label">@BatchUpload.SelectResponsibleToAssign</label>
                            <div class="input-group">
                                <input placeholder="@BatchUpload.ImportInterviews_SelectResponsible" 
                                       class="form-control" 
                                       data-bind="typeahead: selectedResponsible, typeaheadOptions: {source: responsibles, displayText: function(item){return item.UserName}}, valueupdate:'afterkeydown'" 
                                       type="text" />
                                <span data-bind="spinner: isResponsiblesLoading, spinnerOptions: { 'left': 1, 'right': '50px' }"></span>
                                <div class="input-group-btn" data-bind="click: function(){ selectedResponsible(undefined); }">
                                    <div class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(x => x.ResponsibleId, null, new { @class = "help-block" })
                        </div>
                    }
                    <div class="action-buttons">
                        <button type="submit" class="btn btn-success" data-bind="@if (!Model.WasResponsibleProvided) { <text>enable: isResponsibleSelected</text> }">
                             @BatchUpload.CreateAssignments
                        </button>
                        <a href="@Url.Action("BatchUpload", "SurveySetup", new {id = Model.QuestionnaireId, version = Model.Version})" class="back-link">
                            @BatchUpload.BackToImport
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</main>