@using WB.Core.BoundedContexts.Headquarters.ValueObjects.PreloadedData
@model WB.Core.BoundedContexts.Headquarters.AssignmentImport.Parser.ImportDataParsingErrorsView
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = BatchUpload.VerifySampleData;
}

@section scripts
{
}
<main>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li>@Html.ActionLink(MainMenu.SurveySetup, "Index", "SurveySetup")</li>
                    <li>@Html.ActionLink(BatchUpload.BreadCrumbs_CreatingMultipleInterviews, "BatchUpload", "SurveySetup", new { id = Model.Identity.QuestionnaireId, version = Model.Identity.Version }, new { })</li>
                </ol>
                <h1>@BatchUpload.ImportAssignments_PageTitle</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <h3>
                    @string.Format(BatchUpload.ImportFrom, Model.FileName, Html.QuestionnaireName(Model.QuestionnaireTitle, Model.Identity.Version))
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 col-xs-12 action-block">
                <div class="import-progress">
                    <p class="error-text">@BatchUpload.BatchFileVerificationFailed</p>
                    <p>@BatchUpload.AssignmentsAreNotCreated</p>
                </div>
                <h3 class="error-text">
                    @if (Model.Errors.Length == 1)
                    {
                        @:@BatchUpload.SingleErrorFound
                    }
                    else
                    {
                        @:@string.Format(BatchUpload.MultipleErrorsWereFound, Model.Errors.Length)
                    }
                </h3>
                @foreach (var error in Model.Errors)
                {
                    <div class="error-block">
                        <h5 class="error-text"><span>@error.Code</span>: @error.Message</h5>
                        @foreach (var reference in error.References)
                        {
                            <p>@BatchUpload.FileName: @reference.DataFile</p>
                            <p>
                                @if (!string.IsNullOrEmpty(@reference.Content))
                                {
                                    if (reference.Type == PreloadedDataVerificationReferenceType.Column)
                                        {<span> @BatchUpload.Column: @reference.Content </span>}
                                    else if (reference.Type == PreloadedDataVerificationReferenceType.Cell)
                                        {<span> @BatchUpload.Cell: @reference.Content </span>}
                                    else if (reference.Type == PreloadedDataVerificationReferenceType.Row)
                                        {<span> @BatchUpload.Row: @reference.Content </span>}
                                    else if (reference.Type == PreloadedDataVerificationReferenceType.File)
                                    {
                                        <span> @BatchUpload.File: @reference.Content </span>
                                    }
                                    else
                                    {
                                        <span> @reference.Type: @reference.Content </span>
                                    }

                                }
                                (@if (!string.IsNullOrEmpty(reference.Column)){<span>@BatchUpload.Column: @reference.Column,</span>}
                                @if (reference.Row.HasValue){<span>@BatchUpload.Row: @reference.Row</span>})
                            </p>
                        }
                    </div>
                }
                <div class="action-buttons">
                    @Html.ActionLink(BatchUpload.BackToImport, "BatchUpload", "SurveySetup", new { id = Model.Identity.QuestionnaireId, version = Model.Identity.Version }, new { @class = "back-link" })
                </div>
            </div>
        </div>
    </div>
</main>
