@model Core.Supervisor.Views.Interviewer.InterviewersView
@foreach (var item in Model.Items)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (item.IsLocked)
            {
                <a class="btn btn-primary" href="@Url.Action("UnlockUser", "User", new { id = item.UserId })">
                    <i class="icon icon-lock icon-white"></i>Unlock</a>
            }
            else
            {
                <a  class="btn btn-primary" href="@Url.Action("LockUser", "User", new { id = item.UserId })">
                    <i class="icon icon-lock icon-white"></i>Lock</a>
            }
        </td>
    </tr>
}