@using Core.Supervisor.Views.User
@model UserListView
 @foreach (var item in Model.Items)
 {
     <tr>
         <td>
             @Html.DisplayFor(modelItem => item.UserName)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.CreationDate)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.Email)
         </td>
         <td>
             <a class="btn btn-primary" href="@Url.Action("Interviewers", "Team", new { id = item.PublicKey })">
                     <i class="icon icon-user icon-white"></i>Interviewers</a>
             @if (item.IsLocked)
             {
                 <a class="btn btn-primary" href="@Url.Action("UnlockUser", "User", new { id = item.PublicKey })">
                     <i class="icon icon-lock icon-white"></i>Unlock</a>
             }
             else
             {
                 <a  class="btn btn-primary" href="@Url.Action("LockUser", "User", new { id = item.PublicKey })">
                     <i class="icon icon-lock icon-white"></i>Lock</a>
             }
         </td>
     </tr>
 }