@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_ListViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Scripts/vm/userlistview.js")

    
    <script type="text/javascript">
        var $interviewersUrl = '@Url.Action("Interviewers", "Team")';
        $(function () {
            var model = new UserListViewModel('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "UsersApi", action = "Lock" })',
                '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "UsersApi", action = "Supervisors" })');
            
            ko.applyBindings(model);
            model.load();
        });
    </script>
}

@section header
{
    <h2 class="sinle-line-header">Supervisors</h2>
}

@section filters
{
    <ul class="nav nav-list">
        <li class="nav-header">FILTER</li>
        <li class="divider"></li>
    </ul>
}

@section gridnavigation
{
    <p>
        <a class="btn btn-primary" href="@Url.Action("AddSupervisor", "Team")">
            <i class="icon icon-user icon-white"></i> Add supervisor</a>
    </p>
}

@section grid
{

    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th data-bind='click: ListView.sort.bind($data, "UserName")'>Name</th>
                <th data-bind='click: ListView.sort.bind($data, "CreationDate")'>Creation date</th>
                <th data-bind='click: ListView.sort.bind($data, "Email")'>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:ListView.Items -->
            <tr>
                <td data-bind="text: UserName"></td>
                <td data-bind="text: CreationDate"></td>
                <td data-bind="text: Email"></td>
                <td>
                    <a class="btn btn-success" data-bind="attr: { href: $interviewersUrl + '/' + UserId() }">
                        <i class="icon icon-eye-open icon-white"></i> Interviewers</a>
                </td>
                <td>
                    <!-- ko if:IsLocked -->
                    <a class="btn btn-info" data-bind="click: $root.lock">
                        <i class="icon icon-unlock icon-white"></i> Unlock</a>
                    <!-- /ko -->
                    <!-- ko ifnot:IsLocked -->
                    <a class="btn btn-danger" data-bind="click: $root.lock">
                        <i class="icon icon-lock icon-white"></i> Lock  </a>
                    <!-- /ko -->
                    
                </td>
                
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}