@using Web.Supervisor.Models
@model InterviewerListViewModel
@{
    ViewBag.Title = "Interviewers";
}

<script>
    $(document).ready(function() {
        $("#questionnaireTable").tablesorter({
                order: "@Model.View.Order",
                send: function(data) {
                    $.ajax({
                            type: "POST",
                            url: "@Url.Action("_TableData", "User")",
                            data: JSON.stringify({ SortOrder: data, Pager: { Page: @Model.View.Page , PageSize: @Model.View.PageSize }, SupervisorId:'@Model.View.ViewerId' }),
                            contentType: 'application/json, charset=utf-8',
                            statusCode: {
                                200: function(response) {
                                    $("#questionnaireTable tbody").html(response);
                                }
                            }
                        });
                }
            });
    });
</script>
<h2>Interviewers by @Html.ActionLink(Model.SupervisorName, "Index", "Team")</h2>
<table id="questionnaireTable" class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th class="sorting" sorter='{"key":"Login"}'>Login</th>
            <th class="sorting" sorter='{"key":"CreationDate"}'>Creation date </th>
            <th class="sorting" sorter='{"key":"Email"}'>Email </th>
            <td>
            </td>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_PartialUsersGridTemplate", Model.View)
    </tbody>
</table>
<div class="pagination">
    @if (((double)Model.View.TotalCount / Model.View.PageSize) > 1d)
    {
        <text> @Html.QPager(Model.View.PageSize, Model.View.Page, Model.View.TotalCount, new { order = Model.View.Order })</text>
    }
</div>

<div>
    <a class="btn btn-primary" href="@Url.Action("AddInterviewer", "Team", new { id = Model.View.ViewerId })">
                     <i class="icon icon-user icon-white"></i>Add</a>
</div>
