@using Main.Core.Entities.SubEntities
@using WB.Core.SharedKernels.DataCollection.ValueObjects.Interview

<script type="text/html" id="CreatedCountQuestionnaire">
    <span data-bind="template: { name : 'statusQuestionnaire', data: { Questionnaire : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: ResponsibleId(), Count : CreatedCount(), Status : '@InterviewStatus.Created.ToString()' }}"></span>
</script>
<script type="text/html" id="SupervisorAssignedCountQuestionnaire">
    <span data-bind="template: { name : 'statusQuestionnaire', data: { Questionnaire : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: ResponsibleId(), Count : SupervisorAssignedCount(), Status : '@InterviewStatus.SupervisorAssigned' }}"></span>
</script>
<script type="text/html" id="InterviewerAssignedCountQuestionnaire">
    <span data-bind="template: { name : 'statusQuestionnaire', data: { Questionnaire : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: ResponsibleId(), Count : InterviewerAssignedCount(), Status : '@InterviewStatus.InterviewerAssigned' }}"></span>
</script>
<script type="text/html" id="SentToCapiCountQuestionnaire">
    <span data-bind="template: { name : 'statusQuestionnaire', data: { Questionnaire : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: ResponsibleId(), Count : SentToCapiCount(), Status : '@InterviewStatus.SentToCapi' }}"></span>
</script>
<script type="text/html" id="CompletedCountQuestionnaire">
    <span data-bind="template: { name : 'statusQuestionnaire', data: { Questionnaire : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: ResponsibleId(), Count : CompletedCount(), Status : '@InterviewStatus.Completed' }}"></span>
</script>
<script type="text/html" id="ApprovedBySupervisorCountQuestionnaire">
    <span data-bind="template: { name : 'statusQuestionnaire', data: { Questionnaire : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: ResponsibleId(), Count : ApprovedBySupervisorCount(), Status : '@InterviewStatus.ApprovedBySupervisor' }}"></span>
</script>
<script type="text/html" id="RejectedBySupervisorCountQuestionnaire">
    <span data-bind="template: { name : 'statusQuestionnaire', data: { Questionnaire : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: ResponsibleId(), Count : RejectedBySupervisorCount(), Status : '@InterviewStatus.RejectedBySupervisor' }}"></span>
</script>
<script type="text/html" id="ApprovedByHeadquartersCountQuestionnaire">
    <span data-bind="template: { name : 'statusQuestionnaire', data: { Questionnaire : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: ResponsibleId(), Count : ApprovedByHeadquartersCount(), Status : '@InterviewStatus.ApprovedByHeadquarters' }}"></span>
</script>
<script type="text/html" id="RejectedByHeadquartersCountQuestionnaire">
    <span data-bind="template: { name : 'statusQuestionnaire', data: { Questionnaire : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: ResponsibleId(), Count : RejectedByHeadquartersCount(), Status : '@InterviewStatus.RejectedByHeadquarters' }}"></span>
</script>
<script type="text/html" id="RestoredCountQuestionnaire">
    <span data-bind="template: { name : 'statusQuestionnaire', data: { Questionnaire : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: ResponsibleId(), Count : RestoredCount(), Status : '@InterviewStatus.Restored' }}"></span>
</script>

<script type="text/html" id="statusQuestionnaire">
    <!-- ko if:Count == 0 -->0<!-- /ko -->
    <!-- ko ifnot:Count == 0 -->
    <a data-bind="attr: { href: $interviewsUrl + '?templateId=' + Questionnaire + '&templateVersion=' + Version +'&interviewerId=' + Responsible + '&status=' + Status}, text: Count"></a>
    <!-- /ko -->
</script>
