@using WB.Core.SharedKernels.SurveyManagement.Web.Filters
@using WB.Core.SharedKernels.SurveyManagement.Web.Resources
@if (ViewBag.ShowInterviewLimitIndicator)
{
    <li class='dropdown active @(ViewBag.PayAttentionOnInterviewLimitIndicator ? "open" : "")'>
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" style='background: @(ViewBag.PayAttentionOnInterviewLimitIndicator ? "red" : "#ffa500")'>
            <i class="glyphicon glyphicon-warning-sign"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#"><b>@LimitsIndicator.YouAreInTESTINGMODE</b></a>
            </li>
            <li>
                @if (ViewBag.InterviewsCountAllowedToCreateUntilLimitReached >= 0)
                {
                    <a href="#">@string.Format(@LimitsIndicator.YouCanCreate_0_newInterviewsFormat, ViewBag.InterviewsCountAllowedToCreateUntilLimitReached)</a>
                }
                else
                {
                    <a href="#">@string.Format(@LimitsIndicator.YouHaveExceededYourLimit_0_newInterviewsYouCantCreateInterviewsAnyMore, ViewBag.MxAllowedInterviewsCount)</a>
                }
            </li>
        </ul>
    </li>
}