@model WB.Core.SharedKernels.SurveyManagement.Web.Models.UserModel

<div class="form-group">
    @Html.LabelFor(x => x.UserName, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-2">
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", autocomplete = "off" })
    </div>
    <div class="col-sm-4">
        @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "help-block" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Password, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-2">
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", autocomplete = "off" })
    </div>
    <div class="col-sm-4">
        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "help-block" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-2">
        @Html.PasswordFor(x => x.ConfirmPassword, new {  @class = "form-control" })
    </div>
    <div class="col-sm-4">
        @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "help-block" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Email, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-2">
        @Html.TextBoxFor(x => x.Email, new {@class = "form-control"})
    </div>
    <div class="col-sm-4">
        @Html.ValidationMessageFor(x => x.Email, null, new {@class = "help-block"})
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.PersonName, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-2">
        @Html.TextBoxFor(x => x.PersonName, new {@class = "form-control"})
    </div>
    <div class="col-sm-4">
        @Html.ValidationMessageFor(x => x.PersonName, null, new { @class = "help-block" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.PhoneNumber, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-2">
        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    </div>
    <div class="col-sm-4">
        @Html.ValidationMessageFor(x => x.PhoneNumber, null, new { @class = "help-block" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x=>x.IsLocked, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-2">
        @Html.CheckBoxFor(x => x.IsLocked)
    </div>
    <div class="col-sm-4">
        @Html.ValidationMessageFor(x => x.IsLocked, null, new { @class = "help-block" })
    </div>
</div>
