@model WB.Core.SharedKernels.SurveyManagement.Web.Models.UserEditModel

<div class="form-group">
    @Html.LabelFor(x => x.Password, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "help-block" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "help-block" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Email, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "help-block" })
    </div>
</div>
