@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.FlowGraph
@using RavenQuestionnaire.Core.Views.Question
@model FlowGraphView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../../Content/themes/base/jquery.ui.resizable.css" rel="stylesheet" type="text/css" />
<link href="../../Content/jquery.jgrowl.css" rel="stylesheet" type="text/css" />
<link href="../../Content/flow.css" rel="stylesheet" type="text/css" />

@Html.Partial("_FlowJs", Model)

<h1>@Model.Title</h1>

<div class="btn-group">
    <a class="btn primary" href="#" id="saveFlow">Save</a> 
    <a class="btn primary" href="#"  id="checkFlow">Check flow</a> 
    <a class="btn primary" href="#" id="repaintFlow">Repaint</a>
</div>

<div id="canvas" class="canvas" style="@Model.Canvas.Style">
    @foreach (var block in Model.Canvas.Blocks)
    {
        <text>@RenderBlock(block)</text>
    }
</div>

<div id="editConnection" class="modal hide fade">
</div>

@helper RenderBlock(FlowBlockViewItem block)
{
    var blockClss = block.IsQuestion ? "question" : "group";
    <div class="w @blockClss" id="@block.Id" style="@block.Style" scope="@block.Scope">
        @if (block.Blocks.Count > 0)
        {
            <div class="h">@block.Title</div>
            foreach (var b in block.Blocks)
            {
                 <text>@RenderBlock(b)</text>
            }
        }
        else
        {
            <div class="wi">
                <div>@block.Question</div>
            </div>
        }
        <div class="ep"></div>
    </div>
}
