@model WB.Core.BoundedContexts.Headquarters.Invitations.EmailParams

@{ Layout = null; }

@Model.Subject

@Model.MainText

@if (!string.IsNullOrWhiteSpace(Model.Password))
{
@Model.PasswordDescription
@Model.Password
}

@if (!string.IsNullOrWhiteSpace(Model.Link))
{
<a href="@Model.Link">@Model.LinkText</a>
}


@Model.SenderName. @Model.Address
Powered by <a href="https://mysurvey.solutions/">Survey Solutions</a>
