@model WB.UI.Designer.Models.ControlPanel.CompilationVersionModel
@{
    ViewBag.Title = "Compilation Versions";
    this.Layout = "~/Views/ControlPanel/Layout.ControlPanel.cshtml";
}

<h2>Add compilation version</h2>
<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(x => x.QuestionnaireId, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.QuestionnaireId, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.QuestionnaireId, null, new { @class = "help-block" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Version, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Version, new { @class = "form-control", autocomplete = "off", @type = "number" })
                @Html.ValidationMessageFor(x => x.Version, null, new { @class = "help-block" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.Description, null, new { @class = "help-block" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        }
    </div>
</div>