@using WB.UI.Designer.Resources
@{
    Layout = "Layout";
}

@section Styles
{
    <!-- admin:css -->
    <link rel="stylesheet" href="/css/admin.css">
    <!-- endinject -->
}

<div class="row">
    <div id="edit-form">
        <div class="col-sm-3 col-md-2 sidebar">

            <ul class="nav nav-sidebar">
                <li><a href="@Url.Page("/RestoreQuestionnaire")">@QuestionnaireController.RestoreQuestionnaire</a></li>
                <li><a href="@Url.Action("Index", "PublicFolders")">@QuestionnaireController.QuestionnaireTreeFolders</a></li>
                <li><a href="@Url.Page("/Users")">@QuestionnaireController.ManageUsers</a></li>
                <li><a href="@Url.Action("Versions", "ControlPanel")">Versions</a></li>
                <li><a href="@Url.Action("ExpressionGeneration", "ControlPanel")">Expression Generation</a></li>
                <li><a href="@Url.Action("MakeAdmin", "ControlPanel")">Make the user an administrator</a></li>
                <li><a href="@Url.Action("AllowedAddresses", "ControlPanel")">Allowed addresses</a></li>
                <li><a href="@Url.Action("CompilationVersions", "ControlPanel")">Compilation versions</a></li>
                <li><a href="@Url.Action("Exceptions", "ControlPanel")">Exceptions</a></li>
            </ul>
        </div>
    
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("scripts", false)
