@using Main.Core.Entities.SubEntities
@using Questionnaire.Core.Web.Helpers
@model Core.CAPI.Views.PropagatedGroupViews.QuestionItemView.ColumnItems.QuestionColumnItem
           
                <div class="ui-bar ui-bar-b" onclick="@(!string.IsNullOrEmpty(Model.Instructions)?"$('#instructions-popup-"+(Model.ItemPublicKey)+"').popup('open')":"")">
                    <p ellipsis="true"  style="height: 80px; overflow: hidden;margin: 0;">
                        @Model.Title
                    </p>
                    @if (!string.IsNullOrEmpty(Model.Instructions))
                    {
                        <p class="info-roster">
                            <input type="button" data-icon="info" data-role="button" data-iconpos="notext"/></p>
                    }
                </div>
      
<div data-role="popup" id="grid-popup-@(Model.ItemPublicKey)" style="max-width: 300px;">
    <h3>@Model.Title</h3>
    @using (Ajax.BeginGridFormHtml5("SaveGroupAnswer", "Survey", ViewBag.AjaxOptions as AjaxOptions, Model.QuestionnaireId, Model.ItemPublicKey, Model.QuestionType))
    {
        @Html.Hidden("ParentGroupPublicKey", Model.ParentGroupPublicKey)
          
   Html.RenderPartial(string.Format("~/Views/Survey/Answer/GridAnswerList/_{0}.cshtml", Model.QuestionType), Model);

    }
    @using (Ajax.BeginGridFormHtml5("SaveGroupComment", "Survey", ViewBag.AjaxOptions as AjaxOptions, Model.QuestionnaireId, Model.ItemPublicKey, "comment-form"))
    {
        <div style="display: none">
            @Html.Hidden("ParentGroupPublicKey", Model.ParentGroupPublicKey)
            @Html.TextBox("Comment", string.Empty, new { draw_key_board = "true", id = "Comment" + Model.ItemPublicKey })
        </div>
    }
</div>
<div data-role="popup" id="instructions-popup-@(Model.ItemPublicKey)">
    <p>@Model.Instructions</p>
</div>
