
@model Main.Core.View.Question.CompleteQuestionView
@{
    ViewBag.EnabledRadioBoxSettings = new Dictionary<string, object>();
}
<div class=" question" id="q[@(Model.PublicKey)]">
    
    <a id="popup-@(Model.PublicKey)" class="error"  data-inline="true" data-iconpos="notext" data-icon="alert" 
        data-theme="a" data-role="button" data-inline="true"  onclick='ShowInfoDialog("@(Model.PublicKey)","error")'></a>
   
    <div data-role="popup" id="error-@(Model.PublicKey)" class="instructions">

        @if (Model.Mandatory)
        {
            <p>Answer is mandatory</p>
        }
        <p>
            @Model.ValidationMessage
        </p>
    </div>

    @Html.Hidden("QuestionType", Model.QuestionType)

    @{ Html.RenderPartial(string.Format("~/Views/Survey/Answer/AnswerList/_{0}.cshtml", Model.QuestionType), Model); }

    @Html.ValidationMessage("AnswerValue")

    @Html.Hidden("PublicKey", Model.PublicKey)

    <p class="question-comment">
        <span id="comments-@Model.PublicKey"> @Model.Comments</span>
    </p>

</div>
