@{
    ViewBag.Title = QuestionnaireController.MyQuestionnaires;
}
@section Scripts {
    @Scripts.Render("~/list")
}

@Html.Partial("_QuestionnairesList")

@section Modal
{


    <div>

        @Html.Partial("_IE11Modal")

    </div>

    <div>
        @Html.Partial("_DeleteModalDialog")
    </div>
    <div>
        @Html.Partial("_ExportPdfModalDialog")
    </div>
    <div>
        @Html.Partial("_ExportHtmlModalDialog")
    </div>
}
