@using WB.UI.Shared.Web.Extensions
<div id="edit-form">
    @if (TempData.ContainsKey(Alerts.SUCCESS))
    {
        <div class="alert alert-success header">@Html.Raw(@TempData[Alerts.SUCCESS])</div>
    }
    @if (TempData.ContainsKey(Alerts.ERROR))
    {
        <div class="alert alert-danger header">@Html.Raw(@TempData[Alerts.ERROR])</div>
    }
    @using (Html.BeginForm("Import", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h1>Import Questionnaire</h1>
        <div class="form-group">
            <input class="form-control" type="file" name="my file" placeholder=".tmpl file"/>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-success btn-lg" value="Upload"/>
            @Html.ActionLink("Cancel", "Index", "Questionnaire", null, new { @class = "btn " })
        </div>
    }
</div>
