@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = Users.APIUsers;
}

@section scripts
{
    @Scripts.Render("~/js/main-no-libs")
    @Scripts.Render("~/js/common")
    @Scripts.Render("~/js/list")
    @Scripts.Render("~/js/users")

    <script type="text/javascript">

        var observersListUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "UsersApi", action = "AllApiUsers" })';

        $(function() {
            var model = new Supervisor.VM.Users(observersListUrl);
            model.getDataTableColumns = function() {
                return [
                        {
                            data: "userName",
                            name: "UserName", // case-sensitive!
                            render: function (data, type, row) {
                                return "<a href='@Url.Action("Edit", "ApiUser")/" + row.userId + "'>" + data + "</a>";
                            }
                        },
                        {
                            data: "creationDate",
                            name: "CreationDate", // case-sensitive! should be DB name here from Designer DB questionnairelistviewitems? to sort column
                            "class": "date",
                            render: function (data) {
                                var localDate = moment.utc(data).local();
                                return localDate.format(window.CONFIG.dateFormat);
                            }
                        },
                        {
                            data: "isLocked",
                            name: "IsLockedByHQ", // case-sensitive! should be DB name here from Designer DB questionnairelistviewitems? to sort column
                            "class": "date"
                        }
                    ];
            };

            ko.applyBindings(model);
            model.load(); 
        });
    </script>
}

<main>
    <div class="container-fluid">
        @Html.Partial("_alerts")
        <div class="row">
            <div class="page-header clearfix">
                <div class="neighbor-block-to-search">
                    <div class="topic-with-button">
                        <h1>@Html.Raw(string.Format(Users.ApiUsersCountDescription, @"<span data-bind='text: formatNumber(UsersCount())'></span>"))</h1>
                        <a class="btn btn-success" href="@Url.Action("Create", "ApiUser", new {area = string.Empty})">@Users.AddAPIUser</a>
                    </div>
                    <ol class="list-unstyled">
                        <li>@Pages.Users_API_Instruction1</li>
                        <li>@Pages.Users_API_Instruction2</li>
                    </ol>
                </div>
            </div>
            <table id="data_holder" class="table table-striped table-bordered table-condensed table-hover table-ordered"
                   data-order="[[ 1, &quot;asc&quot; ]]" data-searching="true">
                <thead>
                    <tr>
                        <th>@Users.UserName</th>
                        <th title="@Users.AccountCreationDateTooltip">@Users.CreationDate</th>
                        <th>@Users.Locked</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</main>
