@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_NoFilterListViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/js/users")
    <script type="text/javascript">
    
    var $editUrl = '@Url.Action("Edit", "ApiUser", new { area = string.Empty })';
        $(function () {
            var model = new Supervisor.VM.Users('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "UsersApi", action = "ApiUsers" })');
        ko.applyBindings(model);
        model.load();
    });
    </script>
}

@section header
{
    <div class="page-header">
        <h2 class="sinle-line-header">@Users.APIUsers</h2>
    </div>
}

@section gridnavigation
{
    <div class="btn-group">
        <div class="form-inline">
            <a class="btn btn-default" href="@Url.Action("Create", "ApiUser", new { area = string.Empty })">
                <i class="glyphicon glyphicon-user"></i> @Users.AddAPIUser
            </a>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="@Common.Search" data-bind="value: SearchBy, enterKey: filter">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: filter">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


}

@section grid
{

    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th data-bind='sortby : "UserName"'>@Users.UserName</th>
                <th data-bind='sortby : "CreationDate"'>@Users.CreationDate</th>
                <th >@Users.Locked</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:Items -->
            <tr>
                <td data-bind="">
                    <a data-bind="attr: { href: $editUrl + '/' + UserId() }, text: UserName"></a>
                </td>
                <td data-bind="text: CreationDate"></td>
                <td data-bind="text: IsLockedByHQ"></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}