@using RavenQuestionnaire.Core.Views.User
@using RavenQuestionnaire.Web.Models
@model UserBrowseView
<h2>Users</h2>
<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn small primary" })
</p>
<table class="bordered-table zebra-striped">
    <thead>
        <tr>
            <th>Login </th>
            <th>Location </th>
            <th>CreationDate </th>
            <th>IsLocked </th>
            <th>Email </th>
            <th>Supervisor </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLocked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupervisorName)
                </td>
                <td class="buttons">
                    @Html.ActionLink("Edit", "Manage", new { id = item.Id }, new { @class = "btn small " })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn small danger " })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination">
    @Html.QPager(Model.PageSize, Model.Page, Model.TotalCount)
</div>
