@using RavenQuestionnaire.Core.Views.User
@model UserView
@using (Html.BeginForm("Save", "User"))
{
    @Html.ValidationSummary(true)

    <fieldset><legend>Person</legend>
        @if (!string.IsNullOrEmpty(Model.UserId))
        { 
            <div class="clearfix">
                @Html.LabelFor(model => model.UserName)
                <div class="input">
                    @Html.DisplayFor(model => model.UserName)
                </div>
            </div>         
        }
        else
        {
            <div class="clearfix">
                @Html.LabelFor(model => model.UserName)
                <div class="input">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>        
            
            <div class="clearfix">
                @Html.LabelFor(model => model.Password)
                <div class="input">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>       
        }
        <div class="clearfix">
            @Html.LabelFor(model => model.Email)
            <div class="input">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="clearfix">
            @Html.LabelFor(model => model.IsLocked)
            <div class="input">
                @Html.EditorFor(model => model.IsLocked)
                @Html.ValidationMessageFor(model => model.IsLocked)
            </div>
        </div>
        <div class="clearfix">
            @Html.LabelFor(model => model.PrimaryRole)
            <div class="input">
                @Html.DropDownListFor(model => model.PrimaryRole,
            new SelectList(Roles.GetAllRoles()))
            </div>
        </div>
        <div class="clearfix">
            @Html.LabelFor(model => model.LocationId)
            <div class="input">
                @Html.DropDownListFor(model => model.LocationId,
new SelectList(ViewBag.AllLocations, "Id", "Location", Model.LocationId))
            </div>
        </div>
        <div class="clearfix">
            @Html.LabelFor(model => model.SupervisorId)
            <div class="input">
                @Html.DropDownListFor(model => model.SupervisorId,
 new SelectList(ViewBag.Supervisors, "Id", "UserName"))
            </div>
        </div>
        @Html.HiddenFor(model => model.UserId)
        <div class="actions">
            <input type="submit" value="Save" class="btn" />
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
