@using Main.Core.View.CompleteQuestionnaire.Statistics
@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Statistics
@model Main.Core.View.CompleteQuestionnaire.Statistics.CompleteQuestionnaireStatisticView
<div data-role="page" id="ref-link-answered" class="page">
    <div data-role="header" data-theme="b" class="ui-bar">
       
           
        <a class="nav-link ui-btn-left" href="@Url.Action("CompleteSummary", new { Id = Model.CompleteQuestionnaireId})" data-corners = "false" data-theme = "b" data-icon = "arrow-l" iconpos = "notext">
            Back</a>
            <h1>
        @Model.Title
            @foreach (var featured in @Model.FeaturedQuestions)
            {
          
                @featured.AnswerText
            }</h1>
    </div>
    <div data-role="content" data-iscroll="">
        <div id="scroller">
            <h1>
                Answered questions</h1>
            <ul data-role="listview" data-theme="c">
                <li data-role="list-divider" data-theme="b">
                    <div class="ui-grid-b">
                        <div class="ui-block-a">
                            Question</div>
                        <div class="ui-block-b">
                            Answer</div>
                        <div class="ui-block-c">
                            Timing</div>
                    </div>
                </li>
                @foreach (QuestionStatisticView question in Model.AnsweredQuestions)
                {
                    <li>
                        <div class="ui-grid-b">
                            <div class="ui-block-a">
                                @if (!question.GroupPropagationPublicKey.HasValue)
                                {
                                    <a href="@Url.Action("Screen", "Survey", new { id = Model.CompleteQuestionnaireId, group = question.GroupPublicKey, question = question.PublicKey })">@Html.Raw(question.QuestionText)</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Screen", "Survey", new { id = Model.CompleteQuestionnaireId, group = question.GroupPublicKey, question = question.PublicKey, propagationKey = question.GroupPropagationPublicKey })">@Html.Raw(question.QuestionText)</a>
                                }
                            </div>
                            <div class="ui-block-b">
                                <div class="answer-cell">@question.AnswerValue</div>
                            </div>
                            <div class="ui-block-c">
                                @if (question.ApproximateTime.HasValue)
                                {
                                    <b>@question.ApproximateTime.Value.Minutes
                                        minutes @question.ApproximateTime.Value.Seconds seconds</b>
                                }</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
