@using Main.Core.View.Answer
@using Questionnaire.Core.Web.Helpers
@model Main.Core.View.Question.CompleteQuestionView
@{ var settings = (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings;
   settings.Add("onclick", "$(this.form).submit();"); }
@using (Html.BeginCollectionItem("Answers", true, Model.PublicKey))
{
    <fieldset data-role="controlgroup" data-type="horizontal"><legend @if (!String.IsNullOrEmpty(Model.Instructions))
                                                                      {
                    <text>
                        data-original-title = "Instructions"
                        data-content = "@Model.Instructions"
                        rel = "popover"
                    </text>
                                                                      } >
        @Html.Raw(Model.Title)</legend>
        @Html.Hidden("Parent", Model.PublicKey)
        @foreach (CompleteAnswerView item in Model.Answers)
        {
            string radibutonname = string.Format("{0}-{1}", ViewData.TemplateInfo.GetFullHtmlFieldId("PublicKey"), item.PublicKey);
            ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)["id"] = radibutonname;

            <label for="@radibutonname">
                @Html.RadioButton("PublicKey", item.PublicKey, (item).Selected, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)
                @{ Html.RenderPartial(string.Format("Answer/_{0}", item.AnswerType), item); }
            </label>
            @Html.Hidden("Selected", true)
        }
        
    </fieldset>
}