@using RavenQuestionnaire.Web.Utils
@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Question
@model QuestionView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script charset="utf-8" type="text/javascript" language="javascript">
    $(function () {
        var questionType = $("[customName=questionName] option:selected").text();
        if (questionType == "SingleOption" || questionType == "DropDownList" || questionType == "MultyOption") {
            $("#fromDB").removeAttr('style');
        }
        $('[customName=questionName]').change(function () {
            var questionType = $("[customName=questionName] option:selected").text();
            //            if ($("[customName=questionName] option:selected").text() == "ExtendedDropDownList") {
            if (questionType == "SingleOption" || questionType == "DropDownList" || questionType == "MultyOption") {
                $("#fromDB").removeAttr('style');
            }
            else
                $("#fromDB").css('display', 'none');
        });
    });
</script>
@{var hideFunctionName = Model.Parent.HasValue ? "HideCreateQuestionForm" + Model.Parent.ToString().Replace('-', '_') : "HideCreateQuestionForm";
  if (ViewBag.Images != null)
  {
      var images = ViewBag.Images as SelectList;
      this.ViewBag.Images = images;
  }
}
@if (Model.PublicKey != Guid.Empty)
{
    <h3>
        <a href="@Url.Action("Details", "Questionnaire", new { id = Model.QuestionnaireId, qid = Model.PublicKey })" class="btn">
            <i class="icon-arrow-left"></i></a>Edit Question</h3>
}
else
{
    <h3>
        <a href="@Url.Action("Details", "Questionnaire", new { id = Model.QuestionnaireId })" class="btn">
            <i class="icon-arrow-left"></i></a>Edit Question</h3> 
}
@using (Html.BeginForm("Save", "Question"))
{
    using (Html.BeginCollectionItem("question", Model.PublicKey))
    {
    <div class="row-fluid">
        <div class="span5 form-horizontal">
            @Html.BootstrapValidationSummary("")
            <div class="control-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(model => model.Title, new { placeholder = ViewData.ModelMetadata.Watermark })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            @if (Model.PublicKey == Guid.Empty || Model.TargetGroupKey!=Guid.Empty) 
            {
            <div class="control-group">
                <label class="control-label"> Propagateble GUID</label>
                <div class="controls">
                    @Html.EditorFor(model => Model.TargetGroupKey)
                </div>
            </div>
            }
            <div class="control-group">
                @Html.LabelFor(model => model.Featured, new { @class = "control-label" })
                <div class="controls">
                    <label class="checkbox">@Html.CheckBoxFor(model => model.Featured) Yes
                    </label>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Mandatory, new { @class = "control-label" })
                <div class="controls">
                    <label class="checkbox">@Html.CheckBoxFor(model => model.Mandatory) Yes</label>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.StataExportCaption, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.StataExportCaption, new { placeholder = ViewData.ModelMetadata.Watermark })
                    @Html.ValidationMessageFor(model => model.StataExportCaption)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Type</label>
                <div class="controls">
                    @{
        IDictionary<string, object> html = new Dictionary<string, object>();
        html.Add("customName", "questionName");
                        @Html.EnumDropDownListFor(model => Model.QuestionType, html)
                    }
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Answer order</label>
                <div class="controls">
                    @Html.EnumDropDownListFor(model => Model.AnswerOrder)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.ConditionExpression, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => Model.ConditionExpression, new { placeholder = ViewData.ModelMetadata.Watermark })
                    @Html.ValidationMessageFor(model => model.ConditionExpression)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.ValidationExpression, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => Model.ValidationExpression, new { placeholder = ViewData.ModelMetadata.Watermark })
                    @Html.ValidationMessageFor(model => model.ValidationExpression)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.ValidationMessage, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => Model.ValidationMessage, new { placeholder = ViewData.ModelMetadata.Watermark })
                    @Html.ValidationMessageFor(model => model.ValidationMessage)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Instructions, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(model => model.Instructions, new { placeholder = ViewData.ModelMetadata.Watermark })
                    @Html.ValidationMessageFor(model => model.Instructions)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Ajax.ActionLink("Choose from database", "CreateTabForDatabase", "Answer", new { questionPublicKey = Model.PublicKey }, new AjaxOptions
               {
                   UpdateTargetId = "divNewAnswer",
                   InsertionMode = InsertionMode.InsertAfter
               }, new { id = "fromDB", @style = "display:none" })
                </div>
            </div>
        </div>
        <div class="span7">
            @if (Model.PublicKey != Guid.Empty)
            {
                @Html.HiddenFor(model => model.PublicKey)
            }
            @Html.HiddenFor(model => model.Parent)
            @Html.HiddenFor(model => model.QuestionnaireId)
            @Html.Partial("~/Views/Answer/_EditAnswers.cshtml", Model)
        </div>
    </div>
    
        

    }
    <div class="form-actions">
        <input type="submit" value="Save" class="btn btn-primary btn-large" />
        @if (Model.PublicKey != Guid.Empty)
        {
            <a href="@Url.Action("Details", "Questionnaire", new { id = Model.QuestionnaireId, qid = Model.PublicKey })" class="btn btn-large">
                <i class="icon-arrow-left"></i>Back to Questionnaire</a>
        }
        else
        {
            <a href="@Url.Action("Details", "Questionnaire", new { id = Model.QuestionnaireId })" class="btn btn-large">
                <i class="icon-arrow-left"></i>Back to Questionnaire</a>
        }
    </div>
}
