@using RavenQuestionnaire.Core.Views.Question
@using RavenQuestionnaire.Web.Models
@model QuestionView
      
<div id="divCreateForm">

    @using (Ajax.BeginForm("Save", "Question",
                                         new AjaxOptions
                                             {
                                                 UpdateTargetId = "addNewQuestion",
                                                 OnComplete = "HideCreateQuestionForm"
                                             }))
    {
        <div class="modal-header">
            <h3>Edit question form</h3>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary(true)
            <div class="clearfix">
                @Html.LabelFor(model => model.QuestionText)
                <div class="input">
                    @Html.EditorFor(model => model.QuestionText)
                    @Html.ValidationMessageFor(model => model.QuestionText)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(model => model.ConditionExpression)
                <div class="input">
                    @Html.TextAreaFor(model => model.ConditionExpression)
                    @Html.ValidationMessageFor(model => model.ConditionExpression)
                </div>
            </div>

            @if (Model.PublicKey != Guid.Empty)
            {
                @Html.HiddenFor(model => model.PublicKey)
            }
            @Html.HiddenFor(model => model.QuestionnaireId)
            @{Html.RenderPartial("~/Views/Answer/_EditAnswers.cshtml", Model);}
        </div>
        <div class="modal-footer">
           
            <a href="javascript:void(0)" onclick=" $('#addNewQuestion').modal('hide')" class="btn">Cancel</a>
            <input type="submit" value="Save" class="btn primary" />
        </div>
    }
</div>
