@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Web.Utils
@using RavenQuestionnaire.Web.Models
@model ImageNewViewModel
@using (Ajax.BeginForm("EditCard", "Question", new AjaxOptions()
{
    UpdateTargetId = "addNewQuestion",
    OnComplete = "CloseModal"
}))
{
    <div id="divEditCardForm" class="modal open form-horizontal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Upload card to question</h3>
        </div>
        <div class="modal-body">
            <fieldset class="form-horizontal">
                @Html.HiddenFor(model => model.QuestionnaireId)
                @Html.HiddenFor(model => model.PublicKey)
                @Html.HiddenFor(model => model.ImageKey)
                <div class="control-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Title)
                        <p class="help-block">@Html.ValidationMessageFor(model => model.Title)</p>
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Desc, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextAreaFor(model => model.Desc)
                        <p class="help-block">@Html.ValidationMessageFor(model => model.Desc)</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}