@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Web.Models
@model QuestionConditionModel
@{
    ViewBag.Title = "_GetAnswers";
    var sourceQuestionPublicKey = Model.Source.PublicKey;
    var questionnaireId = Model.Source.QuestionnaireId;
    var questionPublicKey = Model.TargetPublicKey;
    
}
<div id="divCreateForm">
    <div class="modal-header">
        <h3>Edit condition</h3>
    </div>
    <div class="modal-body">
        <p>Ask guestion if "@Model.Source.Title" answer equals:</p>
        @foreach (var answer in Model.Source.Answers)
        {
            <p>
                @Html.RadioButton("AnswerPublicKey", answer.PublicKey, false, new{ text=answer.Title, num = answer.AnswerValue})
                @answer.Title
            </p>
        }
        @Html.HiddenFor(model => sourceQuestionPublicKey)
        @Html.HiddenFor(model => questionPublicKey)
        @Html.HiddenFor(model => questionnaireId)
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" onclick=" $('#editConnection').modal('hide')" class="btn">
            Cancel</a>
        <input type="submit" value="Save" class="btn btn-primary" onclick="HideEditConditionForm(
    '@Model.Source.PublicKey',
            '@Model.TargetPublicKey',    
            $('input:radio[name=AnswerPublicKey]:checked').val(),
            $('input:radio[name=AnswerPublicKey]:checked').attr('num'))" />
    </div>
</div>
