@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@using RavenQuestionnaire.Core.Views.Question
@using RavenQuestionnaire.Web.Utils
@model QuestionView
@{ var currentRowId = ClientIdHelper.GetUniqueIdByEntityName(EntityNames.Question, Model.PublicKey.ToString()); }
<div id="@currentRowId" class="display-question">
<div class="question-header">
    <h3>@Model.Index) @Html.DisplayFor(modelItem => Model.QuestionText)</h3> 
        <div class="btn-group">
            @Ajax.ActionLinkWithIcon("Edit", "Edit", "Question", new { Model.PublicKey, Model.QuestionnaireId }, new AjaxOptions() { UpdateTargetId = "addNewQuestion", OnBegin = "OpenModal" }, new { @class = "btn btn-primary btn-mini" }, "icon-pencil icon-white")
            @Ajax.ActionLinkWithIcon("Delete", "Delete", "Question", new { Model.PublicKey, Model.QuestionnaireId }, new AjaxOptions() { OnSuccess = "onDeleteSuccess('" + @currentRowId + "')" }, new { @class = "btn btn-danger btn-mini" }, "icon-remove icon-white")
        </div>
    </div>
    <div class="question-body">
        <p>@Model.QuestionType - @Model.PublicKey</p>
        @{Html.RenderPartial("~/Views/Answer/_Index.cshtml", Model.Answers);}
    </div>
</div>
