@using RavenQuestionnaire.Web.Utils
@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Question

@model Main.Core.View.Question.QuestionView
@{ var currentRowId = ClientIdHelper.GetUniqueIdByEntityName(EntityNames.Question, Model.PublicKey.ToString()); }
<div id="@currentRowId" class="display-question">
<input type="checkbox" id="@Model.PublicKey.ToString()" style="position: absolute; z-index: -999; right: 50px;"/>
    <div class="question-header">
        <h3>
        @if (Model.Featured)
        {
            <a class="btn btn-mini btn-danger" href="#"><i class="icon-heart  icon-white"></i></a>
        } 
        @Html.Raw(Model.Title)</h3>
        <div class="btn-group">
            @Html.ActionLink("Edit", "Edit", "Question", new { Model.PublicKey, Model.QuestionnaireKey }, new { @class = "btn btn-info  btn-mini" })
            @Html.ActionLink("Delete", "Delete", "Question", new { publicKey = Model.PublicKey, questionnaireId = Model.QuestionnaireKey }, new { @class = "btn btn-info btn-mini" })
            @Html.ActionLink("Add cards", "AddCards", "Question", new { Model.PublicKey, Model.QuestionnaireKey }, new { @class = "btn btn-info btn-mini" })
            @Html.ActionLink("Move", "Move", "Question", new { PublicKeyQuestion = Model.PublicKey, QuestionnaireId = Model.QuestionnaireKey }, new { @class = "btn btn-info btn-mini" })            
        </div>
    </div>
    <div class="question-body">
        <div class="alert alert-info">
            <strong>@Model.PublicKey</strong>
        </div>
        @if (!string.IsNullOrEmpty(Model.ConditionExpression))
        {
            <div class="alert alert-info">
               <strong>Condition:</strong> @Model.ConditionExpression
            </div>
        }
         <p>@Model.QuestionType</p>
        @{Html.RenderPartial("~/Views/Answer/_Index.cshtml", Model.Answers);}
        <ul class="thumbnails">
            @foreach (var i in Model.Cards)
            {
                <li class="span2" id="image@(i.PublicKey)">
                    <div class="thumbnail">
                        <img src="@Url.Action("Thumb", "Resource", new { id = i.PublicKey })" alt="@i.Title" />
                        <div class="caption">
                            @using (Ajax.BeginForm("DeleteCard", "Question", new AjaxOptions() { HttpMethod = "Post", OnComplete = string.Format("$('#image{0}').remove()", i.PublicKey), Confirm = "Are you sure?" }))
                            {
                                var imageKey = i.PublicKey;
                                @Html.HiddenFor(x => x.QuestionnaireKey)
                                @Html.HiddenFor(x => x.PublicKey)
                                @Html.HiddenFor(x => imageKey)
                                <input class="btn btn-danger btn-mini" type="submit" value="Remove" />
                            }
                            @Ajax.ActionLinkWithIcon("Edit", "EditCard", "Question", new { Model.PublicKey, Model.QuestionnaireKey, ImageKey = i.PublicKey }, new AjaxOptions() { UpdateTargetId = "addNewQuestion", OnBegin = "OpenModal" }, new { @class = "btn btn-info btn-mini" }, "icon-edit icon-white")
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
