@using RavenQuestionnaire.Web.Utils
@using RavenQuestionnaire.Core.Views.Question
@model CompleteQuestionView
@{
    ViewBag.EnabledRadioBoxSettings = new Dictionary<string, object>();
    var questionClass = "";
    if (!Model.Enabled)
    {
        ViewBag.EnabledRadioBoxSettings.Add("Disabled", true);
        questionClass = "question-disabled";
    }
    var modalId = new Random().Next(int.MaxValue / 2, int.MaxValue);
    int headerSpan = Model.Cards.Length == 0 ? 12 : 10;
}
<div class="question @questionClass">
    <div class="question-header">
        <div class="row-fluid ">
            <div class="span@(headerSpan)">
                @*temporary fix of script missing*@ @*@if (!String.IsNullOrEmpty(Model.Instructions))
                {
                    <script type="text/javascript">
                        $('.dropdown-toggle').dropdown();
                    </script>
                }*@ <b @if (!String.IsNullOrEmpty(Model.Instructions))
                       { <text>data-original-title = "Instructions" data-content = "@Model.Instructions" rel = "popover"</text> } >
                    @Html.DisplayFor(modelItem => Model.QuestionText)</b>
            </div>
            @if (Model.Cards.Length > 0)
            {
                <div class="span2">
                    <a class="btn btn-success btn-mini  pull-right" data-toggle="modal" href="#images@(Model.PublicKey)">
                        <i class="icon-picture icon-white"></i>Show Cards</a>
                </div>
            }
        </div>
    </div>
    @{Html.RenderPartial(string.Format("~/Views/Answer/AnswerListView/_{0}.cshtml", Model.QuestionType), Model);}
</div>
@if (Model.Cards.Length > 0)
{
    var gId = Model.PublicKey;
    <div class="modal gallery" id="images@(gId)" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3 id="caption@(gId)"></h3>
        </div>
        <div class="modal-body">
            <div id="gallery@(gId)" style="height: 440px;" class="gallery-container">
                <div id="loading@(gId)" class="loader">
                </div>
                <div id="slideshow@(gId)" class="slideshow">
                </div>
                <div id="thumbs@(gId)">
                    <ul class="thumbs noscript">
                        @foreach (var card in Model.Cards)
                        {
                            <li>
                                <a class="thumb" _width="@((int)((362f * card.Width) / card.Height))" _height="362" href="@Url.Action("Images", "Resource", new { id = card.Original })" title="@card.Title">
                                    <img height="40" width="@(((int)((40f * card.ThumbWidth) / card.ThumbHeight)))" src="@Url.Action("Images", "Resource", new { id = card.Thumb })" alt="@card.Title" />
                                </a>
                                <div class="caption">
                                    @card.Title
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div id="controls@(gId)">
            </div>
        </div>
    </div>
}
@Html.BootstrapValidationMessage("AnswerValue")
@Html.Hidden("PublicKey", Model.PublicKey)

                