@model Main.Core.View.Question.QuestionView
           
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var groups = ViewBag.Group as Dictionary<string, Guid>;
    ViewBag.Group = groups;
}

<script type="text/javascript" src="../../Scripts/MicrosoftAjax.js"></script>
<script type="text/javascript" src="../../Scripts/MicrosoftMvcValidation.js"></script>

<script charset="utf-8" type="text/javascript" language="javascript">

    $(function () {
        $('[customName=questionName]').change(function () {
            $.ajax({
                url: "@Url.Action("ShowBlock", "Question")",
                data:{type: $("[customName=questionName] option:selected").val(), questionId: '@Model.PublicKey', QuestionnaireId: '@Model.QuestionnaireKey', groupPublicKey: '@Model.Parent' },
                contentType: 'application/json, charset=utf-8',
                statusCode: {
                    200: function(response) {
                        $("#additionalInfo").replaceWith(response);
                    }
                }
            });
        });
    });
</script>

@{var hideFunctionName = Model.Parent.HasValue ? "HideCreateQuestionForm" + Model.Parent.ToString().Replace('-', '_') : "HideCreateQuestionForm";
  if (ViewBag.Images != null)
  {
      var images = ViewBag.Images as SelectList;
      this.ViewBag.Images = images;
  }
}
<h3>Edit Question in @Model.GroupTitle</h3>
@Html.Partial("MainBlock", Model)
