@model Main.Core.View.Question.QuestionView

<div class="span7">
    <div class="control-group">
        <div class="controls">
            @Ajax.ActionLink("Choose from database", "CreateTabForDatabase", "Answer", new { questionPublicKey = Model.PublicKey }, new AjaxOptions
            {
                UpdateTargetId = "divNewAnswer",
                InsertionMode = InsertionMode.InsertAfter
            }, new { id = "fromDB", @style = "display:none" })
        </div>
    </div>        
        
    @Html.Partial("_EditAutoPropagates", Model)

    @if (Model.PublicKey != Guid.Empty)
    {
        @Html.HiddenFor(model => model.PublicKey)
    }
    
    @Html.HiddenFor(model => model.Parent)
    @Html.HiddenFor(model => model.QuestionnaireKey)
    @Html.Partial("~/Views/Answer/_EditAnswers.cshtml", Model)
</div>