@using System.Web.Optimization
@using WB.UI.Shared.Web.Extensions
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @this.GenerateFavicon(Url.Content("~/Content/favicon.png"))
    @Styles.Render("~/css/main-not-loggedin")
</head>
<body>
    <div id="page" class="container-fluid">
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <div class="row-fluid" id="footer-block">
        <hr>
        <footer class="text-center">
            <a href="@Url.Action("GetLatestVersion", "Api/InterviewerSync", new { area = string.Empty })" class="btn btn-default">Get Interviewer App</a>
        </footer>
    </div>
    @Html.Partial("Clickjacking")
    @Scripts.Render("~/js/main")
    @RenderSection("scripts", false)
</body>
</html>
