@using System.Web.Optimization
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.UserModel

@{
    ViewBag.Title = Users.CreateObserver;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/validate")
}
<main>
    <div class="container-fluid">
        <div class="page-header">
            <h1>@Users.CreateObserver</h1>
        </div>
        @Html.Partial("_alerts")

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <fieldset class="form-horizontal">
                @{
                    this.Html.RenderPartial("UserCreateForm");
                }
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">@Common.SaveChanges</button>
                        @Html.ActionLink(Common.Cancel, "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </fieldset>
        }

    </div>
</main>