@using Core.CAPI.Views.Grouped
@using Main.Core.Entities.SubEntities
@using Main.Core.View.CompleteQuestionnaire
@using Main.Core.View.Question
@model Core.CAPI.Views.Grouped.CQGroupedBrowseView
<div data-role="panel" data-id="main" id="dashboard-page">
    <!-- Start of second page -->
    <div data-role="page" id="main" class="page">
        <div data-role="header" data-theme="b">
            <h1>@User.Identity.Name</h1>
        </div>
        <div data-role="content" data-iscroll="true">
            <div id="scroll">
                <ul class="dashboard-list" data-inset="true" data-role="listview" data-split-icon="plus">
                    @{
                        bool isDashboardEmpty = true;
                    }
                    @foreach (CQGroupItem group in Model.Groups)
                    {
                        if (@group.Items.Any())
                        {
                            isDashboardEmpty = false;

                        <li data-role="list-divider" data-theme="b" name="@group.SurveyId" class="divider">
                            @group.SurveyTitle<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@group.TotalCount</span>
                        </li>
                        <li>
                            <table class="survey-grid">
                                <col width="10%" />
                                @{
                                    var questionCount = group.Items.First().FeaturedQuestions.Count();

                                    double colWidth = 0;
                                    if (questionCount > 0)
                                    {
                                        colWidth = 90/questionCount;
                                    }
                                }
                                 @foreach (CompleteQuestionView featured in group.Items.First().FeaturedQuestions)
                                    {
                                        <col width="@colWidth%"/>
                                    }
                                <tr>
                                    <th >
                                        Status
                                    </th>
                                    @foreach (CompleteQuestionView featured in group.Items.First().FeaturedQuestions)
                                    {
                                        <th>@featured.Title
                                        </th>
                                    }
                                </tr>
                                @foreach (CompleteQuestionnaireBrowseItem survey in group.Items)
                                {

                                    <tr @*onclick="document.location='@Url.Action("Index", "Survey", new { id = survey.CompleteQuestionnaireId })'"*@>
                                        <td >
                                            <a class="nav-link" rel="external"  href="@Url.Action("Index", "Survey", new { id = survey.CompleteQuestionnaireId })" 
                                               data-role="button" data-corners="false" data-icon="arrow-r" data-iconpos="right">
                                                @survey.Status.Name</a>
                                        </td>
                                        @foreach (CompleteQuestionView featured in survey.FeaturedQuestions)
                                        {
                                            <td>@featured.Answer
                                            </td>
                                        }
                                    </tr>
                                }
                            </table>
                        </li>
                        }

                    }
                    @if (isDashboardEmpty)
                    {
                        <li>
                            <h1>
                                No assignments were found.</h1>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="dialogContainer">
    </div>
</div>
