@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Grouped
@model CQGroupedBrowseView
<div data-role="panel" data-id="main" id="dashboard-page">
    <!-- Start of second page -->
    <div data-role="page" id="main" class="page">
      @*  <div data-role="header" data-theme="b">
            <h1>
                Dashboard
            </h1>
            <a href="@Url.Action("LogOff", "Account")" data-corners="false" rel = "external" data-ajax="false"  data-theme = "a"  data-role = "button">
                Log off</a>
        </div>*@
        <div data-role="content" data-iscroll="true" style="bottom: 0px">
            <div id="scroll">
                <ul class="dashboard-list" data-inset="true" data-role="listview" data-split-icon="plus">
                    @foreach (CQGroupItem group in Model.Groups)
                    {
                        if (@group.Items.Any())
                        {
                        
                        <li data-role="list-divider" data-theme="b" name="@group.SurveyId" class="divider"><a>
                            @group.SurveyTitle's assigments <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@group.TotalCount</span></a>
                            @* @Html.ActionLink("New", "Participate", "Survey", new { id = group.SurveyId, mode = "Html5" }, new
                                                                                                        {
                                                                                                            @class = "splited-button",
                                                                                                            data_inline = "true",
                                                                                                            data_icon = "plus",
                                                                                                            data_iconpos = "left",
                                                                                                            data_role = "button",
                                                                                                            data_theme = "b",
                                                                                                            data_mini="true",
                                                                                                            rel = "external",
                                                                                                            disable_after_click = "true"
                                                                                                        })*@
                            @*  <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@group.TotalCount</span>*@
                        </li>

                       
                        <li data-theme="c" class="grid-header">
                        
                            <span class="ui-li-count ui-btn-up-c ui-btn-corner-all" style="visibility: hidden">@group.TotalCount</span>
                        </li>

                           
                                                                                                          foreach (CompleteQuestionnaireBrowseItem survey in group.Items)
                                                                                                          {
                                                                                                              <li>
                                                                                                                 @* <h1>@survey.Status.Name</h1>*@
                                                                                                                     @Html.ActionLink(survey.Status.Name+" "+string.Concat(survey.FeaturedQuestions.Select(f=>f.AnswerText+" ")), "Index", "Survey", new { id = survey.CompleteQuestionnaireId }, new
                                                                                                                                                                              {
                                                                                                                                                                                  data_theme = "b",
                                                                                                                                                                                  rel = "external"
                                                                                                                                                                              })
                                                                                                      
                                                                                                                  @*<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@survey.AnsweredQuestionCount/@survey.TotalQuestionCount</span>*@
                                                                                                              </li>
                                                                                                          }
                        }
                    }
                </ul>
               
            </div>
        </div>
    </div>
    <div id="dialogContainer">
    </div>
</div>
