@using Main.Core.Entities.SubEntities
@using Main.Core.View.Group
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model Main.Core.View.CompleteQuestionnaire.CompleteQuestionnaireMobileView
<script type="text/javascript">
    $(document).ready(function () {
        highlight();
    });
    function highlight() {
       
        var scrollHere = $('.scrollHere').length > 0 ? $('.scrollHere').get(0) : null;
        if (scrollHere != null) {
            var element = $(scrollHere).find('select:first');
            if (element == null) {
                element = $(scrollHere).find('input:first');
            }
            element.focus();
            var parents = $(scrollHere).parents('.ui-body.ui-body-c');
            if (parents != null && parents.length>0)
                parents.effect("highlight", { color: "#5393C5" }, 2000);
        }
    };

//    (function (window, $, PhotoSwipe) {

//        $(document).ready(function () {
//            $('div.gallery-page')
//                .live('pageshow', function (e) {
//                    var currentPage = $(e.target);
//                    var options = {};
//                    var photoSwipeInstance = PhotoSwipe.getInstance(currentPage.attr('id'));
//                    if (!(typeof photoSwipeInstance != "undefined" && photoSwipeInstance != null)) {
//                        photoSwipeInstance = $("ul.gallery a", e.target).photoSwipe(options, currentPage.attr('id'));
//                    }
//                    return true;
//                })
//                .live('pagehide', function (e) {
//                    var currentPage = $(e.target),
//                        photoSwipeInstance = PhotoSwipe.getInstance(currentPage.attr('id'));

//                    if (typeof photoSwipeInstance != "undefined" && photoSwipeInstance != null) {
//                        PhotoSwipe.detatch(photoSwipeInstance);
//                    }

//                    return true;
//                });
//        });
//    } (window, window.jQuery, window.Code.PhotoSwipe));
</script>
<div data-role="panel" data-id="menu">
    <!-- Start of first page -->
    <div data-role="page" id="sidebar">
        <div data-role="header" data-theme="c">
            <a class="nav-link" data-corners="false"  data-icon="arrow-l" href="@Url.Action("Dashboard", "Survey")" rel = "external">
                Dashboard</a>
            <h3></h3>
        </div>
        <!-- /header -->
        <div data-role="content" class="with-footer" data-iscroll="">
            <ul data-role="listview" data-theme="c" data-dividertheme="d">
                @foreach (CompleteGroupHeaders gh in Model.Groups)
                {
                    var activ = @gh.Enabled ? "" : "ui-disabled";
                    activ += gh.IsCurrent ? "ui-btn-active" : "";
                    <li class="@activ" id="@gh.PublicKey" onclick="$(this).siblings().removeClass('ui-btn-active');">
                     
                        <a  id="ref-link-@(gh.PublicKey)" data-panel="main" href="@Url.Action("Screen", new { Id = Model.PublicKey, group = gh.PublicKey })"> @gh.GroupText
                            <span id="counter-@(gh.PublicKey)" 
                                  class="ui-li-count @(gh.Totals.Answered == gh.Totals.Enablad ? "complete" : "")" data-role="none">@(gh.Totals.Answered)/@gh.Totals.Enablad</span></a>@*}*@
                            
                           
                    </li>
                }
                <li onclick="$(this).siblings().removeClass('ui-btn-active');">
                     @if (SurveyStatus.IsStatusAllowCapiSync(Model.Status))
                        {
                            <a id="ref-link-complete"  data-panel="main" href="@Url.Action("CompleteSummary", new { Id = Model.PublicKey })">
                                Summary</a>
                        }
                        else
                        {
                              <a  id="ref-link-complete" data-panel="main" href="@Url.Action("CompleteSummary", new { Id = Model.PublicKey })">Complete</a>
                        }
                  
                </li>
            </ul>
        </div>
    </div>
</div>
<div data-role="panel" data-id="main" id="content_container">
    @Html.Partial("_SurveyContent", Model.CurrentScreen)
</div>
<script type="text/javascript">
    $("div.ui-block-a").click(function () {
        if (jQuery(this).find("div.ui-disabled div.ui-controlgroup-controls:visible").length > 0)
            jQuery(this).find("div.ui-disabled div.ui-controlgroup-controls:visible").hide();
        else
            if (jQuery(this).find("div.ui-disabled div.ui-controlgroup-controls:hidden").length > 0)
                jQuery(this).find("div.ui-disabled div.ui-controlgroup-controls:hidden").show();
    });
    
</script>
