@using System.Text
@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.Card
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@using RavenQuestionnaire.Core.Views.Question
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Mobile
@model CompleteQuestionnaireMobileView
<script type="text/javascript">
    $(document).ready(function () {
        highlight();
    });
    function highlight() {
       
        var scrollHere = $('.scrollHere').length > 0 ? $('.scrollHere').get(0) : null;
        if (scrollHere != null) {
            var element = $(scrollHere).find('select:first');
            if (element == null) {
                element = $(scrollHere).find('input:first');
            }
            element.focus();
            var parents = $(scrollHere).parents('.ui-body.ui-body-c');
            if (parents != null && parents.length>0)
                parents.effect("highlight", { color: "#5393C5" }, 2000);
        }
    };


    (function (window, $, PhotoSwipe) {

        $(document).ready(function () {
            $('div.gallery-page')
                .live('pageshow', function (e) {
                    var currentPage = $(e.target);
                    var options = {};
                    var photoSwipeInstance = PhotoSwipe.getInstance(currentPage.attr('id'));
                    if (!(typeof photoSwipeInstance != "undefined" && photoSwipeInstance != null)) {
                        photoSwipeInstance = $("ul.gallery a", e.target).photoSwipe(options, currentPage.attr('id'));
                    }
                    return true;
                })
                .live('pagehide', function (e) {
                    var currentPage = $(e.target),
                        photoSwipeInstance = PhotoSwipe.getInstance(currentPage.attr('id'));

                    if (typeof photoSwipeInstance != "undefined" && photoSwipeInstance != null) {
                        PhotoSwipe.detatch(photoSwipeInstance);
                    }

                    return true;
                });
        });
    } (window, window.jQuery, window.Code.PhotoSwipe));

    function ClearItems(isClear) {
        $('#sidebar li').removeClass('ui-btn-active');
        /*if (isClear)
            $('#content_container').html('');*/
    }

    function ChangeScreen(groupId, existingGroup,parent) {
        
        parent.find('[data-role="page"]').each(function() {
            $(this).removeClass('ui-page-active');
        });
        
        existingGroup.attr('class', existingGroup.attr('class') + ' ui-page-active');
        //   $.mobile.hidePageLoadingMsg();     
        document.location.hash = '#ref-' + groupId;
    }

    function loadGroup(parent,qId, groupId) {
        
        $.ajax({
            type: "POST",
            cache: false,
            async: false,
            data: { id: qId, group: groupId },
            url: "@Url.Action("_SurveyContent", "Survey")"
        }).success(function(data) {
            // parent.append(data);
            var newPages = $(data);
            newPages.appendTo(parent);
            newPages.each(function() {
                var container = $(this);
                container.initPage();

            });
            
        });
       
    }
    function load(qId, groupId) {
        ClearItems();
        //  $.mobile.showPageLoadingMsg();     
        // $('#ref-link-' + groupId).addClass('ui-btn-active');
        var parent = $('#content_container');
        //  var container;
        var existingGroup = $('#content_container #ref-' + groupId);

        ChangeScreen(groupId, existingGroup, parent);
    }
</script>
<div data-role="panel" data-id="menu">
    <!-- Start of first page -->
    <div data-role="page" id="sidebar">
        <div data-role="header" data-theme="c">
            <a class="nav-link" data-corners="false"  data-icon="arrow-l" href="@Url.Action("Dashboard", "Survey")" rel = "external">
                Dashboard</a>
            <h3>
            </h3>
        </div>
        <!-- /header -->
        <div data-role="content" class="with-footer dummy-scroll">
            <ul data-role="listview" data-theme="c" data-dividertheme="d" data-counttheme="e">
                @foreach (CompleteGroupHeaders gh in Model.Groups)
                {
                    var activ = @gh.Enabled ? "" : "ui-disabled";
                    if (!gh.IsCurrent)
                    {
                    <li data-icon="false" class="@activ" id="@gh.PublicKey"><a id="ref-link-@(gh.PublicKey)" data-panel="main" onclick="ClearItems(false)"  href='@Url.Action("Screen", new { Id = Model.Id, group = gh.PublicKey })'>@gh.GroupText
                        <span  id="counter-@(gh.PublicKey)" class="ui-li-count">@(gh.Totals.Answered)/@gh.Totals.Enablad</span></a></li>
                    }
                    else
                    {
                    <li class="@activ" id="@gh.PublicKey"><a  id="ref-link-@(gh.PublicKey)" onclick="ClearItems(true)"  data-panel="main" href="@Url.Action("Screen", new { Id = Model.Id, group = gh.PublicKey })" onclick="ClearItems()">@gh.GroupText
                        <span id="counter-@(gh.PublicKey)" class="ui-li-count current">@(gh.Totals.Answered)/@gh.Totals.Enablad</span></a></li>
                    }
                }
            </ul>
        </div>
        <!-- /content -->
        <div data-role="footer" data-position="fixed" data-id="ew-footer">
            <div data-role="navbar">
                <ul>
                    <li><a data-role="button" data-corners="false" href="@Url.Action("Statistic", "Survey", new { id = Model.Id })" 
                           rel="external" data-ajax="false">Statistics</a></li>
                    <li>
                        @if (Model.Status.PublicId == SurveyStatus.Complete.PublicId)
                        {
                            <a data-corners="false" data-ajax="false" data-role="button" rel="external" href="@Url.Action("ReInit", "Survey", new { id = Model.Id })">
                                ReInit</a>
                        }
                        else
                        {
                            <a data-corners="false" data-ajax="false" data-role="button" rel="external" href="@Url.Action("Complete", "Survey", new { id = Model.Id })">
                                Complete</a>
                        }</li>
                </ul>
            </div>
            <!-- /navbar -->
        </div>
        <!-- /footer -->
    </div>
    <!-- /page -->
    <!-- other side panel pages here -->
</div>
<div data-role="panel" data-id="main" id="content_container" class='@((Model.Status.PublicId == SurveyStatus.Complete.PublicId) ? "ui-disabled" : "")'>
    @Html.Partial("_SurveyContent", Model.CurrentScreen)
</div>
<script type="text/javascript">
    $("div.ui-block-a").click(function () {
        if (jQuery(this).find("div.ui-disabled div.ui-controlgroup-controls:visible").length > 0)
            jQuery(this).find("div.ui-disabled div.ui-controlgroup-controls:visible").hide();
        else
            if (jQuery(this).find("div.ui-disabled div.ui-controlgroup-controls:hidden").length > 0)
                jQuery(this).find("div.ui-disabled div.ui-controlgroup-controls:hidden").show();
        //alert(jQuery(this).find("div.ui-disabled div.ui-controlgroup-controls:hidden"));
        //alert(jQuery(this).children("div.ui-disabled div.ui-controlgroup-controls").length);
        /*if ($("div.ui-block-a div.ui-disabled div.ui-controlgroup-controls:visible").length > 0)
        $("div.ui-block-a div.ui-disabled div.ui-controlgroup-controls:visible").hide();
        else
        if ($("div.ui-block-a div.ui-disabled div.ui-controlgroup-controls:hidden").length > 0)
        $("div.ui-block-a div.ui-disabled div.ui-controlgroup-controls:hidden").show();*/
    });
</script>