@using RavenQuestionnaire.Core.Views.Statistics
@model CompleteQuestionnaireStatisticView
<div data-role="panel" data-id="menu">
    <!-- Start of first page -->
    <div data-role="page" id="sidebar">
        <div data-role="header" data-theme="c">
            <a data-corners="false"  data-icon="arrow-l" href="@Url.Action("Dashboard", "Survey")" rel = "external">
                Dashboard</a>
            <h3>
            </h3>
        </div>
        <!-- /header -->
        <div data-role="content">
            <ul data-role="listview" data-theme="c" data-dividertheme="d" data-counttheme="e">
                <li><a href="#general" data-panel="main" class="nav-link">General info</a></li>
                <li><a href="#main" data-panel="main" class="nav-link">Answered questions</a></li>
                <li><a href="#invalid" data-panel="main" class="nav-link">Invalid questions</a></li>
            </ul>
        </div>
        <!-- /content -->
        <div data-role="footer" data-position="fixed" data-id="ew-footer">
            <div data-role="navbar">
                <ul>
                    <li><a data-role="button" data-corners="false" href="@Url.Action("Index", "Survey", new {id = Model.CompleteQuestionnaireId})" rel="external" data-ajax="false">
                            Survey</a></li>
                    <li>
                        @if (Model.Status.Name == "Completed")
                        {
                            <a data-corners="false" data-ajax="false" data-role="button" rel="external" href="@Url.Action("ReInit", "Survey", new {id = Model.CompleteQuestionnaireId})">
                                ReInit</a>
                        }
                        else
                        {
                            <a data-corners="false" data-ajax="false" data-role="button" rel="external" href="@Url.Action("Complete", "Survey", new {id = Model.CompleteQuestionnaireId})">
                                Complete</a>
                        }</li>
                </ul>
            </div>
            <!-- /navbar -->
        </div>
    </div>
    <!-- /page -->
    <!-- other side panel pages here -->
</div>
<div data-role="panel" data-id="main">
    <!-- Start of second page -->
    <div data-role="page" id="general" class="page">
        @RenderNavBar()
        <div data-role="content" class="dummy-scroll" style="bottom: 0px">
            <div id="scroll">
                <h3>@Model.Title</h3>
                <p>
                    Started: @Model.StartDate.ToShortTimeString()
                    @if (Model.EndDate.HasValue)
                    {
                        <b>, Finished: @Model.EndDate.Value.ToShortTimeString()</b>
                    }
                </p>
                <p>
                    Interviewer: @Model.Creator.Name</p>
                <h4>
                    Featured questions</h4>
                @foreach (QuestionStatisticView question in Model.FeaturedQuestions)
                {
                    <p>
                        @if (question.GroupPublicKey == question.ScreenPublicKey)
                        {
                            <a href="@Url.Action("Index", "Survey", new {id = Model.CompleteQuestionnaireId, group = question.ScreenPublicKey, question = question.PublicKey})" rel = "external">@Html.Raw(question.QuestionText)</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Survey", new {id = Model.CompleteQuestionnaireId, group = question.ScreenPublicKey, question = question.PublicKey})#screen-@(question.GroupPublicKey)" rel = "external">@Html.Raw(question.QuestionText)</a>
                        }
                        - @question.AnswerValue
                        @if (question.ApproximateTime.HasValue)
                        {
                            <b> , Timing : @question.ApproximateTime.Value.Minutes
                                minutes @question.ApproximateTime.Value.Seconds seconds</b>
                        }
                    </p>
                }
            </div>
        </div>
    </div>
    <div data-role="page" id="main" class="page">
        @RenderNavBar()
        <!-- /header -->
        <div data-role="content" class="dummy-scroll" style="bottom: 0px">
            <div id="scroll">
                <h3>
                    Answered questions</h3>
                <ul data-role="listview" data-theme="c">
                    <li data-role="list-divider" data-theme="b">
                        <div class="ui-grid-b">
                            <div class="ui-block-a">
                                Question</div>
                            <div class="ui-block-b">
                                Answer</div>
                            <div class="ui-block-c">
                                Timing</div>
                        </div>
                    </li>
                    @foreach (QuestionStatisticView question in Model.AnsweredQuestions)
                    {
                        <li>
                            <div class="ui-grid-b">
                                <div class="ui-block-a">
                                    @if (question.GroupPublicKey == question.ScreenPublicKey)
                                    {
                                        <a href="@Url.Action("Index", "Survey", new {id = Model.CompleteQuestionnaireId, group = question.ScreenPublicKey, question = question.PublicKey})" rel = "external">@Html.Raw(question.QuestionText)</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Index", "Survey", new {id = Model.CompleteQuestionnaireId, group = question.ScreenPublicKey, question = question.PublicKey})#screen-@(question.GroupPublicKey)" rel = "external">@Html.Raw(question.QuestionText)</a>
                                    }
                                </div>
                                <div class="ui-block-b">
                                    <div class="answer-cell">@question.AnswerValue</div>
                                </div>
                                <div class="ui-block-c">
                                    @if (question.ApproximateTime.HasValue)
                                    {
                                        <b>@question.ApproximateTime.Value.Minutes
                                            minutes @question.ApproximateTime.Value.Seconds seconds</b>
                                    }</div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- /content -->
    </div>
    <div data-role="page" id="invalid" class="page">
        @RenderNavBar()
        <div data-role="content" class="dummy-scroll" style="bottom: 0px">
            <div id="scroll">
                <h3>
                    Invalid questions</h3>
                @foreach (QuestionStatisticView question in Model.InvalidQuestions)
                {
                    <p>
                        @if (question.GroupPublicKey == question.ScreenPublicKey)
                        {
                            <a href="@Url.Action("Index", "Survey", new {id = Model.CompleteQuestionnaireId, group = question.ScreenPublicKey, question = question.PublicKey})" rel = "external">@Html.Raw(question.QuestionText)</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Survey", new {id = Model.CompleteQuestionnaireId, group = question.ScreenPublicKey, question = question.PublicKey})#screen-@(question.GroupPublicKey)" rel = "external">@Html.Raw(question.QuestionText)</a>
                        }
                        - @question.AnswerValue
                        @if (question.ApproximateTime.HasValue)
                        {
                            <b> , Timing : @question.ApproximateTime.Value.Minutes
                                minutes @question.ApproximateTime.Value.Seconds seconds</b>
                        }
                    </p>
                }
            </div>
        </div>
    </div>
</div>
@helper RenderNavBar()
{
    <div data-role="header" data-theme="b" class="navigation">
        <h1>@Model.Title</h1>
    </div>
}