@model WB.Core.SharedKernels.SurveyManagement.Web.Models.FinishIntallationModel

@{
    ViewBag.Title = Users.FinishInstallation;
    Layout = "_FinishInstallation";
}
<div class="container" id="container">
    <div id="content">
        <div class="page-header">
            <h2>@Users.FinishInstallation</h2>
            @Users.CreateAdmin
        </div>

        @Html.ValidationSummary(false, null, new {@class="error-text"})

        <form method="post">
            @Html.AntiForgeryToken()
            <fieldset class="form-horizontal">
                <div class="form-group">
                    <label asp-for="UserName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <input type="text" asp-for="UserName" class="form-control" autocomplete="off" />
                    </div>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <input type="password" asp-for="Password" class="form-control" autocomplete="off" />
                    </div>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                    </div>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <input type="text" asp-for="Email" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-primary btn-block">@Common.Create</button>
                    </div>
                </div>
                <div class="form-group">
                    <input id="ShowPassword" type="checkbox" 
                           onclick="var pass = document.getElementById('Password');pass.type = (pass.type === 'text' ? 'password' : 'text');var confirm = document.getElementById('ConfirmPassword');confirm.type = (confirm.type === 'text' ? 'password' : 'text');">
                    <label for="ShowPassword">
                        <span></span>@Pages.ShowPassword
                    </label>
                </div>
            </fieldset>

        </form>
    </div>
</div>
