@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @Styles.Render("~/css/list")
    @RenderSection("styles", false)
}
@section scripts
{
    @Scripts.Render("~/js/list")
    @RenderSection("scripts", false)
}
<div id="wrapper">
    <div id="menu" class="hidden-phone">
        <div id="menuInner" class="slim-scroll">
            <div class="hide-panel-block text-right innerLR">
                &larr;&nbsp;<a class="pseudo-link" data-bind="click: ToggleFilter">Hide filter</a>
            </div>
            @RenderSection("filters", false)
        </div>
    </div>
    <div id="content">
        @RenderSection("header", false)
        <div class="menubar">
            <span data-bind="visible: $root.ListView.IsFilterOpen() == false"><a class="pseudo-link" data-bind="    click: ToggleFilter">Show filter</a>&nbsp;&rarr;</span>
            @RenderSection("actionbar", false)
        </div>
        @RenderSection("gridnavigation", false)
        <div class="innerLR">@Html.Partial("_alerts")</div>
        <div id="list">
            <!-- ko ifnot:ListView.IsPageLoaded()  -->
            <p class="text-center">
                Loading. Please wait...
            </p>
            <!-- /ko -->
            <!-- ko if:ListView.IsPageLoaded()  -->
            <p class="text-center" data-bind="visible: ListView.Pager().TotalItemCount() == 0">
                No results found
            </p>
            <!-- /ko -->
            <div class="horizontal-scroll" data-bind="visible: ListView.Pager().TotalItemCount() > 0">
                <div class="innerLR ">
                    @RenderSection("grid", true)
                </div>
            </div>
            <!-- ko if:ListView.Pager().LastPage() > 1 -->
            <div class="innerLR ">
                <div class="pagination pagination-right" data-bind="template: { name: 'tpl-pager', data: ListView.Pager }"></div>
            </div>
            <!-- /ko -->
        </div>
        @this.RenderBody()

    </div>
</div>

<script type="text/html" id="tpl-pager">

    <ul>
        <!-- ko if:CurrentPage() === 1 -->
        <li class="disabled">
            <a href="#" class="disabledPage">&laquo;&laquo;</a></li>
        <!-- /ko -->
        <!-- ko ifnot:CurrentPage() === 1 -->
        <li>
            <a href="#" data-bind="click: function () { CurrentPage(1); }">&laquo;&laquo;</a></li>
        <!-- /ko -->
        <!-- ko if:HasPrevPage -->
        <li>
            <a href="#" data-bind="click: function () { CurrentPage(CurrentPage() - 1); }">&laquo;</a></li>
        <!-- /ko -->
        <!-- ko ifnot:HasPrevPage -->
        <li class="disabled">
            <a href="#" class="disabledPage">&laquo;</a></li>
        <!-- /ko -->
        <!-- ko foreach:Pages -->
        <!-- ko if:$data === $parent.CurrentPage() -->
        <li class="active">
            <span class="currentPage" data-bind="text: $data"></span>
        </li>
        <!-- /ko -->
        <!-- ko if:$data !== $parent.CurrentPage() -->
        <li>
            <a href="#" data-bind="text: $data, click: function () { $parent.CurrentPage($data); }"></a>
        </li>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if:HasNextPage -->
        <li>
            <a href="#" data-bind="click: function () { CurrentPage(CurrentPage() + 1); }">&raquo;</a></li>
        <!-- /ko -->
        <!-- ko ifnot:HasNextPage -->
        <li class="disabled">
            <a href="#" class="disabledPage">&raquo;</a></li>
        <!-- /ko -->
        <!-- ko ifnot:CurrentPage() === LastPage() -->
        <li>
            <a href="#" data-bind="click: function () { CurrentPage(LastPage()); }">&raquo;&raquo;</a></li>
        <!-- /ko -->
        <!-- ko if:CurrentPage() === LastPage() -->
        <li class="disabled">
            <a href="#" class="disabledPage">&raquo;&raquo;</a></li>
        <!-- /ko -->
    </ul>

</script>
