@using ClientDependency.Core
@using ClientDependency.Core.Mvc
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.png")">
    @MvcHtmlString.Create(Html.RenderCssHere(new List<IClientDependencyPath>
												{
													new BasicPath("Content", "~/Content")
												}))
    @MvcHtmlString.Create(Html.RenderJsHere(new List<IClientDependencyPath>
											   {
												   new BasicPath("Scripts", "~/Scripts"),
											   }))
    @{
        Html.RequiresCss("bootstrap.min.css", "Content", 10);
        Html.RequiresCss("bootstrap.min.css", "Content", 20);
        Html.RequiresCss("main.css", "Content", 30);

        Html.RequiresJs("jquery-1.7.2.min.js", "Scripts", 10);
        Html.RequiresJs("bootstrap.min.js", "Scripts", 20);
    }
</head>
<body>
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a href="@Url.Action("Index", "Dashboard")" class="brand">Home</a>
                <div class="nav-collapse ">
                    <ul id="menu" class="nav">
                        <li class="dropdown" id="menu1"><a class="dropdown-toggle" data-toggle="dropdown"
                            href="#menu1">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Users", "Users", "Dashboard")</li>
                        <li>@Html.ActionLink("Survey", "Questionnaires", "Dashboard")</li>
                    </ul>
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
        </div>
    </div>
    <div id="page" class="container-fluid">
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
        $("[rel=popover]")
            .popover()
            .click(function (e) {
                e.preventDefault();
            });
    </script>
</body>
</html>
