@using System.Web.Optimization
@using Web.Supervisor.Models
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.png")" />
    @{
        var page = ViewBag.ActivePage ?? MenuItem.Logon;
    }
    @Styles.Render("~/css/main")
    @RenderSection("styles", false)
</head>
<body>
    <div class="container-fluid">
        <div class="navbar navbar-fixed-top hidden-print">
            <div class="navbar-inner">
                @if (User.IsInRole("Headquarter"))
                {
                    <a class="brand" href="@Url.Action("Index", "HQ")"><span>Dashboard<span>headquarter</span></span></a>
                    <ul class="nav" role="menu">
                        <li class="dropdown @(page == MenuItem.Surveys || page == MenuItem.Summary || page == MenuItem.Statuses ? "active" : "")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i>Reports <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="@(page == MenuItem.Surveys ? "active" : "")" ><a href="@Url.Action("Surveys", "HQ")">Surveys and Statuses</a></li>
                            <li class="@(page == MenuItem.Summary ? "active" : "")"><a href="@Url.Action("Summary", "HQ")">Supervisors and Statuses</a></li>
                            @*<li class="@(page == MenuItem.Statuses ? "active" : "")"><a href="@Url.Action("Status", "HQ")">Supervisors and Surveys</a></li>*@
                        </ul>
                        <li class="@(page == MenuItem.Docs ? "active" : "")">
                            <a href="@Url.Action("Interviews", "HQ")"><i class="icon-list-alt"></i>Interviews</a>
                        </li>
                        <li class="@(page == MenuItem.Teams ? "active" : "")">
                            <a href="@Url.Action("Index", "Team")"><i class="icon-user"></i>Supervisors</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right" role="menu">
                        <li class="dropdown @(page == MenuItem.Administration ? "active" : "")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Import template", "Import", "Template")</li>
                                <li>@Html.ActionLink("Backup", "Index", "Backup")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, <b>@User.Identity.Name</b> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Logoff", "LogOff", "Account")</li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <a class="brand" href="@Url.Action("Index", "Survey")"><span>Dashboard<span>supervisor</span></span></a>
                    <ul class="nav" role="menu">
                        <li class="dropdown @(page == MenuItem.Surveys || page == MenuItem.Summary || page == MenuItem.Statuses ? "active" : "")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i>Reports <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="@(page == MenuItem.Surveys ? "active" : "")" ><a href="@Url.Action("Index", "Survey")">Surveys and Statuses</a></li>
                            <li class="@(page == MenuItem.Summary ? "active" : "")"><a href="@Url.Action("Summary", "Survey")">Interviewers and Statuses</a></li>
                            @*<li class="@(page == MenuItem.Statuses ? "active" : "")"><a href="@Url.Action("Status", "Survey")">Interviewers and Surveys</a> </li>*@
                        </ul>
                        <li class="@(page == MenuItem.Docs ? "active" : "")">
                            <a href="@Url.Action("Interviews", "Survey")"><i class="icon-list-alt"></i>Interviews</a>
                        </li>
                        <li class="@(page == MenuItem.Teams ? "active" : "")">
                            <a href="@Url.Action("Interviewers", "Team")"><i class="icon-user"></i>Interviewers</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right" role="menu">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, <b>@User.Identity.Name</b> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Logoff", "LogOff", "Account")</li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>

        </div>
        @RenderBody()
      
    </div>
    <div id="umbrella"></div>
    @Scripts.Render("~/js/main")
    @RenderSection("scripts", false)
</body>
</html>
