@using ClientDependency.Core
@using ClientDependency.Core.Mvc
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.png")">
        @MvcHtmlString.Create(Html.RenderCssHere(new List<IClientDependencyPath>
                                                       {
                                                           new BasicPath("Content", "~/Content"),
                                                           new BasicPath("Bootstrap", "~/Content/bootstrap")
                                                       }))
        @MvcHtmlString.Create(Html.RenderJsHere(new List<IClientDependencyPath>
                                                      {
                                                          new BasicPath("Scripts", "~/Scripts"),
                                                      }))
        @{
            Html.RequiresCss("bootstrap.min.css", "Bootstrap", 10);
            Html.RequiresCss("bootstrap-responsive.min.css", "Bootstrap", 20);
            Html.RequiresCss("datepicker.css", "Content", 21);
            Html.RequiresCss("bootstrap-editable.css", "Bootstrap", 22);
            Html.RequiresCss("jquery.jgrowl.css", "Content", 30);
            Html.RequiresCss("main.css", "Content", 40);

            Html.RequiresJs("jquery-1.7.2.min.js", "Scripts", 10);
            Html.RequiresJs("jquery-ui-1.8.22.min.js", "Scripts", 20);
            Html.RequiresJs("bootstrap.min.js", "Scripts", 30);
            Html.RequiresJs("bootstrap-datepicker.js", "Scripts", 31);
            Html.RequiresJs("bootstrap-editable.min.js", "Scripts", 32);
            Html.RequiresJs("jquery.jgrowl.min.js", "Scripts", 40);
            Html.RequiresJs("sorter.js", "Scripts", 50);
        }
    </head>
    <body>
        <div class="navbar  navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                                                                                                     class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </a><a href="@Url.Action("Index", "Survey")" class="brand">Home</a>
                    <div class="nav-collapse ">
                        <ul id="menu" class="nav">
                            <li>@Html.ActionLink("Interviewers", "Index", "User")</li>
                            <li>@Html.ActionLink("Take new", "Questionnaires", "Dashboard")</li>
                        </ul>
                        @Html.Partial("_LogOnPartial")
                    </div>
                </div>
            </div>
        </div>
        <div id="page" class="container-fluid">
            <div id="main">
                @RenderBody()
            </div>
        </div>
        <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
        $("[rel=popover]")
            .popover()
            .click(function(e) {
                e.preventDefault();
            });
    </script>
    </body>
</html>