@using Main.Core.View.Question
@using Questionnaire.Core.Web.Helpers
@using Web.Supervisor.Models

@model Core.Supervisor.Views.Assign.AssignSurveyView
@{
    ViewBag.Title = "Assignment";
}
<script type="text/javascript">
    function JsonResults(data) {
        var response = jQuery.parseJSON(data.responseText);
        if (response.status === "ok") {
        } else {
            alert(response.error);
        }
    };
    function OnResponsibleComplete(data) {
        var response = jQuery.parseJSON(data.responseText);
        if (response.status === "ok") {
            $.jGrowl(response.userName + " is responsible for this survey", { life: 2000 });
        } else {
            alert(response.error);
        }
    };
</script>
<h2>Assignment</h2>
<p><a href="@Url.Action("Documents", new {id = Model.TemplateId})">Back to list</a></p>
<div class="row-fluid">
    <div class="span12">
        <ul class="thumbnails">
            @foreach (CompleteQuestionView question in Model.FeaturedQuestions)
            {
                <li class="span4">
                    <div class="thumbnail">
                        @using (Ajax.BeginForm("SaveAnswer", GlobalHelper.CurrentController, new AjaxOptions()
                                                                      {
                                                                          OnComplete = "JsonResults"
                                                                      }))
                        {
                            ViewBag.EnabledRadioBoxSettings = new Dictionary<string, object>();
                            using (Html.BeginCollectionItem("questions", true, question.PublicKey))
                            {
                                @Html.Hidden("QuestionType", question.QuestionType)
                                Html.RenderPartial(string.Format("AnswerList/_{0}", question.QuestionType), question);
                                @Html.ValidationMessage("AnswerValue")
                                @Html.Hidden("PublicKey", question.PublicKey)
                            }
                            using (Html.BeginCollectionItem("settings", true, question.PublicKey))
                            {
                                @Html.Hidden("ParentGroupPublicKey", question.ParentGroupPublicKey)
                                @Html.Hidden("QuestionnaireId", Model.Id)
                            }
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<p><a href="@Url.Action("AssignPerson", new { id = Model.Id, tmptId = Model.TemplateId})">Next</a></p>
