@using WB.Core.GenericSubdomains.Portable
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.UserModel
@{
    ViewBag.Title = Users.CreateSupervisor;
    Layout = @"~/Views/Shared/_EditorLayout.cshtml";
}
<div class="row extra-margin-bottom">
    <div class="col-sm-7">
        <p>@Html.Raw(Pages.Supervisor_CreateText.FormatString(Url.Action("UserBatchUploads", "BatchUserUpload")))</p>
    </div>

    @using (Html.BeginForm("Create", "Supervisor", FormMethod.Post, new { @class = @"profile" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-sm-12">
            @Html.EditorFor(x => x.UserName, "TextBoxFormField")
            @Html.EditorFor(x => x.Password, "PasswordFormField")
            @Html.EditorFor(x => x.ConfirmPassword, "PasswordFormField")
            @Html.EditorFor(x => x.IsLocked, "CheckboxFormField")
        </div>

        <div class="col-sm-12">
            <div class="separate-line"></div>
        </div>

        <div class="col-sm-7">
            <h5 class="extra-margin-bottom">@Html.Raw(Pages.PublicSection)</h5>
            @Html.EditorFor(x => x.PersonName, "TextBoxFormField", new { disableClientValidation = true })
            @Html.EditorFor(x => x.Email, "TextBoxFormField")
            @Html.EditorFor(x => x.PhoneNumber, "TextBoxFormField")
        </div>

        @Html.EditorForModel("CreateButtonsRow")
    }
</div>