@using System.Web.Optimization
@using Main.Core.Entities.SubEntities
@using WB.Core.GenericSubdomains.Utils
@using WB.Core.SharedKernels.DataCollection.ValueObjects.Interview
@using WB.Core.SharedKernels.SurveyManagement.Web.Code
@using WB.UI.Headquarters.Code
@model WB.Core.SharedKernels.SurveyManagement.Views.User.UserView
@{
    Layout = "~/Views/Shared/_NoFilterListViewLayout.cshtml";
    ViewBag.Title = string.Format("{0}: Interviewers", Model.UserName);
}

@section scripts
{
    @Scripts.Render("~/Scripts/viewmodels/pages/users.js")
    <script type="text/javascript">
        var $editUrl = '@Url.Action("Edit", "Interviewer", new { area = string.Empty })';
        var $deviceUrl = '@Url.Action("Device", "TabletReport", new { area = string.Empty })';
        var $commandExecutionUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "CommandApi", action = "ExecuteCommands" })';
        $(function () {
            var model = new Supervisor.VM.Users('@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "UsersApi", action = "Interviewers"})', $commandExecutionUrl);
            model.GetFilterMethod = function () {
                return { SupervisorId: '@Model.PublicKey' };
            };
            ko.applyBindings(model);
            model.load();
        });
    </script>
}

@section header
{
    <h2 class="sinle-line-header">
        @Model.UserName <small>interviewers</small>
    </h2>
}

@section gridnavigation
{
    <div class="btn-group">
        <div class="form-inline">
            @if (User.IsInRole(UserRoles.Headquarter.ToString()) || User.IsInRole(UserRoles.Administrator.ToString()))
            {
                <a class="btn btn-default" href="@Url.Action("Create", "Interviewer", new {supervisorId = Model.PublicKey, area = string.Empty})">
                    <i class="glyphicon glyphicon-user"></i> Create
                </a>
                if (User.IsInRole(UserRoles.Administrator.ToString()))
                {
                    <button type="button" class="btn btn-default" data-bind="disable: IsNothingSelected, click: $root.DeleteInterviewers">Delete</button>
                }
            }

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" data-bind="value: SearchBy, enterKey: search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: search">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section grid
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                @if (User.IsInRole(UserRoles.Administrator.ToString()))
                {
                    <th>
                        <input type="checkbox" data-bind="click: $root.selectAll($element)" />
                    </th>}
                <th data-bind='sortby : "UserName"'>Name</th>
                <th data-bind='sortby : "CreationDate"'>Creation date</th>
                <th data-bind='sortby : "Email"'>Email</th>
                @if (LegacyOptions.SupervisorFunctionsEnabled)
                {
                    <th>Connected to device</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:Items -->
            <tr>
                @if (User.IsInRole(UserRoles.Administrator.ToString()))
                {
                    <td>
                        <input type="checkbox" data-bind="checked: IsSelected" />
                    </td>
                }
                <td data-bind="text: UserName"></td>
                <td data-bind="text: CreationDate"></td>
                <td data-bind="text: Email"></td>
                @if (LegacyOptions.SupervisorFunctionsEnabled)
                {
                    <td data-bind="text: DeviceId() == null ? 'No': 'Yes'"></td>
                }
                <td>
                    <a class="btn btn-success" data-bind="attr: { href: $editUrl + '/' + UserId() }">
                        <i class="icon icon-edit icon-white"></i> Edit
                    </a>
                    @if (LegacyOptions.SupervisorFunctionsEnabled)
                    {
                    <!-- ko if:DeviceId()!=null -->
                        <a class="btn btn-info" data-bind="attr: { href: $deviceUrl + '/' + DeviceId() }"><span class="glyphicon glyphicon-list"></span> Show sync log</a>
                    <!-- /ko -->
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="btn-group pull-right">
                            <a class="btn btn-danger" data-bind="click : $parent.deleteUser">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    }
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>

    <script type="text/html" id="confirm-delete-template">
        @Html.Raw("<h3><b>{0}</b> interviewer(s) will be deleted. If the interviewer has completed interviews in census mode on his tablet then the data will be lost.</h3>".FormatString(
            "<span class='text-normal' data-bind='text: length'></span>"))
    </script>
    <script type="text/html" id="confirm-continue-message-template">
        <br />Do you want to continue?
    </script>
}