@using System.Web.Optimization
@model WB.Core.SharedKernels.SurveyManagement.Views.User.UserView
@{
    Layout = "~/Views/Shared/_NoFilterListViewLayout.cshtml";
    ViewBag.Title = string.Format("{0}: Interviewers", Model.UserName);
}

@section scripts
{
    @Scripts.Render("~/Scripts/viewmodels/pages/users.js")
    <script type="text/javascript">
        var $editUrl = '@Url.Action("Edit", "Interviewer", new { area = string.Empty })';
        var $deviceUrl = '@Url.Action("Device", "TabletReport", new { area = string.Empty })';
        $(function () {
            var model = new Supervisor.VM.Users('@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "UsersApi", action = "Interviewers"})');
            model.GetFilterMethod = function () {
                return { SupervisorId: '@Model.PublicKey' };
            };
            ko.applyBindings(model);
            model.load();
        });
</script>
}

@section header
{
    <h2 class="sinle-line-header">
        @Model.UserName <small>interviewers</small>
    </h2>
}

@section gridnavigation
{
    <div class="btn-group">
        <div class="form-inline">
            @if (User.IsInRole("Headquarter")) {
                <a class="btn btn-default" href="@Url.Action("Create", "Interviewer", new { supervisorId = Model.PublicKey, area = string.Empty })">
                    <i class="glyphicon glyphicon-user"></i> Create
                </a>
            }

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" data-bind="value: SearchBy, enterKey: search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: search">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section grid
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th data-bind='sortby : "UserName"'>Name</th>
                <th data-bind='sortby : "CreationDate"'>Creation date</th>
                <th data-bind='sortby : "Email"'>Email</th>
                <th data-bind='sortby : "DeviceId"'>Device</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:Items -->
            <tr>
                <td data-bind="text: UserName"></td>
                <td data-bind="text: CreationDate"></td>
                <td data-bind="text: Email"></td>
                <td><a data-bind="text: DeviceId, attr: { href: $deviceUrl + '/' + DeviceId() }"></a></td>
                <td>
                    <a class="btn btn-info" data-bind="attr: { href: $editUrl + '/' + UserId() }">
                        <i class="icon icon-edit icon-white"></i> Edit
                    </a>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}