<div data-role="panel" data-id="main">
    <div data-role="page" id="main" class="page">
        <div data-role="header" data-theme="b">
            <h1>
                Available local centers
            </h1>
            @Html.ActionLink("Dashboard", "Dashboard", "Survey", new { }, new { rel = "external", data_inline = "true", data_role = "button", data_mini = "true", data_corners = "false", data_theme = "e", id = "btnSync", @class = "ui-state-persist" })
            <a href="@Url.Action("LogOff", "Account")" data-corners="false" rel = "external" data-ajax="false"  data-theme = "a"  data-role = "button">Log off</a> 
        </div>
        <div data-role="content" id="content">
          
            <img src="/Content/themes/jquerymobile/images/ajax-loader.gif" style="position: fixed; left: 50%; top: 50%;" />
        </div>
        <div data-role="footer" data-position="fixed" data-fullscreen="true">        
            <div data-role="navbar">
                <ul>
                    <li><a href="@Url.Action("Import", "Synchronizations")" data-corners="false" rel = "external" data-ajax="false"  data-theme = "a"  data-role = "button">Import</a></li>
                    <li></li>
                    <li></li>
                    <li><a href="@Url.Action("Export", "Synchronizations")" data-corners="false" rel = "external" data-ajax="false"  data-theme = "a"  data-role = "button">Export</a></li>              
                </ul>
            </div>            
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        var refresh = function() {
            $.ajax({
                    url: '@Url.Action("Discover", new {})',
                    cache: false,
                    success: function(html) {
                        $('#content').html(html);
                        $('#content').trigger('create');
                    }
                });
        };
        refresh();
    }); </script>