@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section scripts
{
    @Scripts.Render("~/js/common")
    @Scripts.Render("~/js/troubleshooting-census")
}
<main class="hold-transition search-wasnt-started"  id="app">
    <div class="container-fluid">
        <div class="row before-search">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li><a href="">troubleshooting</a></li>
                </ol>
                <h1>
                    Locating specific census inteview
                </h1>
            </div>
        </div>
        <div class="row before-search">
            <div class="col-sm-7">
                <p>It will be useful to know enumerator, interview template and timeline. <br /> We will show if there was any errors with synchronizations during selected period.</p>
            </div>
        </div>
        <div class="row">
            <aside class="filters">
                <div class="foldback-button" id="hide-filters">
                    <span class="arrow"></span>
                    <span class="arrow"></span>
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                </div>
                <div class="filters-container">
                    <h4>Filter Range</h4>
                    <div class="block-filter" v-bind:class="{'has-error': errors.has('questionnaireId')}">
                        <h5>Survey template (questionnaire version)</h5>
                        <user-selector
                            data-vv-name="questionnaireId"
                            v-validate="'required'"
                            :has-error="errors.has('questionnaireId')"
                            placeholder="Select questionnaire"
                            control-id="questionnaireId"
                            :value="questionnaireId"
                            v-on:selected="questionnaireSelected"
                            fetch-url="@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "QuestionnairesApi", action = "QuestionnairesCombobox"})"></user-selector>
                        <span v-show="errors.has('questionnaireId')" class="help-block">{{ errors.first('questionnaireId') }}</span>
                    </div>
                    <div class="block-filter">
                        <h5>Enumerator</h5>
                        <user-selector
                            placeholder="Select interviewer"
                            control-id="interviewerId"
                            :value="interviewerId"
                            v-on:selected="userSelected" 
                            fetch-url="@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "Teams", action = "InterviewersCombobox"})"></user-selector>
                    </div>
                    <div class="block-filter">
                        <h5>Time-period when this interview was conducted or synchronized with HQ</h5>
                        <Flatpickr placeholder="Select dates"  input-class="form-control" v-on:input="rangeSelected" :options="dateRangePickerOptions" />
                    </div>
                    <div class="block-filter">
                        <button type="button" v-on:click="validateForm" class="btn btn-primary btn-lg" id="find-interview">Find interviews</button>
                    </div>
                </div>
            </aside>
            <div class="main-information">
                <div class="page-header clearfix">
                    <ol class="breadcrumb">
                        <li><a href="">troubleshooting</a></li>
                    </ol>
                    <h1>
                        Locating specific census inteview
                    </h1>
                </div>
                <div class="clearfix">
                    <div class="col-sm-7 ">
                        <p>It will be useful to know enumerator, interview template and timeline. <br /> We will show if there was any errors with synchronizations during selected period.</p>
                        <ul class="list-unstyled">
                            <li><b>There are 3 interviews found during period</b></li>
                            <li class="error-text"><b>2 error detected during this period</b></li>
                        </ul>
                    </div>
                </div>
                <div class="interviews-info">
                    <div class="table-wrapper interviews-large-screen">
                        <interview-table 
                            :filter="tableFilters" 
                            fetch-url="@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "TroubleshootingApi", action = "CensusInterviews" })" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
