@{
    ViewBag.Title = DataExport.DataExport_Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<main>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>
                    @Troubleshooting.Title
                </h1>
            </div>
        </div>
        <div class="row extra-margin-bottom">
            <div class="col-sm-7">
                <p>
                    @Html.Raw(string.Format(Troubleshooting.SupportSite, "http://support.mysurvey.solutions/"))
                </p>
            </div>
        </div>
        <div class="row extra-margin-bottom">
            <div class="col-sm-7">
                <a href="@Url.Action("CensusInterviews")">
                    <h3 class="primary-text">@Troubleshooting.MissingCensusInterviewsTitle</h3>
                </a>
                <p>@Troubleshooting.MissingCensusInterviewsDescription</p>
            </div>
        </div>
        <div class="row extra-margin-bottom">
            <div class="col-sm-7">
                <a href="@Url.Action("DataIsMissing")">
                    <h3 class="primary-text">@Troubleshooting.InterviewDataIsMissingTitle</h3>
                </a>
                <p>@Troubleshooting.InterviewDataIsMissingDescription</p>
            </div>
        </div>
    </div>
</main>