@using System.Web.Optimization
@model WB.UI.Headquarters.Models.LoginModel

@{
    ViewBag.Title = "Login";

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Signin</title>

    @Styles.Render("~/content/bootstrap")

    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="~/Scripts/ValidationFix.js">
    </script>
</head>

<body>

    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h2 class="form-signin-heading">Please sign in</h2>
                @Html.AntiForgeryToken()

                <div class="text-danger">
                    @Html.ValidationSummary(true)
                </div>

                <div class="form-group">
                    <label for="@Html.IdFor(x => x.Login)" class="col-sm-4 control-label">Login</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Login, new { @class = "form-control", autofocus = "autofocus", placeholder = "Login" })
                        @Html.ValidationMessageFor(x => x.Login, null, new {@class="help-block"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Password, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.RememberMe) Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button class="btn btn-primary" type="submit">Sign in</button>
                    </div>
                </div>


            }
        </div>
    </div>
</body>
</html>
