@using System.Web.Optimization
@model WB.UI.Headquarters.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Signin</title>

    @Styles.Render("~/content/bootstrap")

    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                height: auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>

<body>

    <div class="container">

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            <h2 class="form-signin-heading">Please sign in</h2>
            @Html.AntiForgeryToken()

            @Html.TextBoxFor(x => x.Login, new { @class = "form-control", autofocus = "autofocus", placeholder = "Login" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })

            <label class="checkbox" for="@Html.IdFor(x => x.RememberMe)">
                @Html.CheckBoxFor(x => x.RememberMe)
                Remember me test
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        }
    </div>
</body>
</html>
