@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@using WB.Core.Infrastructure.Versions
@using WB.Core.SharedKernels.SurveyManagement.Web.Code
@using WB.UI.Shared.Web.Captcha
@using WB.UI.Shared.Web.Extensions
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.LogOnModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HQ Login</title>

    <!-- css_markup:css -->
    <link rel="stylesheet" href="@Url.Content("~/Dependencies/build/markup.css")">
    <!-- endinject -->
    @if (ViewBag.HasCompanyLogo)
    {
        <link rel="preload" href="@Url.Content("~/api/CompanyLogo/Thumbnail")" as="image"/>
    }
    <link rel="preload" href="@Url.Content("~/Dependencies/img/HQ-login-3_05.png")" as="image" />

    @this.GenerateFavicon(Url.Content("~/Dependencies/img/identity/favicon-hq"))
</head>
<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top" role="navigation">
                <div class="container-fluid ">
                    <div class="row flex-row">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="centered-box-table">
                                <div class="centered-box-table-cell">
                                    @*<a href="http://www.worldbank.org">
                                        <div class="retina-world-bank">World Bank Group</div>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-lg-offset-9 col-md-1 col-md-offset-8 col-sm-2 col-sm-offset-6 col-xs-4 col-xs-offset-2">
                            <div class="centered-box-table">
                                <div class="centered-box-table-cell">
                                    <a href="http://docs.mysurvey.solutions/headquarters.pdf" title="@MainMenu.Help" target="_blank" class="help">
                                        @MainMenu.Help
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>
    <main>
        <div class="container-fluid" style="min-height: 400px">
            <div class="row two-columns-form">
                <div class="col-md-6 col-sm-6 col-xs-12 left-column">
                    <div class="centered-box-table">
                        <div class="centered-box-table-cell">
                            @using (Html.BeginForm("LogOn", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, 
                                new {id = "log-in", @class = "log-in"}))
                            {
                                @Html.AntiForgeryToken()
                                <div class="retina headquarter">Survey Solutions Headquarters</div>
                                if (ViewData.ModelState.Any(s => s.Value.Errors.Any()))
                                {
                                    <div class="form-group has-error">
                                        <p>
                                            <span class="help-block">
                                                @Html.ValidationMessage(ViewData.ModelState.Keys.First(f => ViewData.ModelState[f].Errors.Any()))
                                            </span>
                                        </p>
                                    </div>
                                }
                                if ((Request.Browser.Browser == "IE") && ((Request.Browser.MajorVersion <= 9)))
                                {
                                    <div id="outdated" class="form-group">
                                        <h2>@OutdatedBrowser.HellowText</h2>
                                        <h3>
                                            @OutdatedBrowser.PleaseUpdate
                                        </h3>
                                        <p>
                                            @OutdatedBrowser.LinkToUpdate <a href="http://outdatedbrowser.com">browser-update.org</a>
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @autofocus = @"autofocus", autocomplete = "off", placeholder = Pages.Login })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off", placeholder = Pages.Password })
                                    </div>
                                    if (this.Model.RequireCaptcha)
                                    {
                                        <div class="form-group">
                                            @Html.RenderCaptcha(DependencyResolver.Current.GetService<ICaptchaProvider>())
                                        </div>
                                    }
                                    <div class="form-actions">
                                        <button class="btn btn-success btn-lg" type="submit">@Pages.LogOn_LogIn</button>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 right-column">
                    <div class="centered-box-table">
                        @if (ViewBag.HasCompanyLogo)
                        {
                            <div class="centered-box-table-cell">
                                <img src="@Url.Content("~/api/CompanyLogo/Thumbnail")" id="placeholder"
                                     onerror="this.parentElement.className += ' no-logo'"/>
                                <div class="default-logo"></div>
                            </div>
                        }
                        else
                        {
                            <div class="centered-box-table-cell no-logo">
                                <div class="default-logo"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="interviewer-app">
                    <a href="@Url.Action("Index", "Download")" class="get-interviewer-app">
                        <span>@Pages.GetLatestApp</span>
                        <span class="version">Version @(DependencyResolver.Current.GetService<IProductVersion>())</span>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <div class="text-left">
                &copy; @DateTime.Now.Year.ToString() <a href="http://www.worldbankgroup.org">@Pages.Layout_WorldBank</a>, @Pages.Layout_RightsReserved <a href="http://go.worldbank.org/OS6V7NIUD0">@Pages.Layout_Legal</a>.
            </div>
            <div class="text-left">
                @(DependencyResolver.Current.GetService<IProductVersion>())
                @if (AppSettings.IsDebugBuilded)
                {
                    <span id="build-config">[.NET Debug]</span>
                }
                @if (HttpContext.Current.IsDebuggingEnabled)
                {
                    <span id="compile-config" style="color: red">Web Debug</span>
                }
                <span>|</span>
                <a href="@Url.Action("Index","Download")">@Common.GetInterviewerApp</a>
            </div>
        </div>
    </footer>
        @Html.Partial("Clickjacking")
</body>
</html>
