@model ManageAccountModel
@{
    ViewBag.Title = Strings.HQ_Views_Manage_Title;
    ViewBag.PageTitle = string.Format(Pages.AccountManage_Title, Html.Encode(Model.UserName));
    ViewBag.PageSubTitle = Pages.AccountManage_EditPublicInformation;
    Layout = "~/Views/Shared/Profile/_UserEditorLayout.cshtml";
}
@section PreFormSection
{
    <div class="col-sm-7">
        <ul class="list-unstyled">
            <li><b>@Pages.AccountManage_Login: @Model.UserName</b></li>
            <li><b>@Pages.AccountManage_Role: @Model.Role</b></li>
        </ul>
    </div>
}
@section PreDetailsSection
{
    @Html.HiddenFor(x => x.Role)
    @Html.HiddenFor(x => x. UpdatePasswordAction)
}
