@model WB.Core.SharedKernels.SurveyManagement.Web.Models.ManageAccountModel
@{
    ViewBag.Title = Strings.HQ_Views_Manage_Title;
    ViewBag.PageTitle = Pages.AccountManage_Title;
    ViewBag.PageSubTitle = Pages.AccountManage_EditPublicInformation;
    ViewBag.ControllerName = @"Account";
    ViewBag.ControllerAction = @"Manage";
    Layout = "~/Views/Shared/Profile/_UserEditorLayout.cshtml";
}
@section PreFormSection
{
    <div class="col-sm-7">
        <ul class="list-unstyled">
            <li><b>@Pages.AccountManage_Login: @Model.UserName</b></li>
            <li><b>@Pages.AccountManage_Role: @Model.Role</b></li>
        </ul>
    </div>
}
@section PreDetailsSection
{
    @Html.HiddenFor(x => x.Role)
}
@section PrePasswordForm{
    @Html.EditorFor(x => x.OldPassword, "PasswordFormField")
}
