@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Group
@using RavenQuestionnaire.Web.Utils
@model GroupView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Save", "Group"))
{
    @Html.BootstrapValidationSummary("")
    <div class="control-group">
        @Html.LabelFor(model => model.Title, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>
    if (Model.Parent.HasValue)
    {
        <div class="control-group">
            <label class="control-label">Is Group propagateble?</label>
            <div class="controls">
                @Html.EnumDropDownListFor(model => Model.Propagated)
            </div>
        </div>
    }
    if (Model.PublicKey != Guid.Empty)
    {
        @Html.HiddenFor(model => model.PublicKey)
    }
    @Html.HiddenFor(model => model.QuestionnaireId)
    @Html.HiddenFor(model => model.Parent)
    <div class="form-actions">
        <input type="submit" value="Save" class="btn btn-primary btn-large" />
    </div>
}