@using WB.Core.BoundedContexts.Headquarters.DataExport.Dtos
@using WB.Core.SharedKernels.SurveyManagement.Web.Utils
@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.ExportModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = DataExport.DataExport_Title;
}

@section scripts
{
    @Scripts.Render("~/js/main-no-libs")
    @Scripts.Render("~/js/list")
    @Scripts.Render("~/js/exportdata")

<script type="text/javascript">

        var $AllDataUrl =
            '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "DataExportApi", action = "AllData"})';
        var $HistoryUrl =
            '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "DataExportApi", action = "Paradata"})';
        var $UpdateTabularDataUrl =
            '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "DataExportApi", action = "RequestUpdate"})';

        var $DDIUrl =
            '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "DataExportApi", action = "DDIMetadata"})';
        var $ExportedDataReferencesForQuestionnaireUrl =
            '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "DataExportApi", action = "GetExportStatus"})';
        var $DeleteDataExportProcessUrl =
            '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "DataExportApi", action = "DeleteDataExportProcess"})';

        var $ExportToExternalStorageUrl =
            '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "DataExportApi", action = "ExportToExternalStorage"}, Request.Url.Scheme)';
        $(function() {
            var templates = @Html.Raw(Json.Encode(Model.Questionnaires.Select(q => new
            {
                id = q.TemplateId.ToString(),
                version = q.TemplateVersion,
                title = $"(ver. {q.TemplateVersion}) {q.TemplateName}"
            })));

            var exportFormats = [];
            @foreach (DataExportFormat formatValue in Enum.GetValues(typeof(DataExportFormat)))
            {
                <text>exportFormats[@((int) formatValue)] = '@Html.ToSafeJavascriptMessage(formatValue.ToString())'</text>
            }

            var statuses = [
                { status: null, title: '@Html.ToSafeJavascriptMessage(Common.AllStatuses)' },
                @foreach (var item in Model.ExportStatuses)
                {
                    <text>{ status: @((int)item), title: '@Html.ToSafeJavascriptMessage(item.ToUiString())' },</text>
                }
            ];

            var externalStorages = null;
            @if (Model.ExternalStoragesSettings != null)
            {
                var storages = Model.ExternalStoragesSettings;
                <text>
                    var StoragesViewModel = function() {
                        this.redirect_uri = "@storages.OAuth2.RedirectUri",
                            this.response_type = "@storages.OAuth2.ResponseType",
                            this.storages = [
                                {
                                    name: "@HttpUtility.JavaScriptStringEncode(DataExport.ZipFile)",
                                    is_local: true
                                }, {
                                    name: "@HttpUtility.JavaScriptStringEncode(DataExport.OneDrive)",
                                    client_id: "@storages.OAuth2.OneDrive.ClientId",
                                    type: "@ExternalStorageType.OneDrive",
                                    scope: "@storages.OAuth2.OneDrive.Scope",
                                    authorization_uri: "@storages.OAuth2.OneDrive.AuthorizationUri"
                                }, {
                                    name: "@HttpUtility.JavaScriptStringEncode(DataExport.Dropbox)",
                                    client_id: "@storages.OAuth2.Dropbox.ClientId",
                                    type: "@ExternalStorageType.Dropbox",
                                    scope: "@storages.OAuth2.Dropbox.Scope",
                                    authorization_uri: "@storages.OAuth2.Dropbox.AuthorizationUri"
                                }, {
                                    name: "@HttpUtility.JavaScriptStringEncode(DataExport.GoogleDrive)",
                                    client_id: "@storages.OAuth2.GoogleDrive.ClientId",
                                    type: "@ExternalStorageType.GoogleDrive",
                                    scope: "@storages.OAuth2.GoogleDrive.Scope",
                                    authorization_uri: "@storages.OAuth2.GoogleDrive.AuthorizationUri"
                                }
                            ];
                        this.selectedStorage = ko.observable(this.storages[0]);
                    };
                    externalStorages = new StoragesViewModel();
                </text>
            }
            var model = new Supervisor.VM.ExportData(templates,
                statuses,
                $ExportedDataReferencesForQuestionnaireUrl,
                exportFormats,
                $DeleteDataExportProcessUrl,
                $UpdateTabularDataUrl,
                $ExportToExternalStorageUrl,
                externalStorages);
            ko.applyBindings(model);
        });

        $('#umbrella').hide();
</script>
}

<main class="export hold-transition">
    <div class="container-fluid">
        <div class="row">
            <aside class="filters">
                <div class="foldback-button" id="hide-filters">
                    <span class="arrow"></span>
                    <span class="arrow"></span>
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                </div>
                <div class="filters-container">
                    <h4>@DataExport.ExportRange</h4>
                    <div class="block-filter">
                        <h5>@DataExport.SurveyTemplateTitle</h5>
                        <select id="templateSelector" data-bind="options: Templates, value: selectedTemplate, optionsText: 'title', selectPicker: {}"></select>
                    </div>
                    <div class="block-filter">
                        <h5>@DataExport.StatusOfExportTitle</h5>
                        <select id="ddlStatus" data-bind="options: Statuses, value: selectedStatus, optionsText: 'title', selectPicker: {}"></select>
                    </div>
                </div>

                <div class="preset-filters-container" data-bind="visible: RunningDataExportProcesses().length > 0">
                    <span class="export-queue" data-bind="text:'@HttpUtility.JavaScriptStringEncode(DataExport.ItemsInQueue) ' + RunningDataExportProcesses().length"></span>
                </div>
            </aside>
            <div class="export-types">
                @Html.Partial("_alerts")
                <!-- ko if:selectedTemplateTitle() != null -->
                <div class="page-header clearfix">
                    <h1 data-bind="text: selectedTemplate()? selectedTemplate().title : ''"></h1>
                    <p>@DataExport.ExportExplanation</p>
                </div>
                <div class="main  data" id="a">
                    <h3>@DataExport.MainSurveyDataTitle</h3>
                    <p>@DataExport.ZipArchiveDescription</p>
                    <div class="container-data">
                        <div class="table-data-header">
                            <div class="cell-data size">@DataExport.FileSizeTitle</div>
                            <div class="cell-data last-generated">@DataExport.LastGeneratedTitle</div>
                        </div>

                        @ExportTemplate(type: DataExportType.Data, format: DataExportFormat.STATA, styleName: "stata", dataUrl: "$AllDataUrl")

                        @ExportTemplate(type: DataExportType.Data, format: DataExportFormat.SPSS, styleName: "spss", dataUrl: "$AllDataUrl")

                        @ExportTemplate(type: DataExportType.Data, format: DataExportFormat.Tabular, styleName: "separated-data", dataUrl: "$AllDataUrl")

                    </div>
                </div>
                <div class="binary data">
                    <h3>@DataExport.BinaryData</h3>
                    <p>@DataExport.BinaryDescription</p>
                    <div class="container-data">
                        <div class="table-data-header">
                            <div class="cell-data size">@DataExport.FileSizeTitle</div>
                            <div class="cell-data last-generated">@DataExport.LastGeneratedTitle</div>
                        </div>
                        @ExportTemplate(type: DataExportType.Data, format: DataExportFormat.Binary, dataUrl: "$AllDataUrl", styleName: "zip")
                    </div>
                </div>
                <div class="metadata data">
                    <h3>@DataExport.DDI</h3>
                    <p>
                        <span>@DataExport.DDIDescription</span>
                    </p>
                    <div class="container-data">
                        <div class="table-data-header"></div>
                        <div class="table-data generated-data">
                            <div class="cell-data format-data">@DataExport.XMLFileDescription</div>
                            <div class="cell-data  download-block">
                                <a type="button" class="btn btn-primary btn-lg download" data-bind="attr: { href: $DDIUrl + '/' + selectedTemplateId() + '?version=' + selectedTemplateVersion() }">@DataExport.Download</a>
                            </div>
                        </div>
                    </div>
                </div>
                @if (this.ViewBag.EnableInterviewHistory)
                {
                    <div class="paradata data">
                        <h3>@DataExport.ParaData</h3>
                        <p>
                            <span>@DataExport.ParadataDescription</span>
                        </p>
                        <div class="container-data">
                            <div class="table-data-header">
                                <div class="cell-data size">@DataExport.FileSizeTitle</div>
                                <div class="cell-data last-generated">@DataExport.LastGeneratedTitle</div>
                            </div>
                            @ExportTemplate(type: DataExportType.ParaData, format: DataExportFormat.Paradata, dataUrl: "$AllDataUrl", styleName: "separated-data")
                        </div>
                    </div>
                }
                <!-- /ko  -->
                <!-- ko if:selectedTemplateTitle() == null -->
                <div class="page-header clearfix">@DataExport.NoDataAvailable</div>
                <!-- /ko  -->
            </div>
        </div>
    </div>
</main>

@helper ExportTemplate(DataExportType type, DataExportFormat format, string styleName, string dataUrl)
    {
        var exportParameters = "'" + (int)type + "','" + (int)format + "'";

        <div data-bind="css: {'table-data': true, 'generated-data': (showRefreshButton(@exportParameters) && showDownloadButton(@exportParameters)), 'generation-in-progress' : (!showRefreshButton(@exportParameters)), 'not-generated-data': (showRefreshButton(@exportParameters) && !showDownloadButton(@exportParameters))}">
            <div class="cell-data format-data @styleName">
                @{
                    string formatTitle;
                    switch (format)
                    {
                        case DataExportFormat.Tabular:
                            formatTitle = DataExport.TabularFormat;
                            break;
                        default:
                            formatTitle = format + " " + DataExport.FormatTitle;
                            break;
                    }
                }
                @formatTitle
            </div>
            <div class="cell-data  download-block">
                <button type="button" class="btn btn-success btn-lg generate" data-bind="click: requestDataUpdate(@((int) format), true), visible: showRefreshButton(@exportParameters)">@(format == DataExportFormat.Binary && Model.ExternalStoragesSettings != null ? DataExport.ExportBtn : DataExport.Generate)</button>
                <a type="button" class="btn btn-primary btn-lg download" data-bind="visible: showDownloadButton(@exportParameters), attr: { href: @dataUrl + '?' + getRequestQuery('@format') }">@DataExport.Download</a>
                <div class="not-generated ">@DataExport.DataWasNotGenerated</div>
            </div>
            <div class="cell-data last-generated " data-bind="visible: showDownloadButton(@exportParameters)">
                <i data-bind="text:lastUpdateDate(@exportParameters)"></i>
            </div>
            <div class="cell-data size " data-bind="visible: showDownloadButton(@exportParameters)"><i data-bind="text:fileSize(@exportParameters) + ' @DataExport.Bytes'"></i></div>
            <div class="cell-data min-view " data-bind="visible: showDownloadButton(@exportParameters)">
                <div>@DataExport.LastGeneratedTitle: <span data-bind="text:lastUpdateDate(@exportParameters)"></span></div>
                <div>@DataExport.FileSizeTitle: <span><i data-bind="text:fileSize(@exportParameters) + ' @DataExport.Bytes'"></i></span></div>
            </div>

            <div class="cell-data progress-block">
                <div class="cancelable-progress queued" data-bind="visible: isInQueue(@exportParameters)">
                    <div class="wrapper-progress">
                        <span>@DataExport.QueuedTitle</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width: 100%">
                                <span class="sr-only">@DataExport.QueuedTitle</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-link" data-bind="click : requestStopExportProcess(@exportParameters)"><span class="cancel"></span></button>
                </div>

                <div class="cancelable-progress" data-bind="visible: isRunning(@exportParameters) || isCompessing(@exportParameters)">
                    <div class="wrapper-progress">
                        <!-- ko if: isCompessing(@Html.Raw(exportParameters)) -->
                        <span data-bind="text: '@DataExport.Compressing - ' + getProgressInPercents(@exportParameters) + '%'"></span>
                        <!-- /ko -->
                        <!-- ko if: isRunning(@Html.Raw(exportParameters)) -->
                        <span data-bind="text: '@DataExport.Generating - ' + getProgressInPercents(@exportParameters) + '%'"></span>
                        <!-- /ko -->
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-bind="style:{ width: getProgressInPercents(@exportParameters) + '%' } ">
                                <span class="sr-only" data-bind="text: getProgressInPercents(@exportParameters) + '% @DataExport.Completed'"></span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-link" data-bind="visible: isRunning(@exportParameters), click : requestStopExportProcess(@exportParameters)"><span class="cancel"></span></button>
                </div>
            </div>

            <div class="not-generated cell-data" data-bind="visible: !hasAnyDataToBePrepared(@exportParameters)">@DataExport.NoDataAvailable</div>

        </div>
}

<script type="text/html" id="confirm-stop-export">
    <h3>
        @DataExport.ConfirmStop @DataExport.export?
    </h3>
</script>

<script type="text/html" id="storages-dialog">
    <p>@DataExport.SaveBinaryDataTo</p>
    <div class="options-group">
        <div class="radio" data-bind="foreach: storages">
            <div class="field">
                <input type="radio" class="wb-radio" name="providersGroup" data-bind="checkedValue: $data, checked: $root.selectedStorage, attr: { 'id': $data.name }"> <label data-bind="attr: { 'for': $data.name }">
                    <span class="tick"></span> <!-- ko text: name --><!-- /ko -->
                </label>
            </div>
        </div>
        <span class="lock"></span>
    </div>
</script>
