@using RavenQuestionnaire.Core.Views.Status
@model StatusView
<div>           
    Questionnaire: <strong> @Html.DisplayTextFor(model => model.QuestionnaireId) </strong>
</div>
<br/>
<div>           
    Status Name: <strong> @Html.DisplayTextFor(model => model.Title) </strong>
</div>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td style="background-color: gainsboro">
            Statuses\Roles
        </td>
        <br/>
        @foreach (var roleItem in ViewBag.AllRoles)
        {
            <td style="text-align: center">@roleItem</td> 
        }
    </tr>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.QuestionnaireId)

    @Html.EditorFor(model => model.StatusRolesMatrix)
</table>

