@using WB.Core.SharedKernels.DataCollection.ValueObjects.Interview

<script type="text/html" id="CreatedCountTemplate">
    <span data-bind="template: { name : 'statusTemplate', data: { Template : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: Responsible(), Count : CreatedCount(), Status : '@InterviewStatus.Created.ToString()' }}"></span>
</script>
<script type="text/html" id="SupervisorAssignedCountTemplate">
    <span data-bind="template: { name : 'statusTemplate', data: { Template : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: Responsible(), Count : SupervisorAssignedCount(), Status : '@InterviewStatus.SupervisorAssigned' }}"></span>
</script>
<script type="text/html" id="InterviewerAssignedCountTemplate">
    <span data-bind="template: { name : 'statusTemplate', data: { Template : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: Responsible(), Count : InterviewerAssignedCount(), Status : '@InterviewStatus.InterviewerAssigned' }}"></span>
</script>
<script type="text/html" id="SentToCapiCountTemplate">
    <span data-bind="template: { name : 'statusTemplate', data: { Template : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: Responsible(), Count : SentToCapiCount(), Status : '@InterviewStatus.SentToCapi' }}"></span>
</script>
<script type="text/html" id="CompletedCountTemplate">
    <span data-bind="template: { name : 'statusTemplate', data: { Template : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: Responsible(), Count : CompletedCount(), Status : '@InterviewStatus.Completed' }}"></span>
</script>
<script type="text/html" id="ApprovedBySupervisorCountTemplate">
    <span data-bind="template: { name : 'statusTemplate', data: { Template : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: Responsible(), Count : ApprovedBySupervisorCount(), Status : '@InterviewStatus.ApprovedBySupervisor' }}"></span>
</script>
<script type="text/html" id="RejectedBySupervisorCountTemplate">
    <span data-bind="template: { name : 'statusTemplate', data: { Template : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: Responsible(), Count : RejectedBySupervisorCount(), Status : '@InterviewStatus.RejectedBySupervisor' }}"></span>
</script>
<script type="text/html" id="ApprovedByHeadquartersCountTemplate">
    <span data-bind="template: { name : 'statusTemplate', data: { Template : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: Responsible(), Count : ApprovedByHeadquartersCount(), Status : '@InterviewStatus.ApprovedByHeadquarters' }}"></span>
</script>
<script type="text/html" id="RejectedByHeadquartersCountTemplate">
    <span data-bind="template: { name : 'statusTemplate', data: { Template : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: Responsible(), Count : RejectedByHeadquartersCount(), Status : '@InterviewStatus.RejectedByHeadquarters' }}"></span>
</script>
<script type="text/html" id="RestoredCountTemplate">
    <span data-bind="template: { name : 'statusTemplate', data: { Template : QuestionnaireId(), Version : QuestionnaireVersion(), Responsible: Responsible(), Count : RestoredCount(), Status : '@InterviewStatus.Restored' }}"></span>
</script>

<script type="text/html" id="statusTemplate">
    <!-- ko if:Count == 0 -->0<!-- /ko -->
    <!-- ko ifnot:Count == 0 -->
    <a data-bind="attr: { href: $interviewsUrl + '?templateId=' + Template + '&templateVersion=' + Version +'&responsible=' + Responsible + '&status=' + Status}, text: Count"></a>
    <!-- /ko -->
</script>
