@using System.Globalization
@using Microsoft.Extensions.Options
@using WB.UI.Designer.Extensions
@using WB.UI.Designer1.Extensions
@inject IOptions<UiConfig> UiConfig

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@this.ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*@Styles.Render("~/questionnaire/content/designer-start/css-list")
    @Styles.Render("~/Content/css-list")

    @Scripts.Render("~/simplepage")*@

    @Html.GenerateFavicon(Url.Content("~/favicon"))

    @this.RenderSection("Styles", required: false)
    @this.RenderSection("Scripts", required: false)

    <script type="text/javascript">
        function FrameCheck() {
            if (top != self)
                top.location.replace(self.location.href);
        }

        $(function() {
            if (window.moment) {
                moment.locale('@CultureInfo.CurrentUICulture');

                $('time').each(function () {
                    var me = $(this);
                    var date = me.attr('datetime') || me.attr('time');
                    var momentDate = moment.utc(date).local().format('MMM DD, YYYY HH:mm');
                    me.text(momentDate);
                });
            }
        });
    </script>

</head>
<body onload="FrameCheck();">
<div class="container-wb-list">
    <div class="header-wb-list">
        <header>

            <div class="questionnaire-logo">
                <a class="logo" href="https://mysurvey.solutions/" target="_blank">
                    <img src="~/questionnaire/content/i/logo.png" alt="Survey Solutions" class="pull-left">
                    <span class="pull-left">Survey<br>Solutions</span>
                </a>
                @Html.ActionLink(QuestionnaireController.Designer, "Index", "Home", null, new { @class = "navbar-text" })
            </div>


            @*@Html.ActionLink(QuestionnaireController.Designer, "Index", "Questionnaire", null, new { @class = "questionnaire-logo" })*@

            <ul class="nav nav-tabs">

                @Html.MenuActionLink(ViewContext, QuestionnaireController.MyQuestionnaires, "Index", "Questionnaire", "presentation")
                @Html.MenuActionLink(ViewContext,QuestionnaireController.SharedQuestionnaires, "Shared", "Questionnaire", "presentation")
                @Html.MenuActionLink(ViewContext,QuestionnaireController.PublicQuestionnaires, "Public", "Questionnaire", "presentation")
                @Html.MenuActionLink(ViewContext,QuestionnaireController.Classifications, "Index", "Classifications", "presentation")
                @if (User.IsAdmin())
                {
                    @Html.MenuActionLink(ViewContext, QuestionnaireController.QuestionnaireTreeFolders, "PublicFolders", "Questionnaire", "presentation")
                    @Html.MenuActionLink(ViewContext, QuestionnaireController.ManageUsers, "Index", "Admin", "presentation")
                }
                <li role="presentation" class="create">
                    @Html.ActionLink(QuestionnaireController.CreateNew, "Create", "Questionnaire", null, new { @class = "btn" })
                </li>
            </ul>
            <nav>
                <a class="btn btn-default" target="_blank" 
                   href="@UiConfig.Value.DesignerHelpUrl">@AccountResources.Help</a>
                @if (User.IsAdmin())
                {
                    <a class="btn btn-default" href="@Url.Action("RestoreQuestionnaire", "Admin")">@QuestionnaireController.RestoreQuestionnaire</a>
                }
                <div class="btn-group">
                    <a class="btn btn-default">@string.Format(QuestionnaireController.Hello, User.Identity.Name)</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index">
                                @AccountResources.ManageAccount
                            </a>
                        </li>
                        <li>@Html.ActionLink(AccountResources.Logout, "LogOff", "Account")</li>
                    </ul>
                </div>

            </nav>
        </header>
    </div>
    <section id="designer-list">
        @this.RenderBody()
    </section>
</div>
@this.RenderSection("Modal", required: false)
</body>
</html>
