@using WB.UI.Shared.Web.Extensions
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "Designer")</title>
    @this.GenerateFavicon(Url.Content("~/favicon.ico"))

    <script src="~/Content/plugins/jquery.min.js"></script>
    <link href="~/questionnaire/content/designer-start/bootstrap-custom.css" rel="stylesheet" />
    <script src="~/Content/plugins/bootstrap.min.js"></script>
    <link href="~/questionnaire/content/designer-start/designer-start.css" rel="stylesheet" />

    <script type="text/javascript">
        function FrameCheck() {
            if (top != self)
                top.location.replace(self.location.href);
        }
    </script>

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body onload="FrameCheck();">
    <header>
        <a href="http://www.worldbank.org" class="logo"></a>
    </header>

    <section id="start-page">
        <div class="content-holder-outer">
            <div class="content-holder-inner">
                <div class="content-block">
                    <div class="form-holder">
                        <div class="form-row">
                            <div class="form-left">
                                <img src="~/questionnaire/content/i/designer-logo.png" />
                                <p>
                                    This is a tool for creating surveys for The&nbsp;World&nbsp;Bank’s CAPI platform with collaboration capabilities and export to PDF.
                                </p>
                            </div>
                            <div class="form-splitter">
                                <div class="vline"></div>
                            </div>
                            <div class="form-right">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        @Html.Partial("_commonFooter")
    </footer>
</body>
</html>
