@using System.Web.Configuration
@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@using WB.Core.Infrastructure.Versions
@using WB.UI.Designer.Resources

@using WB.UI.Shared.Web.Extensions
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Designer</title>
    @this.GenerateFavicon(Url.Content("~/Content/identity/favicon-designer"))
    <link href="~/questionnaire/content/designer-start/bootstrap-custom.css" rel="stylesheet" />
    <link href="~/questionnaire/content/designer-start/designer-start.css" rel="stylesheet" />
    
    @Scripts.Render("~/simplepage")

    <script type="text/javascript">
        function FrameCheck() {
            if (top != self)
                top.location.replace(self.location.href);
        }
    </script>

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body onload="FrameCheck();">
    <header>
        <a href="http://www.worldbank.org" class="logo"></a>
        <nav>
            <a class="btn btn-default" href="@WebConfigurationManager.AppSettings["DesignerHelpUrl"]" target="_blank">@AccountResources.Help</a>
            <a class="btn btn-default" href="@Url.Action("Register","Account")">@AccountResources.Register</a>
            <a class="btn btn-default" href="@Url.Action("Login", "Account")">@AccountResources.Login</a>
        </nav>
    </header>

    <section id="start-page">
        <div class="content-holder-outer">
            <div class="content-holder-inner">
                <div class="content-block">
                    <div class="form-holder">
                        @if (!string.IsNullOrWhiteSpace(ViewData["UserNotification"] as string))
                        {
                            <div id="notification-message" class="alert alert-info">
                                @Html.Raw(ViewData["UserNotification"])
                            </div>
                        }
                        <div class="form-row">
                            <div class="form-left">
                                <img src="~/questionnaire/content/i/designer-logo.png" />
                                <p>
                                    @AccountResources.AppDescription
                                </p>
                            </div>
                            <div class="form-splitter">
                                <div class="vline"></div>
                            </div>
                            <div class="form-right">
                                @if (TempData.ContainsKey(Alerts.SUCCESS))
                                {
                                    <div class="alert alert-success header">@Html.Raw(@TempData[Alerts.SUCCESS])</div>
                                }
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<footer>
    @Html.Partial("_commonFooter")
</footer>

    <!-- Site version is: @(ServiceLocator.Current.GetInstance<IProductVersion>()) --> 
</body>
</html>