@using WB.UI.Designer.BootstrapSupport
@using WB.UI.Shared.Web.Extensions
@model WB.UI.Designer.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/Layout.Account.cshtml";
}


<!--[if lt IE 9]>
    <div class="hero-unit">
        <h1>
            You are using an outdated browser
        </h1>
        <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to use designer application.</p>
    </div>
<![endif]-->

<form action="#" autocomplete="off" id="start-log-in" method="post" novalidate="novalidate">
    @Html.AntiForgeryToken()
    <h1>
        Welcome to Survey Solutions<br />
        Questionnaire Designer
    </h1>
    <p class="note">Please log in or @Html.ActionLink("Register", "register")</p>

    @if (TempData.ContainsKey(Alerts.ERROR))
    {
        <p class="note has-error">@Html.Raw(@TempData[Alerts.ERROR])</p>
    }

    <p class="note has-error" data-bind="visible: invalidUserNameOrPassword">Login or password is incorrect. Please try again.</p>
    <div class="form-group" data-bind="css: { 'has-error': invalidUserNameOrPassword }">
        <input class="form-control" placeholder="Login" type="text" data-bind="value: userName"/>
    </div>
    <div class="form-group" data-bind="css: { 'has-error': invalidUserNameOrPassword }">
        <input class="form-control" placeholder="Password" type="password" data-bind="value: password">
    </div>
    <div class="form-group">
        <input class="wb-checkbox" id="cb-stay-logged-in" type="checkbox" data-bind="checked: staySignedIn">
        <label for="cb-stay-logged-in">
            <span></span>Stay logged in for a day
        </label><br>
    </div>
    <p class="note has-error" data-bind="visible: invalidCaptcha">Please click the checkbox to prove that you are a human</p>
    <div id="recaptcha" class="recaptcha" data-bind="visible: shouldUseRecaptcha"></div>
    <div class="form-actions">
        <input class="btn btn-success btn-lg" type="submit" value="Log in" data-bind="click: login, enable: IsAjaxComplete"/>
        <a class="btn btn-link" href="@Url.Action("PasswordReset")">Forgot Password?</a>
    </div>
</form>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadRecaptchaJavascript&render=explicit" async defer></script>
    @Scripts.Render("~/login")
    <script type="text/javascript">
        var viewModel;
        var onloadRecaptchaJavascript = function() {
            viewModel.renderCaptcha();
        };
        $(function() {
            var signInApiUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "Users", action = "Login"})';
            var homePageUrl = '@Model.HomeUrl';

            var shouldUseRecaptcha = @Model.ShouldShowCaptcha.ToString().ToLower();

            viewModel = new Designer.VM.Login(signInApiUrl, homePageUrl, shouldUseRecaptcha, '@Model.GoogleRecaptchaSiteKey');
            viewModel.load();

            ko.applyBindings(viewModel);
        });
    </script>
}