@using WB.UI.Designer.Resources
@using WB.UI.Shared.Web.Captcha
@using WB.UI.Shared.Web.Extensions
@model WB.UI.Designer.Models.LogonModel

@{
    ViewBag.Title = AccountResources.Login;
    Layout = "~/Views/Account/Layout.Account.cshtml";
}

<!--[if lt IE 9]>
    <div class="hero-unit">
        <h1>
            @AccountResources.OutdatedBrowserMessage
        </h1>
        <p>@Html.Raw(AccountResources.UpgradeYourBrowser)</p>
    </div>
<![endif]-->

@using (Html.BeginForm("login", "account", null, FormMethod.Post, new { @id = "start-log-in", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <h1>
        @AccountResources.Welcome<br />
        @AccountResources.AppName
    </h1>
    <p class="note">@AccountResources.LoginMessage @Html.ActionLink(AccountResources.Register, "register", "Account")</p>

    if (TempData.ContainsKey(Alerts.ERROR))
    {
        <p class="note has-error">@Html.Raw(@TempData[Alerts.ERROR])</p>
    }
    <div class="form-group">
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = AccountResources.LoginOrEmail })
        @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "help-inline" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = AccountResources.Password })
        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "help-inline" })
    </div>

    <div>
        <input class="wb-checkbox" id="ShowPassword" type="checkbox" onclick='var pass = document.getElementById("Password"); pass.type = pass.type === "text" ? "password" :"text" ;'>
        <label for="ShowPassword" style="margin-bottom: 0;">
            <span></span>@AccountResources.ShowPassword
        </label>
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(x => x.StaySignedIn, new { @class = "wb-checkbox", placeholder = AccountResources.StaySignedIn })

        <label for="StaySignedIn" >
            <span></span>@AccountResources.StaySignedIn
        </label>

        <br>
    </div>

    if (this.Model.ShouldShowCaptcha)
    {
        <div class="recaptcha">
            @Html.RenderCaptcha()
        </div>
    }
    <div class="form-actions">
        <input class="btn btn-success btn-lg" type="submit" value="@AccountResources.Login" />
        <a class="btn btn-link" href="@Url.Action("PasswordReset", "Account")">@AccountResources.ForgotPassword</a>
    </div>
}
@section Scripts {
    @Scripts.Render("~/editform")
}
