@using WB.UI.Designer.BootstrapSupport
@model WB.UI.Designer.Models.LoginModel

@helper HasError()
{ @(ViewContext.ViewData.ModelState.IsValid ? "" : "has-error") }

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/Layout.Account.cshtml";
}


<!--[if lt IE 9]>
    <div class="hero-unit">
        <h1>
            You are using an outdated browser
        </h1>
        <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to use designer application.</p>
    </div>
<![endif]-->


@using (Html.BeginForm("login", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id="start-log-in", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <h1>
        Welcome to Survey Solutions<br />
        Questionnaire Designer
    </h1>
    <p class="note">Please log in or @Html.ActionLink("Register", "register")</p>
    if (TempData.ContainsKey(Alerts.ERROR))
    {
        <p class="note has-error">@Html.Raw(@TempData[Alerts.ERROR])</p>
    }
    <div class="form-group @HasError()">
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control " + HasError(), placeholder = "Login" })
        @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "help-inline" })
    </div>
    <div class="form-group @HasError()">
        @Html.PasswordFor(x => x.Password, new { @class = "form-control " + HasError(), placeholder = "Password" })
        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "help-inline" })
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(x => x.RememberMe, new {@id="cb-stay-logged-in", @class = "wb-checkbox" })
        <label for="cb-stay-logged-in">
            <span></span>Stay logged in for a day
        </label><br />
    </div>
    <div class="form-actions">
        <input class="btn btn-success btn-lg" type="submit" value="Log in" />
        <a class="btn btn-link" href="@Url.Action("PasswordReset")">Forgot Password?</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/editform")
}

