@using WB.UI.Designer.BootstrapSupport
@model WB.UI.Designer.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.empty.cshtml";
}

@using (Html.BeginForm("login", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    <legend>@Model.GetLabel()</legend>
    <fieldset class="form-horizontal">

        @{
    this.Html.RenderPartial("EditForm");
        }
        <div class="form-actions">
            <button class="btn btn-large btn-primary pull-right" type="submit">Log in</button>
            <p>
                @Html.ActionLink("Register", "register") if you don't have an account.
            </p>
            <p>
                Forgot your password? Click @Html.ActionLink("here", "PasswordReset") to reset your password.
            </p>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}