@using WB.UI.Designer.BootstrapSupport
@using WB.UI.Designer.Resources
@using WB.UI.Shared.Web.Extensions
@model WB.UI.Designer.Models.ManageAccountModel

@{
    ViewBag.Title = AccountResources.ManageAccount;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div id="edit-form">
    @if (TempData.ContainsKey(Alerts.SUCCESS))
    {
        <div class="alert alert-success header">@Html.Raw(@TempData[Alerts.SUCCESS])</div>
    }
    @if (TempData.ContainsKey(Alerts.ERROR))
    {
        <p class="note has-error">@Html.Raw(@TempData[Alerts.ERROR])</p>
    }


    @Html.Partial("_UpdateUserProfile", Model.UserProfile)
    @Html.Partial("_ChangePassword", Model.ChangePassword)

</div>

@section Scripts {
    @Scripts.Render("~/editform")
}
