@model WB.UI.Designer.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<blockquote class="pull-right">
    <p>
        <b>Manage Account</b><small>Change password</small>
    </p>
</blockquote>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@*@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}*@

@Html.Partial("_ChangePasswordPartial")

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

