@using WB.UI.Designer.BootstrapSupport
@model WB.UI.Designer.Models.ResetPasswordModel

@{
    ViewBag.Title = "Password reset";
    Layout = "~/Views/Shared/Layout.Account.cshtml";
}

@using (Html.BeginForm("PasswordReset", "Account", null, FormMethod.Post, new { @id = "start-reset", autocomplete = "off" }))
{
    <h1>Password reset</h1>

    <p class="note">
        Enter the email address you used as login. We will send you a link for
        password reset <br>
    </p>
    <br>
    <br>

    <div class="form-group">
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "Login" })
        @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "help-inline" })
    </div>
    <br>
    <br>

    <div class="form-actions">
        <input type="submit" class="btn btn-success btn-lg" value="Restore" />
        <a class="btn btn-link" href="@Url.Action("Login")">log in</a>
        <a class="btn btn-link" href="@Url.Action("Register")">Register</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/editform")
}