@using WB.UI.Designer.Resources
@using WB.UI.Shared.Web.Extensions
@model WB.UI.Designer.Models.ResetPasswordModel

@{
    ViewBag.Title = AccountResources.PasswordReset;
    Layout = "~/Views/Account/Layout.Account.cshtml";
}

@using (Html.BeginForm("PasswordReset", "Account", null, FormMethod.Post, new { @id = "start-reset", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <h1>@AccountResources.PasswordReset</h1>

    <p class="note">
        @AccountResources.PasswordResetDescription
    </p>
    if (TempData.ContainsKey(Alerts.ERROR))
    {
        <p class="note has-error">@Html.Raw(@TempData[Alerts.ERROR])</p>
    }
    <div class="form-group">
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = AccountResources.LoginOrEmail })
        @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "help-inline" })
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-success btn-lg" value="@AccountResources.Restore" />
        <a class="btn btn-link" href="@Url.Action("Login")">@AccountResources.Login</a>
        <a class="btn btn-link" href="@Url.Action("Register")">@AccountResources.Register</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/editform")
}
