@using Recaptcha
@model WB.UI.Designer.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layout.empty.cshtml";
}

@using (Html.BeginForm("register", "account", null, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    <h2 class="form-signin-heading">Register</h2>
    @Html.TextBoxFor(x => x.UserName, new { @class = "input-block-level", placeholder = Html.DisplayNameFor(m => m.UserName) })
    @Html.PasswordFor(x => x.Password, new { @class = "input-block-level", placeholder = Html.DisplayNameFor(m => m.Password) })
    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "input-block-level", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
    @Html.TextBoxFor(x => x.Email, new { @class = "input-block-level", placeholder = Html.DisplayNameFor(m => m.Email) })
    <p>
        @Html.Raw(Html.GenerateCaptcha())
    </p>
    <button class="btn btn-large btn-primary" type="submit">Register</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}