@using Main.Core.Entities.SubEntities
@model Main.Core.View.Question.CompleteQuestionView
@{
    ViewBag.EnabledRadioBoxSettings = new Dictionary<string, object>();
    if (!Model.Editable)
    {
        ViewBag.EnabledRadioBoxSettings.Add("Disabled", true);
    }

    var questionKey = (Guid)ViewBag.CurrentQuestion;
    var bodyClass = Model.Enabled ? "" : "ui-disabled";
    bodyClass += " " + (questionKey == Model.PublicKey ? "scrollHere" : "");
    bodyClass += " " + (Model.Answered ? "answered" : "");
    var questionId = "question" + Model.PublicKey;
}
<div class="@bodyClass question row-fluid" id="@questionId">
    <div class="span7">
        @Html.Hidden("QuestionType", Model.QuestionType)
        @{ Html.RenderPartial(string.Format("~/Views/Shared/AnswerList/_{0}.cshtml", Enum.GetName(typeof(QuestionType), Model.QuestionType)), Model); }
        @Html.ValidationMessage("AnswerValue")
        @Html.Hidden("PublicKey", Model.PublicKey)
    </div>
    <div class="span5" style="position: relative">
        @if (!string.IsNullOrEmpty(Model.Comments))
        {
            <div class="popover right comment-popover">
                <div class="arrow">
                </div>
                <h3 class="popover-title">Comment</h3>
                <div class="popover-content">
                    <p>@Model.Comments</p>
                </div>
            </div>
        }
    </div>
</div>
