@using Microsoft.Practices.ServiceLocation
@using WB.Core.BoundedContexts.Headquarters.Services
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.InterviewerModel
@{
    ViewBag.Title = Pages.Interviewer_CreateProfile;

    ViewBag.PageTitle = Pages.Interviewer_Profile;
    ViewBag.PageSubTitle = Pages.Interviewer_CreateProfile;

    ViewBag.ControllerName = "Interviewer";
    ViewBag.ControllerAction = "Create";
    ViewBag.CancelAction = "Back";
    var authorizedUser = ServiceLocator.Current.GetInstance<IAuthorizedUser>();
    ViewBag.IsLockedDisabled = !(authorizedUser.IsHeadquarter || authorizedUser.IsAdministrator);
    Layout = "~/Views/Shared/_UserCreateLayout.cshtml";
}
@section scripts
{
    @Scripts.Render("~/js/interviewer")
    <script type="text/javascript">
        var $supervisorsUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "Teams", action = "Supervisors"})';
        $(document).ready(function () {
            var model = new Supervisor.VM.CreateInterviewer($supervisorsUrl);
            ko.applyBindings(model);
            model.load();
        });
    </script>
}
@section PreDetailsSection
{
    @if (Model.IsShowSupervisorSelector)
    {
        <div class="block-filter">
            <h5>@Html.LabelFor(x => x.SupervisorId)</h5>
            <div class="combo-box">
                <div class="btn-group btn-input clearfix">
                    <input class="form-control" placeholder="Any" data-bind="typeahead: SelectedSupervisor, typeaheadOptions: {source: Supervisors, displayText: function(item){return item.UserName}}, valueupdate:'afterkeydown'" type="text" />
                    <span data-bind="spinner: IsSupervisorsLoading, spinnerOptions: { 'left': 1, 'right': '50px' }"></span>
                    @Html.HiddenFor(x => x.SupervisorId, new { data_bind = @"value: SelectedSupervisor() == null ? '': SelectedSupervisor().UserId" })
                </div>
                <button type="button" class="btn btn-link btn-clear" data-bind="click: function(){ SelectedSupervisor(undefined); }">
                    <span></span>
                </button>
            </div>
            @Html.ValidationMessageFor(x => x.SupervisorId, null, new { @class = @"help-block" })
        </div>
    }
}
@section PostDetailsSection
{
     @Html.EditorFor(x => x.IsLockedBySupervisor, "CheckboxFormField")
}