@using WB.Core.GenericSubdomains.Portable
@model UserEditModel
@{
    ViewBag.ActivePage = MenuItem.Interviewers;
    ViewBag.Title = Pages.Profile_InterviewerEditFormat.FormatString(Model.UserName).RemoveHtmlTags();
    ViewBag.PageTitle = Pages.Profile_InterviewerEditFormat.FormatString(Html.Encode(Model.UserName));
    Layout = "~/Views/Shared/Profile/_UserEditorLayout.cshtml";
}
@section Breadcrumbs
{
    <li>@Html.ActionLink(@Pages.Profile_InterviewersList, "Back")</li>
    <li>@Html.ActionLink(@Pages.Profile_InterviewerProfile, "Profile", new { id = Model.Id })</li>
}
@section PostDetailsSection
{
    @Html.EditorFor(x => x.IsLockedBySupervisor, "CheckboxFormField")
}
@section LockWarningSection
{
    <p>@Pages.Interviewer_LockWarning</p>
}