@using System.Web.Optimization
@using WB.UI.Headquarters.Resources
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.UserEditModel

@{
    ViewBag.Title = string.Format(Pages.InterviewerEdit_TitleFormat, Model.UserName);
}
@section scripts
{
    @Scripts.Render("~/validate")
    <script type="text/javascript">
        $('#umbrella').hide();
    </script>
}
<div class="main">
    @Html.Partial("_alerts")
    <div class="page-header">
        <h2>Edit Interviewer: &nbsp; <small> @Model.UserName</small></h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <fieldset class="form-horizontal">
                    @{
                        this.Html.RenderPartial("UserEditForm");

                        <div class="form-group">
                            @Html.LabelFor(x => x.IsLockedBySupervisor, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.CheckBoxFor(x => x.IsLockedBySupervisor)
                                @Html.ValidationMessageFor(x => x.IsLockedBySupervisor, null, new { @class = "help-block" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-sm-offset-2">
                            <button type="submit" class="btn btn-primary">@Pages.AccountManage_SaveChanges</button>
                            @Html.ActionLink(Pages.Cancel, "Back", new { }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </fieldset>
                        }
        </div>
    </div>
</div>
