@using Microsoft.Practices.ServiceLocation
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.GenericSubdomains.Portable
@model UserEditModel
@{
    ViewBag.Title = Pages.Profile_InterviewerEditFormat.FormatString(Model.UserName).RemoveHtmlTags();
    ViewBag.PageTitle = Pages.Profile_InterviewerEditFormat.FormatString(Model.UserName);

    ViewBag.ControllerName = "Interviewer";
    ViewBag.ControllerAction = "Edit";
    ViewBag.CancelAction = "Profile";
    ViewBag.CancelArgs = new { id = Model.Id };
    ViewBag.IsEditMode = true;
    var authorizedUser = ServiceLocator.Current.GetInstance<IAuthorizedUser>();
    ViewBag.IsLockedDisabled = !(authorizedUser.IsHeadquarter || authorizedUser.IsAdministrator);
    Layout = "~/Views/Shared/Profile/_UserEditorLayout.cshtml";
}
@section Breadcrumbs
{
    <li>@Html.ActionLink(@Pages.Profile_InterviewersList, "Back")</li>
    <li>@Html.ActionLink(@Pages.Profile_InterviewerProfile, "Profile", new { id = Model.Id })</li>
}
@section PostDetailsSection
{
    @Html.EditorFor(x => x.IsLockedBySupervisor, "CheckboxFormField")
}