@using WB.Core.GenericSubdomains.Portable
@model UserEditModel
@{
    ViewBag.ActivePage = MenuItem.Interviewers;
    if (!string.IsNullOrEmpty(Model.UserName))
    {
        ViewBag.Title = Pages.Profile_InterviewerEditFormat.FormatString(Model.UserName).RemoveHtmlTags();
        ViewBag.PageTitle = Pages.Profile_InterviewerEditFormat.FormatString(Html.Encode(Model.UserName));
    }
    Layout = "~/Views/Shared/Profile/_UserEditorLayout.cshtml";
}
@section Breadcrumbs
{
    <li>@Html.ActionLink(@Pages.Profile_InterviewersList, "Back")</li>
    <li>@Html.ActionLink(@Pages.Profile_InterviewerProfile, "Profile", new { id = Model.Id })</li>
}
@section PostDetailsSection
{
    @if (Model.AllowEditLockState)
    {
        @Html.EditorFor(x => x.IsLockedBySupervisor, "CheckboxFormField")
    }
}
@section LockWarningSection
{
    @if (Model.AllowEditLockState)
    {
        <p>@Pages.Interviewer_LockWarning</p>
    }
}
