@using System.Globalization
@using System.Web.Optimization
@using Humanizer
@using Microsoft.Practices.ServiceLocation
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.GenericSubdomains.Portable
@using WB.Core.SharedKernels.DataCollection.ValueObjects.Interview
@model WB.UI.Headquarters.Models.InterviewerProfileModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = string.Format(Pages.InterviewerProfile_TitleFormat, Model.LoginName);
    var authorizedUser = ServiceLocator.Current.GetInstance<IAuthorizedUser>();
    var responsibleOfAssignments = authorizedUser.IsSupervisor ? Model.LoginName : Model.SupervisorName;
    var interviewsControllerOfAssignments = authorizedUser.IsSupervisor ? "Survey" : "HQ";
    var newInterviewsOnDeviceCount = 0;
    var rejectedInterviewsOnDeviceCount = 0;
    if (Model.LastSuccessDeviceInfo != null && Model.LastSuccessDeviceInfo.Statistics != null)
    {
        newInterviewsOnDeviceCount = Model.LastSuccessDeviceInfo.Statistics.NewInterviewsOnDeviceCount;
        rejectedInterviewsOnDeviceCount = Model.LastSuccessDeviceInfo.Statistics.RejectedInterviewsOnDeviceCount;
    }

}
@section scripts
{
    @Styles.Render(@"~/Dependencies/css/markup.css")
    <script type="text/javascript">
        $('#umbrella').hide();
    </script>
    @if (Model.LastSuccessDeviceInfo != null && Model.LastSuccessDeviceInfo.DeviceLocationLat.HasValue && Model.LastSuccessDeviceInfo.DeviceLocationLong.HasValue)
    {
        <script>
            function getAddress() {
                var latlng = {
                    lat: @Model.LastSuccessDeviceInfo.DeviceLocationLat.Value,
                    lng: @Model.LastSuccessDeviceInfo.DeviceLocationLong.Value
                    };

                var geocoder = new google.maps.Geocoder;
                geocoder.geocode({ 'location': latlng },
                    function(results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                $("#device-address").text(results[0].formatted_address);
                            }
                        }
                    });
            }
        </script>
        <script async defer
                src="@string.Format("https://maps.googleapis.com/maps/api/js?key={0}&callback=getAddress", ServiceLocator.Current.GetInstance<GoogleApiSettings>().ApiKey)">
        </script>
    }
}
<main class="enumerators">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Interviewers")">@Pages.InterviewerProfile_Interviewers</a></li>
                </ol>
                <h1>
                    @string.Format(Pages.InterviewerProfile_AssignedToFormat, Model.LoginName, Model.SupervisorName)
                </h1>

                <ul class="list-unstyled">
                    @if (!string.IsNullOrEmpty(Model.Email) || !string.IsNullOrEmpty(Model.FullName) || !string.IsNullOrEmpty(Model.Phone))
                    {
                        <li>@string.Format(Pages.InterviewerProfile_EmailFormat, Model.Email)</li>
                        <li>@string.Format(Pages.InterviewerProfile_FullNameFormat, Model.FullName)</li>
                        <li>@string.Format(Pages.InterviewerProfile_PhoneFormat, Model.Phone)</li>
                    }
                    <li><a href="@Url.Action("Edit", new {Id = Model.Id})">@Pages.InterviewerProfile_Info</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="interviews-information clearfix">
                    <a href="@Url.Action("Interviews", interviewsControllerOfAssignments, new { status = InterviewStatus.InterviewerAssigned, responsible = responsibleOfAssignments })" class="number-information">
                        <div class="amount-of-questionnaires">@newInterviewsOnDeviceCount</div>
                        <div class="description">@Pages.InterviewerProfile_NewOnDevice</div>
                    </a>
                    <a href="@Url.Action("Interviews", interviewsControllerOfAssignments, new { status = InterviewStatus.RejectedBySupervisor, responsible = responsibleOfAssignments })" class="number-information">
                        <div class="amount-of-questionnaires">@rejectedInterviewsOnDeviceCount</div>
                        <div class="description">@Pages.InterviewerProfile_Rejected</div>
                    </a>
                    <a href="@Url.Action("Interviews", interviewsControllerOfAssignments, new { status = InterviewStatus.Completed, responsible = responsibleOfAssignments })" class="number-information">
                        <div class="amount-of-questionnaires">@Model.WaitingInterviewsForApprovalCount</div>
                        <div class="description">@Pages.InterviewerProfile_WaitingForApproval</div>
                    </a>
                    @if (!authorizedUser.IsSupervisor)
                    {
                        <a href="@Url.Action("Interviews", interviewsControllerOfAssignments, new {status = InterviewStatus.ApprovedByHeadquarters, responsible = responsibleOfAssignments})" class="number-information">
                            <div class="amount-of-questionnaires">@Model.ApprovedInterviewsByHqCount</div>
                            <div class="description">@Pages.InterviewerProfile_Approved</div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Model.LastSuccessDeviceInfo != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-6 connection-statistics">
                    <h3>@Pages.InterviewerProfile_DeviceAndConnectionStatistics</h3>
                    <ul class="list-unstyled">
                        <li><b>@Pages.InterviewerProfile_DeviceId: @Model.LastSuccessDeviceInfo.DeviceType @Model.LastSuccessDeviceInfo.DeviceManufacturer @Model.LastSuccessDeviceInfo.DeviceModel (@Model.LastSuccessDeviceInfo.DeviceBuildNumber)</b></li>
                        <li>
                            <b>
                                @Pages.InterviewerProfile_InterviewerAppVersion: @Model.LastSuccessDeviceInfo.AppVersion —
                                @if (!Model.HasUpdateForInterviewerApp)
                                {
                                    <span class="success-text">@Pages.InterviewerProfile_InterviewerUpToDate</span>
                                }
                                else
                                {
                                    <span class="error-text">@Pages.InterviewerProfile_InterviewerCanBeUpdated</span>
                                }
                            </b>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>@Pages.InterviewerProfile_NumberOfSuccessSynchronizations: @Model.TotalSuccessSynchronizationCount</li>
                        <li>@Pages.InterviewerProfile_NumberOfFailedSynchronizations: @Model.TotalFailedSynchronizationCount</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>@string.Format(Pages.InterviewerProfile_LastSuccessSyncFormat, Model.LastSuccessDeviceInfo.SyncDate.ToString(@"MMM dd, hh:mm"), Model.LastSuccessDeviceInfo.SyncDate.Humanize(dateToCompareAgainst: DateTime.UtcNow))</li>
                        @if (Model.LastSuccessDeviceInfo.NetworkType == @"WIFI")
                        {
                            <li>@string.Format(Pages.InterviewerProfile_ConnectionWifiFormat, Model.LastSuccessDeviceInfo.NetworkType)</li>
                        }
                        else
                        {
                            <li>@string.Format(Pages.InterviewerProfile_ConnectionMobileFormat, Model.LastSuccessDeviceInfo.NetworkType, Model.LastSuccessDeviceInfo.NetworkSubType, Model.LastSuccessDeviceInfo.MobileOperator)</li>
                        }
                    </ul>
                    @if (Model.LastFailedDeviceInfo != null)
                    {
                        <ul class="list-unstyled">
                            <li>@string.Format(Pages.InterviewerProfile_LastFailedSyncFormat, Model.LastFailedDeviceInfo.SyncDate.ToString(@"MMM dd, hh:mm"), Model.LastFailedDeviceInfo.SyncDate.Humanize(dateToCompareAgainst: DateTime.UtcNow))</li>
                            @if (Model.LastSuccessDeviceInfo.NetworkType == @"WIFI")
                            {
                                <li>@string.Format(Pages.InterviewerProfile_ConnectionWifiFormat, Model.LastFailedDeviceInfo.NetworkType)</li>
                            }
                            else
                            {
                                <li>@string.Format(Pages.InterviewerProfile_ConnectionMobileFormat, Model.LastFailedDeviceInfo.NetworkType, Model.LastFailedDeviceInfo.NetworkSubType, Model.LastFailedDeviceInfo.MobileOperator)</li>
                            }
                        </ul>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 detailed-statistics-block">
                    <h3>@Pages.InterviewerProfile_DeviceInfo</h3>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td>@Pages.InterviewerProfile_DeviceId</td>
                                <td>@Model.LastSuccessDeviceInfo.DeviceId</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_DeviceSerial</td>
                                <td>@Model.LastSuccessDeviceInfo.DeviceSerialNumber</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_DeviceModel</td>
                                <td>@Model.LastSuccessDeviceInfo.DeviceType @Model.LastSuccessDeviceInfo.DeviceManufacturer @Model.LastSuccessDeviceInfo.DeviceModel (@Model.LastSuccessDeviceInfo.DeviceBuildNumber)</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_DeviceLanguage</td>
                                <td>@Model.LastSuccessDeviceInfo.DeviceLanguage</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_AndroidVersion</td>
                                <td>@string.Format(@"{0} {1}({2})", Model.LastSuccessDeviceInfo.AndroidVersion, Model.LastSuccessDeviceInfo.AndroidSdkVersionName, Model.LastSuccessDeviceInfo.AndroidSdkVersion)</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_InterviewerVersion</td>
                                <td>@Model.LastSuccessDeviceInfo.AppVersion</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_InterviewerUpdatedDate</td>
                                <td>@Model.LastSuccessDeviceInfo.LastAppUpdatedDate.ToString(@"dd MMM yyyy, hh:mm:ss") (UTC)</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_DeviceLocation</td>
                                <td id="device-address">@Model.LastSuccessDeviceInfo.DeviceLocationLat, @Model.LastSuccessDeviceInfo.DeviceLocationLong</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_DeviceOrientation</td>
                                <td>@Model.LastSuccessDeviceInfo.AppOrientation</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_BatteryStatus</td>
                                <td>@string.Format(Pages.InterviewerProfile_BatteryStatusFormat, Model.LastSuccessDeviceInfo.BatteryChargePercent, Model.LastSuccessDeviceInfo.BatteryPowerSource, Model.LastSuccessDeviceInfo.IsPowerInSaveMode ? Pages.InterviewerProfile_BatteryStatus_SaverIsOn : Pages.InterviewerProfile_BatteryStatus_SaverIsOff)</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_StorageInfo</td>
                                <td>@FileSizeUtils.SizeSuffix(Model.LastSuccessDeviceInfo.StorageFreeInBytes)/@FileSizeUtils.SizeSuffix(Model.LastSuccessDeviceInfo.StorageTotalInBytes)</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_MemoryInfo</td>
                                <td>@FileSizeUtils.SizeSuffix(Model.LastSuccessDeviceInfo.RAMFreeInBytes)/@FileSizeUtils.SizeSuffix(Model.LastSuccessDeviceInfo.RAMTotalInBytes)</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_DatabaseInfo</td>
                                <td>@FileSizeUtils.SizeSuffix(Model.LastSuccessDeviceInfo.DBSizeInfo)</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_StartedAssignments</td>
                                <td>@Model.LastSuccessDeviceInfo.NumberOfStartedInterviews</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 detailed-statistics-block">
                    <h3>@Pages.InterviewerProfile_LastConnectionStatistics</h3>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td>@Pages.InterviewerProfile_ServerDate</td>
                                <td>@Model.LastSuccessDeviceInfo.SyncDate.ToString(@"dd MMM yyyy, hh:mm:ss") (UTC)</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_DeviceDate</td>
                                <td>@Model.LastSuccessDeviceInfo.DeviceDate.ToUniversalTime().ToString(@"dd MMM yyyy, hh:mm:ss") (UTC)</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_ConnectionType</td>
                                <td>@Model.LastSuccessDeviceInfo.NetworkType @Model.LastSuccessDeviceInfo.NetworkSubType</td>
                            </tr>
                            @if (Model.LastSuccessDeviceInfo.NetworkType != @"WIFI")
                            {
                                <tr>
                                    <td>@Pages.InterviewerProfile_SignalStrength</td>
                                    <td>@Model.LastSuccessDeviceInfo.MobileSignalStrength/5</td>
                                </tr>
                            }
                            @if (Model.LastSuccessDeviceInfo.Statistics != null)
                            {
                                <tr>
                                    <td>@Pages.InterviewerProfile_DownloadedQuestionnairesCount</td>
                                    <td>@Model.LastSuccessDeviceInfo.Statistics.DownloadedQuestionnairesCount</td>
                                </tr>
                                <tr>
                                    <td>@Pages.InterviewerProfile_DownloadedInterviewsCount</td>
                                    <td>@Model.LastSuccessDeviceInfo.Statistics.DownloadedInterviewsCount</td>
                                </tr>
                                <tr>
                                    <td>@Pages.InterviewerProfile_UploadedInterviewsCount</td>
                                    <td>@Model.LastSuccessDeviceInfo.Statistics.UploadedInterviewsCount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</main>