@using Humanizer
@using Main.Core.Entities.SubEntities
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.BoundedContexts.Headquarters.Views.Device
@using WB.Core.GenericSubdomains.Portable
@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@model WB.UI.Headquarters.Models.InterviewerProfileModel

@{
    ViewBag.ActivePage = MenuItem.Interviewers;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = string.Format(Pages.InterviewerProfile_TitleFormat, Model.LoginName);
    var authorizedUser = ServiceLocator.Current.GetInstance<IAuthorizedUser>();
    var responsibleOfAssignments = authorizedUser.IsSupervisor ? Model.LoginName : Model.SupervisorName;
    var interviewsControllerOfAssignments = authorizedUser.IsSupervisor ? "Survey" : "HQ";
    var newInterviewsOnDeviceCount = 0;
    var rejectedInterviewsOnDeviceCount = 0;
    if (Model.LastSuccessDeviceInfo != null && Model.LastSuccessDeviceInfo.Statistics != null)
    {
        newInterviewsOnDeviceCount = Model.LastSuccessDeviceInfo.Statistics.NewInterviewsOnDeviceCount;
        rejectedInterviewsOnDeviceCount = Model.LastSuccessDeviceInfo.Statistics.RejectedInterviewsOnDeviceCount;
    }
}
@helper ConnectionType(DeviceSyncInfo deviceSync)
{
if (deviceSync.NetworkType == @"WIFI")
{
        <text>(@string.Format(Pages.InterviewerProfile_ConnectionWifiFormat, deviceSync.NetworkType))</text>
}
else
{
        <text>(@string.Format(Pages.InterviewerProfile_ConnectionMobileFormat, deviceSync.NetworkType, deviceSync.NetworkSubType, deviceSync.MobileOperator))</text>
}
}
@helper ConnectionStats(string prefix, DeviceSyncInfo deviceSyncInfo)
{
    <ul class="list-unstyled">
        <li>@prefix: @deviceSyncInfo.SyncDate.ToString(@"MMM dd, hh:mm") (@deviceSyncInfo.SyncDate.Humanize(dateToCompareAgainst: DateTime.UtcNow))</li>
        @{
            var syncStatistics = deviceSyncInfo.Statistics;
        }
        @if (syncStatistics != null)
        {
            <li>@Pages.InterviewerProfile_TotalSyncTime: @syncStatistics.TotalSyncDuration.Humanize()</li>
            <li>
                @Pages.InterviewerProfile_ConnectionSpeed: @syncStatistics.TotalConnectionSpeed.Bytes().Per(TimeSpan.FromSeconds(1)).Humanize(@"0.00")
                @ConnectionType(deviceSyncInfo)
            </li>
                <li>
                    @string.Format(Pages.InterviewerProfile_DataStatsFormat,
               syncStatistics.TotalUploadedBytes.Bytes().Humanize(@"0.00"),
               syncStatistics.TotalDownloadedBytes.Bytes().Humanize(@"0.00"))
            </li>
        }
    </ul>
}
@section scripts
{
    <script type="text/javascript">
        $('#umbrella').hide();
    </script>
    @if (Model.LastSuccessDeviceInfo != null && Model.LastSuccessDeviceInfo.DeviceLocationLat.HasValue && Model.LastSuccessDeviceInfo.DeviceLocationLong.HasValue)
    {
        <script>
            function getAddress() {
                var latlng = {
                    lat: @Model.LastSuccessDeviceInfo.DeviceLocationLat.Value,
                    lng: @Model.LastSuccessDeviceInfo.DeviceLocationLong.Value
                    };

                var geocoder = new google.maps.Geocoder;
                geocoder.geocode({ 'location': latlng },
                    function(results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                $("#device-address").text(results[0].formatted_address);
                            }
                        }
                    });
            }
        </script>
        <script async defer
                src="@string.Format("https://maps.googleapis.com/maps/api/js?key={0}&callback=getAddress", ServiceLocator.Current.GetInstance<GoogleApiSettings>().ApiKey)">
        </script>
    }
}
<main class="enumerators">
    <div class="container">
        <div class="row">
            @Html.Partial("_alerts")
            <div class="page-header">
                @if (!authorizedUser.IsInterviewer)
                {
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Interviewers")">@Pages.InterviewerProfile_Interviewers</a></li>
                    </ol>
                }
                <h1>
                    @string.Format(Pages.InterviewerProfile_AssignedToFormat, Model.LoginName, Model.SupervisorName)
                </h1>

                <ul class="list-unstyled">
                    @if (!string.IsNullOrEmpty(Model.Email) || !string.IsNullOrEmpty(Model.FullName) || !string.IsNullOrEmpty(Model.Phone))
                    {
                        <li>@string.Format(Pages.InterviewerProfile_EmailFormat, Model.Email)</li>
                        <li>@string.Format(Pages.InterviewerProfile_FullNameFormat, Model.FullName)</li>
                        <li>@string.Format(Pages.InterviewerProfile_PhoneFormat, Model.Phone)</li>
                    }

                    <li>
                        @if (!User.IsInRole(UserRoles.Interviewer.ToString()))
                        {
                            if (!Model.IsArchived)
                            {
                                <a href="@Url.Action("Edit", new {Id = Model.Id})">@Pages.InterviewerProfile_Info</a>
                            }
                            else
                            {
                                @Pages.InterviewerIsArchived

                                if (authorizedUser.IsAdministrator)
                                {
                                    <text>(<a href="@Url.Action("UnArchive", new {Id = Model.Id})">@Pages.Unarchive</a>)</text>
                                }
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="interviews-information clearfix">
                    <a href="#" class="number-information">
                        <div class="amount-of-questionnaires">@newInterviewsOnDeviceCount</div>
                        <div class="description">@Pages.InterviewerProfile_NewOnDevice</div>
                    </a>
                    <a href="#" class="number-information">
                        <div class="amount-of-questionnaires">@rejectedInterviewsOnDeviceCount</div>
                        <div class="description">@Pages.InterviewerProfile_Rejected</div>
                    </a>
                    <a href="#" class="number-information">
                        <div class="amount-of-questionnaires">@Model.WaitingInterviewsForApprovalCount</div>
                        <div class="description">@Pages.InterviewerProfile_WaitingForApproval</div>
                    </a>
                    <a href="#" class="number-information">
                        <div class="amount-of-questionnaires">@Model.ApprovedInterviewsByHqCount</div>
                        <div class="description">@Pages.InterviewerProfile_Approved</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    @if (Model.LastSuccessDeviceInfo != null)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 clearfix">
                    <h3>@Pages.InterviewerProfile_Sync_Activity_Title</h3>
                    <div class="graphic-wrapper clearfix">
                        <div class="graphic">
                            @foreach (var syncDay in Model.SynchronizationActivity.Days)
                            {
                                <div class="day-unit">
                                    <div class="day">
                                        @syncDay.Day
                                    </div>
                                    @foreach (var syncDayQuarter in syncDay.Quarters)
                                    {
                                        <div class="quarter-of-day">
                                            <div class="recent-activity">
                                                @if (!syncDayQuarter.HasAnyActivity)
                                                {
                                                    if (syncDayQuarter.FailedSynchronizationsCount > 0)
                                                    {
                                                        <div class="failed-connection"></div>
                                                    }
                                                    else if(syncDayQuarter.SynchronizationsWithoutChangesCount > 0)
                                                    {
                                                        <div class="successful-connection"></div>
                                                    }
                                                }
                                                else
                                                {
                                                    for (int i = 0; i < syncDayQuarter.DownloadedAssignmentsInProportionCount; i++)
                                                    {
                                                        <div class="downloaded"></div>
                                                    }

                                                    for (int i = 0; i < syncDayQuarter.UploadedInterviewsInProportionCount; i++)
                                                    {
                                                        <div class="uploaded"></div>
                                                    }
                                                    if (syncDayQuarter.HasMoreThanMaxActionsCount)
                                                    {
                                                        <div class="over-limit">
                                                            <span></span>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="unfinished-assignments">
                                                <div class="half-of-quarter">
                                                    @for (int i = 0; i < syncDayQuarter.AllAssignmentsOnDeviceCount; i++)
                                                    {
                                                        <div class="unfinished-unit"></div>
                                                    }
                                                </div>
                                                <div class="half-of-quarter">
                                                    @for (int i = 0; i < syncDayQuarter.AllAssignmentsOnDeviceCount; i++)
                                                    {
                                                        <div class="unfinished-unit"></div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                
                            }
                            <div class="day-unit">
                                <div class="quarter-of-day">
                                    <div class="recent-activity">

                                    </div>
                                    <div class="unfinished-assignments">
                                        <div class="half-of-quarter"></div>
                                        <div class="half-of-quarter"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graphic-explanation">
                            <div class="recent-activity">
                                <ul class="list-unstyled">
                                    <li><span class="downloaded"></span>@Pages.InterviewerProfile_Sync_Activity_Downloaded_Assignments_Desc</li>
                                    <li><span class="uploaded"></span>@Pages.InterviewerProfile_Sync_Activity_Uploaded_Interview_Desc</li>
                                    <li><span class="successful-connection"></span>@Pages.InterviewerProfile_Sync_Activity_Nothing_To_Sync</li>
                                    <li><span class="failed-connection"></span>@Pages.InterviewerProfile_Sync_Activity_Failed_Sync</li>
                                </ul>
                            </div>
                            <div class="unfinished-assignments">
                                <p class="primary-text">@Pages.InterviewerProfile_Sync_Activity_All_Assignments_Desc</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 connection-statistics">
                    <h3>@Pages.InterviewerProfile_DeviceAndConnectionStatistics</h3>
                    <ul class="list-unstyled">
                        <li><b>@Pages.InterviewerProfile_DeviceId: @Model.LastSuccessDeviceInfo.DeviceType @Model.LastSuccessDeviceInfo.DeviceManufacturer @Model.LastSuccessDeviceInfo.DeviceModel (@Model.LastSuccessDeviceInfo.DeviceBuildNumber)</b></li>
                        <li>
                            <b>
                                @Pages.InterviewerProfile_InterviewerAppVersion: @Model.LastSuccessDeviceInfo.AppVersion —
                                @if (!Model.HasUpdateForInterviewerApp)
                                {
                                    <span class="success-text">@Pages.InterviewerProfile_InterviewerUpToDate</span>
                                }
                                else
                                {
                                    <span class="error-text">@Pages.InterviewerProfile_InterviewerCanBeUpdated</span>
                                }
                            </b>
                        </li>
                        <li><b>@Pages.InterviewerProfile_DeviceAssignmentDate: @Model.DeviceAssignmentDate.Value.ToString(@"dd MMM yyyy, hh:mm:ss") (UTC)</b></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>@Pages.InterviewerProfile_NumberOfSuccessSynchronizations: @Model.TotalSuccessSynchronizationCount</li>
                        <li>@Pages.InterviewerProfile_NumberOfFailedSynchronizations: @Model.TotalFailedSynchronizationCount</li>
                        <li>
                            @Pages.InterviewerProfile_AverageSyncSpeed: @(Model.AverageSyncSpeedBytesPerSecond == null
                                                                              ? "n/a"
                                                                              : Model.AverageSyncSpeedBytesPerSecond.Value.Bytes().Per(TimeSpan.FromSeconds(1)).Humanize(@"0.00"))
                        </li>
                    </ul>
                    @ConnectionStats(Pages.InterviewerProfile_LastSuccessSync, Model.LastSuccessDeviceInfo)

                    @if (Model.LastFailedDeviceInfo != null)
                    {
                        @ConnectionStats(Pages.InterviewerProfile_LastFailedSync, Model.LastFailedDeviceInfo)
                    }
                    
                    @if (Model.LastSyncronizationDate.HasValue)
                    {
                        <ul class="list-unstyled">
                            <li>@Pages.InterviewerProfile_LastSyncronizationDate: @Model.LastSyncronizationDate.Value.ToString(@"MMM dd, hh:mm") (@Model.LastSyncronizationDate.Humanize(dateToCompareAgainst: DateTime.UtcNow))</li>
                        </ul>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 detailed-statistics-block">
                    <h3>@Pages.InterviewerProfile_DeviceInfo</h3>
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <td>@Pages.InterviewerProfile_DeviceId</td>
                            <td>@Model.LastSuccessDeviceInfo.DeviceId</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_DeviceSerial</td>
                            <td>@Model.LastSuccessDeviceInfo.DeviceSerialNumber</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_DeviceModel</td>
                            <td>@Model.LastSuccessDeviceInfo.DeviceType @Model.LastSuccessDeviceInfo.DeviceManufacturer @Model.LastSuccessDeviceInfo.DeviceModel (@Model.LastSuccessDeviceInfo.DeviceBuildNumber)</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_DeviceLanguage</td>
                            <td>@Model.LastSuccessDeviceInfo.DeviceLanguage</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_AndroidVersion</td>
                            <td>@string.Format(@"{0} {1}({2})", Model.LastSuccessDeviceInfo.AndroidVersion, Model.LastSuccessDeviceInfo.AndroidSdkVersionName, Model.LastSuccessDeviceInfo.AndroidSdkVersion)</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_InterviewerVersion</td>
                            <td>@Model.LastSuccessDeviceInfo.AppVersion</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_InterviewerUpdatedDate</td>
                            <td>@Model.LastSuccessDeviceInfo.LastAppUpdatedDate.ToString(@"dd MMM yyyy, hh:mm:ss") (UTC)</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_DeviceLocation</td>
                            <td id="device-address">
                                @if (Model.LastSuccessDeviceInfo.DeviceLocationLat.HasValue && Model.LastSuccessDeviceInfo.DeviceLocationLong.HasValue)
                                {
                                    <text>@Model.LastSuccessDeviceInfo.DeviceLocationLat, @Model.LastSuccessDeviceInfo.DeviceLocationLong</text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_DeviceOrientation</td>
                            <td>@Model.LastSuccessDeviceInfo.AppOrientation</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_BatteryStatus</td>
                            <td>@string.Format(Pages.InterviewerProfile_BatteryStatusFormat, Model.LastSuccessDeviceInfo.BatteryChargePercent, Model.LastSuccessDeviceInfo.BatteryPowerSource, Model.LastSuccessDeviceInfo.IsPowerInSaveMode ? Pages.InterviewerProfile_BatteryStatus_SaverIsOn : Pages.InterviewerProfile_BatteryStatus_SaverIsOff)</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_StorageInfo</td>
                            <td>@FileSizeUtils.SizeSuffix(Model.LastSuccessDeviceInfo.StorageFreeInBytes)/@FileSizeUtils.SizeSuffix(Model.LastSuccessDeviceInfo.StorageTotalInBytes)</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_MemoryInfo</td>
                            <td>@FileSizeUtils.SizeSuffix(Model.LastSuccessDeviceInfo.RAMFreeInBytes)/@FileSizeUtils.SizeSuffix(Model.LastSuccessDeviceInfo.RAMTotalInBytes)</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_DatabaseInfo</td>
                            <td>@FileSizeUtils.SizeSuffix(Model.LastSuccessDeviceInfo.DBSizeInfo)</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 detailed-statistics-block">
                    <h3>@Pages.InterviewerProfile_LastConnectionStatistics</h3>
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <td>@Pages.InterviewerProfile_ServerDate</td>
                            <td>@Model.LastSuccessDeviceInfo.SyncDate.ToString(@"dd MMM yyyy, hh:mm:ss") (UTC)</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_DeviceDate</td>
                            <td>@Model.LastSuccessDeviceInfo.DeviceDate.ToUniversalTime().ToString(@"dd MMM yyyy, hh:mm:ss") (UTC)</td>
                        </tr>
                        <tr>
                            <td>@Pages.InterviewerProfile_ConnectionType</td>
                            <td>@Model.LastSuccessDeviceInfo.NetworkType @Model.LastSuccessDeviceInfo.NetworkSubType</td>
                        </tr>
                        @*@if (Model.LastSuccessDeviceInfo.NetworkType != @"WIFI")
                                {
                                    <tr>
                                        <td>@Pages.InterviewerProfile_SignalStrength</td>
                                        <td>@Model.LastSuccessDeviceInfo.MobileSignalStrength/5</td>
                                    </tr>
                                }*@
                        @if (Model.LastSuccessDeviceInfo.Statistics != null)
                        {
                            <tr>
                                <td>@Pages.InterviewerProfile_DownloadedQuestionnairesCount</td>
                                <td>@Model.LastSuccessDeviceInfo.Statistics.DownloadedQuestionnairesCount</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_DownloadedInterviewsCount</td>
                                <td>@Model.LastSuccessDeviceInfo.Statistics.DownloadedInterviewsCount</td>
                            </tr>
                            <tr>
                                <td>@Pages.InterviewerProfile_UploadedInterviewsCount</td>
                                <td>@Model.LastSuccessDeviceInfo.Statistics.UploadedInterviewsCount</td>
                            </tr>
                        }
                        <tr>
                            <td>@Pages.InterviewerProfile_StartedAssignments</td>
                            <td>@Model.LastSuccessDeviceInfo.NumberOfStartedInterviews</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</main>