@page
@model IndexModel

@{
    ViewBag.Title = AccountResources.ManageAccount;
}
<div id="edit-form">
    @if (Model.StatusMessage != null)
    {
        <div class="alert alert-success header">@Html.Raw(Model.StatusMessage)</div>
    }
    @if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger header">@Html.Raw(Model.ErrorMessage)</div>
  
    }

<form method="post" class="form-signin" autocomplete="off">
    @Html.AntiForgeryToken()
    <h1>@AccountResources.EditProfile</h1>

    <div class="form-group">
        <input type="text" asp-for="Input.FullName" class="form-control" placeholder="@AccountResources.FullName" />
        <span asp-validation-for="Input.FullName" class="text-danger help-inline"></span>
    </div>
    <div class="form-group">
        <input type="text" asp-for="Input.Email" class="form-control" placeholder="@AccountResources.Email" />
        <span asp-validation-for="Input.Email" class="text-danger help-inline"></span>
        @if (Model.PendingEmail != null)
        {
            <p class="help-block">
                @string.Format(AccountResources.PendingEmailUpdate, Model.PendingEmail)
            </p>
        }
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-success btn-lg" value="@AccountResources.Change" />
        <a asp-page="./questionnaire/my" class="btn">
            @QuestionnaireController.Cancel
        </a>
    </div>

</form>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
