@using RavenQuestionnaire.Web.Models
@model RavenQuestionnaire.Core.Views.Event.File.FileBrowseView
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Upload new images", "Upload", new {}, new {@class="btn  btn-primary"})
</p>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th></th>
            <th>Title </th>
            <th>Description </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                @using (Ajax.BeginForm("UpdateDesc", "Resource", new AjaxOptions() { HttpMethod = "Post" }))
                {
                    <th class="span1">
                        @Html.DisplayFor(modelItem => item.FileName)
                    </th>
                    <td class="span2">
                        <div class="thumbnail">
                            <img src="@Url.Action("Thumb", "Resource", new { id = item.FileName})" alt="@item.Title" />
                        </div>
                    </td>
                    <td class="span2">
                        @Html.TextArea("Title", item.Title, new { @class = "hidden-input", rows = "5" })
                    </td>
                    <td class="span3">
                        @Html.TextArea("Description", item.Description, new { @class = "hidden-input", rows = "5" })
                    </td>
                    <td class="span2">
                        @Html.Hidden("Id", item.FileName)
                        @Html.ActionLink("Delete", "Delete", new { id = item.FileName }, new { @class = "btn btn-small btn-danger " })
                        <button class="btn btn-small btn-primary" type="submit">Save</button>
                    </td>
                }
            </tr>
                
           
        }
    </tbody>
</table>
<div class="pagination">
    @Html.QPager(Model.PageSize, Model.Page, Model.TotalCount)
</div>
