@using System.Web.Optimization
@using Web.Supervisor.Models
@using Web.Supervisor.Utils
@model LogOnModel
@{
    Layout = "~/Views/Shared/_NoAuthenticationLayout.cshtml";
    ViewBag.Title = "Log On";
}
@section scripts
{
     @Scripts.Render("~/validate")
}

<div style="margin-top: 40px;">
    @Html.BootstrapValidationSummary("Login was unsuccessful. Please correct the errors and try again.")    
</div>


@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form-signin" }))
{
    <legend>Please log in</legend>
    <fieldset class="form-horizontal">
        <div class="control-group">
            <div class="control-label">@Html.DisplayNameFor(m => m.UserName)</div>
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "help-inline" })          
            </div>
        </div>
      <div class="control-group">
            <div class="control-label">@Html.DisplayNameFor(m => m.Password)</div>
          <div class="controls">
              @Html.PasswordFor(m => m.Password)
              @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
          </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-large btn-primary pull-right" type="submit">Log in</button>
        </div>
    </fieldset>
}

<div style="margin-top: 40px;">
    <fieldset class="form-horizontal">
        <a href="@Url.Action("GetLatestVersion", "Sync")" class="btn btn-primary pull-right">Get CAPI</a>
    </fieldset>
</div>

