@using WB.Core.BoundedContexts.Headquarters.Authentication
@model WB.UI.Headquarters.Models.AccountModel

@Html.AntiForgeryToken()

@Html.ValidationSummary(true)

@Html.HiddenFor(x => x.Id)
<div class="form-group">
    @Html.LabelFor(x => x.UserName, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-8">
        @if (Model.UserNameChangeAllowed)
        {
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        }
        else
        {
            @Html.HiddenFor(x => x.UserName)
            <input type="text" value="@Model.UserName" class="form-control" disabled="disabled"/>
        }
        @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "help-block" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Password, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(x => x.PasswordConfirm, new { @class="col-sm-4 control-label"})
    <div class="col-sm-8">
        @Html.PasswordFor(x => x.PasswordConfirm, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PasswordConfirm, null, new {@class="help-block"})
    </div>
</div>

<div class="form-group">
    @Html.Label(UsersResources.AssignedRoles, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-8">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(x => x.AdminRoleEnabled)
                @ApplicationRoles.Administrator.LocalizedRoleName()
            </label>
        </div>
    </div>
    <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(x => x.HeadquarterRoleEnabled)
                @ApplicationRoles.Headquarter.LocalizedRoleName()
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-default">@CommonResources.Submit</button>
    </div>
</div>