@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Web.Utils
@model FlowRule
@if (Model != null)
{
    var hideFunctionName = "HideAddRouteForm";
    using (Ajax.BeginForm("SaveRoute", "Status",
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "addNewRoute",
                                             OnComplete = @hideFunctionName
                                         }))
    {

    <div id="addNewRoute" class="modal open form-horizontal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>
                Status Route Rule
            </h3>
        </div>
        <div class="modal-body">
            <fieldset class="form-horizontal">
                @Html.BootstrapValidationSummary("")
                @Html.HiddenFor(model => model.StatusId)
                <div class="control-group">
                    @Html.LabelFor(model => model.ConditionExpression, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => Model.ConditionExpression)
                        @Html.ValidationMessageFor(model => model.ConditionExpression)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.ChangeComment, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => Model.ChangeComment)
                        @Html.ValidationMessageFor(model => model.ChangeComment)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.StatusId, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(model => model.TargetStatus.Id, new SelectList(ViewBag.AllStatuses, "Id", "Title", Model.StatusId))
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
    }
}
