@using RavenQuestionnaire.Core.Views.StatusReport
@model StatusReportView
@{
    ViewBag.Title = "title";
}
<h2>Status Report</h2>
@foreach (var item in Model.Items)
{
    <h3>@item.Title</h3>
    <ul class="nav nav-tabs nav-stacked">
        @foreach (var status in item.Items)
        {
            <li>
                @if (status.QuestionnaireCount != 0)
                {
                    <a href="@Url.Action("QStatuses", "CompleteQuestionnaire", new { QuestionnaireId = item.Id, StatusId = status.StatusId })">@status.StatusTitle
                        <span class="pull-right badge badge-info">@status.QuestionnaireCount</span></a>
                }
                else
                {
                    <a>@status.StatusTitle <span class="pull-right badge badge-info">@status.QuestionnaireCount</span></a>
                }
            </li>
        }
    </ul>
}
