@using RavenQuestionnaire.Core.Views.Status
@using RavenQuestionnaire.Web.Models
@model StatusBrowseView

<h1>Statuses</h1>
<p>Questionnaire: @Model.QuestionnaireId </p>
<p>
    @Html.ActionLink("Create New", "Create", new { qId = Model.QuestionnaireId }, new { @class = "btn small btn-primary" })
</p>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title </th>
            <th title="Defines limitations for roles">Role  restrictions</th>
            <th>Route rules</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="buttons">
                    @Html.ActionLink("Manage", "Edit", new { id = item.Id }, new { @class = "btn small " })
                </td>
                <td class="buttons">
                    @Html.ActionLink("Route", "Route", new { id = item.Id }, new { @class = "btn small " })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination">
    @Html.QPager(Model.PageSize, Model.Page, Model.TotalCount)
</div>
