@using Main.Core.View.Group
@using Core.Supervisor.Views.Survey
@using Main.Core.View.Question
@model SurveyScreenView
@{
    var questionKey = (Guid)ViewBag.CurrentQuestion;
    ViewBag.CurrentQuestion = questionKey;
    ViewBag.AjaxOptions = new AjaxOptions
    {
        OnComplete = "JsonResults"
    };
    ViewBag.CurrentGroupPublicKey = Model.PublicKey;
    ViewBag.QuestionnaireId = Model.QuestionnairePublicKey;
}
<div data-role="page" id="screen-@Model.PublicKey" class="@(ViewBag.PagePrefix) page">
    <div class="title">
    </div>
    <div class="body">
        @foreach (var screen in Model.Screens)
        {
            if (screen.Questions.Count > 0)
            {
                
            <h2 class="heading">
                @screen.Title
            </h2>
            <div class="questions">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    @if (screen.Captions.Count > 0)
                    {
                        <colgroup></colgroup>
                        foreach (var caption in screen.Captions)
                        {
                        <colgroup class="slim" width="@((100 - 40) / screen.Captions.Count)%"></colgroup>
                        }
                        <thead>
                            <tr>
                                <th></th>
                                @foreach (var caption in screen.Captions)
                                {
                                    <th>@caption</th>
                                }
                            </tr>
                        </thead>
                    }
                    else
                    {
                        <colgroup></colgroup>
                        <colgroup></colgroup>
                    }
                    <tbody>
                        @foreach (var question in screen.Questions)
                        {
                            <tr>
                                <td class="question-title">@question.Title
                                </td>
                                @foreach (var answer in question.Answers)
                                {
                                    <td>
                                        <div class="cell-content">@answer.Answer &nbsp;</div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        }
    </div>
    <div class="bottom">
        <div class="inner">
            <div class="btn-group pull-right">
                <a href="#" class="btn btn-mini"><i class="icon-flag"></i>flagged</a> <a href="#"
                    class="btn btn-mini"><i class="icon-ok"></i>answered</a> <a href="#" class="btn btn-mini">
                        <i class="icon-warning-sign"></i>invalid</a> <a href="#" class="btn btn-mini"><i
                            class="icon-pencil"></i>supervisor's</a>
            </div>
        </div>
    </div>
</div>
@helper RenderNavigation(ScreenNavigation screen)
    {
        List<CompleteGroupHeaders> crumbs = screen.BreadCumbs.Skip(1).ToList();
    <ul class="breadcrumb">
        @for (int i = 0; i < crumbs.Count; i++)
        {
            CompleteGroupHeaders breadCumb = crumbs[i];
            if (i == 0)
            {
            <li><a href="@Url.Action("Screen", new { Id = Model.QuestionnairePublicKey, group = breadCumb.PublicKey })" class=" nav-link" data-inline="true" data-role="button"
                data-corners="false" data-icon="arrow-r" data-iconpos="right">@breadCumb.GroupText</a>
                <span class="divider">/</span></li>
            }
            else
            {
            <li><a href="@Url.Action("Screen", new { Id = Model.QuestionnairePublicKey, group = breadCumb.PublicKey })"  class=" nav-link" data-inline="true" data-role="button" data-corners="false" data-icon="arrow-r" data-iconpos="right">@breadCumb.GroupText</a><span
                class="divider">/</span></li>
            }
        }
        <li class="active">
            @screen.CurrentScreenTitle
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div>
                    Description: @Model.Description</div>
            }
        </li>
    </ul>
}
