@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.Survey
@using RavenQuestionnaire.Core.Views.User
@model SurveyGroupView
@foreach (SurveyGroupItem fitem in Model.Items)
{
    <tr id="responsible-@(fitem.Id)">
        @foreach (var item in fitem.FeatureadValue)
        {
            <td>
                @(string.IsNullOrEmpty(item.Value) ? string.Empty : item.Value)
            </td>
        }
        <td id="row-@fitem.Id">
            <div class="assignment-view">
                <a id="link-@fitem.Id" href="@Url.Action("Details", "User", new { id = @fitem.Responsible == null ? string.Empty : fitem.Responsible.Id.ToString() })">@(fitem.Responsible == null ? string.Empty : fitem.Responsible.Name)</a>
            </div>
            <div class="assignment-form">
                @using (Ajax.BeginForm("AssignForm", "Survey", new AjaxOptions { OnComplete = "HideForm" }))
                {
                    var id = fitem.Id + "";
                    @Html.Hidden("CqId", id)
                    @Html.Hidden("TmptId", fitem.TemplateId)
                    <div>@Html.DropDownList("userId", ViewBag.Users as SelectList)</div>
                    <div>
                        <input class="btn btn-primary" name="Save" type="submit" value="Save" />
                        <input class="btn btn-danger" id="canc-@fitem.Id" name="Cancel" type="button" value="Cancel" />
                    </div>
                }
            </div>
        </td>
        <td>@fitem.Status.Name
        </td>
        <td>
            <a class="btn btn-small" href="@Url.Action("Details", new { id = fitem.Id, template = fitem.TemplateId })">
                <i class="icon-list"></i>Details</a>
            @if (fitem.Responsible == null)
            {
                <a class="btn btn-small" href="@Url.Action("Assign", new { id = fitem.Id })"><i class="icon-user">
                </i>Assign</a>    
            }
            else
            {
                <a class="btn btn-small" id="ref-@fitem.Id" href="#" ><i class="icon-random"></i>Change</a>
                <script type="text/javascript">
                    $('#ref-@(fitem.Id)').click(function () {
                        $('#row-@(fitem.Id)').addClass("showForm");
                    });
                    $('#canc-@(fitem.Id)').click(function () {
                        $('#row-@(fitem.Id)').removeClass("showForm");
                    });
                </script>
            }
            @if (fitem.Status.PublicId == SurveyStatus.Complete.PublicId || fitem.Status.PublicId == SurveyStatus.Error.PublicId)
            {
                <a class="btn  btn-small" href="@Url.Action("Approve", new { id = fitem.Id, template = fitem.TemplateId })">
                    <i class="icon-ok-sign"></i>Approve</a>
            }
        </td>
    </tr>
}