@using Main.Core.Entities.SubEntities
@model Core.Supervisor.Views.Survey.SurveyBrowseView
@foreach (var collect in Model.Items)
{
    <tr>
        <td>@Html.ActionLink(collect.Title, "Assigments", new { id = collect.Id })
        </td>
        <td>
        </td>
        @foreach (var it in Model.Headers)
        {

            var status = SurveyStatus.IsValidStatus(it.Value);
            var value = Model.Headers.GetItemValue(collect, it.Key);

            if (status != null)
            {
                
            <td>
                @if (value != "0")
                {
                    @Html.ActionLink(value, "Assigments", new { id = collect.Id, status = status.PublicId })
                }
                else
                {
                    <text>@value</text>
                }
            </td>
            }
            else
            {
            <td>
                @if (value != "0")
                {
                    @Html.ActionLink(value, "Assigments", new { id = collect.Id, isNotAssigned = it.Key == "Total" ? string.Empty : "true" })
                }
                else
                {
                    <text>@value</text>
                }
            </td>
            }


        }
    </tr>
}