@using Main.Core.Entities.SubEntities
@using Main.Core.View.Group
@model Main.Core.View.CompleteQuestionnaire.ScreenGroup.ScreenGroupView
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type = "text/javascript"> </script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({
            cache: false
        });

        $('a.nav-link').live("click", function () {
            var href = $(this).attr('href');

            var ref = $('#sidebar a[href=\"' + href + '\"]');

            if (ref.length > 0) {
                $('#sidebar a').parent().removeClass('active');

                $(ref).parent().addClass('active');
            }

            var request = $.ajax({
                url: href,
                type: "POST",
                data: {},
                dataType: "html"
            });

            request.done(function (msg) {
                $("#content_container").html(msg);

                $('div.expander').expander();
            });

            request.fail(function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
            return false;
        });
    });
    function JsonResults(data) {
        var response = jQuery.parseJSON(data.responseText);
        if (response.status === "ok") {

        } else {
            alert(response.error);
        }
    };
</script>
<h2 class="inline">@*<a class="btn btn-back" title="back to list" href="@Url.Action("Documents", new { id = ViewBag.TemplateId })">
    <i class=" icon-chevron-left"></i></a>*@
    @if (!string.IsNullOrEmpty(Model.Status.ChangeComment))
    { 
        <a  data-content="@Model.Status.ChangeComment" data-placement="bottom" rel="popover" href="#" data-original-title="Survey comment">@Model.Title</a>
    }
    else
    {
        <text>@Model.Title</text>
    }
</h2>
<div class="row-fluid">
    <div class="span3">
        <div data-role="panel" data-id="menu">
            <!-- Start of first page -->
            <div data-role="page" id="sidebar">
                <!-- /header -->
                <div data-role="content" class="with-footer dummy-scroll">
                    <ul class="nav nav-list bs-docs-sidenav">
                        @foreach (CompleteGroupHeaders gh in Model.Navigation.Menu)
                        {
                            var activ = @gh.Enabled ? "" : "ui-disabled";
                            <li class="@activ" id="@gh.PublicKey"><a class="nav-link" id="ref-link-@(gh.PublicKey)"  data-panel="main" href="@Url.Action("Screen", new { Id = Model.QuestionnairePublicKey, group = gh.PublicKey })" >
                                <span id="counter-@(gh.PublicKey)" class="badge badge-info ui-li-count current">@(gh.Totals.Answered)/@gh.Totals.Enablad</span>
                                <span class="link-text">@gh.GroupText</span>
                                </a></li>
                        }
                    </ul>
                    <br />
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li id="statusHistoryLink"><a class="nav-link" id="ref-link-statusHistoryLink" href="@Url.Action("StatusHistory", new { Id = Model.QuestionnairePublicKey })" >
                            Status history</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="span9">
        <div data-role="panel" data-id="main" id="content_container" class='@((Model.Status.PublicId == SurveyStatus.Complete.PublicId) ? "ui-disabled" : "")'>
            @Html.Partial("_SurveyContent", Model)
        </div>
    </div>
</div>
