@model RavenQuestionnaire.Core.Views.Survey.SurveyGroupItem
@{ var name = "responsible-" + Model.Id;

   var id = Model.Id;}
<td>@Model.Title
</td>
@foreach (var item in Model.FeatureadValue)
{
    <td>
        @{ string s1 = string.IsNullOrEmpty(item.Value) ? string.Empty : item.Value; }
        @s1
    </td>
}
<td id="row-@Model.Id">
    <div class="assignment-view">
        <a id="link-@Model.Id" href="@Url.Action("Details", "User", new { id = @Model.Responsible == null ? string.Empty : Model.Responsible.Id })">@(Model.Responsible == null ? string.Empty : Model.Responsible.Name)</a>
    </div>
    <div class="assignment-form" >
        @using (Ajax.BeginForm("Assign", "Survey", new AjaxOptions() { OnComplete = "HideForm"}))
        {
            @Html.Hidden("CqId", id)
            @Html.DropDownList("userId", ViewBag.Users as SelectList)
            <input name="Save" type="submit" value="Save" />
            <input id="canc-@Model.Id" name="Cancel" type="button" value="Cancel" /> 
        }
    </div>
</td>
<td>@Model.Status.Name
</td>
<td>    
    <a id="ref-@Model.Id" href="#" >@(Model.Responsible == null ? "Assign" : "Change")</a> 
    <script type="text/javascript">
        function HideForm(data) {
            $('#row-@(Model.Id)').removeClass("showForm");
            var json = jQuery.parseJSON(data.responseText);
            $('#link-'+json.cqId).replaceWith('<a id="link-' + json.cqId + '" href="/User/Details/' + json.userId + '">' + json.userName + '</a>');
        }
        $('#ref-@(Model.Id)').click(function () {
            $('#row-@(Model.Id)').addClass("showForm");
        });
        $('#canc-@(Model.Id)').click(function () {
            $('#row-@(Model.Id)').removeClass("showForm");
        });
    </script>
</td>
