@using RavenQuestionnaire.Core.Views.Survey
@model SurveyGroupItem
@{
    string name = "responsible-" + Model.Id;

    string id = Model.Id;
}
@foreach (var item in Model.FeatureadValue)
{
    <td>
        @{ string s1 = string.IsNullOrEmpty(item.Value) ? string.Empty : item.Value; }
        @s1
    </td>
}
<td id="row-@Model.Id">
    <div class="assignment-view">
        <a id="link-@Model.Id" href="@Url.Action("Details", "User", new { id = @Model.Responsible == null ? string.Empty : Model.Responsible.Id })">@(Model.Responsible == null ? string.Empty : Model.Responsible.Name)</a>
    </div>
    <div class="assignment-form">
        @using (Ajax.BeginForm("AssignForm", "Survey", new AjaxOptions { OnComplete = "HideForm" }))
        {
            @Html.Hidden("CqId", id)
            <div>@Html.DropDownList("userId", ViewBag.Users as SelectList)</div>
            <div>
                <input class="btn btn-primary" name="Save" type="submit" value="Save" />
                <input class="btn btn-danger" id="canc-@Model.Id" name="Cancel" type="button" value="Cancel" />
            </div>
        }
    </div>
</td>
<td>@Model.Status.Name
</td>
<td>
    @if (Model.Responsible == null)
    {
        <a href="@Url.Action("Assign", new { id = Model.Id })">Assign</a>    
    }
    else
    {
        <a id="ref-@Model.Id" href="#" >Change</a>
        <script type="text/javascript">
            function HideForm(data) {
                $('#row-@(Model.Id)').removeClass("showForm");
                var json = jQuery.parseJSON(data.responseText);
                if (json.userId != null && json.userName != null) {
                    $('#link-' + json.cqId).replaceWith('<a id="link-' + json.cqId + '" href="/User/Details/' + json.userId + '">' + json.userName + '</a>');
                }
                else {
                    $('#link-' + json.cqId).replaceWith('<a id="link-' + json.cqId + '" href="/User/Details/"></a>');
                }
            }

            $('#ref-@(Model.Id)').click(function () {
                $('#row-@(Model.Id)').addClass("showForm");
            });
            $('#canc-@(Model.Id)').click(function () {
                $('#row-@(Model.Id)').removeClass("showForm");
            });
        </script>
    }
</td>
