@using Core.Supervisor.Views.Index
@using ClientDependency.Core.Mvc
@model IndexView
@{
    this.ViewBag.Title = "Surveys";
}
@{
    Html.RequiresJs("plotSettings.js", "Scripts", 70);
}
<script type="text/javascript">
    var sortData = undefined;
    var pageSize = @Model.PageSize;
    var chart;
    var filterUser = @(Model.User==null? "null":Model.User.Id.ToString());
    $(document).ready(function() {
        $('#filterUser').editable().on('save', function(e, params) {
            filterUser = params.newValue;
            sortData = [{ Field: "Title", Direction: "Asc" }];
            getTablePage(sortData, 1);
        });

        makeSortable();
        onPagingClick();

        init();
    });

    function makeSortable() {
        $("#questionnaireTable table").tablesorter({
                send: function(data) {
                    sortData = JSON.parse(JSON.stringify(data));
                    getTablePage(data, 1);
                }
        });
    }

    function onPagingClick() {
        $(".pagination li:not(.disabled):not(.active) a").click(function(e) {
            var page = getParameterByName($(this).attr('href'), "page");
            getTablePage(sortData, page === "" ? 1 : page * 1);
            return false;
        });
    }

    function getTablePage(data, page) {
        $.ajax({
                type: "POST",
                url: "@Url.Action("TableData", "Survey")",
            data: JSON.stringify({ InterviwerId: filterUser, SortOrder: data, Pager: { Page: page, PageSize: pageSize } }),
                contentType: 'application/json, charset=utf-8',
                statusCode: {
                    200: function(response) {
                        $('#questionnaireTable tbody').html($(response).find('#table tbody').html());
                        $('#paging').html($(response).find('#paging').html());
                        var parsedHTML = response.replace(/script/gi, 'rickscript'); 
                        $(parsedHTML).find('rickscript').each(function (index, domEle) {
                            if (!$(this).attr('src')) {
                                eval($(this).text()); //feeling lucky execute it
                            }
                        });
                        init();
                        onPagingClick();
                    }
                }
            });
    }

    function getParameterByName(ref, name) {
        name = name.replace( /[\[]/ , "\\\[").replace( /[\]]/ , "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(ref);
        if (results == null)
            return "";
        else
            return decodeURIComponent(results[1].replace( /\+/g , " "));
    }
    
</script>
<h2>Surveys and Questionnaire Statuses. Filtered by Interviewer: <a href="#" id="filterUser" 
                  data-placement="bottom" 
                  data-type="select" 
                  data-source="@Url.Action("UsersJson", "User")"
                  data-prepend='All'             
                  data-original-title="Select user">@(this.Model.User==null?"All":Model.User.Name)</a> </h2>
<div id="questionnaireTable">
    @this.Html.Partial("_Table", this.Model)
</div>





