@using System.Web.Optimization
@model IEnumerable<Core.Supervisor.Views.Survey.SurveyUsersViewItem>
@{
    Layout = "~/Views/Shared/_ListViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Scripts/vm/surveylistview.js")
    @Html.Partial("_ListViewStatusesScript")
    <script type="text/javascript">
        var $interviewsUrl = '@Url.Action("Interviews", "Survey")';
        $(function() {
            var model = new SurveyListViewModel('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "SurveysApi", action = "Surveys" })');

            ko.applyBindings(model);
            model.load();
        });
    </script>
}

@section header
{
    <h3 class="sinle-line-header">Surveys and Statuses</h3>
}

@section filters
{
    <ul>
        <li class="heading"><span>FILTER</span></li>
        <li><label>Interviewers</label>
            <select data-bind="value: SelectedUser" class="input-block-level">
                @if (Model.Count() > 1)
                {
                    <option>Any</option>
                }
                @foreach (var item in Model)
                {
                    <option value="@item.UserId">@item.UserName</option>
                }
            </select>
        </li>
    </ul>
}

@section grid
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th data-bind='sortby: "TemplateName"'>Survey Name</th>
                <th data-bind='sortby: "InitialCount"'>Initial</th>
                <th data-bind='sortby: "RedoCount"'>Redo</th>
                <th data-bind='sortby: "CompletedCount"'>Completed</th>
                <th data-bind='sortby: "CompletedWithErrorsCount"'>Completed with Errors</th>
                <th data-bind='sortby: "ApprovedCount"'>Approved</th>
                <th data-bind='sortby: "TotalCount"'>Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:ListView.Items -->
            <tr>
                <td>
                    <a data-bind="attr: { href: $interviewsUrl + '?templateid=' + Template.TemplateId() }, text: Template.Title"></a>
                </td>
                <td data-bind="template: { name: 'unassignedTemplate' }"></td>
                <td data-bind="template: { name: 'initialTemplate' }"></td>
                <td data-bind="template: { name: 'redoTemplate' }"></td>
                <td data-bind="template: { name: 'completedTemplate' }"></td>
                <td data-bind="template: { name: 'errorTemplate' }"></td>
                <td data-bind="template: { name: 'approvedTemplate' }"></td>
                <td>
                    <a data-bind="attr: { href: $interviewsUrl + '?templateid=' + Template.TemplateId() }, text: Total"></a>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}