<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "Designer")</title>
    @Html.GenerateFavicon(Url.Content("~/favicon"))

   
    @RenderSection("Styles", required: false)


    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        function FrameCheck() {
            if (top != self)
                top.location.replace(self.location.href);
        }


/**/</script>
  <script type="module" crossorigin src="/js/modulepreload-polyfill-Dezn_h7o.js"></script>
  <script type="module" crossorigin src="/js/jquery.min-C_f0gXTg.js"></script>
  <script type="module" crossorigin src="/js/jquery.validate-BNHd3WRN.js"></script>
  <script type="module" crossorigin src="/js/mande-DxfJll3o.js"></script>
  <script type="module" crossorigin src="/js/validation-DQt_H95g.js"></script>
  <script type="module" crossorigin src="/js/logon-BQQAVZPK.js"></script>
  <script type="module" crossorigin src="/js/bootstrap.esm-BKm9ZB6s.js"></script>
  <script type="module" crossorigin src="/js/simplepage-f1F1wJnT.js"></script>
  <link rel="stylesheet" crossorigin href="/css/validation-CL_jtmSE.css">
  <link rel="stylesheet" crossorigin href="/css/logon-B1UfAnx1.css">
</head>
<body onload="FrameCheck();">
    <header>
        <a href="http://www.worldbank.org" class="logo"></a>
    </header>

    <section id="start-page">
        <div class="content-holder-outer">
            <div class="content-holder-inner">
                <div class="content-block">
                    <div class="form-holder">
                        <div class="form-row">
                            <div class="form-left">
                                <img src="~/i/designer-logo.png" />
                                <p>
                                    @AccountResources.AppDescription
                                </p>
                            </div>
                            <div class="form-splitter">
                                <div class="vline"></div>
                            </div>
                            <div class="form-right">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <partial name="_commonFooter"/>
    </footer>
</body>
</html>
