@model WB.UI.Designer.Models.SharingNotificationModel

@Html.Raw(string.Format(NotificationResources.TranfserOwnershipNotification, @Model!.UserCallName, @Model.ActionPersonCallName, @Model.ShareTypeName))

<a href="@Model.QuestionnaireLink">
    @Model.QuestionnaireDisplayTitle
</a>
