@using WB.UI.Designer.NavigationRoutes
@using StackExchange.Profiling
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
   @* @MiniProfiler.RenderIncludes()*@
    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@
</head>
<body class="loading">
    <div class="loading-backdrop"></div>
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>
                <a href="@Url.RouteUrl("Default")" class="brand">Designer</a>
                <div class="nav-collapse ">
                    @Html.Navigation()
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @Html.Partial("_alerts")
        @RenderBody()
    </div>
    <footer>
        <hr>
        <p>&copy; The World Bank Group @System.DateTime.Now.ToString("yyyy")</p>
    </footer>
</body>
</html>

