@using WB.UI.Designer.Resources
© @DateTime.Now.Year.ToString() <a href="http://www.worldbankgroup.org">@AccountResources.CompanyName</a>, @AccountResources.AllRights <a href="http://web.worldbank.org/WBSITE/EXTERNAL/0,,contentMDK:20146401~pagePK:50016803~piPK:50016805~theSitePK:13,00.html">@AccountResources.Legal</a>.
<br>
@AccountResources.TesterApp
<br>
<a href="https://play.google.com/store/apps/details?id=org.worldbank.solutions.Vtester">
    <img alt="@AccountResources.TesterAppImageDescription"
         src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge-border.png" height="60" width="185"/>
</a>