<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.png")">
    @Styles.Render("~/Content/main")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="loading">
    <div class="loading-backdrop"></div>
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a href="@Url.Action("Index", "Questionnaire")" class="brand">Home</a>
                <div class="nav-collapse ">
                    <ul id="menu" class="nav">
                        <li>@Html.ActionLink("Survey templates", "Index", "Questionnaire") </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    @Scripts.Render(
        "~/bundles/jquery", 
        "~/bundles/jqueryui",
        "~/bundles/jsextlibs", 
        "~/Scripts/require.js"
    )
    @RenderSection("Scripts", false)
</body>
</html>
