@using WB.UI.Designer.Resources
<div class="modal fade" id="mExportPdf">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Html.Raw(string.Format(QuestionnaireController.GeneratingPdf, "<span id=\"export-pdf-modal-questionnaire-title\">?</span>"))</h4>
            </div>
            <div class="modal-body">
               @* <div class="start-pdf-generation">
                    <div class="input-group">
                        <input class="form-control with-clear-btn languages-combobox" placeholder="Any" data-bind="typeahead2: Users.AssignTo, typeaheadOptions2: {source: Users.LoadUsers, displayText: function(item){return item.UserName}, afterSelect: StoreInteviewer }, valueupdate:'afterkeydown'" type="text"/>

                        <button id="pdfGenerateButton" class="btn btn-primary pull-left">@QuestionnaireController.GeneratePdf</button>
                    </div>
                </div>*@
                
                <div class="start-pdf-generation">
                    <p>Some explanation text</p>
                    <div class="input-group">
                        <input class="form-control with-clear-btn languages-combobox" placeholder="Choose language" type="text" />
                        <span class="input-group-btn">
                            <button id="pdfClearButton" class="btn btn-cancel" type="button"><span></span></button>
                            <button id="pdfGenerateButton" class="btn btn-default" type="button">@QuestionnaireController.GeneratePdf</button>
                        </span>
                    </div>
                </div>
                <pre id="export-pdf-modal-status">@QuestionnaireController.Initializing...</pre>
            </div>
            <div class="modal-footer">
                <button id="pdfDownloadButton" class="btn btn-primary pull-left">@QuestionnaireController.DownloadPdf</button>
                <button id="pdfRetryGenerate" class="btn btn-primary" onclick="questionnaireActionModel.retryPdfExport()">@QuestionnaireController.RetryExportPDF</button>
                <button id="pdfCancelButton" class="btn pull-right" data-dismiss="modal" aria-hidden="true">@QuestionnaireController.Cancel</button>
            </div>
        </div>
    </div>
</div>
