@using WB.UI.Designer.BootstrapSupport.HtmlHelpers

@model IPagedList

<blockquote class="pull-right">
    <p>
        <b>@ViewBag.Title</b><small>Listing</small>
    </p>
</blockquote>

<form class="form-search">
    <div class="input-prepend">
        <button type="submit" class="btn">Search</button>
        <input type="text" class="span2 search-query" name="f" value="@ViewBag.Filter">
    </div>
</form>

@if (Model.TotalCount == 0)
{
    <p class="text-center" style="line-height: 10em">This list does not contain any records</p>
}
else
{
    @Html.Partial("ListView")
    @Html.Pager(Model.PageIndex, Model.TotalPages, x => Url.Action(WB.UI.Designer.GlobalHelper.CurrentAction, WB.UI.Designer.GlobalHelper.CurrentController, new { p = x, sb = ViewBag.SortBy, so = ViewBag.SortOrder, f = ViewBag.Filter }), " pagination-right")
}
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
</p>
@{
    this.Html.RenderPartial("DeleteModalDialog");
}