@using WB.UI.Designer.BootstrapSupport.HtmlHelpers

@model IPagedList

<blockquote class="pull-right">
    <p>
        <b>@ViewBag.Title</b><small>Listing</small>
    </p>
</blockquote>

<form id="frmSearch" class="form-search">
    <div class="input-prepend input-append">
        <a class="btn add-on" onclick="$('#frmSearch').submit()">Search</a>
        <input id="txtFilter" type="text" class="span2" name="f" value="@ViewBag.Filter" />
        <a class="btn add-on" onclick="$('#txtFilter').val(''); $('#frmSearch').submit();">x</a>
    </div>
</form>

@if (Model.TotalCount == 0)
{
    <p class="text-center" style="line-height: 10em">This list does not contain any records</p>
}
else
{
    @Html.Partial("ListView")
    @Html.Pager(Model.PageIndex, Model.TotalPages, x => Url.Action(WB.UI.Designer.GlobalHelper.CurrentAction, WB.UI.Designer.GlobalHelper.CurrentController, new { p = x, sb = ViewBag.SortBy, so = ViewBag.SortOrder, f = ViewBag.Filter }), " pagination-right")
}
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
</p>
@{
    this.Html.RenderPartial("DeleteModalDialog");
}