@using WB.UI.Designer.BootstrapSupport
@using WB.UI.Designer.BootstrapSupport.HtmlHelpers
@using WB.UI.Designer.Extensions
@model IPagedList
<blockquote class="pull-right">
    <p>
        <b>@ViewBag.Title</b><small>Listing</small>
    </p>
</blockquote>

<form class="form-search">
    <div class="input-prepend">
        <button type="submit" class="btn">Search</button>
        <input type="text" class="span2 search-query" name="f" value="@ViewBag.Filter">
    </div>
</form>

@if (Model.TotalCount == 0)
{
    <p class="text-center" style="line-height: 10em">This list does not contain any records</p>
}
else
{
    <table class="table table-striped">
        <caption></caption>
        <thead>
            <tr>
                @foreach (var property in Model.VisibleProperties())
                {
                    <th>
                        @Html.ActionLink(property.GetLabel().ToSeparatedWords(), WB.UI.Designer.GlobalHelper.CurrentAction, new { p = ViewBag.PageIndex, sb = property.Name, so = CustomExtensions.InvertSpecial(ViewBag.SortOrder, ViewBag.SortBy == property.Name), f = ViewBag.Filter })
                        @if (ViewBag.SortBy == property.Name)
                        {
                            if (ViewBag.SortOrder == null || !(bool)ViewBag.SortOrder)
                            {
                            <i class="icon-chevron-up"></i>
                            }
                            else
                            {
                            <i class="icon-chevron-down"></i>
                            }
                        }
                    </th>

                }
                <th></th>
            </tr>
        </thead>
        @{ int index = 0; }
        @foreach (var model in Model)
        {
            ViewData[index.ToString()] = model;
            <tr>
                @foreach (var property in model.VisibleProperties())
                {
                    <td>
                        @Html.Display(index + "." + property.Name)
                    </td>
                }
                <td>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @{
                                @Html.TryPartial("_actions", model)
                var routevalues = model.GetIdValue();
                                <li>@Html.ActionLink("Edit", "Edit", routevalues)</li>
                                <li>@Html.ActionLink("Details", "Details", routevalues)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Delete", "Delete", routevalues)</li>

                            }
                        </ul>
                    </div>

                </td>
            </tr>
                index++;
        }

    </table>
    @Html.Pager(Model.PageIndex, Model.TotalPages, x => Url.Action(WB.UI.Designer.GlobalHelper.CurrentAction, WB.UI.Designer.GlobalHelper.CurrentController, new { p = x, sb = ViewBag.SortBy, so = ViewBag.SortOrder, f = ViewBag.Filter }), " pagination-right")
}
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
</p>

