@using WB.UI.Shared.Web.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @this.GenerateFavicon(Url.Content("~/Content/identity/favicon-designer"))
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    <style type="text/css">
        body {
            background-color: #f5f5f5;
        }
    </style>
    @* to avoid cross-frame scripting *@
    <script type="text/javascript">
        function FrameCheck() {
            if (top != self)
                top.location.replace(self.location.href);
        }
    </script>

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
    @Html.Partial("_html5shiv")
    @Html.Partial("_trackers")
    @* favicons and touch icons go here *@
</head>
<body onload="FrameCheck();">
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>
                <a href="http://www.worldbank.org" class="network-name">The World Bank</a>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 80px">
        <div class="row-fluid">
            @Html.Partial("_alerts")
            @RenderBody()
        </div>
        <div class="row-fluid">
            <hr>
            <footer class="text-center">
                @Html.Partial("_commonFooter")
            </footer>
        </div>
    </div>
</body>
</html>

