@model Web.Supervisor.Models.BatchUploadModel
@{
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
    ViewBag.Title = "Index";
}
<div class="row-fluid">

    <h3>Upload preloading data</h3>
    <a href="@Url.Action("TemplateDownload", "HQ", new { id = Model.QuestionnaireId, version = Model.QuestionnaireVersion })" class="btn btn-primary">Download template of data struture</a>
    <div>
        @using (Html.BeginForm("BatchUpload", "HQ", new { id = Model.QuestionnaireId, version =Model.QuestionnaireVersion }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            
            @Html.HiddenFor(x => x.QuestionnaireId)
            @Html.HiddenFor(x => x.QuestionnaireVersion)
            <div class="control-group">
                @Html.LabelFor(x => x.File, new { @class = "control-label" })
                <div class="controls">
                    <input type="file" class="input-large" name="file" />
                    @Html.ValidationMessageFor(x => x.File)
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" name="Submit" value="Upload" />
            </div> 
        }
    </div>
</div>
