@model WB.Core.SharedKernels.DataCollection.Services.ImportResult

@if (Model.IsSuccessed)
{
    <h2>@(Model.IsCompleted ? "Completed" : "Processing...")</h2>
    if (Model.Header != null)
    {
    <table class="table table-striped table-bordered table-condensed table-break-words">
        <thead>
            <tr>
                @foreach (var item in Model.Header)
                {
                    <th>@Html.DisplayFor(modelItem => item)</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Values != null)
            {
                for (int i = 0; i < Model.Values.Length; i++)
                {
                <tr>
                    @foreach (var item in Model.Values[i])
                    {
                        <th>@item</th>
                    }
                </tr>
                }
            }
        </tbody>
    </table>
    }
}
else
{
    <h2>Error</h2>
    <div>@Model.ErrorMessage</div>
}

@if (Model.IsCompleted || !Model.IsSuccessed)
{

    <script>
        isStopMarker = true;
    </script>
}


@if (Model.IsCompleted && Model.IsSuccessed)
{
    <div class="btn-group">
        <a href="@Url.Action("CreateSample", "HQ", new { id = Model.Id })" class="btn btn-primary"><i class="icon-white"></i>Create sample from this data</a>

    </div>

}