
@model Web.Supervisor.Models.HQDashboardModel

@{
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="span6">
        <h3>Supervisors</h3>
        <table class="table table-striped table-bordered table-condensed table-break-words">
            <thead>
                <tr>
                    <th>Team Lead</th>
                    <th>Email</th>
                    <th>Members</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Teams.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h3>Questionnaires</h3>
        <table class="table table-striped table-bordered table-condensed table-break-words">
            <thead>
                <tr>
                    <th>Title</th>
                    <th></th>
                    <td>Export Data</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Questionnaires.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="buttons">
                            <div class="btn-group">
                                <a href="@Url.Action("BatchUpload", "HQ", new { id = item.QuestionnaireId })" class="btn btn-primary"><i class="icon-white"></i>Batch upload</a>
                                <a href="@Url.Action("TakeNew", "HQ", new { id = item.QuestionnaireId })" class="btn btn-primary"><i class="icon-plus icon-white"></i>New Interview</a>
                             
                            </div>
                        </td>
                         <td>
                        <div class="btn-group">
                            <a class="btn  btn-small btn-success" href="@Url.Action("GetExportedData", "ImportExport", new { id = item.QuestionnaireId, type = "csv" })">
                                <i class="icon-download icon-white"></i>CSV</a>
                            <a class="btn  btn-small btn-success" href="@Url.Action("GetExportedData", "ImportExport", new { id = item.QuestionnaireId, type = "tab" })">
                                <i class="icon-download icon-white"></i>TAB</a>
                        </div>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
