@using System.Web.Optimization
@using Newtonsoft.Json
@using Web.Supervisor.Code
@using AppSettings = Web.Supervisor.Code.AppSettings
@{
    ViewBag.Title = "MapReport";
}

<div id="report-builder">
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <label class="control-label" for="questionnaire">Questionnaire</label>
                <div class="controls">
                    <select class="input-block-level" id="questionnaire" data-bind="options: questionnaires, value: selectedQuestionnaire, optionsText : 'Title', optionsCaption : 'Select questionnaire'"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="version">Version</label>
                <div class="controls">
                    <select class="input-block-level" id="version" data-bind="options: questionnaireVersions, value: selectedVersion, optionsCaption : 'Select version', enable : questionnaireVersions"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="version">Variables</label>
                <div class="controls">
                    <select class="input-block-level" id="version" data-bind="options: questionnaireVariables, value: selectedVariable, optionsText: 'Variable', optionsCaption : 'Select variable', enable : questionnaireVariables"></select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="input-block-level btn" data-bind="click: showPointsOnMap, enable : selectedVariable">Add markers on map</button>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-pane">
        <div class="row-fluid">
            <div class="span12">
                <button class="input-block-level btn btn-danger" data-bind="click: clearAllMarkers">Clear all markers</button>
            </div>
        </div>
    </div>
</div>
<div id="map-canvas" class="google-maps" />

@section scripts
{
   
    @Scripts.Render("~/js/list")
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=@(AppSettings.Instance.GoogleMapApiKey)&sensor=false">
    </script>
@Scripts.Render("~/Scripts/lodash.underscore.min.js", "~/Scripts/markerclusterer_compiled.js")
    @Scripts.Render("~/Scripts/viewmodels/pages/mapreport.js")
    <script type="text/javascript">
        var commandExecutionUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "CommandApi", action = "ExecuteCommands" })';
        var $questionnairesListUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "Questionnaires" })';
        var $questionnaireQuestionstUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "QuestionInfo" })';
        var $mapReportUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "MapReport" })';

        $(function () {
            window.model = new Supervisor.VM.MapReport(commandExecutionUrl, $questionnairesListUrl, $questionnaireQuestionstUrl, $mapReportUrl);
            ko.applyBindings(model);
            model.initializeMap();
            model.load();
        });
    </script>
}

@section styles
{

}
