@using System.Web.Optimization
@model IEnumerable<Core.Supervisor.Views.Summary.SummaryTemplateViewItem>
@{
    Layout = "~/Views/Shared/_ListViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Scripts/vm/summarylistview.js")
    @Html.Partial("_ListViewStatusesScript")

    <script type="text/javascript">
        var $surveysUrl = '@Url.Action("Surveys", "HQ")';
        var $interviewsUrl = '@Url.Action("Interviews", "HQ")';
        $(function () {
            var model = new SummaryListViewModel('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "SummaryApi", action = "Summary" })');
            ko.applyBindings(model);
            model.load();
        });
    </script>
}

@section header
{
    <h2 class="sinle-line-header">Supervisors and Questionnaire Statuses.</h2>
}

@section filters
{
    <ul class="nav nav-list">
        <li class="nav-header">FILTER</li>
        <li class="divider"></li>
        <li>Template:
            <select data-bind="value: SelectedTemplate">
                <option>Any</option>
                @foreach (var item in Model)
                {
                    <option value="@item.TemplateId">@item.TemplateName</option>
                }
            </select>
        </li>
    </ul>
}

@section grid
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th data-bind='click: ListView.sort.bind($data, "User.Name") '>Interviewers</th>
                <th data-bind='click: ListView.sort.bind($data, "Unassigned")'>Unassigned</th>
                <th data-bind='click: ListView.sort.bind($data, "Initial")'>Initial</th>
                <th data-bind='click: ListView.sort.bind($data, "Redo")'>Redo</th>
                <th data-bind='click: ListView.sort.bind($data, "Completed")'>Completed</th>
                <th data-bind='click: ListView.sort.bind($data, "Error")'>Completed with Errors</th>
                <th data-bind='click: ListView.sort.bind($data, "Approved")'>Approved</th>
                <th data-bind='click: ListView.sort.bind($data, "Total")'>Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:ListView.Items -->
            <tr>
                <td>
                    <a data-bind="attr: { href: $surveysUrl + '?interviewerid=' + User.Id() }, text: User.Name"></a>
                </td>
                <td data-bind="template: { name: 'unassignedTemplate' }"></td>
                <td data-bind="template: { name: 'initialTemplate' }"></td>
                <td data-bind="template: { name: 'redoTemplate' }"></td>
                <td data-bind="template: { name: 'completedTemplate' }"></td>
                <td data-bind="template: { name: 'errorTemplate' }"></td>
                <td data-bind="template: { name: 'approvedTemplate' }"></td>
                <td data-bind="text: Total"></td>
            </tr>
            <!-- /ko -->
            <!-- ko if:ListView.ItemsSummary != null -->
            <tr data-bind="with: ListView.ItemsSummary">
                <th data-bind="text: User.Name"></th>
                <th data-bind="text: Unassigned"></th>
                <th data-bind="text: Initial"></th>
                <th data-bind="text: Redo"></th>
                <th data-bind="text: Completed"></th>
                <th data-bind="text: Error"></th>
                <th data-bind="text: Approved"></th>
                <th data-bind="text: Total"></th>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}

