@using System.Web.Optimization
@model IEnumerable<Core.Supervisor.Views.Survey.SurveyUsersViewItem>
@{
    Layout = "~/Views/Shared/_ListViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Scripts/vm/surveylistview.js")
    @Html.Partial("_ListViewStatusesScript")

    <script type="text/javascript">
        var $interviewsUrl = '@Url.Action("Interviews", "HQ")';
        $(function () {
            var model = new SurveyListViewModel('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "SurveysApi", action = "Surveys" })');

            ko.applyBindings(model);
            model.load();
        });
    </script>
}

@section header
{
    <h3>Surveys and Statuses</h3>
}

@section filters
{
    <ul>
        <li class="heading"><span>FILTER</span></li>
        <li class="filter"><label>Supervisors</label>
            <select data-bind="value: SelectedUser" class="input-block-level">
                <option>Any</option>
                @foreach (var item in Model)
                {
                    <option value="@item.UserId">@item.UserName</option>
                }
            </select>
        </li>
    </ul>
}

@section grid
{

        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th data-bind='sortby: "Template.Title"'>Survey Name</th>
                    <th data-bind='sortby: "Unassigned"'>Unassigned</th>
                    <th data-bind='sortby: "Initial"'>Initial</th>
                    <th data-bind='sortby: "Redo"'>Redo</th>
                    <th data-bind='sortby: "Completed"'>Completed</th>
                    <th data-bind='sortby: "Error"'>Completed with Errors</th>
                    <th data-bind='sortby: "Approved"'>Approved</th>
                    <th data-bind='sortby: "Total"'>Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach:ListView.Items -->
                <tr>
                    <td>
                        <a data-bind="attr: { href: $interviewsUrl + '?templateid=' + Template.TemplateId() }, text: Template.Title"></a>
                    </td>
                    <td data-bind="template: { name: 'unassignedTemplate' }"></td>
                    <td data-bind="template: { name: 'initialTemplate' }"></td>
                    <td data-bind="template: { name: 'redoTemplate' }"></td>
                    <td data-bind="template: { name: 'completedTemplate' }"></td>
                    <td data-bind="template: { name: 'errorTemplate' }"></td>
                    <td data-bind="template: { name: 'approvedTemplate' }"></td>
                    <td>
                        <a data-bind="attr: { href: $interviewsUrl + '?templateid=' + Template.TemplateId() }, text: Total"></a>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>

}