@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section scripts
{
    @RenderSection("scripts", false)
    @Scripts.Render("~/validate")
    <script type="text/javascript">
        $(function () {
            $.each($('.form-control'), function (index, value) {
                if ($(this).val().length > 0) {
                    $(this).parent(".field").addClass("answered");
                }

                $(this).change(function () {
                    if ($(this).val().length > 0) {
                        $(this).parent(".field").addClass("answered");
                    }
                    else {
                        $(this).parent(".field").removeClass("answered");
                    }
                });
                $(this).parent().children(".btn-clear").click(function () {
                    $(this).parent().removeClass("answered");
                    $(this).parent().find("input").val('').blur();
                });
            });
        });
    </script>
    <style>
        .field-validation-valid {
            display: none !important;
        }
    </style>
}
<main>
    <div class="container-fluid">
        @Html.Partial("_alerts")
        <div class="page-header">
            <ol class="breadcrumb">
                @RenderSection("Breadcrumbs", false)
            </ol>
            <h1>@Html.Raw(ViewBag.PageTitle)</h1>
        </div>
        @RenderBody()
    </div>
</main>
