@model WB.Core.SharedKernels.SurveyManagement.Web.Models.UserModel
@{
    Layout = "_EditorLayout.cshtml";
    var lockedDisabled = (bool?)ViewBag.IsLockedDisabled ?? false;
    var controllerAction = ViewBag.CreateAction as string ?? @"Create";
    var controllerName = ViewBag.ControllerName as string;
}
@section scripts {
    @RenderSection(@"scripts", false)
}
@section Breadcrumbs
{
    @RenderSection("Breadcrumbs", false)
}
<div class="row extra-margin-bottom">
    @using (Html.BeginForm(controllerAction, controllerName, FormMethod.Post, new { @class = @"profile" }))
    {
        @Html.AntiForgeryToken()
        @RenderSection(@"PreFormSection", false)
        <div class="col-sm-12">
            @RenderSection(@"PreDetailsSection", false)
            @Html.EditorFor(x => x.UserName, "TextBoxFormField")
            @Html.EditorFor(x => x.Password, "PasswordFormField")
            @Html.EditorFor(x => x.ConfirmPassword, "PasswordFormField")
            @Html.EditorFor(x => x.IsLocked, "CheckboxFormField", lockedDisabled ? (object)new { } : (object)new { @disabled = @"disabled" })
            @RenderSection(@"PostDetailsSection", false)
            @Html.Partial("Profile/ValidationSummary")
        </div>

        <div class="col-sm-12">
            <div class="separate-line"></div>
        </div>

        <div class="col-sm-12">
            <h5 class="extra-margin-bottom">@Html.Raw(Pages.PublicSection)</h5>
            @Html.EditorFor(x => x.PersonName, "TextBoxFormField", new { disableClientValidation = true })
            @Html.EditorFor(x => x.Email, "TextBoxFormField")
            @Html.EditorFor(x => x.PhoneNumber, "TextBoxFormField")
        </div>
        
        @Html.EditorForModel("CreateButtonsRow")
    }
</div>
@RenderBody()