@model IPasswordRequired

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "Change_Password__";
}

@using (Html.BeginForm("UpdatePassword", null, FormMethod.Post, new { @class = @"profile" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.UserName)
<div class="col-sm-7">
    <h2>@Pages.AccountManage_ChangePassword</h2>
</div>
<div class="col-sm-12">
    @Html.EditorFor(x => x.Password, "PasswordFormField")
    @Html.EditorFor(x => x.ConfirmPassword, "PasswordFormField")
    @Html.Partial("Profile/ValidationSummary")
</div>
    @Html.EditorForModel("UpdateButtonsRow")
}
