@using WB.UI.Designer.Resources
@using WB.UI.Shared.Web.Extensions

@model WB.UI.Designer.Models.QuestionnaireViewModel

@{
    ViewBag.Title = QuestionnaireController.CreateNew;
}

<div id="edit-form">
    @if (TempData.ContainsKey(Alerts.SUCCESS))
    {
        <div class="alert alert-success header">@Html.Raw(@TempData[Alerts.SUCCESS])</div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h1>@QuestionnaireController.CreateNewQuestionnaire</h1>
        if (TempData.ContainsKey(Alerts.ERROR))
        {
            <p class="note has-error">@Html.Raw(@TempData[Alerts.ERROR])</p>
        }
        <div class="form-group">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = QuestionnaireController.QuestionnaireTitle })
            @Html.ValidationMessageFor(x => x.Title, null, new { @class = "help-inline" })
        </div>

        <div class="form-actions">
            <input type="submit" class="btn btn-success btn-lg" value="@QuestionnaireController.Create" id="inputSubmitQuestionnaire" />
            @Html.ActionLink(QuestionnaireController.Cancel, "Index", "Questionnaire", null, new { @class = "btn " })
        </div>
    }
</div>

@section Scripts {
    @Styles.Render("~/editform-css")
    @Scripts.Render("~/editform")
    <script>
        $(function () {
            $('#edit-form').submit(function () {
                $('#inputSubmitQuestionnaire').attr("disabled", true);
                return true;
            });
        });</script>
}
