@using WB.UI.Designer.Resources

@model WB.UI.Designer.Models.QuestionnaireListModel
@{
    ViewBag.Title = QuestionnaireController.PublicQuestionnaires;
    ViewBag.TableCssClass = "page-with-breadcrumbs";

    bool isSupportAssignFolders = Model.IsSupportAssignFolders;
}
@section Scripts {
    @Scripts.Render("~/list")

    @if (isSupportAssignFolders)
    {
        @Styles.Render("~/Content/plugins/folders-skin")
        @Scripts.Render("~/folders")
    }
    
    <script type="text/javascript">
        var ajusteHeight = function(){
            var height = $(".public-questionnaires-breadcrumb").outerHeight();
            $( ".wrapper-questionnaire-table #table-content-holder" ).css("bottom", height);
        };
        $(document).ready(function () { 
            ajusteHeight();
        });
        $( window ).resize(function() {
            ajusteHeight();
        });
    </script>
}

<ol class="breadcrumb public-questionnaires-breadcrumb">
    @foreach (var folder in Model.Breadcrumbs)
    {
        if (folder.FolderId.HasValue && folder.FolderId != Guid.Empty)
        {
             <li>@Html.ActionLink(folder.Title, "Public", "Questionnaire", new {id = folder.FolderId}, null)</li>
        }
        else if (folder.FolderId == Model.CurrentFolderId)
        {
            <li class="active">@folder.Title</li>
        }
        else 
        {
            <li>@Html.ActionLink(folder.Title, "Public", "Questionnaire", new { }, null)</li>
        }
    }
</ol>

@Html.Partial("QuestionnairesList", Model.Questionnaires)

@section Modal
{
    <div>
        @Html.Partial("DeleteModalDialog")
    </div>
    <div>
        @Html.Partial("ExportPdfModalDialog")
    </div>
    <div>
        @Html.Partial("ExportHtmlModalDialog")
    </div>
    
    @if (isSupportAssignFolders)
    {
        <div>
            @Html.Partial("AssignFolderDialog")
        </div>
    }
}
