@using WB.UI.Designer.Resources

@{
    ViewBag.Title = QuestionnaireController.QuestionnaireTreeFolders;
}

@section Scripts {
    @Styles.Render("~/folders/lib/tree/skin")
    @Scripts.Render("~/simplepage")
    @Scripts.Render("~/folders")

    <script type="text/javascript">
        $(function () {
            var subFoldersUrl  = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "PublicFoldersApi", action = "GetFolders" })';
            var rootFoldersUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "PublicFoldersApi", action = "GetRootFolders" })';
            var addNodeUrl     = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "PublicFoldersApi", action = "CreateFolder" })';
            var renameNodeUrl  = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "PublicFoldersApi", action = "RenameFolder" })';
            var removeNodeUrl  = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "PublicFoldersApi", action = "RemoveFolder" })';

            window.foldersModel = new FoldersModel($("#jstree"), rootFoldersUrl, subFoldersUrl, addNodeUrl, renameNodeUrl, removeNodeUrl);
        });
    </script>
}

<div id="edit-form">
    <div id="jstree">
    </div>
</div>


