@using Newtonsoft.Json
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@using WB.UI.Headquarters.Utils
@using ASP

@{
    ViewBag.Title = MainMenu.CreateNew;
    ViewBag.ActivePage = MenuItem.CreateNew;
    Layout = @"~/Views/Shared/_MainLayout.cshtml";
}

<div id="vueApp" configuration="@JsonConvert.SerializeObject(
new {
    basePath = Url.Content(@"~/InterviewerHq"),
    title = @MainMenu.CreateNew,
    dateFormat = @WB.Core.BoundedContexts.Headquarters.Extensions.ClientDateTimeFormat,
    assignmentsEndpoint = Url.Content(@"~/api/Assignments"),
    interviewerHqEndpoint = Url.Content(@"~/interviewerHq"),
    authorizedUser = ServiceLocator.Current.GetInstance<IAuthorizedUser>(),
    resources = new[] {MainMenu.ResourceManager, Assignments.ResourceManager, Common.ResourceManager, Pages.ResourceManager}.Translations()
})"></div>

@Html.StaticScipt(@"~/InterviewerApp/dist/vendor.bundle.js")
@Html.StaticScipt(@"~/InterviewerApp/dist/app.bundle.js")
