@using Newtonsoft.Json
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@using WB.UI.Headquarters.Utils
@using ASP

@{
    ViewBag.Title = MainMenu.CreateNew;
    ViewBag.ActivePage = MenuItem.CreateNew;
    Layout = @"~/Views/Shared/_MainLayoutHq.cshtml";
}
@section scripts {
    <script>
        window.CONFIG.title = '@MainMenu.CreateNew';
        window.CONFIG.assignmentsEndpoint = '@Url.Content(@"~/api/Assignments")';
        window.CONFIG.interviewerHqEndpoint = '@Url.Content(@"~/interviewerHq")';
        window.CONFIG.resources = @Html.Raw(@JsonConvert.SerializeObject(
                                 new[] { MainMenu.ResourceManager, Assignments.ResourceManager, Common.ResourceManager, Pages.ResourceManager }.Translations()
                                 ));
        
    </script>
}
<div id="vueApp"></div>