@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@using WB.Core.Infrastructure.Versions
@using WB.Core.SharedKernels.SurveyManagement.Web.Code
@using WB.UI.Headquarters.Services
@using WB.UI.Shared.Web.Extensions
@{
    var authorizedUser = DependencyResolver.Current.GetService<IAuthorizedUser>();
}
@functions{
    public string TokenHeaderValue()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="@TokenHeaderValue()">
    
    @this.GenerateFavicon(Url.Content("~/Content/identity/favicon-hq"))

    <title>@ViewBag.Title</title>

    <!-- cssLibs:css -->
    <link rel="stylesheet" href="@Url.Content("~/Dependencies/build/libs.css")">
    <!-- endinject -->
    <!-- css_markup:css -->
    <link rel="stylesheet" async href="@Url.Content("~/Dependencies/build/markup.css")">
    <!-- endinject -->
    @RenderSection("styles", false)
    @if (!(ViewBag.ExcludeMarkupSpecific == true))
    {
    <!-- css_markupSpecific:css -->
    <link rel='stylesheet' async href='@Url.Content("~/Dependencies/build/markup-specific.css")'>
    <!-- endinject -->
    }   
    @RenderSection(@"JsLibsHeader", false)
    
    @Html.Partial("GlobalSettings")
    @RenderSection("scripts", false)
</head>
<body class='wide-navbar @(ViewBag.AlwaysScroll == true? "always-visible-scroll" : "")'>
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid ">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a href="javascript:void(0);" class="active-page">  @( ViewBag.SpecificPageCaption ?? Html.ActivePage())</a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar top-menu"></span>
						<span class="icon-bar mid-menu"></span>
						<span class="icon-bar bottom-menu"></span>
					</button>
					<div class="navbar-brand">
						<a class="logo" href="@Url.Action("Index", "Account" )"></a>
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar">
					@if (authorizedUser.IsAdministrator)
					{
					@Html.Partial("AdminMainMenu")
					}
					else if (authorizedUser.IsHeadquarter)
					{
					@Html.Partial("HeadquartersMainMenu")
					}
					else if (authorizedUser.IsSupervisor)
					{
					@Html.Partial("SupervisorMainMenu")
					} else if (authorizedUser.IsInterviewer)
					{
					@Html.Partial("InterviewerMainMenu")
					}
					else
					{
					@Html.Partial("ObserverMainMenu")
					}
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	@if (authorizedUser.IsObserving || ViewBag.GlobalNotice != null)
	{
	<div class="panel view-mode">
		@if (authorizedUser.IsObserving)
		{
		<div class="panel-heading panel-warning">
			@Html.Raw(string.Format(Users.ObserverDisclaimerFormat, User.Identity.Name)) <a href="@Url.Action("ReturnToObserver", "Account" , new {area=string.Empty})">@Users.ClickToReturn</a>
		</div>
		}
		@if (ViewBag.GlobalNotice != null)
		{
		<div class="panel-heading">
			<div class="alerts">
				<div class="alert alert-info alert-dismissible text-center" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					@ViewBag.GlobalNotice
				</div>
			</div>
		</div>
		}
	</div>
	}
	@RenderBody()
	<footer class="footer">
		<div class="container-fluid">
			<div class="text-right">
				&copy; @DateTime.Now.Year.ToString() <a href="http://www.worldbankgroup.org">@Pages.Layout_WorldBank</a>, @Pages.Layout_RightsReserved <a href="http://go.worldbank.org/OS6V7NIUD0">@Pages.Layout_Legal</a>.
			</div>
			<div class="text-right">
				@(DependencyResolver.Current.GetService<IProductVersion>
					())
					@if (AppSettings.IsDebugBuilded)
					{
					<span id="build-config">[.NET Debug]</span>
					}

					@if (HttpContext.Current.IsDebuggingEnabled)
					{
					<span id="compile-config" style="color: red">Web Debug</span>
					}
					<span>|</span>
					<a href="@Url.Action("Index","Download")">@Common.GetInterviewerApp</a>
					@if (DependencyResolver.Current.GetService<IVersionCheckService>
						().DoesNewVersionExist())
						{
						<div>
							<span style="background-color: #ff8;">@Common.NewVersionAvailable @(DependencyResolver.Current.GetService<IVersionCheckService>().GetNewVersionString()) </span>
						</div>
						}
			</div>
		</div>
	</footer>

	@RenderSection("JsLibsFooter", false)
	@Html.Partial("Clickjacking")
</body>
</html>
