@using WB.UI.Headquarters.Resources
@using WB.UI.Shared.Web.Extensions
<div id="alerts">

    @if (ViewBag.GlobalNotice != null)
    {
        <div class="alert alert-info alert-dismissible text-center " role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @ViewBag.GlobalNotice
        </div>
    }

    @if (TempData.ContainsKey(Alerts.ATTENTION))
    {
        <div class="alert alert-warning">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>@Pages.Attention</strong>
            @Html.Raw(@TempData[Alerts.ATTENTION])
        </div>
    }
    @foreach (string key in Alerts.ALL.Except(new[] {Alerts.ATTENTION}))
    {
        if (TempData.ContainsKey(key))
        {
            <div class="alert alert-@key">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.Raw(@TempData[key])
            </div>
        }
    }
</div>
