@using System.Web.Optimization
@using System.Web.UI.WebControls
<!DOCTYPE html>

@helper MenuItem(string text, string action, string controller) {
    var currentController = (string) @Html.ViewContext.RouteData.Values["controller"];
        
    <li class="@(string.Equals(controller, currentController, StringComparison.InvariantCultureIgnoreCase) ? "active" : "")">
        @Html.ActionLink(text, action, controller)
    </li>    
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @Styles.Render("~/content/bootstrap")
    
    @Styles.Render("~/content/app")
    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <title>@ViewBag.Title</title>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                @Html.ActionLink("Headquarters", "Index", "Home", null, new { @class = "navbar-brand" })
                
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @MenuItem("Users", "Index", "Users")
                </ul>
                @using (Html.BeginForm("Signout", "Account", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                {
                    <button class="btn btn-primary" type="submit">Sign Out</button>
                    @Html.AntiForgeryToken()
                }
            </div>
        </div>
    </div>

    <div class="container">

        <div>
            @RenderBody()
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
</body>
</html>
