@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @Styles.Render("~/css/list")
    @RenderSection("styles", false)
}
@section scripts
{
    @Scripts.Render("~/js/list")
    @RenderSection("scripts", false)
}

<div id="menu" class="col-sm-3 col-md-2 sidebar">

    <div class="panel panel-default">
        <div class="panel-heading with-btn">
            <div class="btn-group btn-group-sm pull-left">
                <button data-bind="click: ToggleFilter" class="btn btn-default" type="button"><span class="glyphicon glyphicon-arrow-left"></span> @Pages.HideFilter</button>
            </div>
        </div>
        @RenderSection("filters", false)
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="content">
    @Html.Partial("_notice")
    @Html.Partial("_alerts")
    @RenderSection("header", false)
    <div class="panel panel-default">
        <div class="panel-body">

            <span data-bind="visible: !IsFilterOpen()">
                <button data-bind="click: ToggleFilter" class="btn btn-default" type="button"><span class="glyphicon glyphicon-arrow-right"></span> @Pages.ShowFilter</button>
            </span>
            @RenderSection("actionbar", false)
        </div>
    </div>

    @RenderSection("gridnavigation", false)
    
    @if (IsSectionDefined("grid"))
    {
        <div id="list">
            <!-- ko if:IsPageLoaded()  -->
            <p class="text-center" data-bind="visible: Pager().TotalItemCount() == 0">
                @Pages.NoResults
            </p>
            <!-- /ko -->
            <div class="horizontal-scroll" data-bind="visible: Pager().TotalItemCount() > 0">
                @RenderSection("grid", false)
            </div>
            <!-- ko if:Pager().LastPage() > 1 -->
            <div class="pagination pagination-right" data-bind="template: { name: 'tpl-pager', data: Pager }"></div>
            <!-- /ko -->
        </div>
    }
    
    @if (IsSectionDefined("chart"))
    {
        <div id="list">
            @RenderSection("chart", false)
        </div>
    }

    @this.RenderBody()

    @Html.Partial("_ListViewPagingScript")

</div>

