@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @RenderSection("styles", false)
}
@section scripts
{
    @RenderSection("scripts", false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#umbrella').hide();
        });
    </script>
}
@section output
{
    @RenderSection("output", false)
}
<div class="col-sm-12 col-md-12 main" id="content">
    @Html.Partial("_alerts")
    @RenderBody()
</div>
