@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @RenderSection("styles", false)
}
@section scripts
{
    @RenderSection("scripts", false)
}
@section output
{
    @RenderSection("output", false)
}
<div id="content">
    <div>
        @Html.Partial("_alerts")
    </div>
    <div>
        @RenderBody()
    </div>
</div>
