@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section  styles
{
    @RenderSection("styles", false)
}
@section scripts
{
    @Scripts.Render("~/js/list")
    @RenderSection("scripts", false)
}

<div id="content">
    <div>
        @Html.Partial("_alerts")
    </div>
    @RenderSection("header", false)

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" data-bind="click: ToggleFilter">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon" data-bind="css: { 'glyphicon-zoom-in': !IsFilterOpen(), 'glyphicon-zoom-out': IsFilterOpen()}"></span>
                        Filters
                    </button>
                </div>
            </div>
            <div id="filtersCollapse" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        @RenderSection("filters", false)
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="menubar">

        @*<div id="filters" class="filters collapse">
                @RenderSection("filters", false)
            </div>*@
        @RenderSection("actionbar", false)
    </div>
    @RenderSection("gridnavigation", false)

    <div id="list">
        <!-- ko if:IsPageLoaded()  -->
        <p class="text-center" data-bind="visible: Pager().TotalItemCount() == 0">
            No results found
        </p>
        <!-- /ko -->
        <div class="horizontal-scroll" data-bind="visible: Pager().TotalItemCount() > 0">
            <div class="innerLR ">
                @RenderSection("grid", true)
            </div>
        </div>
        <!-- ko if:Pager().LastPage() > 1 -->
        <div class="innerLR ">
            <div class="pagination pagination-right" data-bind="template: { name: 'tpl-pager', data: Pager }"></div>
        </div>
        <!-- /ko -->
    </div>
    @this.RenderBody()

</div>

@Html.Partial("_ListViewPagingScript")