@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @Styles.Render("~/css/list")
    @RenderSection("styles", false)
}
@section scripts
{
    @Scripts.Render("~/js/list")
    @RenderSection("scripts", false)
}

<div id="menu" class="col-sm-3 col-md-2 hidden-phone">
    <div id="menuInner" class="slim-scroll">
        <div class="hide-panel-block text-right innerLR">
            &larr;&nbsp;<a class="pseudo-link" data-bind="click: ToggleFilter">Hide filter</a>
        </div>
        @RenderSection("filters", false)
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="content">
    <div class="innerLR">@Html.Partial("_alerts")</div>
    <div class="page-header">
        @RenderSection("header", false)
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span data-bind="visible: !IsFilterOpen()"><a class="pseudo-link" data-bind="click: ToggleFilter">Show filter</a>&nbsp;&rarr;</span>
            @RenderSection("actionbar", false)
        </div>
        <div class="panel-body">
            @RenderSection("gridnavigation", false)

            <div id="list">
                <!-- ko if:IsPageLoaded()  -->
                <p class="text-center" data-bind="visible: Pager().TotalItemCount() == 0">
                    No results found
                </p>
                <!-- /ko -->
                <div class="horizontal-scroll" data-bind="visible: Pager().TotalItemCount() > 0">
                    <div class="innerLR ">
                        @RenderSection("grid", true)
                    </div>
                </div>
                <!-- ko if:Pager().LastPage() > 1 -->
                <div class="innerLR ">
                    <div class="pagination pagination-right" data-bind="template: { name: 'tpl-pager', data: Pager }"></div>
                </div>
                <!-- /ko -->
            </div>
            @this.RenderBody()

            @Html.Partial("_ListViewPagingScript")
        </div>
    </div>
</div>

