@using Microsoft.Practices.ServiceLocation
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.Infrastructure.Versions
@using WB.Core.SharedKernels.SurveyManagement.Web.Code
@using WB.UI.Headquarters.Code
@using WB.UI.Headquarters.Models.VersionCheck
@using WB.UI.Shared.Web.Extensions
@{
    var authorizedUser = ServiceLocator.Current.GetInstance<IAuthorizedUser>();
}

@functions{
    public string TokenHeaderValue()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="@TokenHeaderValue()">
    
    @this.GenerateFavicon(Url.Content("~/Content/identity/favicon-hq"))

    <!-- cssLibs:css -->
    <link rel="stylesheet" href="@Url.Content("~/Dependencies/build/libs.css")">
    <!-- endinject -->
    <!-- cssApp:css -->
    <link rel="stylesheet" href="@Url.Content("~/Dependencies/build/markup.css")">
    <!-- endinject -->
    <!-- jsLibs:js -->
    <script type="text/javascript" src="@Url.Content("~/Dependencies/build/libs.js")"></script>
    <!-- endinject -->
    @Scripts.Render("~/js/new-ui.js")
    <title>@ViewBag.Title</title>
    @RenderSection("scripts", false)
</head>
<body class="wide-navbar">
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="javascript:void(0);" class="active-page">@Html.ActivePage()</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-menu"></span>
                    <span class="icon-bar mid-menu"></span>
                    <span class="icon-bar bottom-menu"></span>
                </button>
                <a class="navbar-brand rotate-brand" href="@Url.Action("Index", "Account")"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                @if (authorizedUser.IsAdministrator)
                {
                    @Html.Partial("AdminMainMenu")
                }
                else if (authorizedUser.IsHeadquarter)
                {
                    @Html.Partial("HeadquartersMainMenu")
                }
                else if (authorizedUser.IsSupervisor)
                {
                    @Html.Partial("SupervisorMainMenu")
                }
                else
                {
                    @Html.Partial("ObserverMainMenu")
                }
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
    
    @if (authorizedUser.IsObserving)
    {
        <div class="panel panel-warning view-mood">
            <div class="panel-heading">
                @Html.Raw(string.Format(Users.ObserverDisclaimerFormat, User.Identity.Name)) <a href="@Url.Action("ReturnToObserver", "Account", new {area = string.Empty})">@Users.ClickToReturn</a>
            </div>
        </div>
    }

@RenderBody()
    
    <footer class="footer">
        <div class="container-fluid">
            <div class="text-left">
                &copy; @DateTime.Now.Year.ToString() <a href="http://www.worldbankgroup.org">@Pages.Layout_WorldBank</a>, @Pages.Layout_RightsReserved <a href="http://go.worldbank.org/OS6V7NIUD0">@Pages.Layout_Legal</a>.
            </div>
            <div class="text-left">
                @(ServiceLocator.Current.GetInstance<IProductVersion>())
                @if (AppSettings.IsDebugBuilded)
                {
                    <span id="build-config">[.NET Debug]</span>
                }

                @if (HttpContext.Current.IsDebuggingEnabled)
                {
                    <span id="compile-config" style="color: red">Web Debug</span>
                }
                <span>|</span>
                <a href="@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "InterviewerSync", action = "GetLatestVersion" })">@Common.GetInterviewerApp</a>
                @if (ViewBag.LastAvailableApplicationVersion != null && (((VersionCheckingInfo)ViewBag.LastAvailableApplicationVersion).Build > ServiceLocator.Current.GetInstance<IProductVersion>().GetBildNumber()))
                {
                    <div>
                        <span style="background-color: #ff8;">@Common.NewVersionAvailable @(((VersionCheckingInfo)ViewBag.LastAvailableApplicationVersion).VersionString) </span>
                    </div>
                }
            </div>
        </div>
    </footer>

    <!-- jsApp:js -->
    <!-- endinject -->

    @Html.Partial("Clickjacking")
    @Html.Partial("GlobalSettings")
</body>
</html>
