@using WB.UI.Shared.Web.Extensions
@{
    Layout = "~/Views/Shared/_SharedAuthenticationLayout.cshtml";
}

@section favico{
    @this.GenerateFavicon(Url.Content("~/Content/identity/favicon-hq"))
}

@section interviewerlink
{
    <text>|</text>

    <a href="@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "InterviewerSync", action = "GetLatestVersion" })">
        @Common.GetInterviewerApp
    </a>
}

@section scripts
{
    @RenderSection("scripts", false)
}

@section body
{
    @RenderBody()
}
