@using WB.UI.Headquarters.Code
@using WB.UI.Shared.Web.Extensions
@{
    Layout = "~/Views/Shared/_SharedAuthenticationLayout.cshtml";
}

@section favico{
    @this.GenerateFavicon(Url.Content("~/Content/identity/favicon-hq"))
}

@section interviewerlink
{
    <text>|</text>
    <a href="@Url.Action("GetLatestVersion", "api/InterviewerSync", new {area = string.Empty})">@Common.GetInterviewerApp</a>
}

@section scripts
{
    @RenderSection("scripts", false)
}

@section body
{
    @RenderBody()
}
