@{
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
}
@section styles
{
    @Styles.Render("~/css/list")
}

@section scripts
{
    @Scripts.Render("~/js/list")
    @RenderSection("scripts", false)
}
@section output
{
    @RenderSection("output", false)
}
@RenderSection("header", false)

<div class="well well-sm">
    @RenderSection("gridnavigation", false)
</div>
<div id="list">
    <!-- ko if:IsPageLoaded()  -->
    <!-- ko ifnot:Pager().TotalItemCount() > 0  -->
    <p class="text-center">
        @Pages.NoResults
    </p>
    <!-- /ko -->
    <!-- ko if:Pager().TotalItemCount() > 0 -->
    @RenderSection("grid", true)
    <!-- ko if:Pager().LastPage() > 1 -->
    <div class="pagination pagination-right" data-bind="template: { name: 'tpl-pager', data: Pager }"></div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
</div>
@this.RenderBody()

@Html.Partial("_ListViewPagingScript")


