@model WB.Core.SharedKernels.SurveyManagement.Web.Models.ICommonUserDetails
@{
    Layout = "~/Views/Shared/_EditorLayout.cshtml";
    var isEditMode = (bool?)ViewBag.IsEditMode ?? false;
    var lockedDisabled = (bool?)ViewBag.IsLockedDisabled ?? false;
}
@section scripts {
    @RenderSection(@"scripts", false)
}
<div class="row extra-margin-bottom">
    @using (Html.BeginForm((string)ViewBag.ControllerAction, (string)ViewBag.ControllerName, FormMethod.Post, new { @class = @"profile" }))
    {
        @Html.AntiForgeryToken()
        @RenderSection("PreFormSection", false)
        <div class="col-sm-12">
            @RenderSection("PreDetailsSection", false)
            @(isEditMode ? Html.HiddenFor(x => x.UserName) : Html.EditorFor(x => x.UserName, "TextBoxFormField"))
            @Html.EditorFor(x => x.Password, "PasswordFormField")
            @Html.EditorFor(x => x.ConfirmPassword, "PasswordFormField")
            @Html.EditorFor(x => x.IsLocked, "CheckboxFormField", lockedDisabled ? (object)new { } : (object)new { @disabled = @"disabled" })
            @RenderSection("PostDetailsSection", false)
        </div>

        <div class="col-sm-12">
            <div class="separate-line"></div>
        </div>

        <div class="col-sm-7">
            <h5 class="extra-margin-bottom">@Html.Raw(Pages.PublicSection)</h5>
            @Html.EditorFor(x => x.PersonName, "TextBoxFormField", new { disableClientValidation = true })
            @Html.EditorFor(x => x.Email, "TextBoxFormField")
            @Html.EditorFor(x => x.PhoneNumber, "TextBoxFormField")
        </div>

        @(isEditMode 
            ? Html.EditorForModel("UpdateButtonsRow", new {Action = ViewBag.CancelAction}) 
            : Html.EditorForModel("CreateButtonsRow", new {Action = ViewBag.CancelAction}))
    }
</div>
@RenderBody()