@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@{
    var page = ViewBag.ActivePage ?? MenuItem.Logon;
}
<ul class="nav navbar-nav" role="menu">
    <li class="dropdown @(page == MenuItem.MapReport || page == MenuItem.Surveys || page == MenuItem.Summary || page == MenuItem.Statuses || page == MenuItem.InterviewsChart ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-th"></i> @MainMenu.Reports <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="@(page == MenuItem.Surveys ? "active" : "")">
                <a href="@Url.Action("SurveysAndStatuses", "HQ", new { area = "" })">@MainMenu.SurveysAndStatuses</a>
            </li>
            <li class="@(page == MenuItem.Summary ? "active" : "")">
                <a href="@Url.Action("SupervisorsAndStatuses", "HQ", new { area = "" })">@MainMenu.TeamsAndStatuses</a>
            </li>
            <li class="@(page == MenuItem.MapReport ? "active" : "")">
                <a href="@Url.Action("MapReport", "HQ", new { area = "" })">@MainMenu.MapReport</a>
            </li>
            <li class="@(page == MenuItem.InterviewsChart ? "active" : "")">
                <a href="@Url.Action("InterviewsChart", "HQ", new {area = ""})">@MainMenu.CumulativeChart</a>
            </li>
            <li class="@(page == MenuItem.NumberOfCompletedInterviews ? "active" : "")">
                <a href="@Url.Action("QuantityBySupervisors", "PeriodicStatusReport", new {area = ""})">@MainMenu.Quantity</a>
            </li>
            <li class="@(page == MenuItem.SpeedOfCompletingInterviews ? "active" : "")">
                <a href="@Url.Action("SpeedBySupervisors", "PeriodicStatusReport", new { area = "" })">@MainMenu.Speed</a>
            </li>
        </ul>
    </li>
    <li class="@(page == MenuItem.Docs ? "active" : "")">
        <a href="@Url.Action("Interviews", "HQ", new {area = ""})">
            <i class="glyphicon glyphicon-list-alt"></i>
            @MainMenu.Interviews
        </a>
    </li>

    <li class="dropdown @(page == MenuItem.Teams || page == MenuItem.Headquarters ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user"></i> @MainMenu.TeamsAndRoles <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="@(page == MenuItem.Teams ? "active" : "")">
                <a href="@Url.Action("Index", "Supervisor", new {area = string.Empty})">
                     @MainMenu.Supervisors
                </a>
            </li>
            <li class="@(page == MenuItem.Headquarters ? "active" : "")">
                <a href="@Url.Action("Index", "Headquarters", new {area = string.Empty})">
                    @MainMenu.Headquarters
                </a>
            </li>
            <li class="@(page == MenuItem.Observers ? "active" : "")">
                <a href="@Url.Action("Index", "Observer", new {area = string.Empty})">
                    @MainMenu.Observers
                </a>
            </li>
        </ul>
    </li>

    <li class="@(page == MenuItem.Questionnaires ? "active" : "")">
        <a href="@Url.Action("Index", "HQ", new {area = ""})"><i class="glyphicon glyphicon-list-alt">
        </i> @MainMenu.Questionnaires</a>
    </li>
    <li class="@(page == MenuItem.DataExport ? "active" : "")">
        <a href="@Url.Action("DataExport", "HQ", new {area = ""})">
            <i class="glyphicon glyphicon-download">
            </i> @MainMenu.DataExport
        </a>
    </li>
</ul>
        <ul class="nav navbar-nav navbar-right" role="menu">
            <li class="active glow-animate" style="display: none" id="IncomingPackagesQueueIndicator">
                <a href="javascript:void(0);" title="@MainMenu.QueueSizeTitle">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    <span class="sync-queue-size">-</span>
                </a>
            </li>
            <li class="dropdown @(page == MenuItem.ManageAccount ? "active" : "")">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Hi, <strong>@User.Identity.Name</strong> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="@(page == MenuItem.ManageAccount ? "active" : "")">@Html.ActionLink(WB.Core.SharedKernels.SurveyManagement.Web.Properties.Strings.SurverManagement_MainMenu_ManageAccount, "Manage", "Account", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Logoff", "LogOff", "Account", new { area = string.Empty }, null)</li>
                </ul>
            </li>
            <li>
                <a href="http://siteresources.worldbank.org/INTCOMPTOOLS/Resources/8213623-1380598436379/HQ_draft_manual.pdf" target="_blank">
                    <i class="glyphicon glyphicon-question-sign"></i>
                </a>
            </li>
        </ul>
