<li><a href="@Url.Action("readside", "controlpanel")">Read side</a></li>
<li><a href="@Url.Action("nconfig", "controlpanel")">NConfig</a></li>
<li><a href="@Url.Action("settings", "controlpanel")">Settings</a></li>
<li><a href="@Url.Action("revalidateinterviews", "controlpanel")">Revalidate Interviews</a></li>
<li><a href="@Url.Action("interviewdetails", "controlpanel")">Interview details</a></li>
<li><a href="@Url.Action("incomingdatawitherrors", "controlpanel")">Interviews with errors</a></li>
<li><a href="@Url.Action("createadmin", "controlpanel")">Create Admin</a></li>
<li><a href="@Url.Action("createheadquarters", "controlpanel")">Create Headquarters</a></li>
<li><a href="@Url.Action("resetuserpassword", "controlpanel")">Reset user password</a></li>