@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.UI.Headquarters.Resources
@{
    var page = ViewBag.ActivePage ?? MenuItem.Logon;
}
<ul class="nav navbar-nav">
    <li class="dropdown @(page == MenuItem.MapReport || page == MenuItem.Surveys || page == MenuItem.Summary || page == MenuItem.Statuses || page == MenuItem.InterviewsChart ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.Reports">
            @MainMenu.Reports <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("SurveysAndStatuses", "HQ", @MainMenu.SurveysAndStatuses, MenuItem.Surveys)
            @Html.MainMenuItem("SupervisorsAndStatuses", "HQ", @MainMenu.TeamsAndStatuses, MenuItem.Summary)
            @Html.MainMenuItem("MapReport", "HQ", @MainMenu.MapReport, MenuItem.MapReport)
            @Html.MainMenuItem("InterviewsChart", "HQ", @MainMenu.CumulativeChart, MenuItem.InterviewsChart)
            @Html.MainMenuItem("QuantityBySupervisors", "PeriodicStatusReport", @MainMenu.Quantity, MenuItem.NumberOfCompletedInterviews)
            @Html.MainMenuItem("SpeedBySupervisors", "PeriodicStatusReport", @MainMenu.Speed, MenuItem.SpeedOfCompletingInterviews)
        </ul>
    </li>
    @Html.MainMenuItem("Interviews", "HQ", @MainMenu.Interviews, MenuItem.Docs)

    <li class="dropdown @(page == MenuItem.Teams || page == MenuItem.Headquarters || page == MenuItem.Interviewers ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.TeamsAndRoles">
            @MainMenu.TeamsAndRoles <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Index", "Supervisor", @MainMenu.Supervisors, MenuItem.Teams)
            @Html.MainMenuItem("Index", "Headquarters", @MainMenu.Headquarters, MenuItem.Headquarters)
            @Html.MainMenuItem("Index", "Interviewers", @MainMenu.Interviewers, MenuItem.Interviewers)
            @Html.MainMenuItem("Index", "Observer", @MainMenu.Observers, MenuItem.Observers)
            @Html.MainMenuItem("Index", "ApiUser", @MainMenu.ApiUsers, MenuItem.ApiUsers)
            @Html.MainMenuItem("UserBatchUploads", "BatchUserUpload", @MainMenu.UserBatchUpload, MenuItem.UserBatchUpload)
        </ul>
    </li>
    @Html.MainMenuItem("Index", "HQ", @MainMenu.Questionnaires, MenuItem.Questionnaires)
    @Html.MainMenuItem("Index", "DataExport", @MainMenu.DataExport, MenuItem.DataExport)
</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="active glow-animate" style="display: none" id="IncomingPackagesQueueIndicator">
        <a href="javascript:void(0);" title="@MainMenu.QueueSizeTitle">
            <i class="glyphicon glyphicon-cloud-upload"></i>
            <span class="sync-queue-size">-</span>
        </a>
    </li>
    <li><a href="http://docs.mysurvey.solutions/headquarters.pdf" target="_blank" title="Help">@MainMenu.Help</a></li>
    <li class="dropdown @(page == MenuItem.ManageAccount ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="@User.Identity.Name"><span class="caret"></span>@User.Identity.Name</a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Index", "Settings", Common.Settings, MenuItem.Settings)
            @Html.MainMenuItem("Manage", "Account", Strings.SurverManagement_MainMenu_ManageAccount, MenuItem.ManageAccount)
            <li>@Html.ActionLink(Common.Logoff, "LogOff", "Account", new {area = string.Empty}, null)</li>
        </ul>
    </li>

    @Html.Partial("LimitsIndicator")
</ul>