<li><a href="@Url.Action("nconfig", "controlpanel")">NConfig</a></li>
<li><a href="@Url.Action("Versions", "ControlPanel")">Versions</a></li>
<li><a href="@Url.Action("settings", "controlpanel")">Settings</a></li>
<li><a href="@Url.Action("revalidateinterviews", "controlpanel")">Revalidate Interviews</a></li>
<li><a href="@Url.Action("RepeatLastInterviewStatus", "ControlPanel")">Repeat Interview Status</a></li>
<li><a href="@Url.Action("BrokenInterviewPackages", "controlpanel")">Broken interview packages</a></li>
<li><a href="@Url.Action("RejectedInterviewPackages", "controlpanel")">Rejected interview packages</a></li>
<li><a href="@Url.Action("createadmin", "controlpanel")">Create Admin</a></li>
<li><a href="@Url.Action("createheadquarters", "controlpanel")">Create Headquarters</a></li>
<li><a href="@Url.Action("ResetPrivilegedUserPassword", "controlpanel")">Reset user password</a></li>
<li><a href="@Url.Action("SynchronizationLog", "controlpanel")">Synchronization log</a></li>
<li>&nbsp;</li>
<li><a href="@Url.Action("PackagesInfo", "TabletReport")">Tablet Information</a></li>
<li><a href="@Url.Action("AppUpdates", "ControlPanel")">Available APK</a></li>
<li><a href="@Url.Action("Exceptions", "ControlPanel")">Exceptions</a></li>
