@using WB.Core.BoundedContexts.Headquarters.Resources
@using WB.Core.BoundedContexts.Headquarters.Services

@{
    var page = ViewBag.ActivePage ?? MenuItem.Logon;
    var isCurrentUserObserver = DependencyResolver.Current.GetService<IAuthorizedUser>().IsObserver;
}
<ul class="nav navbar-nav">
    <li class="dropdown @(page == MenuItem.MapReport || 
                          page == MenuItem.Surveys || 
                          page == MenuItem.Summary || 
                          page == MenuItem.Statuses || 
                          page == MenuItem.DevicesInterviewers ||
                          page == MenuItem.StatusDuration ||
                          page == MenuItem.InterviewsChart ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.Reports">
            @MainMenu.Reports <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("SurveysAndStatuses", "Reports", @MainMenu.SurveysAndStatuses, MenuItem.Surveys)
            @Html.MainMenuItem("SupervisorsAndStatuses", "Reports", @MainMenu.TeamsAndStatuses, MenuItem.Summary)
            @Html.MainMenuItem("StatusDuration", "Reports", @MainMenu.StatusDuration, MenuItem.StatusDuration)
            @Html.MainMenuItem("InterviewersAndDevices", "Reports", @MainMenu.DevicesInterviewers, MenuItem.DevicesInterviewers)
            @Html.MainMenuItem("MapReport", "Reports", @MainMenu.MapReport, MenuItem.MapReport)
            @Html.MainMenuItem("InterviewsChart", "Reports", @MainMenu.CumulativeChart, MenuItem.InterviewsChart)
            @Html.MainMenuItem("QuantityBySupervisors", "Reports", @MainMenu.Quantity, MenuItem.NumberOfCompletedInterviews)
            @Html.MainMenuItem("SpeedBySupervisors", "Reports", @MainMenu.Speed, MenuItem.SpeedOfCompletingInterviews)
            @Html.MainMenuItem("SurveyStatistics", "Reports", @MainMenu.SurveyStatistics, MenuItem.SurveyStatistics)
        </ul>
    </li>
    @Html.MainMenuItem("Interviews", "HQ", @MainMenu.Interviews, MenuItem.Docs)

    <li class="dropdown @(page == MenuItem.Teams || page == MenuItem.Interviewers || page == MenuItem.UserBatchUpload ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.TeamsAndRoles">
            @MainMenu.TeamsAndRoles <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Index", "Supervisor", @MainMenu.Supervisors, MenuItem.Teams)
            @Html.MainMenuItem("Index", "Interviewers", @MainMenu.Interviewers, MenuItem.Interviewers)
            @if (!isCurrentUserObserver)
            {
                @Html.MainMenuItem("Upload", "Users", @MainMenu.UserBatchUpload, MenuItem.UserBatchUpload)
            }
        </ul>
    </li>
    <li class="dropdown  @(page == MenuItem.Questionnaires || page == MenuItem.Assignments || page == MenuItem.Maps ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.SurveySetup">
            @MainMenu.SurveySetup <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Index", "SurveySetup", @MainMenu.Questionnaires, MenuItem.Questionnaires)
            @Html.MainMenuItem("Index", "Assignments", @MainMenu.Assignments, MenuItem.Assignments)
            @Html.MainMenuItem("Index", "Maps", @MainMenu.Maps, MenuItem.Maps)
        </ul>
    </li>
    @if (!isCurrentUserObserver)
    {
        @Html.MainMenuItem("Index", "DataExport", @MainMenu.DataExport, MenuItem.DataExport)
    }
</ul>
<ul class="nav navbar-nav navbar-right" role="menu">
    @Html.Partial("QueueIndicator")
    <li><a href="http://docs.mysurvey.solutions/headquarters" target="_blank" title="Help">@MainMenu.Help</a></li>
    <li class="dropdown @(page == MenuItem.ManageAccount ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@User.Identity.Name">
            @User.Identity.Name <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Manage", "Account", Strings.SurverManagement_MainMenu_ManageAccount, MenuItem.ManageAccount)
            <li>@Html.ActionLink(Common.Logoff, "LogOff", "Account", new {area = string.Empty}, null)</li>
        </ul>
    </li>

    @Html.Partial("LimitsIndicator")
</ul>
