@if (ViewBag.ShowInterviewLimitIndicator)
{
    <li class='dropdown active @(ViewBag.PayAttentionOnInterviewLimitIndicator ? "open" : "")'>
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" style='background: @(ViewBag.PayAttentionOnInterviewLimitIndicator ? "red" : "#ffa500")'>
            <i class="glyphicon glyphicon-warning-sign"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0);"><b>@LimitsIndicator.YouAreInTestingMode</b></a>
            </li>
            <li>
                @if (ViewBag.InterviewsCountAllowedToCreateUntilLimitReached >= 0)
                {
                    <a href="javascript:void(0);">@string.Format(@LimitsIndicator.InterviewsLeftFormat, ViewBag.InterviewsCountAllowedToCreateUntilLimitReached)</a>
                }
                else
                {
                    <a href="javascript:void(0);">@string.Format(@LimitsIndicator.YouHaveExceededYourLimitFormat, ViewBag.MaxAllowedInterviewsCount)</a>
                }
            </li>
        </ul>
    </li>
}