@{
    var page = ViewBag.ActivePage ?? MenuItem.Logon;
}
<ul class="nav navbar-nav" role="menu">
    <li class="dropdown @(page == MenuItem.Teams || page == MenuItem.Headquarters ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.TeamsAndRoles">
            @MainMenu.TeamsAndRoles <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Index", "Supervisor", MainMenu.Supervisors, MenuItem.Teams)
            @Html.MainMenuItem("Index", "Headquarters", MainMenu.Headquarters, MenuItem.Headquarters)
        </ul>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right" role="menu">
    @Html.Partial("QueueIndicator")
    <li><a href="http://docs.mysurvey.solutions/observer" target="_blank" title="Help">@MainMenu.Help</a></li>
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="@User.Identity.Name">@User.Identity.Name<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(Common.Logoff, "LogOff", "Account", new { area = string.Empty }, null)</li>
        </ul>
    </li>
    @Html.Partial("LimitsIndicator")
</ul>
