@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@{
    var page = ViewBag.ActivePage ?? MenuItem.Logon;
}
<ul class="nav navbar-nav" role="menu">
    <li class="dropdown @(page == MenuItem.Teams || page == MenuItem.Headquarters ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.TeamsAndRoles">
            <i class="glyphicon glyphicon-user"></i> @MainMenu.TeamsAndRoles <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Index", "Supervisor", MainMenu.Supervisors, MenuItem.Teams)
            @Html.MainMenuItem("Index", "Headquarters", MainMenu.Headquarters, MenuItem.Headquarters)
        </ul>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right" role="menu">
    <li class="active glow-animate" style="display: none" id="IncomingPackagesQueueIndicator">
        <a href="javascript:void(0);" title="@MainMenu.QueueSizeTitle">
            <i class="glyphicon glyphicon-cloud-upload"></i>
            <span class="sync-queue-size">-</span>
        </a>
    </li>
    <li><a href="http://docs.mysurvey.solutions/headquarters.pdf" target="_blank" title="Help">@MainMenu.Help</a></li>
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><strong>@User.Identity.Name</strong> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(Common.Logoff, "LogOff", "Account", new {area = string.Empty}, null)</li>
        </ul>
    </li>
    @Html.Partial("LimitsIndicator")
</ul>
