@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@{
    var page = ViewBag.ActivePage ?? MenuItem.Logon;
}
<ul class="nav navbar-nav" role="menu">
    <li class="dropdown @(page == MenuItem.Surveys || page == MenuItem.Summary || page == MenuItem.Statuses ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.Reports">
            @MainMenu.Reports <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("SurveysAndStatusesForSv", "Reports", @MainMenu.SurveysAndStatuses, MenuItem.Surveys)
            @Html.MainMenuItem("TeamMembersAndStatuses", "Reports", @MainMenu.TeamMembersAndStatuses, MenuItem.Summary)
            @Html.MainMenuItem("QuantityByInterviewers", "Reports", @MainMenu.Quantity, MenuItem.NumberOfCompletedInterviews)
            @Html.MainMenuItem("SpeedByInterviewers", "Reports", @MainMenu.Speed, MenuItem.SpeedOfCompletingInterviews)
            @Html.MainMenuItem("MapReport", "Reports", @MainMenu.MapReport, MenuItem.MapReport)
            @Html.MainMenuItem("SurveyStatistics", "Reports", @MainMenu.SurveyStatistics, MenuItem.SurveyStatistics)
        </ul>
    </li>

    @Html.MainMenuItem("Interviews", "Survey", MainMenu.Interviews, MenuItem.Docs)
    @Html.MainMenuItem("Index", "Interviewers", MainMenu.TeamAndRoles, MenuItem.Teams)
    @Html.MainMenuItem("Index", "Assignments", MainMenu.Assignments, MenuItem.Assignments)

</ul>
<ul class="nav navbar-nav navbar-right" role="menu">
    @Html.Partial("QueueIndicator")
    <li><a href="http://docs.mysurvey.solutions/supervisor" target="_blank" title="Help">@MainMenu.Help</a></li>
    <li class="dropdown @(page == MenuItem.ManageAccount ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
           title="@User.Identity.Name">@User.Identity.Name<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(Common.Logoff, "LogOff", "Account", new { area = string.Empty }, null)</li>
            <li>@Html.ActionLink(Common.Download, "Supervisor", "Download", new { area = string.Empty }, null)</li>
        </ul>
    </li>
    @Html.Partial("LimitsIndicator")
</ul>
