@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@{
    var page = ViewBag.ActivePage ?? MenuItem.Logon;
}
<ul class="nav navbar-nav" role="menu">
    <a class="navbar-brand" href="@Url.Action("Index", "Survey", new {area = ""})">@Users.Supervisor</a>
    <li class="dropdown @(page == MenuItem.Surveys || page == MenuItem.Summary || page == MenuItem.Statuses ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.Reports">
            <i class="glyphicon glyphicon-th"></i> @MainMenu.Reports <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Index", "Survey", @MainMenu.SurveysAndStatuses, MenuItem.Surveys)
            @Html.MainMenuItem("TeamMembersAndStatuses", "Survey", @MainMenu.TeamMembersAndStatuses, MenuItem.Summary)
            @Html.MainMenuItem("QuantityByInterviewers", "PeriodicStatusReport", @MainMenu.Quantity, MenuItem.NumberOfCompletedInterviews)
            @Html.MainMenuItem("SpeedByInterviewers", "PeriodicStatusReport", @MainMenu.Speed, MenuItem.SpeedOfCompletingInterviews)
        </ul>
    </li>
    
    @Html.MainMenuItem("Interviews", "Survey", MainMenu.Interviews, MenuItem.Docs)
    @Html.MainMenuItem("Index", "Interviewers", MainMenu.TeamAndRoles, MenuItem.Teams)

</ul>
<ul class="nav navbar-nav navbar-right" role="menu">
    <li class="active glow-animate" style="display: none" id="IncomingPackagesQueueIndicator">
        <a href="javascript:void(0);" title="@MainMenu.QueueSizeTitle">
            <i class="glyphicon glyphicon-cloud-upload"></i>
            <span class="sync-queue-size">-</span>
        </a>
    </li>
    <li><a href="http://docs.mysurvey.solutions/headquarters.pdf" target="_blank" title="Help">@MainMenu.Help</a></li>
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><strong>@User.Identity.Name</strong> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(Common.Logoff, "LogOff", "Account", new {area = string.Empty}, null)</li>
        </ul>
    </li>
    @Html.Partial("LimitsIndicator")
</ul>
