@using System.Web.Optimization
@using WB.Core.SharedKernels.SurveyManagement.Web.Utils
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.UserBatchUploadModel
@{
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
}

@section scripts
{
    @Scripts.Render("~/validate")
}

<div class="row-fluid">
    <h3>@BatchUpload.UploadUsers</h3>
    <div>
        @BatchUpload.UploadUsersDescription
    </div>
    <br />
    <div>
        <table class="table table-striped table-bordered table-condensed table-break-words">
            <thead>
                <tr>
                    @foreach (var columnName in Model.AvaliableDataColumnNames)
                    {
                        <th>
                            <label class="control-label  @(new[] {"login", "password", "role"}.Any(x => x.Equals(columnName, StringComparison.InvariantCultureIgnoreCase)) ? "required" : "")">@columnName</label>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 5; i++)
                {

                    <tr>
                        @for (int j = 0; j < Model.AvaliableDataColumnNames.Length; j++)
                        {
                            <th>_</th>
                        }
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div>
        @using (Html.BeginForm("NewUserBatchUpload", "BatchUserUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <br/>
            <div class="control-group">
                <div class="controls">
                    @Html.TextBoxFor(m => m.File, new {type = "file"})
                    @Html.ValidationMessageFor(x => x.File)
                </div>
            </div>
            <br/>
            <input type="submit" class="btn btn-primary" name="Submit" value="@BatchUpload.Upload"/>
        }
    </div>
</div>

