@using System.Web.Optimization
@using WB.Core.BoundedContexts.Headquarters.UserPreloading.Dto
@using WB.Core.SharedKernels.SurveyManagement.Views.PreloadedData
@using WB.Core.SharedKernels.SurveyManagement.Views.SampleImport
@using WB.Core.SharedKernels.SurveyManagement.Views.User
@model string
@{
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
    ViewBag.Title = "Index";
}
<div class="row-fluid">
    <h3 data-bind="visible: state()!=@((int) UserPrelodingState.Validated)">
        Please wait, file '<b data-bind="text: fileName"></b>' in verification process
    </h3>
    <div style="height: 500px; overflow-y: scroll;" data-bind="visible: verificationErrors().length>0">
        <table class="table table-striped table-bordered table-condensed table-break-words">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Message</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: verificationErrors()">
                <tr>
                    <th data-bind="text: Code"></th>
                    <th data-bind="text: Message"></th>
                    <th>
                        <span>Column : '<b data-bind="text: ColumnName"></b>'</span>
                        <br />

                        <span>row: '<b data-bind="text: RowNumber"></b>'</span>
                        <br />

                        <span>value : '<b data-bind="text: CellValue"></b>'</span>
                        <br />
                    </th>
                </tr>

            </tbody>
        </table>
        <div data-bind="visible: state()==@((int)UserPrelodingState.Validated)">
            @Html.ActionLink("Upload new file", "NewUserBatchUpload", null, new { @class = "btn btn-default btn-primary pull-right" })
        </div>
    </div>
    <div data-bind="visible: (state()==@((int)UserPrelodingState.Validated) && verificationErrors().length===0)">
        <h3>Data is valid</h3>
        @using (Html.BeginForm("CreateUsers", "BatchUserUpload"))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Id", Model)
            <input type="submit" class="btn btn-default btn-primary pull-right" name="Submit" value="Create users" />
        }
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/Scripts/components/bindings.js", "~/Scripts/pages/userpreloading.js")
    <script type="text/javascript">
    var updateVerificationStatusApiUrl = '@(Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "PreloadingApi", action = "UserPreloadingDetails"})+"/"+Model)';

        var viewModel = new Supervisor.VM.Preloading.UserPreloading(updateVerificationStatusApiUrl, [@((int)UserPrelodingState.Validating), @((int)UserPrelodingState.ReadyForValidation)]);
        viewModel.load();

        ko.applyBindings(viewModel);
    </script>
}
