@using System.Web.Optimization
@using WB.UI.Headquarters.API
@using WB.UI.Headquarters.Models.UserPreloading
@{
    Layout = "~/Views/Shared/_NoFilterListViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/js/batch-user-creation")
    <script type="text/javascript">
    var $importUserDetailsUrl = '@Url.Action("ImportUserDetails", "BatchUserUpload", new { area = string.Empty })';
    var $userPreloadigVerificationDetailsUrl = '@Url.Action("UserPreloadigVerificationDetails", "BatchUserUpload", new { area = string.Empty })';
    var $userCreationProcessDetailsUrl = '@Url.Action("UserCreationProcessDetails", "BatchUserUpload", new { area = string.Empty })';
    $(function() {
        var allUserBatchUploadProcessesUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "UserPreloading", action = "AllUserPreloadingProcesses" })';
        var deleteUserBatchUploadProcessUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "UserPreloading", action = "DeleteUserPreloadingProcess" })';
        var model = new Supervisor.VM.BatchUserCreation(allUserBatchUploadProcessesUrl, deleteUserBatchUploadProcessUrl, "#confirm-delete-template");
        ko.applyBindings(model);
        model.load();
    });
    </script>
}

@section header
{
    <div class="page-header">
        <h2 class="sinle-line-header">@BatchUpload.UploadUsers_Title</h2>
    </div>
}

@section gridnavigation
{
    <div class="btn-group">
        <div class="form-inline">
            <a class="btn btn-default" href="@Url.Action("NewUserBatchUpload", "BatchUserUpload", new { area = string.Empty })">
                <i class="glyphicon glyphicon-user"></i> @BatchUpload.UploadNewFile
            </a>
        </div>
    </div>
}

@section grid
{

    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>@BatchUpload.FileName</th>
                <th>@BatchUpload.FileSize</th>
                <th>@BatchUpload.UploadDate</th>
                <th>@BatchUpload.LastUpdateDate</th>
                <th>@BatchUpload.Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:Items -->
            <tr>
                <td>
                    <!-- ko if:State() == @((int)UserPreloadingProcessState.Started) -->
                    <a data-bind="attr: { href: $userCreationProcessDetailsUrl + '/' + ProcessId() }, text: FileName"></a>
                    <!-- /ko -->
                    <!-- ko if:State() == @((int)UserPreloadingProcessState.InProgress) -->
                    <a data-bind="attr: { href: $userPreloadigVerificationDetailsUrl + '/' + ProcessId() }, text: FileName"></a>
                    <!-- /ko -->
                    <!-- ko if:State() == @((int)UserPreloadingProcessState.Finished) -->
                    <a data-bind="attr: { href: $importUserDetailsUrl + '/' + ProcessId() }, text: FileName"></a>
                    <!-- /ko -->
                </td>
                <td data-bind="text: FileSize"></td>
                <td data-bind="text: UploadDate"></td>
                <td data-bind="text: LastUpdateDate"></td>
                <td data-bind="text: Status"></td>
                <td>
                    <!-- ko if:CanDeleteFile -->
                    <div class="btn-group pull-right">
                        <a class="btn btn-danger" data-bind="click : $parent.deleteUserBatchUploadProcess">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                    <!-- /ko -->
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <script type="text/html" id="confirm-delete-template">
        <h3>
            @BatchUpload.AreYouSureYouWantToDeleteFormat <b>'<span class='text-normal' data-bind='text: FileName'></span>'</b> ?
        </h3>
    </script>
}
