<script type="module" crossorigin src="/js/modulepreload-polyfill.js"></script>
<script type="module" crossorigin src="/js/jquery.min.js"></script>
<script type="module" crossorigin src="/js/folders2.js"></script>
<link rel="stylesheet" crossorigin href="/css/folders.css">
@using WB.UI.Designer.Resources
@{
    ViewBag.Title = QuestionnaireController.QuestionnaireTreeFolders;
    Layout = "Layout.ControlPanel";
}


<script type="text/javascript">
    //import $ from 'jquery';
    document.addEventListener('DOMContentLoaded', function () {
        //$(function () {
        var localization = {
            CreateSubFolder: "@Html.Raw(QuestionnaireController.CreateSubFolder)",
            Edit: '@Html.Raw(QuestionnaireController.Rename)',
            Delete: "@Html.Raw(QuestionnaireController.Delete)",
            DeleteConfirmation: "@Html.Raw(QuestionnaireController.DeleteFolderConfirmation)",
            NewFolderName: "@Html.Raw(QuestionnaireController.NewFolder)"
        };
        var subFoldersUrl = '@Url.Action("GetFolders", "PublicFolders")';
        var rootFoldersUrl = '@Url.Action("GetRootFolders", "PublicFolders")';
        var addNodeUrl = '@Url.Action("CreateFolder", "PublicFolders")';
        var renameNodeUrl = '@Url.Action("RenameFolder", "PublicFolders")';
        var removeNodeUrl = '@Url.Action("RemoveFolder", "PublicFolders")';

        window.foldersModel = new FoldersModel($("#jstree"), localization, rootFoldersUrl, subFoldersUrl, addNodeUrl, renameNodeUrl, removeNodeUrl);
    });
</script>


<div class="page-header">
    <h3>
        @QuestionnaireController.FoldersManagement
    </h3>
    <p class="note">@Html.Raw(QuestionnaireController.FoldersDescription)</p>
</div>

<div id="jstree" class="folder-tree disableSelection">
</div>
