@model WB.UI.Headquarters.Models.Template.ImportQuestionnaireListModel
@{
    ViewBag.Title = QuestionnaireImport.MyQuestionnairesTitle;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/js/main-no-libs")
    @Scripts.Render("~/js/common")
    @Scripts.Render("~/js/list")
    @Scripts.Render("~/js/importquestionaires")
    
    <script type="text/javascript">

        var questionnaireListUrl = "@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "DesignerQuestionnairesApi", action = "QuestionnairesList" })";
        var commandExecutionUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "CommandApi", action = "ExecuteCommands"})';

        $(function() {
            var model = new Supervisor.VM.ImportQuestionnaires(questionnaireListUrl);

            model.getDataTableColumns = function() {
                return [
                    {
                        data: "title",
                        name: "Title", // case-sensitive!
                        render: function (data, type, row) {
                            return "<a href=" + "@Url.Action("ImportMode", "Template")" + "/" + row.id + ">" + $("<div>").text(data).html() + "</a>";
                        }
                    },
                    {
                        data: "lastModified",
                        name:
                            "LastEntryDate", // case-sensitive! should be DB name here from Designer questionnairelistviewitems? to sort column
                        "class": "changed-recently",
                        render: function(data) {
                            if (data === null || data === undefined || data === "") return "";

                            var localDate = moment.utc(data).local();
                            var twoDaysAgoAtNoon = moment().subtract(2, 'd');

                            if (localDate > twoDaysAgoAtNoon)
                                return moment.duration(localDate.diff(moment())).humanize(true);

                            return localDate.format(window.CONFIG.dateFormat);
                        }
                    },
                    {
                        data: "createdBy",
                        name:
                            "CreatorName", // case-sensitive! should be DB name here from Designer DB questionnairelistviewitems? to sort column
                        "class": "created-by"
                    }
                ];
            };

            ko.applyBindings(model);
            model.load();
        });
    </script>
}

<main class="import-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="page-header">
                    <ol class="breadcrumb">
                        <li>
                            @Html.ActionLink(MainMenu.SurveySetup, "Index", "SurveySetup")
                        </li>
                        <li>
                            @Html.ActionLink(QuestionnaireImport.ListOfMyQuestionnaires, "Import")
                        </li>
                    </ol>
                    <h1>@ImportQuestionnaire.PageHeader</h1>
                    <div class="signed-name">
                        @Html.Raw(string.Format(@ImportQuestionnaire.SignedInBlock, string.Format("<span>{0}</span>", @Model.DesignerUserName))) <a href="@Url.Action("LogoutFromDesigner")">@ImportQuestionnaire.SignOut</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <table id="data_holder" class="table table-hover table-ordered import-interview">
                    <thead>
                        <tr>
                            <th>@ImportQuestionnaire.Table_Title</th>
                            <th>@ImportQuestionnaire.Table_LastModified</th>
                            <th class="created-by">@ImportQuestionnaire.Table_CreatedBy</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </main>
