@using WB.Core.BoundedContexts.Headquarters
@model WB.UI.Headquarters.Models.ImportModeModel

@{
    ViewBag.Title = QuestionnaireImport.ImportModeTitle;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('#ckbUpgradeAssignments').change(function() {
                $('#templateSelectorBlock').toggle(this.checked);
            });
        })
    </script>
}

<main>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink(MainMenu.SurveySetup, "Index", "SurveySetup")
                    </li>
                    <li>
                        @Html.ActionLink(QuestionnaireImport.ListOfMyQuestionnaires, "Import")
                    </li>
                </ol>
                <h1>@QuestionnaireImport.ImportModePageTitle</h1>
            </div>
        </div>
        @if (Model.QuestionnaireInfo != null)
        {
            <div class="row">
                <div class="col-sm-8">
                    <h2>
                        @Model.QuestionnaireInfo.Name
                    </h2>
                </div>
            </div>
            <div class="row questionnaire-statistics">
                <div class="col-md-4 col-sm-5">
                    <ul>
                        <li>@QuestionnaireImport.CreatedAt <span>@Model.QuestionnaireInfo.CreatedAt.FormatDateWithTime()</span></li>
                        <li>@QuestionnaireImport.LastModifiedAt <span>@Model.QuestionnaireInfo.LastUpdatedAt.FormatDateWithTime()</span></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-5">
                    <ul>
                        <li>
                            <ul class="questionnaire-content">
                                <li>@QuestionnaireImport.Chapters: <span>@Model.QuestionnaireInfo.ChaptersCount</span>.</li>
                                <li>@QuestionnaireImport.Gropus: <span>@Model.QuestionnaireInfo.GroupsCount</span>.</li>
                                <li>@QuestionnaireImport.Rosters: <span>@Model.QuestionnaireInfo.RostersCount</span>.</li>
                            </ul>
                        </li>
                        <li>
                            @QuestionnaireImport.Questions: <span>@Model.QuestionnaireInfo.QuestionsCount</span>
                            (@string.Format(QuestionnaireImport.QuestionsWithConditions, Model.QuestionnaireInfo.QuestionsWithConditionsCount))
                        </li>
                    </ul>
                </div>
            </div>
            <form action="@Url.Action("Import", new { id = Model.QuestionnaireInfo.Id })" method="post" class="import-questionnaire-form">
                @Html.AntiForgeryToken()
                @if (Model.NewVersionNumber > 1)
                {
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>
                                @QuestionnaireImport.QuestionnaireExists
                            </h3>
                        </div>
                    </div>
                    <div class="row questionnaire-versioning">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="radio">
                                    <input class="wb-radio" type="radio" name="optionsRadios" id="imortAsNewVersion" value="new-version" checked />
                                    <label for="imortAsNewVersion">
                                        <span class="tick"></span>@string.Format(QuestionnaireImport.ImportAsNewVersion, Model.NewVersionNumber)
                                    </label>
                                </div>
                            </div>
                            
                        </div>
                        @if (Model.QuestionnairesToUpgradeFrom.Count > 0) {
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="checkbox-filter single-checkbox" id="ckbUpgradeAssignments" type="checkbox" value="True" name="ShouldMigrateAssignments">
                                    <label for="ckbUpgradeAssignments">
                                        <span class="tick"></span> @QuestionnaireImport.UpgradeAssignments
                                    </label>
                                </div>
                            </div>
                       
                            <div class="col-sm-8" id="templateSelectorBlock" style="display: none">
                                <div class="form-group">
                                    <select id="templateSelector" data-bind="value: SelectedTemplate" class="selectpicker" name="migrateFrom">
                                        @foreach (var item in Model.QuestionnairesToUpgradeFrom) {
                                            <option value='{"templateId": "@item.TemplateId","version": "@item.TemplateVersion"}'>
                                                @Html.QuestionnaireNameVerstionFirst(item.TemplateName, item.TemplateVersion)
                                            </option>
                                        }
                                    </select>

                                </div>
                            </div>
                        }
                    </div>

                }
                <div class="row flex-row">
                    <div class="col-sm-6">
                        <div class="flex-block selection-box">
                            <div class="block">
                                <h3>@QuestionnaireImport.RegularImportTitle</h3>
                                <p>@QuestionnaireImport.RegularImportSubTitle</p>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">@QuestionnaireImport.RegularImportTitle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="row col-sm-12">
                <div class="alert alert-danger">
                    @Model.ErrorMessage
                </div>
            </div>
        }
    </div>
</main>
