@using System.Web.Optimization
@using WB.UI.Headquarters.Models.Template
@model WB.UI.Headquarters.Models.Template.ImportQuestionnaireListModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
<!-- jsApp:js -->
<script src="~/Dependencies/js/import-questionnaires-list.js"></script>
<!-- endinject -->    
}
<main class="import-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="signed-name">
                <div>
                    @Html.Raw(string.Format(@ImportQuestionnaire.SignedInBlock, string.Format("<span>{0}</span>", @Model.DesignerUserName))) <a href="@Url.Action("LogoutFromDesigner")">@ImportQuestionnaire.SignOut</a>
                </div>
            </div>
            <div class="table-title">
                <ol class="breadcrumb">
                    <li>@Html.ActionLink(MainMenu.Questionnaires, "Index", "HQ")</li>
                </ol>
                <h2>@ImportQuestionnaire.PageHeader</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <table class="table import-interview">
                <thead>
                <tr>
                    <th class="column-questionnaire-title">@ImportQuestionnaire.Table_Title</th>
                    <th>@ImportQuestionnaire.Table_LastModified</th>
                    <th class="created-by">@ImportQuestionnaire.Table_CreatedBy</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="hidden-links">
        <a id="questionnaireListUrl" title="questionnaire list" href="@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "DesignerQuestionnairesApi", action = "QuestionnairesListNew" })"></a>
        <a id="questionnaireImportModeUrl"  title="questionnaire import mode" href="@Url.Action("ImportMode", "Template")"></a>
    </div>
</main>