@using System.Web.Optimization
@using WB.UI.Headquarters.Models.Template
@model WB.UI.Headquarters.Models.Template.ImportQuestionnaireListModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript">
        'use strict';

        $(function () {
            var questionnaireListUrl = "@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "DesignerQuestionnairesApi", action = "QuestionnairesList" })";
            var questionnaireImportModeUrl = "@Url.Action("ImportMode", "Template")";

            var requestHeaders = {};
            requestHeaders[input.settings.acsrf.tokenName] = input.settings.acsrf.token;

            var onTableInitComplete = function () {
                $('#DataTables_Table_0_filter label').on('click', function (e) {
                    if (e.target !== this)
                        return;
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                    }
                    else {
                        $(this).addClass("active");
                    }
                    $(".column-questionnaire-title").toggleClass("padding-left-slide");
                });
            };

            $.fn.dataTable.ext.errMode = 'none';

            var table = $('table.import-interview')
                .on('init.dt', onTableInitComplete)
                .on('error.dt', function (e, settings, techNote, message) {
                    location.reload();
                })
                .DataTable({
                    processing: true,
                    language:
                    {
                        "url": window.input.settings.config.dataTableTranslationsUrl
                    },
                    serverSide: true,
                    ajax: {
                        url: questionnaireListUrl,
                        type: "POST",
                        headers: requestHeaders
                    },
                    columns: [
                        {
                            data: "title",
                            name: "Title", // case-sensitive!
                            render: function (data, type, row) {
                                return "<a href=" + questionnaireImportModeUrl + "/" + row.id + "?questionnaireTitle=" + encodeURI(data) + ">" + data + "</a>";
                            }
                        },
                        {
                            data: "lastModified",
                            name: "LastEntryDate", // case-sensitive! should be DB name here from Designer questionnairelistviewitems? to sort column
                            "class": "changed-recently"
                        },
                        {
                            data: "createdBy",
                            name: "CreatorName",  // case-sensitive! should be DB name here from Designer DB questionnairelistviewitems? to sort column
                            "class": "created-by"
                        }
                    ],
                    rowId: 'id',
                    pagingType: "full_numbers",
                    lengthChange: false, // do not show page size selector
                    pageLength: 50, // page size
                    "order": [[1, 'desc']],
                    conditionalPaging: true
                });
        });
    </script>
}
<main class="import-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <div class="signed-name">
                    <div>
                        @Html.Raw(string.Format(@ImportQuestionnaire.SignedInBlock, string.Format("<span>{0}</span>", @Model.DesignerUserName))) <a href="@Url.Action("LogoutFromDesigner")">@ImportQuestionnaire.SignOut</a>
                    </div>
                </div>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink(MainMenu.Questionnaires, "Index", "HQ")
                    </li>
                    <li>
                        @Html.ActionLink(QuestionnaireImport.ListOfMyQuestionnaires, "Import")
                    </li>
                </ol>
                <h1>@ImportQuestionnaire.PageHeader</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <table class="table table-hover table-ordered import-interview">
                <thead>
                <tr>
                    <th class="column-questionnaire-title">@ImportQuestionnaire.Table_Title</th>
                    <th>@ImportQuestionnaire.Table_LastModified</th>
                    <th class="created-by">@ImportQuestionnaire.Table_CreatedBy</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</main>