@using System.Web.Optimization
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.LogOnModel

@{
    ViewBag.Title = "Sign in to designer";
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
}

@section scripts
{
    @Scripts.Render("~/validate")
}



<div class="container-fluid">
    <div class="page-header">
        <h2>Please sign in to designer</h2>
    </div>
    
    <div class="col-sm-offset-4 col-sm-3">
        @using (Html.BeginForm("LoginToDesigner", "Template", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Login" })
                <span class="help-block">@Html.ValidationMessageFor(m => m.UserName)</span>
            </div>

            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                <span class="help-block">@Html.ValidationMessageFor(m => m.Password)</span>
            </div>
            <div class="form-group">
                <p class="pull-right">
                    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
                </p>
            </div>
        }
    </div>
</div>

