@using WB.Core.GenericSubdomains.Portable
@using WB.UI.Headquarters.Models.WebInterview
@using WB.UI.Shared.Web.Captcha
@model WB.UI.Headquarters.Models.WebInterview.StartWebInterview
@{
    bool isPasswordInvalid = ViewData.ModelState.ContainsKey("InvalidPassword") && ViewData.ModelState["InvalidPassword"].Errors.Any();
    bool isResume = Model is ResumeWebInterview;
}

@if (Model.ServerUnderLoad)
{
    <p><strong>@Html.Raw(WebInterview.ServerUnderLoad)</strong></p>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (Model.UseCaptcha && !Model.ServerUnderLoad)
    {
        if (ViewData.ModelState.ContainsKey("InvalidCaptcha") && ViewData.ModelState["InvalidCaptcha"].Errors.Any())
        {
            <div class="form-group has-error">
                <p>
                    <span class="help-block">
                        @Html.ValidationMessage("InvalidCaptcha")
                    </span>
                </p>
            </div>
        }
        <div class="form-group">
            @Html.RenderCaptcha(DependencyResolver.Current.GetService<ICaptchaProvider>())
        </div>
    }

    if (Model.HasPassword)
    {
        <div class="form-group @(isPasswordInvalid? "has-error": "")">
            <label class="font-bold primary-text">This link is protected with password, that was distributed with the link. Please enter it here</label>
            <input class="form-control" type="password" name="password" placeholder="Enter the password" />
            @if (isPasswordInvalid)
            {
                <span class="help-block">@Html.ValidationMessage("InvalidPassword")</span>
            }
        </div>
    }

    if (Model.ServerUnderLoad)
    {
        <div class="row-element">
            <button class="btn btn-success btn-lg" onClick="window.location.reload();return false">@WebInterview.RefreshPage</button>
        </div>
    }
    else
    {
        <div class="row-element mb-20">
            <button class="btn btn-success btn-lg" type="submit">@(isResume ? WebInterview.ResumeInterview : WebInterview.Start)</button>
        </div>
    }

    if (Model.PendingInterviewId != Guid.Empty)
    {
        <input name="resume" class="btn btn-success btn-lg" type="submit" value="@WebInterview.ResumeInterview" />
    }
}
