@using WB.UI.Shared.Web.Extensions
@using WB.Core.Infrastructure.Versions
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @this.GenerateFavicon(Url.Content("~/Content/identity/favicon-hq"))

    <!-- css_markup:css -->
    <link rel='stylesheet' href='@Url.Content("~/Dependencies/build/markup.css")'>
    <!-- endinject -->
    <!-- css_markupWebInterview:css -->
    <link rel='stylesheet' async href='@Url.Content("~/Dependencies/build/markup-web-interview.css")'>
    <!-- endinject -->
    <title>@WebInterview.StartPageTitle</title>
    <script type="text/javascript">
        function onLogoError(source) {
            source.parentElement.className += " no-logo";
        }
    </script>
</head>
<body class="@(!Request.Browser.Cookies ? "no-cookies": "") dynamic-content">
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top" role="navigation">
                <div class="container-fluid ">
                    <div class="row flex-row">
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>
    @if (!Request.Browser.Cookies)
    {
        <div class="no-cookies">@WebInterview.Error_CookiesTurnedOff</div>
    }
    <main class="start-web-interview">
        <div class="container-wrapper">
            <div class="two-columns-form">
                <div class="left-column">
                    <div class="centered-box-table">
                        <div class="centered-box-table-cell">
                            <img src="@Url.Content("~/api/CompanyLogo/Thumbnail")" onerror="onLogoError(this)" id="placeholder" alt="Logo" />
                            <div class="default-logo"></div>
                            <p class="additional-info-block">
                                @WebInterview.PoweredBy <a href="http://support.mysurvey.solutions" target="_blank">Survey Solutions</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="right-column">
                    <div class="centered-box-table">
                        <div class="centered-box-table-cell">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <div class="text-center">&copy; @DateTime.Now.Year.ToString() <a href="http://www.worldbankgroup.org">@Common.TheWorldBankGroup</a>, @(Common.AlRightsReserved). <a href="http://go.worldbank.org/OS6V7NIUD0">@Common.Legal</a>.</div>
            <div class="text-center">
                @(DependencyResolver.Current.GetService<IProductVersion>())
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        "use strict";

        var allForms = document.getElementsByTagName("form");
        for (var i = 0; i < allForms.length; i++) {
            allForms[i].addEventListener("submit", function (evnt) {
                var allButtonsInForm = evnt.target.getElementsByTagName("button");
                for (var index = 0; index < allButtonsInForm.length; index++) {
                    var btn = allButtonsInForm[index];
                    if (btn.type === 'submit') {
                        btn.disabled = true;
                    }
                }
            });
        }

        var timesTags = document.getElementsByTagName("time");
        for (var i = 0; i < timesTags.length; i++) {
            var timeTag = timesTags[i];
            var date = new Date(timeTag.getAttribute("datetime"));
            timeTag.innerHTML = date.toLocaleString();
        }

        if (!navigator.cookieEnabled) {
            document.getElementsByTagName('body')[0].className += " no-cookies";
        }
    </script>
</body>
</html>
