@model WB.UI.Headquarters.Models.WebInterview.FinishWebInterview
@{
    Layout = "_WebInterviewLayout.cshtml";
}
<h2>@WebInterview.WebSurvey</h2>
<p>
    <ul class="list-unstyled">
        <li><strong>@WebInterview.FinishInterviewText</strong></li>
        <li><strong>@string.Format(WebInterview.SurveyFormatText, Model.QuestionnaireTitle)</strong></li>
    </ul>
</p>
<div class="additional-info-block">
    <ul class="list-unstyled">
        <li>@string.Format(WebInterview.InterviewIdFormatText, Model.InterviewId)</li>
        @if (Model.StartedDate.HasValue)
        {
            <li>@string.Format(WebInterview.InterviewStartDateFormatText, Model.StartedDate.Value.ToString(@"MMM dd yyyy, hh:mm"))</li>
        }
        <li>@string.Format(WebInterview.InterviewCompletionDateFormatText, Model.CompletedDate.HasValue ? Model.CompletedDate.Value.ToString(@"MMM dd yyyy, hh:mm") : WebInterview.InProgressText)</li>
    </ul>
</div>