@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web interview</title>
    <link rel='icon' sizes='192x192' href='~/Dependencies/img/identity/favicon-hq-192x192.png'>
    <link rel='apple-touch-icon' sizes='180x180' href='~/Dependencies/img/identity/favicon-hq-180x180.png'>
    <link rel='apple-touch-icon' sizes='152x152' href='~/Dependencies/img/identity/favicon-hq-152x152.png'>
    <link rel='apple-touch-icon' sizes='144x144' href='~/Dependencies/img/identity/favicon-hq-144x144.png'>
    <link rel='apple-touch-icon' sizes='120x120' href='~/Dependencies/img/identity/favicon-hq-120x120.png'>
    <link rel='apple-touch-icon' sizes='114x114' href='~/Dependencies/img/identity/favicon-hq-114x114.png'>
    <link rel='apple-touch-icon' sizes='76x76' href='~/Dependencies/img/identity/favicon-hq-76x76.png'>
    <link rel='apple-touch-icon' sizes='72x72' href='~/Dependencies/img/identity/favicon-hq-72x72.png'>
    <link rel='apple-touch-icon' href='~/Dependencies/img/identity/favicon-hq.png'>
    
    <!-- css_markup:css -->
    <link rel='stylesheet'  href='@Url.Content("~/Dependencies/build/markup.css")' >
    <!-- endinject -->
    <!-- css_markupWebInterview:css -->
    <link rel='stylesheet' async href='@Url.Content("~/Dependencies/build/markup-web-interview.css")' >
    <!-- endinject -->
</head>
<body class="gray-background">
    <script>
    global: CONFIG = {
        virtualPath: '@Url.RouteUrl(@"Default", new {controller = @"WebInterview", Action = "Index"})',
        imageUploadUri: '@Url.RouteUrl(@"WebInterview.ImageAnswering", new { controller = @"WebInterview", Action = @"Image"})',
        audioUploadUri: '@Url.RouteUrl(@"WebInterview.AudioAnswering", new { controller = @"WebInterview", Action = @"Audio"})',
        imageGetBase: '@Url.Content(@"~/api/WebInterviewResources")',
        audioGet: '@Url.Content(@"~/Resource/AudioRecord")',
        signalrPath: '@Url.Content(@"~/signalr/hubs")',
        verboseLogging: false,
        supportedTransports: ["webSockets", "longPolling"],
        appVersion: '@(DependencyResolver.Current.GetService<WB.Core.Infrastructure.Versions.IProductVersion>())',
		googleApiKey: '@(WB.Core.SharedKernels.SurveyManagement.Web.Code.AppSettings.Instance.GoogleMapApiKey)',
        googleMapsApiBaseUrl: '@WB.Core.SharedKernels.SurveyManagement.Web.Code.AppSettings.Instance.GoogleMapApiBaseUrl',
		googleMapsBaseUrl: '@WB.Core.SharedKernels.SurveyManagement.Web.Code.AppSettings.Instance.GoogleMapBaseUrl',
        hqLink : @Html.Raw(this.User.Identity.IsAuthenticated && this.User.IsInRole("Interviewer")
                     ? "'" + Url.Content(@"~/InterviewerHq/Started") + "'"
                     : "null")
    }
    </script>
    <div id="app"></div>
    @Html.Partial("partial.webinterview")
</body>
</html>
