@using Main.Core.View.Answer
@using Questionnaire.Core.Web.Helpers

@model Main.Core.View.Question.CompleteQuestionView
@{

    var settings = (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings;
    settings.Add("onclick", "$(this.form).submit();");
}
@using (Html.BeginCollectionItem("Answers", true, Model.PublicKey))
{
    @Html.Hidden("Parent", Model.PublicKey)
    <fieldset data-role="controlgroup"><legend>@Html.Raw(Model.Title)</legend>
        @foreach (CompleteAnswerView item in Model.Answers)
        {
            @Html.Hidden("Selected", true)

            string radibutonname = string.Format("{0}-{1}", ViewData.TemplateInfo.GetFullHtmlFieldId("PublicKey"), item.PublicKey);
            settings["id"] = radibutonname;
            
            <label class="radio" for="@radibutonname">
                @Html.RadioButton("PublicKey", item.PublicKey, item.Selected, settings)
                @{ Html.RenderPartial(string.Format("Answer/_{0}", item.AnswerType), item); }
            </label>
        }
    </fieldset>
}
