@model WB.UI.Designer.Models.ControlPanel.AllowedAddressModel
@{
    ViewBag.Title = "Allowes Addresses";
    this.Layout = "~/Views/ControlPanel/Layout.ControlPanel.cshtml";
}

<h2>Allowes Address</h2>
<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                @Html.LabelFor(x => x.Address, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Address, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.Address, null, new { @class = "help-block" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.Description, null, new { @class = "help-block" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }
    </div>
</div>