@model WB.UI.Designer.Models.MakeAdminViewModel
@{
    this.Layout = "~/Views/ControlPanel/Layout.ControlPanel.cshtml";
    this.ViewBag.Title = "Control Panel: Make the user an administrator";
}

<div class="page-header">
    <h3>
        Make the user an administrator
    </h3>
</div>
@Html.Partial("_alerts")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset class="form-horizontal">
        <div class="form-group">
             @Html.LabelFor(x => x.Login, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-2">
                @Html.TextBoxFor(x => x.Login, new { @class = "form-control", autocomplete = "off" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(x => x.Login, null, new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.IsAdmin, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-2">
                @Html.CheckBoxFor(x => x.IsAdmin)
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(x => x.IsAdmin, null, new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </fieldset>
}
