@model WB.Core.BoundedContexts.Designer.Views.Questionnaire.Pdf.PdfQuestionnaireView

<header>
    @this.Model.Title
</header>

@foreach (var child in this.Model.Children)
{
    Html.RenderPartial("_RenderChild", child);
}

<div class="page-break"></div>

@if (this.Model.GetQuestionsWithConditions().Any())
{
    <h1>
        Enabling conditions
    </h1>
    foreach (var question in this.Model.GetQuestionsWithConditions()) {
        <p id="@("c" + question.ItemNumber)">
            <a href="#@("cq" + question.ItemNumber)">[c @(question.ItemNumber)]</a>: @question.GetReadableConditionExpression()
        </p>
    }
}

@if (this.Model.GetQuestionsWithValidation().Any())
{
    <h1>Validation conditions</h1>
    foreach (var question in this.Model.GetQuestionsWithValidation()) {
        <p id="@("v" + question.ItemNumber)">
            <a href="#@("vq" + question.ItemNumber)">[v @(question.ItemNumber)]</a>: @question.GetReadableValidationExpression()
        </p>
    }
}