@using System.Globalization
@model WB.Core.BoundedContexts.Designer.Views.Questionnaire.Pdf.PdfQuestionnaireView


<header>
    @Model.Title
</header>
<div class="create-date">
    Created by: @Model.CreatedBy, @Model.CreationDate.ToString(CultureInfo.InvariantCulture)
</div>
<div class="statistics">
    Chapters: @Model.GetChaptersCount() <br/>
    Groups: @Model.GetGroupsCount()<br/>
    Questions with conditions: @Model.GetQuestionsWithConditionsCount() <br/>
    Questions: @Model.GetQuestionsCount() <br/>
</div>