@using Main.Core.View
@model WB.UI.Designer.Views.Questionnaire.Pdf.PdfQuestionnaireView

<header>
    @this.Model.Title
</header>

@foreach (var child in this.Model.Children)
{
    Html.RenderPartial("_RenderChild", child);
}

<div class="page-break"></div>
<h1>
    Conditions
</h1>
@foreach (var question in this.Model.GetQuestionsWithConditions())
{
    <p id="@("c" + question.ItemNumber)">
        Question @question.ItemNumber: @question.Condition
    </p>
}
<h1>Validation expressions</h1>
@foreach (var question in this.Model.GetQuestionsWithValidation())
{
    <p id="@("v" + question.ItemNumber)">
        Question @question.ItemNumber: @question.ValidationExpression
    </p>
}