@model WB.UI.Designer.Views.Questionnaire.Pdf.PdfQuestionView
@using Main.Core.Entities.SubEntities
@using Main.Core.View.Answer
@using WB.UI.Designer.Views.Questionnaire.Pdf
<div class="question no-page-break">
    <span>
        <span>@Model.ItemNumber &nbsp;&nbsp;&nbsp;</span> @Model.Title 
    </span>

    @if (Model.Answers.Count > 0) {
        <ul class="answer-options">
            @foreach (PdfAnswerView answer in this.Model.Answers)
            {
                <li>
                    <input type="@(Model.QuestionType == QuestionType.MultyOption ? "checkbox" : "radio")" title="@answer.Title" disabled="disabled" />
                    <span class="answer-value">
                        @answer.AnswerValue
                    </span>
                    <span>
                        @answer.Title
                    </span>
                </li>
            }
        
        </ul>
    }
    else {
        switch (Model.QuestionType)
        {
            case QuestionType.Text: {
                <div class="answer-placeholder">&nbsp;</div>
                <div class="answer-placeholder">&nbsp;</div>
                <div class="answer-placeholder">&nbsp;</div>
                    break;
                }
            case QuestionType.DateTime:
                {
                    <span class="no-line-break">
                        <span class="answer-placeholder date-answer-day"></span>/
                        <span class="answer-placeholder date-answer-month"></span>/
                        <span class="answer-placeholder date-answer-year" ></span>
                    </span>
                    break;
                }
            default:
                <div class="answer-placeholder">&nbsp;</div>
                break;
        }
    }
</div>