@using WB.Core.BoundedContexts.Designer.Resources
@using WB.Core.BoundedContexts.Designer.Views.Questionnaire.Pdf
@using WB.UI.Designer.Utils
@model Main.Core.Entities.SubEntities.IGroup
@{
    PdfQuestionnaireModel questionnaire = ViewBag.Questionnaire;
    var group = Model;
}
<div class="group">
    <div class="group_container">
        <div class="breacrumbs">@questionnaire.GetBreadcrumbsForGroup(group.PublicKey)</div>
        <div class="sub_section" id="@questionnaire.GetItemRef(group.PublicKey)">@questionnaire.GetGroupTitle(group)</div>
        @if (questionnaire.GroupHasEnablementCondition(group))
        {
            <div class="common-info">
                <div class="condition">
                    <span>E</span>@questionnaire.GetExpressionExcerpt(group.ConditionExpression)
                    @if (questionnaire.ExpressionIsTooLong(group.ConditionExpression))
                    {
                        <div class="more">
                            <a href="#@questionnaire.GetConditionRef(group.PublicKey)">
                                @Pdf.Format(PdfStrings.AppendixLink, group.ConditionExpression.Length - questionnaire.Settings.ExpressionExcerptLength, questionnaire.GetEntityIndexInAppendix(group.PublicKey, "E"))
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
@Html.Partial("_RenderChildren", group.PublicKey)
