@using Main.Core.Entities.SubEntities
@using Main.Core.View.Answer
@model Main.Core.View.Question.QuestionView

<h3>
    @Model.Title
</h3>

@if (this.Model.Answers != null && this.Model.Answers.Length > 0)
{
    <ul class="answer-options">
        @foreach (AnswerView answer in this.Model.Answers)
        {
            <li>
                <input type="@(Model.QuestionType == QuestionType.MultyOption ? "checkbox" : "radio")" title="@answer.Title" disabled="disabled" />
                <span class="answer-value">
                    @answer.AnswerValue
                </span>
                <span>
                    @answer.Title
                </span>
            </li>
        }
        
    </ul>
}
