@using System.Web.Optimization
@model WB.UI.Headquarters.Models.Team.UserCreateModel

@{
    ViewBag.Title = "Add supervisor";
}

<div class="page-header">
    <h1>
        Supervisor <small>create</small>
    </h1>
</div>

<div class="col-sm-6">


    @using (Html.BeginForm("AddSupervisor", "Team", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.UserName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "help-block" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Email, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.IsLocked, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(x => x.IsLocked)
                    </label>
                </div>

            </div>


        </div>


        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    }
</div>