@model Main.Core.View.Questionnaire.QuestionnaireBrowseView
@foreach (var item in Model.Items)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td class="buttons">
            @Html.ActionLink("Flow", "Flow", "Questionnaire", new { id = item.Id }, new { @class = "btn small " })
        <td class="buttons">    
            @Html.ActionLink("Edit", "Details", new { id = item.Id }, new { @class = "btn small " })
        </td>
        <td class="buttons">
            @Html.ActionLink("PDF", "PreviewQuestionnaire", "Pdf", new { id = item.Id }, new { @class = "btn small btn-primary" })
        </td>
        <td class="buttons">    
            @Html.ActionLink("Download", "ExportTemplates", "ImportExport", new { id = item.Id }, new { @class = "btn small btn-primary" })
        </td>
    </tr>
}