@model RavenQuestionnaire.Core.Views.Questionnaire.QuestionnaireBrowseView
@foreach (var item in Model.Items)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.LastEntryDate)
        </td>*@
        <td class="buttons">
            @Html.ActionLink("Rename", "Edit", new { id = item.Id }, new { @class = "btn small " })
            @Html.ActionLink("Manage", "Details", new { id = item.Id }, new { @class = "btn small " })
            @Html.ActionLink("Flow", "Edit", "FlowGraph", new { id = item.Id }, new { @class = "btn small " })
            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn small danger" })*@
            @Html.ActionLink("Participate", "Participate", "CompleteQuestionnaire", new { id = item.Id }, new { @class = "btn small btn-primary" })
        </td>
        <td class="buttons">    
            @Html.ActionLink("Statuses", "Index", "Status", new { id = item.Id }, new { @class = "btn small " })
        </td>
        <td class="buttons">    
            @Html.ActionLink("Export Completed", "Export", new { id = item.Id }, new { @class = "btn small btn-primary" })
        </td>
    </tr>
}