@using RavenQuestionnaire.Core.Views.Questionnaire
@model QuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Save", "Questionnaire"))
{
    @Html.ValidationSummary(true)
    <fieldset><legend>Questionnaire</legend>
        <div class="clearfix">
            @Html.LabelFor(model => model.Title)
            <div class="input">
                @Html.EditorFor(model => model.Title)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Title)</span>
            </div>
        </div>
        @Html.HiddenFor(model => model.Id)
        <div class="actions">
            <input type="submit" value="Save" class="btn primary" />
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
</div>
