@using RavenQuestionnaire.Core.Views.Questionnaire
@using RavenQuestionnaire.Web.Utils

@model QuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Questionnaire"))
{
    <div class="modal inline-modal">
        <div class="modal-header">
            <h3>Questionnaire</h3>
        </div>
        <div class="modal-body">
            <fieldset class="form-horizontal">
                @Html.BootstrapValidationSummary("")
                <div class="control-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Title)
                        <span class="help-inline">@Html.ValidationMessageFor(model => model.Title)</span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            @Html.ActionLink("Back to List", "Index")
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}
