@using System.Web.Script.Serialization
@using Main.Core.View.Question
@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Group
@using RavenQuestionnaire.Core.Views.Questionnaire
@using RavenQuestionnaire.Web.Utils
@model QuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var serializer = new JavaScriptSerializer(new TypeResolver());
}
<script type="text/javascript">
    
    var questionnaire = @Html.Raw(serializer.Serialize(Model)) ;


    !function ($) {

        $(function () {
            var $window = $(window);
            // Disable certain links in docs
            $('section [href^=#]').click(function (e) {
                e.preventDefault();
            });

            // side bar
            $('.bs-docs-sidenav').affix({
                offset: {
                    top: function () { return $window.width() <= 980 ? 290 : 210; },
                    bottom: 270
                }
            });

            function getUrlVars() {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }
            $(document).ready(function() {
                var vars = getUrlVars();
                $('#' + vars['qid']).focus();
            })
        });
        ;

    } (window.jQuery)
</script>

<div class="row-fluid">
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            @foreach (var item in Model.Children)
            {
                if ((item as GroupView) != null)
                {
                    var @group = @item as GroupView;
                <li><a href="#group-@(group.PublicKey)"><i class="icon-chevron-right"></i>@group.Title</a></li>
                @this.RenderTOC(@group)
                }
            }
        </ul>
        <p></p>
    </div>
    <div class="span9">
        <h1>@Model.Title</h1>
        <div class="control-group">
            <label class="control-label">Creation Date:</label>
            <div class="controls">
                <p class="text-block">@Model.CreationDate.ToLocalTime()</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Last edit Date:</label>
            <div class="controls">
                <p class="text-block">@Model.LastEntryDate.ToLocalTime()</p>
            </div>
        </div>
        <p>
        @Html.ActionLink("Add Chapter", "Create", "Group", new { id = Model.PublicKey }, new { @class = "btn " })
                        <a href="@Url.Action("Edit", new { id = Model.PublicKey })" class="btn btn-primary">
                            <i class="icon-pencil icon-white"></i>Edit</a></p>
        <div>
            @{ Html.RenderPartial("~/Views/Questionnaire/_RenderChildren.cshtml", Model.Children); }
        </div>
    </div>
</div>

@helper RenderTOC(GroupView block)
    {
        foreach (var @group in from item in block.Children where (item as GroupView) != null select @item as GroupView)
        {
    <li><a href="#group-@(group.PublicKey)"><i class="icon-chevron-right"></i>@group.Title</a></li>
    @this.RenderTOC(@group)
        }
}