@using RavenQuestionnaire.Core.Views.Questionnaire
@model QuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="../../Scripts/modal.js" type="text/javascript"></script>
<script>
    function OpenModal() {
        $('#divCreateForm').modal({
                backdrop: false
            });
        $('#divCreateForm').modal('show');
    }
</script>
<h1>@Model.Title</h1>
<div class="pairs">
    <div class="clearfix">
        <div class="key">
            Creation Date:</div>
        <div class="value">
            @Html.DisplayFor(model => model.CreationDate)
        </div>
    </div>
    <div class="clearfix">
        <div class="key">
            Last edit Date:</div>
        <div class="value">
            @Html.DisplayFor(model => model.LastEntryDate)
        </div>
    </div>
</div>
<h2>Questions</h2>
@{Html.RenderPartial("~/Views/Question/_Index.cshtml", Model.Questions);}
<div id="addNewQuestion">
</div>
<div class="">
    @Ajax.ActionLink("Add Question", "Create", "Question", new { Model.Id }, new AjaxOptions
                                                                                   {
                                                                                       UpdateTargetId = "addNewQuestion",
                                                                                       OnSuccess = "OpenModal"
                                                                                   }, new { @class = "btn" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn primary" })
    @Html.ActionLink("Back to List of Questionnaires", "Index", null, new { @class = "btn" })
</div>
