@using RavenQuestionnaire.Core.Views.Group
@using RavenQuestionnaire.Core.Views.Questionnaire
@model QuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="../../Scripts/modal.js" type="text/javascript"></script>
<script>
    $('#addNewQuestion').modal({
        backdrop: 'static'
    });
    function OpenModal() {

        $('#addNewQuestion').modal('show');
    }
    function HideCreateQuestionForm(content) {
        //      $('#addNewQuestion').modal('hide');
        if ($(content.responseText).children('div#divCreateForm form').length == 0) {
            $('#divAllQuestions').html(content.responseText);
            $('#addNewQuestion').modal('hide');
        }
    }
    function HideCreateGroupForm(content) {
        //      $('#addNewQuestion').modal('hide');
        if ($(content.responseText).children('div#divCreateForm form').length == 0) {
            $('#divAllGroups').html(content.responseText);
            $('#addNewQuestion').modal('hide');
        }
    }
</script>
<h1>@Model.Title</h1>
<div class="pairs">
    <div class="clearfix">
        <div class="key">
            Creation Date:</div>
        <div class="value">
            @Html.DisplayFor(model => model.CreationDate)
        </div>
    </div>
    <div class="clearfix">
        <div class="key">
            Last edit Date:</div>
        <div class="value">
            @Html.DisplayFor(model => model.LastEntryDate)
        </div>
    </div>
</div>
<h2>
    Questions</h2>
    <div id="divAllQuestions">
@{Html.RenderPartial("~/Views/Question/_Index.cshtml", Model.Questions);}</div>
  <div id="divAllGroups">
@{Html.RenderPartial("~/Views/Group/_Index.cshtml", Model.Groups);}</div>
<div id="addNewQuestion">
</div>
<div class="">
    @Ajax.ActionLink("Add Question", "Create", "Question", new { Model.Id }, new AjaxOptions
                                                                                   {
                                                                                       UpdateTargetId = "addNewQuestion",
                                                                                       OnSuccess = "OpenModal"
                                                                                   }, new { @class = "btn btn-info" })
    @Ajax.ActionLink("Add Screen", "Create", "Group", new { Model.Id }, new AjaxOptions
                                                                                   {
                                                                                       UpdateTargetId = "addNewQuestion",
                                                                                       OnSuccess = "OpenModal"
                                                                                   }, new { @class = "btn btn-info" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List of Questionnaires", "Index", null, new { @class = "btn" })
</div>
