@model IEnumerable<WB.Core.BoundedContexts.Designer.Views.AllowedAddresses.AllowedAddress>
@{
    ViewBag.Title = "Allowed Addresses";
    Layout = "Layout.ControlPanel";
}

<h2>Allowes Addresses <a class="btn btn-default" href="@Url.Action("AddAllowedAddress","ControlPanel")">Add</a></h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Address</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var address in Model)
    {
        <tr>
            <td>@address.Address</td>
            <td>@address.Description</td>
            <td>
                <a href="@Url.Action("EditAllowedAddress", "ControlPanel", new {id = address.Id})" class="btn btn-link">Edit</a>
            </td>
            <td>
                <form asp-action="RemoveAllowedAddress" asp-controller="ControlPanel" asp-route-id="@address.Id" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-link">Remove</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
