@using Newtonsoft.Json
@model Core.Supervisor.Views.ChangeStatus.ChangeStatusView
@{
    ViewBag.Title = "Change state survey";
}
<h2>@Model.QuestionnaireTitle <small>(ver. @Model.QuestionnaireVersion)</small></h2>
<div class="row-fluid">
    <div class="span12">
        <div class="control-group">
            <label class="control-label" for="comment">Comment</label>
            <div class="controls">
                <textarea rows="3" class="input-block-level" id="comment" data-bind="value: $root.comment"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <button class="btn btn-success" data-bind="click: $root.approve">Approve</button>
    </div>
    <div class="span6">
        <div class="pull-right">
            <button class="btn btn-danger" data-bind="click: $root.reject">Reject</button>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 offset3">
        <h3>State change history</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>set status</th>
                    <th>with comment</th>
                    <th>on</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ch in Model.StatusHistory)
                {
                    <tr>
                        <td>user
                        </td>
                        <td>
                            @ch.Status
                        </td>
                        <td>
                            @ch.Comment
                        </td>
                        <td>
                            @ch.Date.ToLocalTime()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="output">
    <div class="inner">
        <div class="title">
            <button type="button" class="close" data-bind="click: hideOutput">&times;</button>
            <span>Errors log</span>
        </div>
        <div class="body">
            <ul data-bind="foreach: errors" class="error-list">
                <li class="error">
                    <span data-bind="html: error"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
@section scripts
{
    <script data-main="../../Scripts/changeState/main.js" src="~/Scripts/lib/require.js"></script>

    <script type="text/javascript">
        define('input', [], function() {
            var currentUser =  @Html.Raw(JsonConvert.SerializeObject(ViewBag.CurrentUser));
            return {
                interviewId: '@Model.InterviewId',
                currentUser: currentUser,
                commandExecutionUrl: '@Url.Action("Execute", "Command", new { }, Request.Url.Scheme)',
                backUrl: '@Url.Action("Interviews", "Survey", new { status = "_______" }, Request.Url.Scheme)',
            };
        });
    </script>
}
