@using WB.UI.Designer.Resources
<div class="modal fade" id="mExportHtml">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-html-dialog" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">@Html.Raw(string.Format(QuestionnaireController.CreatingHtml, "<span id=\"export-html-modal-questionnaire-title\">?</span>"))</h4>
            </div>
            <div class="modal-body">
                <div class="start-pdf-generation">
                    <p>@QuestionnaireController.ChooseLanguageTitle</p>

                    <div class="dropdown clearfix">
                        <button class="btn btn-default dropdown-toggle" type="button" title="@QuestionnaireController.ChooseLanguage" id="dropdownMenuButtonHtml" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="true">
                        </button>
                        <ul class="dropdown-menu languages-combobox-html" aria-labelledby="dropdownMenuButtonHtml">
                            @*<li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>*@
                        </ul>
                        <button id="htmlGenerateButton" class="btn btn-default" type="button">@QuestionnaireController.GetHtml</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="htmlCancelButton" class="btn pull-right close-html-dialog" data-dismiss="modal" aria-hidden="true">@QuestionnaireController.Cancel</button>
            </div>
        </div>
    </div>
</div>
