@page
@model ForgotPasswordModel
@{
    ViewBag.Title = AccountResources.PasswordReset;
}


<form method="post" id="start-reset" autocomplete="off">
    @Html.AntiForgeryToken()
    <h1>@AccountResources.PasswordReset</h1>

    <p class="note">
        @AccountResources.PasswordResetDescription
    </p>
    <div class="form-group">
        <input type="text" asp-for="Input.Email" class="form-control" placeholder="@AccountResources.LoginOrEmail"/>
        <span asp-validation-for="Input.Email" class="text-danger help-inline"></span>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-success btn-lg" value="@AccountResources.Restore" />
        <a class="btn btn-link" asp-page="./Login">@AccountResources.Login</a>
        <a class="btn btn-link" asp-page="./Register">@AccountResources.Register</a>
    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

