@page
@model ResetPasswordModel
@{
    ViewBag.Title = AccountResources.PasswordReset;
}

    <form method="post">
        <h1>
            @AccountResources.PasswordReset
        </h1>
        <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="Input.Code" type="hidden" />
        <input asp-for="Input.UserId" type="hidden" />
        
        <div class="form-group">
            <input asp-for="Input.Password" class="form-control" placeholder="@AccountResources.Password" />
            <span asp-validation-for="Input.Password" class="text-danger help-inline"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@AccountResources.ConfirmPassword" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger help-inline"></span>
        </div>
        <div class="form-actions">
            <input class="btn btn-success btn-lg" type="submit" value="@AccountResources.ChangePassword" />
        </div>
        <div class="form-group">
            <input class="wb-checkbox" id="ShowPassword" type="checkbox" 
                   onclick="var pass = document.getElementById('Input_Password');pass.type = (pass.type === 'text' ? 'password' : 'text');var confirm = document.getElementById('Input_ConfirmPassword');confirm.type = (confirm.type === 'text' ? 'password' : 'text');">
            <label for="ShowPassword" >
                <span></span>@AccountResources.ShowPassword
            </label>
        </div>
    </form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
