@page
@model ResetPasswordModel
@{
    ViewBag.Title = AccountResources.PasswordReset;
}

<form method="post">
    <h1>
        @AccountResources.PasswordReset
    </h1>
    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="Input.Code" type="hidden" />
    
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" placeholder="@AccountResources.Email"/>
        <span asp-validation-for="Input.Email" class="text-danger help-inline"></span>
    </div>

    <div class="form-group">
        <input asp-for="Input.Password" class="form-control" placeholder="@AccountResources.Password"/>
        <span asp-validation-for="Input.Password" class="text-danger help-inline"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@AccountResources.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger help-inline"></span>
    </div>
    <div class="form-actions">
        <input class="btn btn-success btn-lg" type="submit" value="@AccountResources.ChangePassword" />
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
