<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.Title</title>
    <link rel="stylesheet" href="http://jquerymobile.com/demos/1.1.0-rc.1/css/themes/default/jquery.mobile.css" />
    <link rel="stylesheet" href="http://jquerymobile.com/demos/1.1.0-rc.1/docs/_assets/css/jqm-docs.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
    <script src="@Url.Content("~/Scripts/Html5/take.js")" type="text/javascript"></script>
    <script src="http://jquerymobile.com/demos/1.1.0-rc.1/docs/_assets/js/jqm-docs.js"></script>
    <script src="http://jquerymobile.com/demos/1.1.0-rc.1/js/jquery.mobile.docs.js"></script>
     <link rel="stylesheet" href="http://jquerymobile.com/demos/1.0a4.1/experiments/ui-datepicker/jquery.ui.datepicker.mobile.css" /> 
  <script src="http://jquerymobile.com/demos/1.0a4.1/experiments/ui-datepicker/jQuery.ui.datepicker.js"></script>
  <script src="http://jquerymobile.com/demos/1.0a4.1/experiments/ui-datepicker/jquery.ui.datepicker.mobile.js"></script>
 @*   <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    
    @*<script src="@Url.Content("~/Scripts/take.js")" type="text/javascript"></script>*@
    @*<script src="@Url.Content("~/Scripts/Html5/LocalStorage.js")" type="text/javascript"></script>*@
    <style>
       /* ui-btn ui-btn-up-e ui-btn-icon-left ui-radio-on ui-btn-up-undefined*/
        .ui-radio-on{ background: -moz-linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
                      background-image: -webkit-gradient(linear, left top, left bottom, from(#5F9CC5), to(#396B9E));
                      color: #fff;  font-weight: normal;}
        .ui-corner-all { border-radius: 0;}
   /*     input.ui-input-text {
    border-width: 0;
    padding: 0.4em 0;
    width: 100%;
}*/
    </style>
</head>
<body>
    @*data-url="/demos/1.1.0-rc.1/docs/toolbars/footer-persist-a.html"*@
    <div data-role="page" class="type-interior">
        <div data-role="content" role="main">
            @RenderBody()
        </div>
    </div>
</body>
