@using ClientDependency.Core
@using ClientDependency.Core.Mvc
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.png")">
    @MvcHtmlString.Create(Html.RenderCssHere(new List<IClientDependencyPath>
												{
													new BasicPath("Base", "~/Content/themes/custom-theme"),
													new BasicPath("Content", "~/Content")
												}))
    @MvcHtmlString.Create(Html.RenderJsHere(new List<IClientDependencyPath>
											   {
												   new BasicPath("Scripts", "~/Scripts"),
												   new BasicPath("Content", "~/Content"),
                                                   new BasicPath("googleCDN", "http://ajax.googleapis.com/ajax/libs/"),
                                                   new BasicPath("Plugins", "~/Scripts/Plugins"),
                                                   new BasicPath("Details", "~/Scripts/details"),
											   }))
    @{
        Html.RequiresCss("jquery.ui.theme.css", "Base", 1);
        Html.RequiresCss("Bootstrap/bootstrap.css", "Content", 2);
        Html.RequiresCss("Bootstrap/bootstrap-responsive.min.css", "Content", 3);
        Html.RequiresCss("main.css", "Content", 4);

        Html.RequiresJs("jquery-1.7.1.js", "Scripts", 1);
        Html.RequiresJs("jquery-ui-1.8.16.custom.min.js", "Scripts", 2);
        Html.RequiresJs("FileUpload/tmpl.min.js", "Content", 3);

        Html.RequiresJs("Bootstrap/bootstrap.min.js", "Scripts", 27);

        Html.RequiresJs("jquery.validate.min.js", "Scripts", 30);
        Html.RequiresJs("jquery.validate.unobtrusive.min.js", "Scripts", 31);
        Html.RequiresJs("jquery.unobtrusive-ajax.js", "Scripts", 32);
        Html.RequiresJs("jquery.numeric.js", "Scripts", 33);
        Html.RequiresJs("jquery.inputmask.js", "Scripts", 34);
        
    }
</head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar" class="loading">
        <div class="loading-backdrop"></div>
        <div class="navbar  navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                                                                                                     class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </a><a href="@Url.Action("Index", "Questionnaire")" class="brand">Home</a>
                    <div class="nav-collapse ">
                        <ul id="menu" class="nav">
                            <li>@Html.ActionLink("Users", "Index", "User") </li>
                            <li>@Html.ActionLink("Survey templates", "Index", "Questionnaire") </li>
                            <li>@Html.ActionLink("Images", "Index", "Resource") </li>
                            <li>@Html.ActionLink("Collection", "Index", "Collection")</li>
                        </ul>
                        @Html.Partial("_LogOnPartial")
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            @RenderBody()
        </div>
        <script type="text/javascript">
            $('.dropdown-toggle').dropdown();
            $("[rel=popover]")
                .popover()
                .click(function (e) {
                    e.preventDefault();
                });
        </script>
    </body>
</html>
