<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body
        {
            padding-top: 40px;
        }
    </style>
    <link href="@Url.Content("~/Content/bootstrap/responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/icons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.numeric.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.inputmask.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/iscroll.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a href="@Url.Action("MyItems", "CompleteQuestionnaire")" class="brand">Home</a>
                <div class="nav-collapse ">
                    <ul class="nav">
                        <li>@Html.ActionLink("Take New", "ItemList", "Questionnaire")</li>
                        <li>@Html.ActionLink("All Completed", "Index", "CompleteQuestionnaire")</li>
                    </ul>
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
   
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
    
    </script>
</body>
</html>
