@using ClientDependency.Core
@using ClientDependency.Core.Mvc
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.png")">
    @MvcHtmlString.Create(Html.RenderCssHere(new List<IClientDependencyPath>
												{
													new BasicPath("Base", "~/Content/themes/base"),
													new BasicPath("Content", "~/Content")
												}))
    @MvcHtmlString.Create(Html.RenderJsHere(new List<IClientDependencyPath>
											   {
												   new BasicPath("Scripts", "~/Scripts"),
												   new BasicPath("Content", "~/Content"),
                                                   new BasicPath("googleCDN", "http://ajax.googleapis.com/ajax/libs/"),
											   }))
    @{
        Html.RequiresCss("Bootstrap/bootstrap.min.css", "Content", 1);
        Html.RequiresCss("Bootstrap/bootstrap-responsive.min.css", "Content", 2);
        Html.RequiresCss("main.css", "Content", 3);
        Html.RequiresCss("jquery.ui.theme.css", "Base", 10);
        Html.RequiresCss("jquery.ui.datepicker.css", "Base", 10);

        Html.RequiresJs("jquery-1.7.1.min.js", "Scripts", 1);
        Html.RequiresJs("jquery-ui-1.8.11.min.js", "Scripts", 2);
        Html.RequiresJs("FileUpload/tmpl.min.js", "Content", 3);
        Html.RequiresJs("Bootstrap/bootstrap.min.js", "Content", 4);
        Html.RequiresJs("jquery.validate.min.js", "Scripts", 5);
        Html.RequiresJs("jquery.validate.unobtrusive.min.js", "Scripts", 6);
        Html.RequiresJs("jquery.unobtrusive-ajax.js", "Scripts", 7);
        Html.RequiresJs("jquery.numeric.js", "Scripts", 8);
        Html.RequiresJs("jquery.inputmask.js", "Scripts", 9);
        
    }
    
</head>
<body>
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a href="@Url.Action("MyItems", "CompleteQuestionnaire")" class="brand">Home</a>
                <div class="nav-collapse ">
                    <ul class="nav">
                        <li>@Html.ActionLink("Take New", "ItemList", "Questionnaire")</li>
                        <li>@Html.ActionLink("All Completed", "Index", "CompleteQuestionnaire")</li>
                    </ul>
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
        $("[rel=popover]")
            .popover()
            .click(function (e) {
                e.preventDefault();
            });
    </script>
</body>
</html>
