@using RavenQuestionnaire.Core.Entities.SubEntities
<div class="pull-right">
<ul id="menu" class="nav" >
    @if (Request.IsAuthenticated)
    {
        if (Roles.IsUserInRole(UserRoles.Administrator.ToString()))
        {     
        <li  class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Administration
            <b class="caret"></b></a>
            <ul  class="dropdown-menu">
                <li>@Html.ActionLink("Users", "Index", "User") </li>
                <li>@Html.ActionLink("Locations", "Index", "Location") </li>
                <li>@Html.ActionLink("Survey templates", "Index", "Questionnaire") </li>
                <li>@Html.ActionLink("Images", "Index", "Resource") </li>
                <li>@Html.ActionLink("Collection", "Index", "Collection")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Reports", "Index", "Report")</li>
        }
         <li class="divider-vertical"></li>
        <li  class="navbar-text">@User.Identity.Name</li>
        <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("Log On", "LogOn", "Account")</li>
    }
</ul>
</div>