@using System.Web.Optimization
@using Main.Core.Entities.SubEntities
@{
    Layout = "~/Views/Shared/_NoFilterListViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/js/users")
    <script type="text/javascript">
    
    var $editUrl = '@Url.Action("Edit", "Headquarters", new { area = string.Empty })';
    var $putInShoesUrl = '@Url.Action("ObservePerson", "Account", new { area = string.Empty })';

        $(function () {
            var model = new Supervisor.VM.Users('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "UsersApi", action = "Headquarters" })');
        ko.applyBindings(model);
        model.load();
    });
    </script>
}

@section header
{
    <div class="page-header">
        <h2 class="sinle-line-header">@Users.Headquarters</h2>
    </div>
}

@section gridnavigation
{
    <div class="btn-group">
        <div class="form-inline">
            @if (User.IsInRole(UserRoles.Administrator.ToString()))
            {
                <a class="btn btn-default" href="@Url.Action("Create", "Headquarters", new {area = string.Empty})">
                    <i class="glyphicon glyphicon-user"></i> @Users.AddHeadquarters
                </a>
            }
            <div class="input-group">
                <input type="text" class="form-control" placeholder="@Common.Search" data-bind="value: SearchBy, enterKey: filter">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: filter">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


}

@section grid
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th data-bind='sortby : "UserName"'>@Users.UserName</th>
                <th data-bind='sortby : "CreationDate"' title="@Users.HeadquarterAccountCreationDate">@Users.CreationDate</th>
                <th data-bind='sortby : "Email"'>@Users.HeadquartersEmail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:Items -->
            <tr>
                <td>
                    @if (User.IsInRole(UserRoles.Administrator.ToString()))
                    {
                        <a data-bind="attr: { href: $editUrl + '/' + UserId() }">
                            <span data-bind="text: UserName"></span>
                        </a>
                    }
                    else
                    {
                        <span data-bind="text: UserName"></span>
                    }
                </td>
                <td data-bind="text: CreationDate"></td>
                <td>
                    <a data-bind="attr:{href:'mailto:' + Email()},text:Email"></a>
                </td>

                <td class="headquarters-list-actions-column">
                    <a class="btn btn-info" data-bind="attr: { href: $putInShoesUrl + '?personName=' + UserName() }" title="@Users.ImpersonateAsUser">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </a>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}