@using Questionnaire.Core.Web.Helpers
@model Main.Core.View.Group.PropagatedGroupMobileView
@{
    string groupKey = "propagatedGroup" + Model.PropogationKey;
    var rparams = new
                      {
                          propagationKey = Model.PropogationKey,
                          publicKey = Model.PublicKey,
                          questionnaireId = ViewBag.QuestionnaireId,
                          parentGroupPublicKey = ViewBag.CurrentGroupPublicKey,
                          salt = (new Random()).NextDouble()
                      };
}
@if (!Model.AutoPropagate)
{
    <li id="@groupKey" class="propagated-list-item">
        <fieldset  class="ui-grid-a">
            <div class="ui-block-a"> 
                <a id="screen-ref-@(Model.PropogationKey)"  data-panel="main" class="propagated-screen-link-@(Model.PublicKey)" 
                href="@Url.Action("Screen", new { Id = Model.QuestionnairePublicKey, group = Model.PublicKey, propagationKey=Model.PropogationKey })">
                    <i class="icon-chevron-right"></i>
                    <span>@ViewBag.GroupIndex)</span> @Model.Title
                    <p  id="featured-title-@(Model.PropogationKey)"></p>
                </a>
            </div>
            <div class="ui-block-b">
                @using (Ajax.BeginFormHtml5("DeletePropagatedGroup", "Survey", rparams, new AjaxOptions {OnComplete = "RemovePropagatedGroup", HttpMethod = "POST"}, new {style = "float:right;"}))
                {
                    <input value="Delete" type="submit" data-role="button" data-icon="delete" data-iconpos="notext"
                           data-inline="true" data-mini="true" data-theme="b" />
                }
            </div>
        </fieldset >
        <script type="text/javascript">
             $('#screen-ref-@(Model.PropogationKey)').click(function() {
                 $('.scrollHere').removeClass('scrollHere');
                 $(this).parents('.propagated-list-item').addClass("scrollHere");
             });
        </script>
    </li>
}
else
{
    <li data-role="fieldcontain" id="@groupKey" ><a  id="screen-ref-@(Model.PropogationKey)" class="nav-link propagated-screen-link" href="@Url.Action("Screen", new { Id = Model.QuestionnairePublicKey, group = Model.PublicKey, propagationKey=Model.PropogationKey })">
                                                    <i class="icon-chevron-right"></i>
                                                    <span>@ViewBag.GroupIndex)</span> @Model.Title
                                                     <p id="featured-title-@(Model.PropogationKey)"></p>
                                                 </a>
        <script type="text/javascript">
         $('#screen-ref-@(Model.PropogationKey)').click(function() {
             $('.scrollHere').removeClass('scrollHere');
             $(this).parents('.propagated-screen-link').addClass("scrollHere");
         });
        </script>
    </li>
}