@using System.Web.Optimization
@using WB.Core.SharedKernels.DataCollection.ValueObjects.Interview
@using WB.Core.SharedKernels.SurveyManagement.Web.Utils.Membership
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.InterviewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @Styles.Render("~/css/list")
    @Styles.Render("~/css/interview")
}
@section scripts
{
    @Scripts.Render("~/js/interview-general", "~/js/interview-details")
    <script type="text/javascript">
    var urlReferrer = null;
    @if (Request.UrlReferrer != null && Request.UrlReferrer.OriginalString.Contains("Interviews") && Request.UrlReferrer.OriginalString.Contains("Survey"))
        {
            <text>urlReferrer = '@Html.Raw(Request.UrlReferrer)';</text>
        }

    var settings = new Supervisor.VM.InterviewDetailsSettings();
    settings.UserName = '@User.Identity.Name';
    settings.UrlReferrer = urlReferrer;

    settings.Interview.InterviewId = '@Model.InterviewId';
    settings.Interview.CurrentGroupId = '@Model.CurrentGroupId';
    settings.Interview.CurrentPropagationKeyId = '@Model.CurrentPropagationKeyId';

    settings.Urls.CommandExecution = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "CommandApi", action = "Execute" })';
    settings.Urls.InterviewDetails = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "InterviewApi", action = "InterviewDetails" })';
    settings.Urls.Interviews = '@(GlobalInfo.IsSupervisor ? Url.Action("Interviews", "Survey") : @Url.Action("Interviews", "HQ", new {area=""}))';
    settings.Urls.ChangeStateHistory = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "InterviewApi", action = "ChangeStateHistory" })';

    settings.Urls.InterviewFile = '@Url.RouteUrl("Default", new { httproute = "", controller = "Resource", action = "InterviewFile" })';

    $(function () {
        window.model = new Supervisor.VM.InterviewDetails(settings);
        ko.applyBindings(model);
        model.load();
    });
    </script>

    <script type="text/html" id="SingleOptionReadOnly">
        <div class="form-group">
            <div class="controls">
                <div data-bind="ifnot: (isFilteredCombobox || isCascade)">
                    <div data-bind="foreach: options">
                        <label class="radio" data-bind='attr: { "for": optionFor }'>
                            <input type="radio" data-bind="attr: { value: value, name: $parent.variable, id: optionFor }, checked : $parent.selectedOption" disabled="disabled">
                            <span data-bind="html: label"></span>
                        </label>
                    </div>
                </div>
                <div data-bind="if: (isFilteredCombobox || isCascade)">
                    <input class="form-control" type="text" data-bind="value: answer" disabled="disabled" />
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="MultyOptionReadOnly">
        <div class="form-group">
            <div class="controls">
                <div data-bind="foreach: options">
                    <label class="checkbox" data-bind='attr: { "for": optionFor }'>
                        <span class="badge" data-bind="text: orderNo"></span>
                        <input type="checkbox" data-bind="attr: { value: value, name: $parent.variable, id: optionFor }, checked : isSelected, value: value" disabled="disabled" />
                        <span data-bind="html: label"></span>
                    </label>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="NumericReadOnly">
        <div class="form-group">
            <div class="controls">
                <input class="form-control" type="text" data-bind="numericformatter: answer" disabled="disabled" />
            </div>
        </div>
    </script>
    <script type="text/html" id="MultimediaReadOnly">
        <div class="form-group">
            <div class="controls">               
                <img data-bind="attr:{src: $root.getImageUrl(pictureFileName), alt:pictureFileName}" alt="" width="100%" height="100%" />
            </div>
        </div>
    </script>
    <script type="text/html" id="DateTimeReadOnly">
        <span data-bind=" text: answer ? moment(answer).format('l') : '' "></span>
    </script>
    <script type="text/html" id="TextListReadOnly">
        <div class="form-group">
            <div class="controls">
                <div data-bind="foreach: options">
                    <label class="checkbox">
                        <span data-bind="html: label"></span>
                    </label>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="AutoPropagateReadOnly">
        <input class="form-control" type="text" data-bind="value: answer" disabled="disabled" />
    </script>
    <script type="text/html" id="TextReadOnly">
        <div class="form-group">
            <div class="controls">
                <input class="form-control" type="text" data-bind="value: answer" disabled="disabled" />
            </div>
        </div>
    </script>
    <script type="text/html" id="QRBarcodeReadOnly">
        <div class="form-group">
            <div class="controls">
                <input class="form-control" type="text" data-bind="value: answer" disabled="disabled" />
            </div>
        </div>
    </script>
    <script type="text/html" id="GpsCoordinatesReadOnly">
        <div>latitude: <span data-bind="text: latitude"></span></div>
        <div>longitude: <span data-bind="text: longitude"></span></div>
        <div>accuracy: <span data-bind="text: accuracy"></span></div>
        <div>altitude: <span data-bind="text: altitude"></span></div>
        <div>time stamp: <span data-bind="text: timestamp ? moment(timestamp).format('lll') : '' "></span></div>
    </script>

    <script type="text/html" id="SingleOptionFull">
        <!-- ko ifnot:  (isFilteredCombobox || isCascade) -->
        <div data-bind="template: { name: 'SingleOptionRegularFull' }"></div>
        <!-- /ko -->
        <!-- ko if: (isFilteredCombobox || isCascade) -->
        <div data-bind="template: { name: 'SingleOptionFilteredFull' }"></div>
        <!-- /ko -->
    </script>

    <script type="text/html" id="SingleOptionRegularFull">
        <div class="form-group" data-bind="validationElement: selectedOption">
            <div class="controls">
                <div data-bind="foreach: options">
                    <label class="radio" data-bind='attr: { "for": optionFor }'>
                        <input type="radio" data-bind="attr: { value: value, name: $parent.variable, id: optionFor }, checked : $parent.selectedOption, value: value, disable: $parent.isReadonly">
                        <span data-bind="html: label"></span>
                    </label>
                </div>
                <span class="help-inline" data-bind="validationMessage: selectedOption"></span>
            </div>
        </div>
        <button class="btn btn-primary" data-bind="click: $root.saveAnswer, visible: isReadonly==false, enable: errors().length == 0">Save answer</button>
    </script>

    <script type="text/html" id="SingleOptionFilteredFull">
        <div class="form-group" data-bind="validationElement: value">
            <div class="controls">
                <input class="form-control" type="text" data-bind="typeahead: options,  id: selectedOption, value: value, valueUpdate: 'afterkeydown'" />
                <span class="help-inline" data-bind="validationMessage: value"></span>
            </div>
        </div>
        <button class="btn btn-primary" data-bind="click: $root.saveAnswer, visible: isReadonly==false, enable: errors().length == 0">Save answer</button>
    </script>
    <script type="text/html" id="MultyOptionFull">
        <div class="form-group" data-bind="validationElement: selectedOptions">
            <div class="controls">
                <div data-bind="foreach: options">
                    <label class="checkbox" data-bind='attr: { "for": optionFor }'>
                        <span class="badge" data-bind="text: orderNo"></span>
                        <input type="checkbox" data-bind="attr: { value: value, name: $parent.variable, id: optionFor }, checked : $parent.selectedOptions, value: value, disable: $parent.isReadonly" />
                        <span data-bind="html: label"></span>
                    </label>
                </div>
                <span class="help-inline" data-bind="validationMessage: selectedOptions"></span>
            </div>
        </div>
        <button class="btn btn-primary" data-bind="click: $root.saveAnswer, visible: isReadonly==false, enable: errors().length == 0">Save answer</button>
    </script>
    <script type="text/html" id="NumericFull">
        <div class="form-group" data-bind="validationElement: answer">
            <div class="controls">
                <input class="form-control" type="text" data-bind="numericformatter: answer, disable: isReadonly, valueUpdate: 'afterkeydown'" />
                <span class="help-inline" data-bind="validationMessage: answer"></span>
            </div>
        </div>
        <button class="btn btn-primary" data-bind="click: $root.saveAnswer, visible: isReadonly==false, enable: errors().length == 0">Save answer</button>
    </script>
    <script type="text/html" id="DateTimeFull">
        <span data-bind=" text: answer ? moment(answer).format('l') : '' "></span>
    </script>
    <script type="text/html" id="TextListFull">
        <div class="form-group">
            <div class="controls">
                <div data-bind="foreach: options">
                    <label class="checkbox">
                        <span data-bind="html: label"></span>
                    </label>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="AutoPropagateFull">
        <input class="form-control" type="text" data-bind="value: answer, disable: isReadonly" />
        <button class="btn btn-primary" data-bind="click: $root.saveAnswer, visible: isReadonly==false">Save answer</button>
    </script>
    <script type="text/html" id="TextFull">
        <div class="form-group" data-bind="validationElement: answer">
            <div class="controls">
                <input class="form-control" type="text" data-bind="value: answer, disable: isReadonly, valueUpdate: 'afterkeydown', maskFormatter:mask" />
                <span class="help-inline" data-bind="validationMessage: answer"></span>
            </div>
        </div>
        <button class="btn btn-primary" data-bind="click: $root.saveAnswer, visible: isReadonly==false, enable: errors().length == 0">Save answer</button>
    </script>
    <script type="text/html" id="QRBarcodeFull">
        <div class="form-group" data-bind="validationElement: answer">
            <div class="controls">
                <input class="form-control" type="text" data-bind="value: answer, disable: isReadonly" />
                <span class="help-inline" data-bind="validationMessage: answer"></span>
            </div>
        </div>
        <button class="btn btn-primary" data-bind="click: $root.saveAnswer, visible: isReadonly==false, enable: errors().length == 0">Save answer</button>
    </script>
    <script type="text/html" id="MultimediaFull">
        <div class="form-group" data-bind="validationElement: answer">
            <div class="controls">                
                <img data-bind="attr:{src: $root.getImageUrl(pictureFileName), alt:pictureFileName}" alt="" width="100%" height="100%" />
            </div>
        </div>
        <button class="btn btn-primary" data-bind="click: $root.saveAnswer, visible: isReadonly==false, enable: errors().length == 0">Save answer</button>
    </script>
    <script type="text/html" id="GpsCoordinatesFull">
        <div>latitude: <span data-bind="text: latitude"></span></div>
        <div>longitude: <span data-bind="text: longitude"></span></div>
        <div>accuracy: <span data-bind="text: accuracy"></span></div>
        <div>altitude: <span data-bind="text: altitude"></span></div>
        <div>time stamp: <span data-bind="text: timestamp ? moment(timestamp).format('lll') : '' "></span></div>
    </script>

    <script type="text/html" id="SingleOption">
        <span data-bind="html: answer"></span>
    </script>
    <script type="text/html" id="TextList">
        <div data-bind="foreach: options">
            <div><span data-bind="text: label"></span></div>
        </div>
    </script>
    <script type="text/html" id="MultyOption">
        <span data-bind="html: answer"></span>
    </script>
    <script type="text/html" id="Numeric">
        <span data-bind="numericformatter: answer"></span>
    </script>
    <script type="text/html" id="DateTime">
        <span data-bind=" text: answer ? moment(answer).format('l') : '' "></span>
    </script>
    <script type="text/html" id="AutoPropagate">
        <span data-bind=" text: answer"></span>
    </script>
    <script type="text/html" id="Text">
        <span data-bind=" text: answer"></span>
    </script>
    <script type="text/html" id="Multimedia">
        <span data-bind=" text: pictureFileName"></span>
    </script>
    <script type="text/html" id="QRBarcode">
        <span data-bind=" text: answer"></span>
    </script>
    <script type="text/html" id="GpsCoordinates">
        <div>latitude: <span data-bind="text: latitude"></span></div>
        <div>longitude: <span data-bind="text: longitude"></span></div>
        <div>accuracy: <span data-bind="text: accuracy"></span></div>
        <div>altitude: <span data-bind="text: altitude"></span></div>
        <div>time stamp: <span data-bind="text: timestamp ? moment(timestamp).format('lll') : '' "></span></div>
    </script>
}

    <div data-bind="visible: IsPageLoaded">
        <div id="menu" class="col-sm-3 col-md-2 sidebar" data-bind="css: filter">
            <div class="panel panel-default">
                <div class="panel-heading with-btn">
                    Groups
                    <div class="btn-group btn-group-sm pull-right">
                        <button data-bind="click: ToggleFilter" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Hide groups</button>
                    </div>
                </div>
                <ul id="groups-menu" class="list-group">
                    <!-- ko foreach: groups -->
                    <li class="list-group-item" data-bind="css: css">
                        <a data-bind="html: title, attr: {href : href}"></a>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>

        </div>
        <div id="content" class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
            <div class="row-fluid" data-bind="with: questionnaire">
                <h3 class="span10 text-overflow-ellipsis">
                    <span data-bind="html: title"></span>
                    <span class="small">Status:</span><a class="btn-link" data-bind="text: status" data-toggle="modal" data-target="#statusHistoryModal"></a>
                    <span class="small">Responsible:</span><span data-bind="text: responsible"></span>
                </h3>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <span data-bind="visible: !IsFilterOpen()"><button data-bind="click: ToggleFilter" class="btn btn-default  btn-xs"><span class="glyphicon glyphicon-arrow-right"></span> Show groups</button></span>
                    @if (((Model.InterviewStatus == InterviewStatus.Completed || Model.InterviewStatus == InterviewStatus.RejectedByHeadquarters) && GlobalInfo.IsSupervisor)
                        || (Model.InterviewStatus == InterviewStatus.ApprovedBySupervisor && GlobalInfo.IsHeadquarter))
                    {
                        <button class="btn btn-success " data-bind="click: showApproveModal">Approve</button>
                        <button class="btn btn-danger" data-bind="click: showRejectModal">Reject</button>
                    }
                    <a href="#/all" class="btn btn-default btn-xs" data-bind="css: { 'btn-primary': filter() == 'all' }">all</a>
                    <a href="#/flaged" class="btn btn-default  btn-xs" data-bind="css: { 'btn-primary': filter() == 'flaged' }">
                        <i class="glyphicon glyphicon-flag" data-bind="    css: {'icon-white': filter() == 'flaged' }"></i> flagged (<span data-bind="    text: flagedCount"></span>)
                    </a>
                    <a href="#/commented" class="btn btn-default btn-xs" data-bind="css: { 'btn-primary': filter() == 'commented' }">
                        <i class="glyphicon glyphicon-comment" data-bind="    css: {'icon-white': filter() == 'commented' }"></i> commented (<span data-bind="    text: commentedCount"></span>)
                    </a>
                    <a href="#/answered"
                       class="btn btn-default btn-xs" data-bind="css: { 'btn-primary': filter() == 'answered' }">
                        <i class="glyphicon glyphicon-ok"
                           data-bind="    css: { 'icon-white': filter() == 'answered' }"></i> answered
                        (<span data-bind="    text: answeredCount"></span>)
                    </a>
                    <a href="#/invalid" class="btn btn-default btn-xs"
                       data-bind="css: { 'btn-primary': filter() == 'invalid' }">
                        <i class="glyphicon glyphicon-warning-sign"
                           data-bind="    css: { 'icon-white': filter() == 'invalid' }"></i>invalid (<span data-bind="    text: invalidCount"></span>)
                    </a>
                    <a href="#/supervisor" class="btn btn-default btn-xs"
                       data-bind="css: { 'btn-primary': filter() == 'supervisor' }">
                        <i class="glyphicon glyphicon-pencil"
                           data-bind="    css: { 'icon-white': filter() == 'supervisor' }"></i>supervisor's
                        (<span data-bind="    text: editableCount"></span>)
                    </a>
                    <a href="#/enabled" class="btn btn-default btn-xs" data-bind="css: { 'btn-primary': filter() == 'enabled' }">
                        <i class="glyphicon glyphicon-pencil" data-bind="    css: { 'icon-white': filter() == 'enabled' }"></i>enabled (<span data-bind="    text: enabledCount"></span>)
                    </a>
                </div>
            </div>
            <div id="list">
                <!-- ko foreach: groups -->
                <div data-bind="visible: visibleEntitiesCount() > 0 && isVisible()">
                    <h2 data-bind="html: title" class="heading"></h2>
                    <div class="questions">
                        <table class="table table-bordered table-hover">
                            <tbody data-bind="foreach: entities">
                                <!-- ko if: $root.isStaticText($data) -->
                                <tr data-bind="visible : isVisible">
                                    <td colspan="3" class="static-text">
                                        <div class="cell-content">
                                            <span data-bind="html: staticText"></span>
                                        </div>
                                    </td>
                                </tr>
                                <!-- /ko -->
                                <!-- ko ifnot: $root.isStaticText($data) -->
                                <tr data-bind="visible : isVisible,css: {success: isSelected, danger : isInvalid && isEnabled, mandatory : isMandatory, 'text-muted' : isEnabled == false}">
                                    <td style="width: 60%" class="question-text" data-bind="click: $root.showDetails">
                                        <div class="cell-content" data-bind="css: {featured : isFeatured}">
                                            <span class="icon-star"></span>
                                            <span data-bind="html: title"></span>
                                        </div>
                                    </td>
                                    <td class="question-answer" data-bind="click: $root.showDetails">
                                        <div class="cell-content" data-bind="visible: isEnabled || isAnswered">
                                            <div class="question-clickable">
                                                <span data-bind="css: markerStyle()" class="question-marker"></span>
                                                <span data-bind="template: { name: questionType }"></span>
                                                <small class="text-error" data-bind="html:validationExpression, visible: isInvalid"></small>
                                                <small class="text-error" data-bind="html:validationMessage, visible: isInvalid"></small>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-3">
                                        <div class="actions pull-right">
                                            <div class="btn-group btn-group-xs" data-bind="css : {hidden : !((comments().length == 0) || isFlagged() == false || isReadonly == false)}">
                                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i><span class="caret"></span></a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li data-bind="visible: isReadonly == false"><a href="#" data-bind="    click: $root.showDetails">Answer</a></li>
                                                    <li><a href="#" data-bind="click: $root.showDetails">Comment</a></li>
                                                    <li data-bind="visible: isFlagged() == false"><a data-bind="    click: $root.flagAnswer">Flag</a></li>
                                                </ul>
                                            </div>
                                            <a class="btn  btn-xs btn-success" data-bind="click: $root.showDetails, visible: comments().length > 0">
                                                <span data-bind="text: comments().length + ' '"></span><i class="glyphicon glyphicon-comment"></i>
                                            </a>
                                            <a class="btn  btn-xs btn-info" data-bind="click: $root.flagAnswer, visible: isFlagged()">
                                                <i class="glyphicon glyphicon-flag"></i>
                                            </a>
                                            <a class="btn  btn-xs btn-primary" href="#" data-bind="click: $root.showDetails, visible: isReadonly == false">answer</a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div id="details" class="col-sm-3 col-md-2">
            <div data-bind="with: currentQuestion" class="panel panel-default">
                <div class="panel-heading">
                    @*<button class="close" data-bind="click: $root.closeDetails">&times;</button>*@
                    <h5 class="heading" data-bind="html: title"></h5>
                </div>
                <div class="panel-body">
                    @if (GlobalInfo.IsHeadquarter)
                    {
                        <!-- ko if: scope == 'Headquarter' -->
                        <div data-bind="template: { name: questionType + 'Full' }"></div>
                        <!-- /ko -->
                        <!-- ko ifnot: scope == 'Headquarter' -->
                        <div data-bind="template: { name: questionType + 'ReadOnly' }"></div>
                        <!-- /ko -->
                    }
                    else
                    {
                        <!-- ko if: scope == 'Supervisor' -->
                        <div data-bind="template: { name: questionType + 'Full' }"></div>
                        <!-- /ko -->
                        <!-- ko ifnot: scope == 'Supervisor' -->
                        <div data-bind="template: { name: questionType + 'ReadOnly' }"></div>
                        <!-- /ko -->
                    }
                    <h4 class="heading">Comments</h4>
                    <dl data-bind="foreach: comments">
                        <dt data-bind="text: userName"></dt>
                        <dd>
                            <span data-bind="text: text"></span>
                            <small class="text-block comment-date " data-bind="text: moment(date).fromNow()"></small>
                        </dd>
                    </dl>
                    <div class="form-group">
                        <label for="commentBox">Your comment</label>
                        <textarea id="commentBox" data-bind="value: $root.currentComment, valueUpdate: 'afterkeydown'" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-default" type="button" data-bind="click: $root.addComment, disable: $root.currentComment() == ''">Add comment</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="statusHistoryModal" tabindex="-1" role="dialog" aria-labelledby="statusHistoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="statusHistoryModalLabel">Interview change status history</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped" data-bind="with: $root.changeStateHistory">
                        <thead>
                            <tr>
                                <th style="width: 125px">State</th>
                                <th>with comment</th>
                                <th style="width: 90px">on</th>
                                <th>by</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: HistoryItems">
                            <tr>
                                <td data-bind="text: State" />
                                <td data-bind="text: Comment" />
                                <td data-bind="text: Date" />
                                <td data-bind="text: Responsible" />
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @if (((Model.InterviewStatus == InterviewStatus.Completed || Model.InterviewStatus == InterviewStatus.RejectedByHeadquarters) && GlobalInfo.IsSupervisor)
        || (Model.InterviewStatus == InterviewStatus.ApprovedBySupervisor && GlobalInfo.IsHeadquarter))
    {
        <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="approveModalLabel">Approve interview</h4>
                    </div>
                    <div class="modal-body">
                        <label>Comment:</label>
                        <textarea data-bind="value: changeStateComment" class="form-control" rows="10"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-success" data-bind="click: @(GlobalInfo.IsSupervisor ? "approveInterview" : "hQApproveInterview")">Approve</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="rejectModalLabel">Reject interview</h4>
                    </div>
                    <div class="modal-body">
                        <label>Comment:</label>
                        <textarea data-bind="value: changeStateComment" class="form-control" rows="10"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger" data-bind="click: @(GlobalInfo.IsSupervisor ? "rejectInterview" : "hQRejectInterview")">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    }