@using Main.Core.Entities.SubEntities
@using WB.Core.BoundedContexts.Headquarters.Resources
@using WB.Core.SharedKernels.DataCollection
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@using WB.UI.Headquarters.Resources
@model WB.Core.BoundedContexts.Headquarters.Views.Interview.InterviewQuestionView
@{
    var authorizedUser = ServiceLocator.Current.GetInstance<IAuthorizedUser>();
}

<tr id="@getInterviewItemIdWithPostfix(Model.Id, "answerRow")" class="@css("danger", !Model.IsValid && Model.IsEnabled) @css("text-muted", !Model.IsEnabled)">
    <td class="answer-status">
        <div class="btn btn-xs @css("btn-info", Model.IsFlagged) @css("btn-default", !Model.IsFlagged)" data-bind="click: flagAnswer.bind($data, $element, '@Model.Id.Id', '@Model.Id.RosterVector')">
            <i class="glyphicon glyphicon-flag"></i>
        </div>
    </td>
    <td class="question-title-section">
        <div class="@css("featured", Model.IsFeatured)">
            <span class="icon-star"></span>
            <span class="question-title">@Html.Raw(Model.Title)</span>
        </div>
    </td>
    <td class="question-answer">
        @if (!Model.IsReadOnly && Model.Scope == QuestionScope.Supervisor && authorizedUser.IsSupervisor && Model.IsEnabled)
        {
            @Html.Partial("EditableSupervisorsQuestionPartialView", Model)
        }
        else
        {
            @Html.Partial("ReadOnlyQuestionPartialView", Model)
        }


        @if (!Model.IsValid)
        {
            <dl>
                @foreach (var validationCondition in Model.FailedValidationMessages)
                {
                    <dt>
                        <small class="text-error">@validationCondition.Expression</small>
                    </dt>
                    <dd>
                        <small class="text-error">@(string.IsNullOrEmpty(validationCondition.Message) ? Strings.Error : validationCondition.Message)</small>
                    </dd>
                }
            </dl>
        }
    </td>

    <td class="comments col-sm-3">
        <dl id="@getInterviewItemIdWithPostfix(Model.Id, "commentList")" class="@css("hidden", Model.Comments == null || Model.Comments.Count == 0)">
            @if (Model.Comments != null && Model.Comments.Count > 0)
            {
                foreach (var comment in Model.Comments)
                {
                    <dt>@comment.CommenterName <span class="text-normal">@comment.Text</span></dt>
                    <dd>
                        <small class="comment-date" date="@comment.Date.ToString("u")"></small>
                    </dd>
                }
            }
        </dl>

        <div class="form-horizontal">
            <div class="has-feedback">
                <div>
                    <input type="text" class="form-control" placeholder="@Pages.DetailsQuestionPartialView_WriteCommentPlaceholder" data-bind="enterKey: addComment.bind($data, $element, '@Model.Id.Id', '@Model.Id.RosterVector')">
                    <span class="glyphicon glyphicon-comment form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </td>
</tr>


@helper css(string style, bool shouldBeAdded = true)
{
    @(shouldBeAdded ? style : string.Empty)
}
@functions
    {

    public string getInterviewItemIdWithPostfix(Identity identity, string postfix = "")
    {
        return string.Format("{0}_{1}", identity, postfix);
    }
}