@using WB.Core.BoundedContexts.Headquarters
@using WB.Core.SharedKernels.SurveyManagement.Web.Code
@using WB.UI.Headquarters.Code
@using WB.UI.Headquarters.Resources
@model WB.Core.BoundedContexts.Headquarters.Views.ChangeStatus.ChangeStatusView

<div class="modal fade" id="statusHistoryModal" tabindex="-1" role="dialog" aria-labelledby="statusHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="statusHistoryModalLabel">@Pages.HistoryOfStatuses_Title</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px">@Pages.HistoryOfStatuses_State</th>
                            <th>@Pages.HistoryOfStatuses_Comment</th>
                            <th style="width: 180px">@Pages.HistoryOfStatuses_On</th>
                            <th>@Pages.HistoryOfStatuses_By</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var historyItem in Model.StatusHistory)
                        {
                            <tr>
                                <td>@historyItem.Status.ToLocalizeString()</td>
                                <td>@historyItem.Comment</td>
                                <td>@historyItem.Date.ToString("s")</td>
                                <td>@historyItem.Responsible</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>