@using WB.Core.BoundedContexts.Headquarters.Resources
@model WB.Core.BoundedContexts.Headquarters.Views.Interview.InterviewStaticTextView

<tr class="@css("danger", !Model.IsValid) @css("text-muted", !Model.IsEnabled)">
    <td colspan="4" class="static-text">
        <div class="cell-content">
            <div>@Html.Raw(Model.Text)</div>

            @if (Model.Attachment != null)
            {
                @Html.Partial("AttachmentPartialView", Model.Attachment)
            }

            @if (!Model.IsValid)
            {
                <dl>
                    @foreach (var validationCondition in Model.FailedValidationMessages)
                    {
                        <dt>
                            <small class="text-error">@validationCondition.Expression</small>
                        </dt>
                        <dd>
                            <small class="text-error">@(string.IsNullOrWhiteSpace(validationCondition.Message)? Strings.Error : validationCondition.Message)</small>
                        </dd>
                    }
                </dl>
            }
        </div>
    </td>
</tr>

@helper css(string style, bool shouldBeAdded = true)
{
    @(shouldBeAdded ? style : string.Empty)
}