<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web interview</title>
    
    @Scripts.Render("~/js")

    @Styles.Render("~/css")

</head>
<body class="gray-background">
    <script>
    global: CONFIG = {
        virtualPath: '@Url.Content("~/")',
        imageUploadUri: '@Url.Content("~/ImageAnwering")',
        audioUploadUri: '@Url.Content("~/ImageAnwering")',
        imageGetBase:  '@Url.Content("~/api/WebInterviewResources")',
        signalrPath: '@Url.Content("~/signalr/hubs")',
        verboseLogging: false,
        supportedTransports: ["webSockets", "longPolling"],
        appVersion: '',
        googleApiKey: '',
        hqLink : "null"
    }
    </script>
    <div id="app"></div>
    @Html.Partial("partial.webtester")
</body>
</html>
