@using RavenQuestionnaire.Core.Views.Answer
@model CompleteAnswerView
@if (Model.Image != null)
{

    <div>@Model.Image.Description</div>

    <img src="@Url.Action("Images", "Resource", new {id = Model.Image.Thumb})" alt="@Model.Image.Title"  height="100" width="@((Model.Image.Width*100)/Model.Image.Height)"/>
    @*   <h5>@i.Title</h5>*@
}else
{
    <div>Warning: image is absent in db</div>
}
   
