@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@model CypherSettingsModel

@{
    ViewBag.Title = "Encryption settings";
    Layout = "~/Views/Shared/_EditorLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/validate")
    <script type="text/javascript">
        $('#umbrella').hide();
    </script>
}
@Html.Partial("_alerts")


    <div class="page-header">
        <h2 class="sinle-line-header">@Settings.Settings_Title</h2>
    </div>


<h3 class="sinle-line-header">@Settings.DataEncryption_Title</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="well well-sm">
        <div class="form-inline">
            <div >
                @Html.CheckBoxFor(x => x.IsEnabled)
                <input type="text" name="InterviewId" autocomplete="off" class="form-control" value="@Model.Password" readonly="readonly"/>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


