@using WB.Core.SharedKernels.SurveyManagement.Web.Models

@{
    ViewBag.Title = "Export encryption settings";
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
}

@section scripts
{

    @Scripts.Render("~/Scripts/pages/export-settings.js")


    <script type="text/javascript">
        var $dataUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ExportSettingsApi", action = "ExportSettings" })';
        var $changeStateUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ExportSettingsApi", action = "ChangeState" })';
        var $regenPasswordUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ExportSettingsApi", action = "RegeneratePassword" })';

        $(function () {
            var model = new Supervisor.VM.ExportSettings($dataUrl, $changeStateUrl, $regenPasswordUrl);
            ko.applyBindings(model);
            model.load();
        });

    </script>
}

<h3 class="sinle-line-header">@Settings.Settings_Title : @Settings.ExportEncryption_Title</h3>

<div class="well well-sm">
    <div class="form-inline">

        <label>Enable encryption: </label>
        <input type="checkbox" class="wb-checkbox" id="isEnabled" data-bind="checked: isEnabled, click: changeState">

    </div>
    <div class="form-inline">

        <label>Password: </label>
        <input type="text" data-bind="textInput: password" readonly="readonly" class="form-control"/>

        <a class="btn btn-default" data-bind="visible: isEnabled, click: regeneratePass">
            <i class="glyphicon glyphicon-refresh">
            </i>
        </a>
    </div>
</div>

<script type="text/html" id="confirm-regenerate-password">
    <h3>
        @Settings.RegeneratePasswordConfirm
    </h3>
</script>



