@using WB.Core.SharedKernels.SurveyManagement.Web.Models

@{
    ViewBag.Title = Settings.Settings_Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/js/export-settings")

    <script type="text/javascript">
        var $dataUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ExportSettingsApi", action = "ExportSettings" })';
        var $changeStateUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ExportSettingsApi", action = "ChangeState" })';
        var $regenPasswordUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ExportSettingsApi", action = "RegeneratePassword" })';
        var $messageUrl = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "AdminSettings" })';

        $(function () {
            var model = new Supervisor.VM.ExportSettings($dataUrl, $changeStateUrl, $regenPasswordUrl, $messageUrl);
            ko.applyBindings(model);
            model.load();
        });

    </script>
    <style type="text/css">
        .logo {
            max-width: 365px;
            max-height: 329px;
        }
    </style>
}

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <h1>
                    @Settings.ExportEncryption_Title
                </h1>
            </div>
        </div>

        <div class="row extra-margin-bottom">

            <div class="col-sm-12">
                <div class="form-inline">

                    <label>@Settings.EnableEncryption: </label>
                    <input type="checkbox" class="" id="isEnabled" data-bind="checked: isEnabled, click: changeState">

                </div>
                <div class="form-inline">

                    <label>@Settings.Password: </label>
                    <input type="text" data-bind="textInput: password" readonly="readonly" class="form-control" />

                    <a class="btn btn-default" data-bind="visible: isEnabled, click: regeneratePass">
                        <i class="glyphicon glyphicon-refresh">
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row extra-margin-bottom">
            <h2>@Settings.GlobalNoteSettings</h2>
            <form class="col-sm-7">
                <div class="form-group">
                    <label for="notificationText">@Settings.GlobalNotice: </label>
                    <input class="form-control" id="notificationText" type="text" data-bind="value: message" maxlength="1000"/>
                </div>
                <button type="button" class="btn btn-success" data-bind="click: updateMessage">
                    @Common.Save
                </button>
                <span class="text-success" data-bind="visible: messageUpdated">
                    @Settings.GlobalNoteSaved
                </span>
            </form>
        </div>
        <div class="row extra-margin-bottom">
            <h2>@Settings.LogoSettings</h2>
            <form action="@Url.Action("UpdateLogo", "Settings")" method="post" enctype="multipart/form-data" class="col-sm-3" data-bind="submit: onLogoSubmit">
                <div class="form-group">
                    <label for="companyLogo">@Settings.Logo: </label>

                    <input type="file" id="companyLogo" name="logo" accept="image/gif, image/jpeg, image/png" id="logo"/>
                </div>
                <button type="submit" class="btn btn-success">@Common.Save</button>
            </form>
            <div class="col-sm-3">
                <img src="@Url.Content("~/api/CompanyLogo/Thumbnail")" class="logo" onerror="this.src = '@Url.Content("~/Dependencies/img/HQ-login-3_05.png")';"/>
                <form action="@Url.Action("RemoveLogo", "Settings")" method="post">
                    <button type="submit" class="btn btn-danger">@Settings.RemoveLogo</button>
                </form>
            </div>
        </div>
        <script type="text/html" id="confirm-regenerate-password">
            <h3>
                @Settings.RegeneratePasswordConfirm
            </h3>
        </script>
        <script type="text/html" id="confirm-change-state-password">
            <h3>
                @Settings.ChangeStateConfirm
            </h3>
        </script>
    </div>
</main>