@using WB.Core.BoundedContexts.Headquarters.Resources
@using WB.Core.Infrastructure.Versions
@{
    ViewBag.Title = Settings.Settings_Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/js/site-settings")

    <script type="text/javascript">
        var $dataUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ExportSettingsApi", action = "ExportSettings" })';
        var $changeStateUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ExportSettingsApi", action = "ChangeState" })';
        var $regenPasswordUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ExportSettingsApi", action = "RegeneratePassword" })';
        var $messageUrl = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "AdminSettings" })';

        $(function () {
            var notifier = new Notifier();
            var model = new Supervisor.VM.SiteSettings(new Ajax(notifier), notifier, $dataUrl, $changeStateUrl, $regenPasswordUrl, $messageUrl);
            ko.applyBindings(model);
            model.load();
        });

    </script>
    <style type="text/css">
        .logo {
            max-width: 365px;
            max-height: 329px;
        }
    </style>
}

<main class="main">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>@Common.Settings</h1>
            </div>
            @Html.Partial("_alerts")
        </div>
        <div class="row extra-margin-bottom contain-input">
            <div class="col-sm-7">
                <h2>
                    @Settings.ExportEncryption_Title
                </h2>
                <p>
                    @Settings.ExportEncryption_Description
                </p>
            </div>
            <div class="col-sm-12">
                <div class="block-filter">
                    <div class="form-group">
                        <input class="checkbox-filter single-checkbox" data-bind="checked: isEnabled, click: changeState" id="isEnabled" type="checkbox">
                        <label for="isEnabled" style="font-weight: bold">
                            <span class="tick"></span>@Settings.EnableEncryption
                        </label>
                    </div>
                </div>
                <div class="block-filter">
                    <label for="exportPassword">@Settings.Password:</label>
                    <div class="form-group ">
                        <div class="input-group">
                            <input id="exportPassword" type="text" data-bind="textInput: password" readonly="readonly" class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-bind="enable: isEnabled, click: regeneratePass"><i class="glyphicon glyphicon-refresh"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row extra-margin-bottom contain-input">
            <div class="col-sm-7">
                <h2>@Settings.GlobalNoteSettings</h2>
                <p>
                    @Settings.GlobalNoteSettings_Description
                </p>
            </div>
            <form class="col-sm-7">
                <div class="block-filter">
                    <div class="form-group">
                        <label for="notificationText">@Settings.GlobalNotice:</label>
                        <textarea class="form-control" id="notificationText" type="text" data-bind="value: message" maxlength="1000"></textarea>
                    </div>
                </div>
                <div class="block-filter">
                    <button type="button" class="btn btn-success" data-bind="click: updateMessage">
                        @Common.Save
                    </button>
                    <button type="button" class="btn btn-link" data-bind="click: clearMessage">
                        @Common.Delete
                    </button>
                    <span class="text-success" data-bind="visible: messageUpdated">
                        @Settings.GlobalNoteSaved
                    </span>
                </div>
            </form>
        </div>
        <div class="row extra-margin-bottom contain-input">
            <div class="col-sm-7">
                <h2>
                    @Settings.InterviewerSettings_Title
                </h2>
                <p>
                    @Settings.InterviewerSettings_Description
                </p>
            </div>
            <div class="col-sm-12">
                <div class="block-filter">
                    <div class="form-group">
                        <input class="checkbox-filter single-checkbox" data-bind="checked: isInterviewerAutomaticUpdatesEnabled, click: updateMessage" id="interviewerAutomaticUpdatesEnabled" type="checkbox">
                        <label for="interviewerAutomaticUpdatesEnabled" style="font-weight: bold">
                            <span class="tick"></span>@Settings.InterviewerAutoUpdate
                        </label>
                    </div>
                </div>
                <div class="block-filter">
                    <label for="allowed-to-sync">@Settings.AllowedToSync</label>
                    <select id="allowed-to-sync" data-bind="value: howManyMajorReleaseDontNeedUpdate, onchange: updateMessage" class="selectpicker">
                        <option value="null">@Settings.Any</option>
                        <option value='4'>@string.Format(Settings.VersionOrNewer, GetVersionForReleasesAgo(4))</option>
                        <option value='8'>@string.Format(Settings.VersionOrNewer, GetVersionForReleasesAgo(8))</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row extra-margin-bottom contain-input">
            <div class="col-sm-7">
                <h2>@Settings.LogoSettings</h2>
                <p>
                    @Settings.LogoSettings_Description
                </p>
            </div>
            <form action="@Url.Action("UpdateLogo", "Settings")" method="post" enctype="multipart/form-data" class="col-sm-7" data-bind="submit: onLogoSubmit">
                <div class="block-filter">
                    <div class="form-group">
                        <label for="companyLogo">@Settings.Logo: </label>
                        <input type="file" id="companyLogo" name="logo" accept="image/gif, image/jpeg, image/png" id="logo" />
                    </div>
                </div>
                <div class="block-filter">
                    <button type="submit" class="btn btn-success" data-bind="click: onLogoSubmit">@Common.Save</button>
                </div>
            </form>
            <div class="col-sm-7">
                <div class="block-filter">
                    <figure class="logo-wrapper">
                        <figcaption>@Settings.CurrentLogo:</figcaption>
                        <img src="@Url.Content("~/api/CompanyLogo/Thumbnail")" class="logo extra-margin-bottom" onerror="this.src = '@Url.Content("~/Dependencies/img/HQ-login-3_05.png")';" />
                    </figure>
                </div>
                <div class="block-filter">
                    <form action="@Url.Action("RemoveLogo", "Settings")" method="post">
                        <button type="submit" class="btn btn-danger">@Settings.RemoveLogo</button>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/html" id="confirm-regenerate-password">
            <h3>
                @Settings.RegeneratePasswordConfirm
            </h3>
        </script>
        <script type="text/html" id="confirm-change-state-password">
            <h3>
                @Settings.ChangeStateConfirm
            </h3>
        </script>
        <script type="text/html" id="confirm-note-clearing">
            <h3>
                @Settings.GlobalNoteClearingConfirm
            </h3>
        </script>

    </div>
</main>

@{
    string GetVersionForReleasesAgo(int releasesAgo)
    {
        var productVersion = DependencyResolver.Current.GetService<IProductVersion>();
        var version = productVersion.GetVersion();
        return new Version(version.Major, version.Minor - releasesAgo, 0).ToString();
    }
}
