@using Questionnaire.Core.Web.Helpers
@model RavenQuestionnaire.Core.Views.CollectionItem.CollectionItemView      
@using (Html.BeginCollectionItem("items", true, Model.PublicKey))
{
    @Html.HiddenFor(t=>t.PublicKey)
    <table width="100%">
        <tr>            
            <td width="2%">
                @Html.LabelFor(t => t.Key)
            </td>
            <td width="10%">
                @Html.TextBoxFor(t => t.Key)
            </td>
            <td width="2%">
            </td>
            <td width="2%">
                @Html.LabelFor(t => t.Value)
            </td>
            <td width="10%">
                @Html.TextBoxFor(t => t.Value)
            </td>
            <td>            
                @Html.ActionLink("Delete", "DeleteItem", new { collectionId = Model.CollectionId, id = Model.PublicKey })                
            </td>
        </tr>
    </table>
}