@using RavenQuestionnaire.Core.Views.Collection
@using RavenQuestionnaire.Web.Models
@model CollectionBrowseView
@{
    ViewBag.Title = "Index";
}
<h2>Collections</h2>
<p>
@Html.ActionLink("Add new Collection", "AddNewCollection", new {},new {@class="btn btn-primary"})
</p>
<div style="height: 10px;"></div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <th class="span1">
                    @Html.DisplayFor(modelItem => item.Id)
                </th>
                <td class="span2">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="span2">
                    @using (Html.BeginForm("Edit", "Collection", FormMethod.Get, new { @style = "float: left;width: 10%;" }))
                    {
                        @Html.Hidden("CollectionId", item.Id)
                        <input type="submit" class="btn btn-primary" name="change" value="Edit" />
                    }
                    &nbsp;&nbsp;
                    @using (Html.BeginForm("Delete", "Collection", FormMethod.Post, new { @style = "float: left;width: 10%;" }))
                    {
                        @Html.Hidden("CollectionId", item.Id)
                        <input type="submit" class="btn btn-danger" name="change" value="Delete" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination">
    @Html.QPager(Model.PageSize, Model.Page, Model.TotalCount)
</div>
