@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Question
@model CompleteQuestionView

 <div style="width: 100%;">
    <div style="width: 95%;float:left;"> 
        @if (!string.IsNullOrEmpty(Model.Comments))
        {
            <em>Comments:</em>@Model.Comments
        }
    </div>
    <div style="float: right;">
    @using (Ajax.BeginFormHtml5("SaveCommentsJson", "CompleteQuestionnaire", new { type = "Html5" }, ViewBag.AjaxOptions as AjaxOptions))
     {
        using (Html.BeginCollectionItem("questions", true, Model.PublicKey))
        {        
            @Html.IconInputComments("Comments", Model.Comments ?? string.Empty, string.Empty, new { draw_key_board = "true" }, new { @class = "comments" }, new { @class = "bold" }) 
        }
        using (Html.BeginCollectionItem("settings", true, Model.PublicKey))
        {
            @Html.Hidden("ParentGroupPublicKey", (Guid)ViewBag.CurrentGroupPublicKey)
            @Html.Hidden("QuestionnaireId", ViewBag.QuestionnaireId as string)
        }
        @Html.Hidden("PublicKey", Model.PublicKey)
    } 
    </div>
 </div>