@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Mobile
@model CompleteGroupMobileView
@if (Model.Propagated != Propagate.None)
{
    <div>
        
        @Html.Partial("~/Views/Group/Mobile/_PropagatebleGroup.cshtml", Model)
        
        @if (Model.Propagated != Propagate.AutoPropagated)
        { 
    
            @RenderAddButton(Model.PublicKey)
        }
    </div>
}
else
{
    @Html.Partial("~/Views/Group/Mobile/_SimpleGroup.cshtml", Model)
}
@helper RenderAddButton(Guid currentGroupPublicKey)
    {
        var requestParams = new
        {
            publicKey = currentGroupPublicKey,
            questionnaireId = ViewBag.QuestionnaireId,
            parentGroupPublicKey = ViewBag.CurrentGroupPublicKey,
            salt = (new Random()).NextDouble()
        };
        var templateId = "groupTemplate" + currentGroupPublicKey;

        using (Ajax.BeginFormHtml5("PropagateGroupHtml5", "Group", requestParams, new AjaxOptions { HttpMethod = "POST", OnComplete = "PropagatedGroup" }))
        {
@* @Ajax.ActionLinkHtml5("Add", "PropagateGroupHtml5", "Group", requestParams, new AjaxOptions { HttpMethod = "POST", OnComplete = "PropagatedGroup" }, new { data_role = "button", data_icon = "plus", data_theme = "a" })*@
        
        
    <input value="@Model.Title" type="submit" data-role = "button" data-icon = "plus" data-theme = "a"/>
        
    @Html.ValidationMessage("PublicKey")
           
        }
        
    <script id="@templateId"  type="text/x-jsrender">
        @Html.Partial("~/Views/Group/Mobile/_PropagatedGrooup.cshtml", Model.PropagateTemplate)
    </script>

}