@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Mobile
@using RavenQuestionnaire.Core.Views.Question
@model PropagatedGroupMobileView
@{ var groupKey = "propagatedGroup" + Model.PropogationKey;
   var rparams = new
          {
              propagationKey = Model.PropogationKey,
              publicKey = Model.PublicKey,
              questionnaireId = ViewBag.QuestionnaireId,
              parentGroupPublicKey = ViewBag.CurrentGroupPublicKey,
              salt = (new Random()).NextDouble()
          }; 
}
@if (!Model.AutoPropagate)
{
    <li id="@groupKey" class="propagated-list-item">
        <fieldset  class="ui-grid-a">
            <div class="ui-block-a">
                <a id="screen-ref-@(Model.PropogationKey)" class="propagated-screen-link-@(Model.PublicKey)" href="#screen-@(Model.PropogationKey)">
                    <h3><span>@ViewBag.GroupIndex)</span> @Model.Title</h3>
                    <p  id="featured-title-@(Model.PropogationKey)">@Model.FeaturedTitle</p>
                </a>
            </div>
            <div class="ui-block-b">
                @using (Ajax.BeginFormHtml5("DeletePropagatedGroupHtml5", "Group", rparams, new AjaxOptions { OnComplete = "RemovePropagatedGroup", HttpMethod = "POST" }, new { style = "float:right;" }))
                {
                    <input value="Delete" type="submit" data-role="button" data-icon="delete" data-iconpos="notext"
                        data-inline="true" data-mini="true" data-theme="b" />
                }
            </div>
        </fieldset >
         <script type="text/javascript">
             $('#screen-ref-@(Model.PropogationKey)').click(function () {
                 $('.scrollHere').removeClass('scrollHere');
                 $(this).parents('.propagated-list-item').addClass("scrollHere");
             });
        </script>
    </li>
}
else
{
    <li data-role="fieldcontain" id="@groupKey" >
    <a  id="screen-ref-@(Model.PropogationKey)" class="propagated-screen-link" href="#screen-@(Model.PropogationKey)">
        <h3><span>@ViewBag.GroupIndex)</span> @Model.Title</h3>
        <p id="featured-title-@(Model.PropogationKey)">@Model.FeaturedTitle</p>
    </a>    
     <script type="text/javascript">
         $('#screen-ref-@(Model.PropogationKey)').click(function () {
             $('.scrollHere').removeClass('scrollHere');
             $(this).parents('.propagated-screen-link').addClass("scrollHere");
         });
        </script>
    </li>
}