@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model PropagatedGroup
@{ var groupKey = "propagatedGroup" + Model.PropogationKey;
   var rparams = new
          {
              propagationKey = Model.PropogationKey,
              publicKey = Model.PublicKey,
              questionnaireId = ViewBag.QuestionnaireId,
              parentGroupPublicKey = ViewBag.CurrentGroupPublicKey,
              salt = (new Random()).NextDouble()
          }; 
}
@if (!Model.AutoPropagate)
{
    <li id="@groupKey" class="propagated-list-item">
        <fieldset  class="ui-grid-a">
            <div class="ui-block-a">
                <a class="propagated-screen-link-@(Model.PublicKey)" href="#screen-@(Model.PropogationKey)">
                    <h3><span>@ViewBag.GroupIndex)</span> @Model.GroupText</h3>
					<p  id="featured-title-@(Model.PropogationKey)">@Model.FeaturedTitle</p>
                </a>
            </div>
            <div class="ui-block-b">
                @using (Ajax.BeginFormHtml5("DeletePropagatedGroupHtml5", "Group", rparams, new AjaxOptions { OnComplete = "RemovePropagatedGroup", HttpMethod = "POST" }, new { style = "float:right;" }))
                {
                    <input value="Delete" type="submit" data-role="button" data-icon="delete" data-iconpos="notext"
                        data-inline="true" data-mini="true" data-theme="b" />
                }
            </div>
        </fieldset >
    </li>
}
else
{
    <li data-role="fieldcontain" id="@groupKey" ><a class="propagated-screen-link" href="#screen-@(Model.PropogationKey)">
        <h3><span>@ViewBag.GroupIndex)</span> @Model.GroupText</h3>
	    <p id="featured-title-@(Model.PropogationKey)">@Model.FeaturedTitle</p>
    </a>
    </li>
}