@using Microsoft.AspNetCore.Http
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.Infrastructure.Versions
@using WB.UI.Headquarters.Services
@using WB.UI.Shared.Web.Extensions
@inject IAuthorizedUser authorizedUser
@inject IProductVersion productVersion
@*@inject IVersionCheckService versionCheckService*@
@*@functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        TODO KP-13434
        }
    }*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta name="csrf-token" content="@TokenHeaderValue()"> TODO KP-13434*@

    @Html.GenerateFavicon(Url.Content("~/Content/identity/favicon-hq"))

    <title>@ViewBag.Title</title>

    <inject component="markup" type="css" async="true"></inject>

    @RenderSection("styles", false)
    @if (!(ViewBag.ExcludeMarkupSpecific == true))
    {
        <inject component="markup-specific" type="css" async="true"></inject>
    }

    @RenderSection(@"JsLibsHeader", false)

    <partial name="GlobalSettings" />
    @RenderSection("scripts", false)
</head>
<body class='wide-navbar'>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="active-page">  @(ViewBag.SpecificPageCaption ?? Html.ActivePage())</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar top-menu"></span>
                        <span class="icon-bar mid-menu"></span>
                        <span class="icon-bar bottom-menu"></span>
                    </button>
                    <div class="navbar-brand">
                        <a class="logo" asp-action="Index" asp-controller="Account"></a>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar">
                    @if (authorizedUser.IsAdministrator)
                    {
                        <partial name="AdminMainMenu" />
                    }
                    else if (authorizedUser.IsHeadquarter)
                    {
                        <partial name="HeadquartersMainMenu" />
                    }
                    else if (authorizedUser.IsSupervisor)
                    {
                        <partial name="SupervisorMainMenu" />
                    }
                    else if (authorizedUser.IsInterviewer)
                    {
                        <partial name="InterviewerMainMenu" />
                    }
                    else
                    {
                        <partial name="ObserverMainMenu" />
                    }
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    @if (authorizedUser.IsObserving || ViewBag.GlobalNotice != null)
    {
        <div class="panel view-mode">
            @if (authorizedUser.IsObserving)
            {
                <div class="panel-heading panel-warning">
                    @Html.Raw(string.Format(Users.ObserverDisclaimerFormat, User.Identity.Name))
                    <a asp-action="ReturnToObserver" asp-controller="Account" asp-area="">@Users.ClickToReturn</a>
                </div>
            }
            @if (ViewBag.GlobalNotice != null)
            {
                <div class="panel-heading">
                    <div class="alerts">
                        <div class="alert alert-info alert-dismissible text-center" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @ViewBag.GlobalNotice
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @RenderBody()
    <footer class="footer">
        <div class="container-fluid">
            <div class="text-right">
                &copy; @DateTime.Now.Year.ToString() <a href="http://www.worldbankgroup.org">@Pages.Layout_WorldBank</a>, @Pages.Layout_RightsReserved <a href="https://www.worldbank.org/en/about/legal">@Pages.Layout_Legal</a>.
            </div>
            <div class="text-right">
                @(productVersion.ToString())
                <span>|</span>
                <a href="@Url.Action("Index","Download")">@Common.GetInterviewerApp</a>
                @*if (versionCheckService.DoesNewVersionExist())
                {
                    <div>
                        <span style="background-color: #ff8;">@Common.NewVersionAvailable @(versionCheckService.GetNewVersionString()) </span>
                    </div>
                }*@
            </div>
            <div class="text-right">
                @*<partial name="_PoweredBy"/>*@
            </div>
        </div>
    </footer>

    @RenderSection("JsLibsFooter", false)
    <partial name="_Clickjacking"/>
</body>
</html>
