@using WB.UI.Shared.Web.Extensions
@using System.Globalization
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.GenerateFavicon(Url.Static("/img/identity/favicon-hq"))
    <title>@ViewBag.Title</title>
    <partial name="GlobalSettings" ></partial>
    <locale component="hq"></locale>
    @RenderSection("scripts", false)
  <script type="module" crossorigin src="/js/markup-3c2296bf.js"></script>
  <script type="module" crossorigin src="/js/vendor-192b15cf.js"></script>
  <script type="module" crossorigin src="/js/index-44846ee5.js"></script>
  <script type="module" crossorigin src="/js/compatibility-73c5c479.js"></script>
  <script type="module" crossorigin src="/js/main-15c23734.js"></script>
  <link rel="stylesheet" href="/css/markup-55b6d3f0.css">
  <link rel="stylesheet" href="/css/vendor-e3687c92.css">
  <link rel="stylesheet" href="/css/main-351b46cf.css">
  <link rel="stylesheet" href="/css/markup-specific-817adbaf.css">
</head>
<body class='wide-navbar'>
    <header>
        <partial name="NavigationBar" ></partial>
    </header>
    <partial name="NoticeBar"></partial>
    @RenderBody()
    <partial name="Footer" ></partial>
    <partial name="_Clickjacking"></partial>

</body>
</html>
