@using WB.UI.Shared.Web.Extensions
@using System.Globalization
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.GenerateFavicon(Url.Static("/img/identity/favicon-hq"))
    <title>@ViewBag.Title</title>
    <partial name="GlobalSettings" ></partial>
    <locale component="hq"></locale>
    @RenderSection("scripts", false)
  <script type="module" crossorigin src="/js/markup-1c15d35f.js"></script>
  <script type="module" crossorigin src="/js/_commonjsHelpers-042e6b4d.js"></script>
  <script type="module" crossorigin src="/js/jquery-61a58c82.js"></script>
  <script type="module" crossorigin src="/js/jquery-3a99deb9.js"></script>
  <script type="module" crossorigin src="/js/affix-a2fb773a.js"></script>
  <script type="module" crossorigin src="/js/modal-f92efeab.js"></script>
  <script type="module" crossorigin src="/js/vue.runtime.esm-936ebc18.js"></script>
  <script type="module" crossorigin src="/js/_plugin-vue2_normalizer-2bbd088e.js"></script>
  <script type="module" crossorigin src="/js/index-d82cde10.js"></script>
  <script type="module" crossorigin src="/js/bootbox.all-46dbf08e.js"></script>
  <script type="module" crossorigin src="/js/modal-cd8e8a95.js"></script>
  <script type="module" crossorigin src="/js/index-090391f2.js"></script>
  <script type="module" crossorigin src="/js/lodash-8cca2144.js"></script>
  <script type="module" crossorigin src="/js/helpers-9b86e370.js"></script>
  <script type="module" crossorigin src="/js/vue-router.esm-cc5d7f45.js"></script>
  <script type="module" crossorigin src="/js/config-5c875a85.js"></script>
  <script type="module" crossorigin src="/js/index-37aa6a8c.js"></script>
  <script type="module" crossorigin src="/js/compatibility-323dc773.js"></script>
  <script type="module" crossorigin src="/js/main-10645036.js"></script>
  <link rel="stylesheet" href="/css/markup-64d6badc.css">
  <link rel="stylesheet" href="/css/vue-router-75389ed1.css">
  <link rel="stylesheet" href="/css/main-6cdaa2ff.css">
  <link rel="stylesheet" href="/css/markup-specific-817adbaf.css">
</head>
<body class='wide-navbar'>
    <header>
        <partial name="NavigationBar" ></partial>
    </header>
    <partial name="NoticeBar"></partial>
    @RenderBody()
    <partial name="Footer" ></partial>
    <partial name="_Clickjacking"></partial>

</body>
</html>
