@using WB.UI.Shared.Web.Extensions
@using System.Globalization
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.GenerateFavicon(Url.Static("/img/identity/favicon-hq"))
    <title>@ViewBag.Title</title>
    <partial name="GlobalSettings" ></partial>
    <locale component="hq"></locale>
    @RenderSection("scripts", false)
  <script type="module" crossorigin src="/js/markup-D8gX39qQ.js"></script>
  <script type="module" crossorigin src="/js/vendor-Urvzef3L.js"></script>
  <script type="module" crossorigin src="/js/index-DVrGIWzD.js"></script>
  <script type="module" crossorigin src="/js/compatibility-CbRU1Td0.js"></script>
  <script type="module" crossorigin src="/js/main-CcArztEr.js"></script>
  <link rel="stylesheet" crossorigin href="/css/markup-BYZeu6UW.css">
  <link rel="stylesheet" crossorigin href="/css/vendor-DqkekS4d.css">
  <link rel="stylesheet" crossorigin href="/css/index-zhnHxnVT.css">
  <link rel="stylesheet" crossorigin href="/css/main-DqNIs8vi.css">
  <link rel="stylesheet" crossorigin href="/css/markup-specific-npx6XCXT.css">
</head>
<body class='wide-navbar'>
    <header>
        <partial name="NavigationBar" ></partial>
    </header>
    <partial name="NoticeBar"></partial>
    @RenderBody()
    <partial name="Footer" ></partial>
    <partial name="_Clickjacking"></partial>
</body>
</html>
