@using WB.UI.Shared.Web.Extensions
@using System.Globalization
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.GenerateFavicon(Url.Static("/img/identity/favicon-hq"))
    <title>@ViewBag.Title</title>
    <partial name="GlobalSettings" ></partial>
    <locale component="hq"></locale>
    @RenderSection("scripts", false)
  <script type="module" crossorigin src="/js/modulepreload-polyfill.js"></script>
  <script type="module" crossorigin src="/js/_commonjsHelpers.js"></script>
  <script type="module" crossorigin src="/js/__vite-browser-external.js"></script>
  <script type="module" crossorigin src="/js/___vite-browser-external_commonjs-proxy.js"></script>
  <script type="module" crossorigin src="/js/vendor.js"></script>
  <script type="module" crossorigin src="/js/locale.js"></script>
  <script type="module" crossorigin src="/js/helpers.js"></script>
  <script type="module" crossorigin src="/js/config.js"></script>
  <script type="module" crossorigin src="/js/http.js"></script>
  <script type="module" crossorigin src="/js/store.js"></script>
  <script type="module" crossorigin src="/js/preload-helper.js"></script>
  <script type="module" crossorigin src="/js/_plugin-vue2_normalizer.js"></script>
  <script type="module" crossorigin src="/js/Confirm.vue.js"></script>
  <script type="module" crossorigin src="/js/FilterBlock.vue.js"></script>
  <script type="module" crossorigin src="/js/Filters.vue.js"></script>
  <script type="module" crossorigin src="/js/HqLayout.vue.js"></script>
  <script type="module" crossorigin src="/js/ModalFrame.vue.js"></script>
  <script type="module" crossorigin src="/js/Typeahead.vue.js"></script>
  <script type="module" crossorigin src="/js/TextInput.vue.js"></script>
  <script type="module" crossorigin src="/js/Checkbox.vue.js"></script>
  <script type="module" crossorigin src="/js/Radio.vue.js"></script>
  <script type="module" crossorigin src="/js/DatePicker.vue.js"></script>
  <script type="module" crossorigin src="/js/FormGroup.vue.js"></script>
  <script type="module" crossorigin src="/js/FilterInput.vue.js"></script>
  <script type="module" crossorigin src="/js/InlineSelector.vue.js"></script>
  <script type="module" crossorigin src="/js/Breadcrumbs.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/Breadcrumbs.vue.js"></script>
  <script type="module" crossorigin src="/js/Cover.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/modal.js"></script>
  <script type="module" crossorigin src="/js/Layout.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/Layout.vue.js"></script>
  <script type="module" crossorigin src="/js/Navbar.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/Navbar.vue.js"></script>
  <script type="module" crossorigin src="/js/SectionLoadProgress.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/SectionLoadProgress.vue.js"></script>
  <script type="module" crossorigin src="/js/Section.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/Section.vue.js"></script>
  <script type="module" crossorigin src="/js/SidebarPanel.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/SidebarPanel.vue.js"></script>
  <script type="module" crossorigin src="/js/Sidebar.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/Sidebar.vue.js"></script>
  <script type="module" crossorigin src="/js/BlurOnEnterKey.js"></script>
  <script type="module" crossorigin src="/js/DateTimeFormatting.js"></script>
  <script type="module" crossorigin src="/js/MultiSelectDirectives.js"></script>
  <script type="module" crossorigin src="/js/NumericFormatting.js"></script>
  <script type="module" crossorigin src="/js/MaskedText.js"></script>
  <script type="module" crossorigin src="/js/LinkToRoute.js"></script>
  <script type="module" crossorigin src="/js/constants.js"></script>
  <script type="module" crossorigin src="/js/map.png.js"></script>
  <script type="module" crossorigin src="/js/HqAssignments.vue.js"></script>
  <script type="module" crossorigin src="/js/Details.vue.js"></script>
  <script type="module" crossorigin src="/js/Index.vue.js"></script>
  <script type="module" crossorigin src="/js/Errors.vue.js"></script>
  <script type="module" crossorigin src="/js/Verification.vue.js"></script>
  <script type="module" crossorigin src="/js/Progress.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/Progress.vue.js"></script>
  <script type="module" crossorigin src="/js/errors.js"></script>
  <script type="module" crossorigin src="/js/store.actions.js"></script>
  <script type="module" crossorigin src="/js/store.connection.js"></script>
  <script type="module" crossorigin src="/js/store.fetch.js"></script>
  <script type="module" crossorigin src="/js/localStorage.js"></script>
  <script type="module" crossorigin src="/js/store.mutations.js"></script>
  <script type="module" crossorigin src="/js/store.sidebar.js"></script>
  <script type="module" crossorigin src="/js/takenew.js"></script>
  <script type="module" crossorigin src="/js/upload.js"></script>
  <script type="module" crossorigin src="/js/InterviewersAndDevices.vue.js"></script>
  <script type="module" crossorigin src="/js/routeSync.js"></script>
  <script type="module" crossorigin src="/js/StatusDuration.vue.js"></script>
  <script type="module" crossorigin src="/js/CustomBootstrapRule.vue.js"></script>
  <script type="module" crossorigin src="/js/CustomBootstrapGroup.vue.js"></script>
  <script type="module" crossorigin src="/js/InterviewFilter.vue.js"></script>
  <script type="module" crossorigin src="/js/InterviewQuestionsFilters.vue.js"></script>
  <script type="module" crossorigin src="/js/MapReport.vue.js"></script>
  <script type="module" crossorigin src="/js/QuestionDetail.vue.js"></script>
  <script type="module" crossorigin src="/js/SurveyStatisticsFilter.vue.js"></script>
  <script type="module" crossorigin src="/js/SurveyStatistics.vue.js"></script>
  <script type="module" crossorigin src="/js/TeamsAndStatuses.vue.js"></script>
  <script type="module" crossorigin src="/js/CumulativeChartReport.vue.js"></script>
  <script type="module" crossorigin src="/js/SurveysAndStatuses.vue.js"></script>
  <script type="module" crossorigin src="/js/SurveysAndStatusesForSv.vue.js"></script>
  <script type="module" crossorigin src="/js/SpeedAndQuantity.vue.js"></script>
  <script type="module" crossorigin src="/js/filters.js"></script>
  <script type="module" crossorigin src="/js/flags.js"></script>
  <script type="module" crossorigin src="/js/overview.js"></script>
  <script type="module" crossorigin src="/js/formatNumber.js"></script>
  <script type="module" crossorigin src="/js/Headquarters.vue.js"></script>
  <script type="module" crossorigin src="/js/Manage.vue.js"></script>
  <script type="module" crossorigin src="/js/calendarEventsHelper.js"></script>
  <script type="module" crossorigin src="/js/UserWorkspaces.vue.js"></script>
  <script type="module" crossorigin src="/js/Observers.vue.js"></script>
  <script type="module" crossorigin src="/js/ApiUsers.vue.js"></script>
  <script type="module" crossorigin src="/js/Create.vue.js"></script>
  <script type="module" crossorigin src="/js/Supervisors.vue.js"></script>
  <script type="module" crossorigin src="/js/Interviewers.vue.js"></script>
  <script type="module" crossorigin src="/js/TwoFactorAuthentication.vue.js"></script>
  <script type="module" crossorigin src="/js/SetupAuthenticator.vue.js"></script>
  <script type="module" crossorigin src="/js/ResetAuthenticator.vue.js"></script>
  <script type="module" crossorigin src="/js/ShowRecoveryCodes.vue.js"></script>
  <script type="module" crossorigin src="/js/ResetRecoveryCodes.vue.js"></script>
  <script type="module" crossorigin src="/js/Disable2fa.vue.js"></script>
  <script type="module" crossorigin src="/js/ChangePassword.vue.js"></script>
  <script type="module" crossorigin src="/js/ProfileLayout.vue.js"></script>
  <script type="module" crossorigin src="/js/ApiTokens.vue.js"></script>
  <script type="module" crossorigin src="/js/MapDetails.vue.js"></script>
  <script type="module" crossorigin src="/js/UserMapLinking.vue.js"></script>
  <script type="module" crossorigin src="/js/MapList.vue.js"></script>
  <script type="module" crossorigin src="/js/UserMaps.vue.js"></script>
  <script type="module" crossorigin src="/js/MdEditor.vue.js"></script>
  <script type="module" crossorigin src="/js/_Logo.vue.js"></script>
  <script type="module" crossorigin src="/js/settingsMixin.js"></script>
  <script type="module" crossorigin src="/js/Welcome.vue.js"></script>
  <script type="module" crossorigin src="/js/_StartOrResumeForm.vue.js"></script>
  <script type="module" crossorigin src="/js/Resume.vue.js"></script>
  <script type="module" crossorigin src="/js/Complete.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/Complete.vue.js"></script>
  <script type="module" crossorigin src="/js/Finish.vue.js"></script>
  <script type="module" crossorigin src="/js/Link.vue.js"></script>
  <script type="module" crossorigin src="/js/Settings.vue.js"></script>
  <script type="module" crossorigin src="/js/SendInvitations.vue.js"></script>
  <script type="module" crossorigin src="/js/SendInvitationsProgress.vue.js"></script>
  <script type="module" crossorigin src="/js/UpgradeAssignments.vue.js"></script>
  <script type="module" crossorigin src="/js/UpgradeProgress.vue.js"></script>
  <script type="module" crossorigin src="/js/Questionnaires.vue.js"></script>
  <script type="module" crossorigin src="/js/ConnectionStats.vue.js"></script>
  <script type="module" crossorigin src="/js/Profile.vue.js"></script>
  <script type="module" crossorigin src="/js/InterviewerAuditLog.vue.js"></script>
  <script type="module" crossorigin src="/js/EmailProviders.vue.js"></script>
  <script type="module" crossorigin src="/js/TabletLogs.vue.js"></script>
  <script type="module" crossorigin src="/js/AuditLog.vue.js"></script>
  <script type="module" crossorigin src="/js/TabletInfos.vue.js"></script>
  <script type="module" crossorigin src="/js/ExportProcessCard.vue.js"></script>
  <script type="module" crossorigin src="/js/Export.vue.js"></script>
  <script type="module" crossorigin src="/js/export.store.js"></script>
  <script type="module" crossorigin src="/js/ChangeModeModal.vue.js"></script>
  <script type="module" crossorigin src="/js/HqInterviews.vue.js"></script>
  <script type="module" crossorigin src="/js/Clone.vue.js"></script>
  <script type="module" crossorigin src="/js/ExposedVariables.vue.js"></script>
  <script type="module" crossorigin src="/js/designer-logo.png.js"></script>
  <script type="module" crossorigin src="/js/LoginToDesigner.vue.js"></script>
  <script type="module" crossorigin src="/js/Import.vue.js"></script>
  <script type="module" crossorigin src="/js/ImportMode.vue.js"></script>
  <script type="module" crossorigin src="/js/Upload.vue.js"></script>
  <script type="module" crossorigin src="/js/UploadVerification.vue.js"></script>
  <script type="module" crossorigin src="/js/UploadProgress.vue.js"></script>
  <script type="module" crossorigin src="/js/UploadComplete.vue.js"></script>
  <script type="module" crossorigin src="/js/Supervisor.vue.js"></script>
  <script type="module" crossorigin src="/js/Interviewer.vue.js"></script>
  <script type="module" crossorigin src="/js/Start.vue.js"></script>
  <script type="module" crossorigin src="/js/OutdatedBrowser.vue.js"></script>
  <script type="module" crossorigin src="/js/Error.vue.js"></script>
  <script type="module" crossorigin src="/js/DeleteWorkspaceModal.vue.js"></script>
  <script type="module" crossorigin src="/js/Workspaces.vue.js"></script>
  <script type="module" crossorigin src="/js/MapDashboard.vue.js"></script>
  <script type="module" crossorigin src="/js/WorkspaceManager.vue.js"></script>
  <script type="module" crossorigin src="/js/AddInterviewerToWorkspace.vue.js"></script>
  <script type="module" crossorigin src="/js/InterviewersMoveToOtherTeam.vue.js"></script>
  <script type="module" crossorigin src="/js/UsersManagement.vue.js"></script>
  <script type="module" crossorigin src="/js/Assignments.vue.js"></script>
  <script type="module" crossorigin src="/js/Interviews.vue.js"></script>
  <script type="module" crossorigin src="/js/ComponentsProvider.js"></script>
  <script type="module" crossorigin src="/js/progress.js"></script>
  <script type="module" crossorigin src="/js/Splash.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/Splash.vue.js"></script>
  <script type="module" crossorigin src="/js/conditionalPaging.js"></script>
  <script type="module" crossorigin src="/js/searchHighlight.js"></script>
  <script type="module" crossorigin src="/js/Cover.vue.js"></script>
  <script type="module" crossorigin src="/js/index.js"></script>
  <script type="module" crossorigin src="/js/compatibility.js"></script>
  <script type="module" crossorigin src="/js/htmlPoly.js"></script>
  <script type="module" crossorigin src="/js/IdleTimeout.vue.js"></script>
  <script type="module" crossorigin src="/js/componentsRegistry.js"></script>
  <script type="module" crossorigin src="/js/graphql.js"></script>
  <script type="module" crossorigin src="/js/router.js"></script>
  <script type="module" crossorigin src="/js/init.js"></script>
  <script type="module" crossorigin src="/js/App.vue_vue_type_script_lang.js"></script>
  <script type="module" crossorigin src="/js/App.vue.js"></script>
  <script type="module" crossorigin src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/vendor-6c993e7a.css">
  <link rel="stylesheet" href="/vue_vue_type_style_index_0_scoped_38642f76_lang/CustomBootstrapGroup.vue_vue_type_style_index_0_scoped_38642f76_lang-8e569b1e.css">
  <link rel="stylesheet" href="/vue_vue_type_style_index_0_lang/MapReport.vue_vue_type_style_index_0_lang-7d7b91d4.css">
  <link rel="stylesheet" href="/vue_vue_type_style_index_0_scoped_bd192bb0_lang/Settings.vue_vue_type_style_index_0_scoped_bd192bb0_lang-e94d389b.css">
  <link rel="stylesheet" href="/vue_vue_type_style_index_0_lang/AuditLog.vue_vue_type_style_index_0_lang-75a11da4.css">
  <link rel="stylesheet" href="/vue_vue_type_style_index_0_scoped_aca0b0da_lang/MapDashboard.vue_vue_type_style_index_0_scoped_aca0b0da_lang-6094d399.css">
  <link rel="stylesheet" href="/css/markup-2e92cd52.css">
  <link rel="stylesheet" href="/css/markup-web-interview-0ac28d00.css">
  <link rel="stylesheet" href="/css/markup-specific-a693f925.css">
</head>
<body class='wide-navbar'>
    <header>
        <partial name="NavigationBar" ></partial>
    </header>
    <partial name="NoticeBar"></partial>
    @RenderBody()
    <partial name="Footer" ></partial>
    <partial name="_Clickjacking"></partial>

</body>
</html>
