@using WB.UI.Shared.Web.Extensions
@using System.Globalization
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.GenerateFavicon(Url.Static("/img/identity/favicon-hq"))
    <title>@ViewBag.Title</title>
    <partial name="GlobalSettings" />
    <locale component="hq"></locale>
    @RenderSection("scripts", false)
  <script type="module" crossorigin src="/js/markup-C1HvF2OX.js"></script>
  <script type="module" crossorigin src="/js/vendor-jquery-DyG6WV9a.js"></script>
  <script type="module" crossorigin src="/js/vendor-bootstrap-DzdVaQ8M.js"></script>
  <script type="module" crossorigin src="/js/vendor-markdown-sanitize-BSxwpjs2.js"></script>
  <script type="module" crossorigin src="/js/modal-BX5Rp5jS.js"></script>
  <script type="module" crossorigin src="/js/serverValidator-C0U0zVz5.js"></script>
  <script type="module" crossorigin src="/js/compatibility-BGkfCzVn.js"></script>
  <script type="module" crossorigin src="/js/vendor-validation-BqDalolR.js"></script>
  <script type="module" crossorigin src="/js/vendor-vue-CUs9c8aH.js"></script>
  <script type="module" crossorigin src="/js/_plugin-vue_export-helper-BDNMzG2s.js"></script>
  <script type="module" crossorigin src="/js/vendor-axios-core-CDLorZno.js"></script>
  <script type="module" crossorigin src="/js/vendor-toastr-BCKo6hyd.js"></script>
  <script type="module" crossorigin src="/js/vendor-dayjs-DOOrbdYq.js"></script>
  <script type="module" crossorigin src="/js/momentCompat-BiNRn1Tm.js"></script>
  <script type="module" crossorigin src="/js/config-HGlAvMq9.js"></script>
  <script type="module" crossorigin src="/js/vendor-lodash-BYKvpoAv.js"></script>
  <script type="module" crossorigin src="/js/vendor-signalr-BhLYI4vw.js"></script>
  <script type="module" crossorigin src="/js/questionConstants-CvFkLyXj.js"></script>
  <script type="module" crossorigin src="/js/componentsRegistry-BXqHBBD_.js"></script>
  <script type="module" crossorigin src="/js/vendor-events-BvUamYTi.js"></script>
  <script type="module" crossorigin src="/js/main-CKvM80wx.js"></script>
  <link rel="stylesheet" crossorigin href="/css/markup-DfWhtJsc.css">
  <link rel="stylesheet" crossorigin href="/css/vendor-toastr-DEfpUs1r.css">
  <link rel="stylesheet" crossorigin href="/css/componentsRegistry-BV_7oR8a.css">
  <link rel="stylesheet" crossorigin href="/css/main-BpGXXA9q.css">
  <link rel="stylesheet" crossorigin href="/css/markup-specific-RTiBwhuw.css">
</head>
<body class='wide-navbar'>
    <header>
        <partial name="NavigationBar" />
    </header>
    <partial name="NoticeBar"/>
    @RenderBody()
    <partial name="Footer" />
    <partial name="_Clickjacking"/>
</body>
</html>
