@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.UI.Headquarters.Services

<ul class="nav navbar-nav" role="menu">
    @Html.MainMenuItem(@"CreateNew", @"InterviewerHq", MainMenu.CreateNew, MenuItem.CreateNew)
    @Html.MainMenuItem(@"Started", @"InterviewerHq", MainMenu.Started, MenuItem.Started)
    @Html.MainMenuItem(@"Rejected", @"InterviewerHq", MainMenu.Rejected, MenuItem.Rejected)
    @Html.MainMenuItem(@"Completed", @"InterviewerHq", MainMenu.Completed, MenuItem.Completed)
</ul>
<ul class="nav navbar-nav navbar-right" role="menu">
    @Html.MainMenuItem(@"Index", @"MapDashboard", MainMenu.MapDashboard, MenuItem.MapDashboard)
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="@User.Identity.Name">@User.Identity.Name<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <a asp-action="Profile" asp-controller="Interviewer">
                    @Pages.Profile_InterviewerProfile
                </a>
            </li>
            <li>
                <a href="/Account/LogOff">@Common.Logoff</a>
            </li>
        </ul>
    </li>
</ul>
