@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.UI.Headquarters.Services
@using WB.Core.BoundedContexts.Headquarters.Resources
@{
    var page = ViewBag.ActivePage ?? MenuItem.Logon;
}
<ul class="nav navbar-nav" role="menu">
    <li class="dropdown @(page == MenuItem.Teams || page == MenuItem.Headquarters ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.TeamsAndRoles">
            @MainMenu.TeamsAndRoles <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Index", "Supervisors", MainMenu.Supervisors, MenuItem.Teams)
            @Html.MainMenuItem("Headquarters", "Users", MainMenu.Headquarters, MenuItem.Headquarters)
        </ul>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right" role="menu">
    <li><a href="http://support.mysurvey.solutions/observer" target="_blank" title="Help">@MainMenu.Help</a></li>
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle toggle-sized" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="@User.Identity.Name">@User.Identity.Name<span class="caret"></span></a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Manage", "Users", Strings.SurverManagement_MainMenu_ManageAccount, MenuItem.ManageAccount)
            <li>
                <a href="/Account/LogOff">@Common.Logoff</a>
            </li>
        </ul>
    </li>
</ul>
