@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.UI.Headquarters.Services
@using WB.Core.BoundedContexts.Headquarters.Resources
@using WB.Core.BoundedContexts.Headquarters.Workspaces
@{
    var page = ViewBag.ActivePage ?? MenuItem.Logon;
}
<ul class="nav navbar-nav" role="menu">
    <li class="dropdown @(page == MenuItem.SurveyAndStatuses || page == MenuItem.Summary || page == MenuItem.Statuses ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.Reports">
            @MainMenu.Reports <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("SurveysAndStatusesForSv", "Reports", @MainMenu.SurveysAndStatuses, MenuItem.SurveyAndStatuses)
            @Html.MainMenuItem("TeamMembersAndStatuses", "Reports", @MainMenu.TeamMembersAndStatuses, MenuItem.Summary)
            @Html.MainMenuItem("TeamStatusDuration", "Reports", @MainMenu.StatusDuration, MenuItem.StatusDuration)
            @Html.MainMenuItem("QuantityByInterviewers", "Reports", @MainMenu.Quantity, MenuItem.NumberOfCompletedInterviews)
            @Html.MainMenuItem("SpeedByInterviewers", "Reports", @MainMenu.Speed, MenuItem.SpeedOfCompletingInterviews)
            @Html.MainMenuItem("MapReport", "Reports", @MainMenu.MapReport, MenuItem.MapReport)
            @Html.MainMenuItem("SurveyStatistics", "Reports", @MainMenu.SurveyStatistics, MenuItem.SurveyStatistics)
        </ul>
    </li>

    @Html.MainMenuItem("Index", "Interviews", MainMenu.Interviews, MenuItem.Interviews)
    @Html.MainMenuItem("Interviewers", "Users", MainMenu.TeamAndRoles, MenuItem.Teams)
    @Html.MainMenuItem("Index", "Assignments", MainMenu.Assignments, MenuItem.Assignments)

</ul>
<ul class="nav navbar-nav navbar-right" role="menu">
    @Html.MainMenuItem(Workspace.UsersWorkspace.AsContext(), "Index", "UsersManagement", 
        @MainMenu.Users, MenuItem.UsersManagement)
    <li><a href="http://support.mysurvey.solutions/supervisor" target="_blank" title="Help">@MainMenu.Help</a></li>
    <li class="dropdown @(page == MenuItem.ManageAccount ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
           title="@User.Identity.Name">@User.Identity.Name<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(Common.DownloadSupervisor, "Supervisor", "Download", new {area = string.Empty}, null)</li>
            @Html.MainMenuItem("Manage", "Users", Strings.SurverManagement_MainMenu_ManageAccount, MenuItem.ManageAccount)
            <li>
                <a href="/Account/LogOff">@Common.Logoff</a>
            </li>
        </ul>
    </li>
</ul>
