@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.UI.Headquarters.Services
@using WB.Core.BoundedContexts.Headquarters.Resources
@using WB.Core.BoundedContexts.Headquarters.Workspaces
@using WB.Infrastructure.Native.Workspaces
@inject IWorkspaceContextAccessor workspaceContext

@{
    var page = ViewBag.ActivePage ?? MenuItem.Logon;
    
    var workspace = workspaceContext.CurrentWorkspace();
    var isSystemWorkspace = workspace?.IsSystemDefinedWorkspace() ?? false;
    if (isSystemWorkspace)
    {
        var workspaces = (IEnumerable<WorkspaceContext>)ViewData["UserWorkspacesList"];
        workspace = workspaces.FirstOrDefault();
    }
}
<ul class="nav navbar-nav" role="menu">
    <li class="dropdown @(page == MenuItem.SurveyAndStatuses || page == MenuItem.Summary || page == MenuItem.Statuses ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@MainMenu.Reports">
            @MainMenu.Reports <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem(workspace, "SurveysAndStatusesForSv", "Reports", @MainMenu.SurveysAndStatuses, MenuItem.SurveyAndStatuses)
            @Html.MainMenuItem(workspace, "TeamMembersAndStatuses", "Reports", @MainMenu.TeamMembersAndStatuses, MenuItem.Summary)
            @Html.MainMenuItem(workspace, "TeamStatusDuration", "Reports", @MainMenu.StatusDuration, MenuItem.StatusDuration)
            @Html.MainMenuItem(workspace, "QuantityByInterviewers", "Reports", @MainMenu.Quantity, MenuItem.NumberOfCompletedInterviews)
            @Html.MainMenuItem(workspace, "SpeedByInterviewers", "Reports", @MainMenu.Speed, MenuItem.SpeedOfCompletingInterviews)
            @Html.MainMenuItem(workspace, "MapReport", "Reports", @MainMenu.MapReport, MenuItem.MapReport)
            @Html.MainMenuItem(workspace, "SurveyStatistics", "Reports", @MainMenu.SurveyStatistics, MenuItem.SurveyStatistics)
        </ul>
    </li>

    @Html.MainMenuItem(workspace, "Index", "Interviews", MainMenu.Interviews, MenuItem.Interviews)
    @Html.MainMenuItem(workspace, "Interviewers", "Users", MainMenu.TeamAndRoles, MenuItem.Interviewers)
    @Html.MainMenuItem(workspace, "Index", "Assignments", MainMenu.Assignments, MenuItem.Assignments)

</ul>
<ul class="nav navbar-nav navbar-right" role="menu">
    <li><a href="http://support.mysurvey.solutions/supervisor" target="_blank" title="Help">@MainMenu.Help</a></li>
    <li class="dropdown @(page == MenuItem.ManageAccount ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
           title="@User.Identity.Name">@User.Identity.Name<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(Common.DownloadSupervisor, "Supervisor", "Download", new {area = string.Empty}, null)</li>
            @Html.MainMenuItem(workspace, "Manage", "Users", Strings.SurverManagement_MainMenu_ManageAccount, MenuItem.ManageAccount)
            <li>
                <a href="/Account/LogOff">@Common.Logoff</a>
            </li>
        </ul>
    </li>
</ul>
