@using WB.Core.BoundedContexts.Headquarters.Resources
@using WB.Core.BoundedContexts.Headquarters.Workspaces
@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.UI.Headquarters.Services
@{
    var page = ViewBag.ActivePage ?? MenuItem.UsersManagement;
}
<ul class="nav navbar-nav">
    @Html.MainMenuItem(Workspace.Admin.AsContext(),"Index", "Workspaces", @MainMenu.Workspaces, MenuItem.Workspaces)
    @Html.MainMenuItem(Workspace.UsersWorkspace.AsContext(), "Index", "UsersManagement", MainMenu.Users, MenuItem.UsersManagement)
</ul>
<ul class="nav navbar-nav navbar-right" role="menu">
    <li><a href="http://support.mysurvey.solutions/headquarters" target="_blank" title="Help">@MainMenu.Help</a></li>
    <li class="dropdown @(page == MenuItem.ManageAccount ? "active" : "")">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="@User.Identity.Name">
            @User.Identity.Name <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.MainMenuItem("Manage", "Users", Strings.SurverManagement_MainMenu_ManageAccount, MenuItem.ManageAccount)
            <li>
                <a href="/Account/LogOff">@Common.Logoff</a>
            </li>
        </ul>
    </li>
</ul>
