@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@model Main.Core.View.Question.CompleteQuestionView
           @{
    var answerGuid = Model.Answers.Length > 0 ? Model.Answers[0].PublicKey : Guid.NewGuid();
}
@using (Html.BeginCollectionItem("Answers", true, answerGuid))
{
    ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onchange", "$(this.form).submit();");
    //   string answerKey = string.Format("answers[{0}].", Model.PublicKey);
    string tbClientId = "#" + Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("AnswerValue");

    @Html.Hidden("Parent", Model.PublicKey)
    <div class="answer">
        @Html.Hidden("PublicKey", answerGuid)
        @Html.Hidden("Selected", true)
        <div class="input-prepend">
        <span class="add-on"><i class="icon-calendar"></i></span>@Html.TextBox("AnswerValue", Model.Answers.Length > 0 ? Model.Answers[0].AnswerValue : string.Empty, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)
        </div>
        @* <span>
            @Html.RadioButton("PublicKey", item.PublicKey, item.Selected, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)</span>
        @{Html.RenderPartial(string.Format("~/Views/Answer/answerView/_{0}.cshtml", item.AnswerType), item);}*@
    </div>
    <script>
        $(document).ready(function () {
            $('@tbClientId').datepicker({ prevText: '', nextText: '' });
        });
    </script>
}