@using System.Web.Mvc.Html5
@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Entities.SubEntities.Complete
@model RavenQuestionnaire.Core.Views.Question.CompleteQuestionView
@{ ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onclick", "");
   string qtbClientId = string.Format("val_{0}_{1}_{2}", Model.QuestionnaireId, Model.GroupPublicKey, Model.PublicKey);
   string mtbClientId = string.Format("message_{0}_{1}_{2}", Model.QuestionnaireId, Model.GroupPublicKey, Model.PublicKey);
   var ids = new List<string>();
}
<div id="@mtbClientId" class="alert alert-error" style="display: none;">
</div>
@foreach (var item in Model.Answers)
{
    using (Html.BeginCollectionItem("Answers", true, item.PublicKey))
    {
    @Html.Hidden("QuestionId", Model.PublicKey)
    <div class="answer control-group">
        @Html.Hidden("PublicKey", item.PublicKey)
        <label for="@Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("AnswerValue")" class="control-label">@item.AnswerText</label>
        <div class="input-append">
        @*    @Html.TextBox("AnswerValue", item.AnswerValue, new { @class = "input-mini", group = qtbClientId, onchange = "$(this.form).submit();", style = "margin-bottom:0;" })
        *@    @Html.Html5Number(0, 100, 1,
           !string.IsNullOrEmpty(item.AnswerValue) ? Convert.ToInt32(item.AnswerValue) : 0,
       new
       {
           @class = "input-mini",
           group = qtbClientId,
           onchange = "$(this.form).submit();",
           style = "margin-bottom:0;",
           name = Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName("AnswerValue"),
           id = Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("AnswerValue")
       })<span class="add-on">%</span> @* !DON'T INSERT WHITESPACE BEFORE add-on ELEMENT *@
        </div>
        <span class="help-inline" style="display: none;"></span>
        @Html.CheckBox("Selected", true, new { @checked = "checked", style = "display:none" })
    </div>
   string tbClientId = "#" + Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("AnswerValue");
   ids.Add(tbClientId);
            
    <script type="text/javascript">
        $(document).ready(function () {
            $('@tbClientId').numeric();
            $('@tbClientId').blur(function () { $(this.form).submit(); });
        });
    </script>
    }
}
<script type="text/javascript">
    $(document).ready(function () {

        //$("[group=@qtbClientId]").rules('add', { sum: 100 });

        var form = $('[group=@qtbClientId]').parents('form')[0];

        $(form).submit(function () {
            var group = "@qtbClientId";
            var messaheId = "#@mtbClientId";
            var sumOfVals = 0;
            var isValid = true;
            $(messaheId).hide();
            $(this).find(".answer").removeClass("error");
            $(this).find(".help-inline").hide();
            $(this).find("input[group=" + group + "]").each(function () {
                var curVal = parseInt($(this).val(), 10);
                if (!(curVal >= 0 && curVal <= 100)) {
                    var help = $(this).parents('.answer').find('.help-inline');
                    help.html('>=0 && <100');
                    help.show();
                    isValid = false;
                }
                sumOfVals = sumOfVals + curVal;
            });
            if (sumOfVals == 100 && isValid) { return true; };
            $(this).find(".answer").addClass("error");
            $(messaheId).html("sum of this fields should be equals 100");
            $(messaheId).show();
            return false;
        });
    });
</script>
