@using Questionnaire.Core.Web.Helpers
@using Main.Core.Entities.SubEntities
@model Main.Core.View.Question.CompleteQuestionView
@{ ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onclick", "$(this.form).submit();"); }

@using (Html.BeginCollectionItem("Answers", true, Model.PublicKey))
{
    @Html.Hidden("Parent", Model.PublicKey)
    <ul class="btn-group-vertical">
        @foreach (var item in Model.Answers)
        {
            var selectedClass = item.Selected ? "btn-primary" : "";
            
            <li class="btn @selectedClass ">
                @switch (item.AnswerType)
                {
                    case AnswerType.Image:
                    <label class="radio">
                        @Html.RadioButton("PublicKey", item.PublicKey, item.Selected, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)
                        @{Html.RenderPartial(string.Format("~/Views/Answer/answerView/_{0}.cshtml", item.AnswerType), item);}
                    </label>break;
                    default:
                    <label class="radio">
                        @Html.RadioButton("PublicKey", item.PublicKey, item.Selected, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)
                        @{Html.RenderPartial(string.Format("~/Views/Answer/answerView/_{0}.cshtml", item.AnswerType), item);}
                    </label>break;
                }
                @Html.Hidden("Selected", true)
            </li>
           
        }
    </ul>
    
    <script type="text/javascript">
        $("input[name='@Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName("PublicKey")']").change(function (e) {
            var target = $(this);
            target.parent().parent().parent().children('li').removeClass('btn-primary');

            target.parent().parent().addClass('btn-primary');


        });
    </script>
}
