@using WB.UI.Headquarters.Resources.Questionnaires
@{
    ViewBag.Title = IndexPageResources.PageTitle;
}

<div class="container well-sm" ng-app="questionnaires">
    <h1>@ViewBag.Title</h1>

    <div ng-controller="importController">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h2>@IndexPageResources.ImportTemplate</h2>
            </div>


            <wizard hide-indicators="true" name="importWizard">
                <wz-step title="signin">
                    <div class="modal-body">
                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>@IndexPageResources.Attention</strong>
                            @IndexPageResources.DesigerLoginAttention
                        </div>

                        <h3>Please sign in to designer</h3>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="userName" class="col-sm-3 control-label">@IndexPageResources.UserName</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="userName" placeholder="@IndexPageResources.UserName" ng-model="credentials.userName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">@IndexPageResources.Password</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="password" placeholder="@IndexPageResources.Password" ng-model="credentials.password" />
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" ng-show="errorMessage">
                            {{errorMessage}}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="login()" ng-hide="signInInProggress">Next</button>
                        <button class="btn btn-primary" disabled ng-click="next()" ng-show="signInInProggress">Loading</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </wz-step>
                <wz-step title="selectItem">
                    <div class="modal-body">
                        <div class="well-sm input-group">
                            <input type="text" class="form-control" ng-model="questionnaires.filter" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="getQuestionnaries">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <div class="well-sm">
                            <div class="list-group" >
                                <a class="list-group-item"
                                   ng-repeat="item in questionnaires.items"
                                   href="javascript:void(0);"
                                   ng-click="$parent.selectedItemId = item.Id"
                                   ng-class="{'active': selectedItemId == item.Id}">
                                    {{item.Title}}
                                </a>
                            </div>
                            <pagination boundary-links="true"
                                        class="pagination-sm"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                        total-items="questionnaires.total"
                                        page="questionnaires.currentPage"
                                        items-per-page="questionnaires.pageSize"
                                        on-select-page="getQuestionnaries(page)">

                            </pagination>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="import()" ng-disabled="questionnaires.selectedItemId">Import</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </wz-step>
            </wizard>
        </script>



        <button class="btn btn-default" ng-click="open()">Import questionnaire</button>
    </div>

</div>


