<!DOCTYPE html>
<html>
@{
    var isAuthenticated = User.Identity != null && User.Identity.IsAuthenticated;
}
<head>
    <title>@ViewBag.Title</title>
    <style>
        #wrapper {
            margin: auto;
            width: 415px;
            margin-top: 200px;
        }

        body {
            font-family: Helvetica, Arial, sans-serif;
        }

        h1 {
            color: #E32102;
            font-size: 18pt;
            padding: 0;
            margin: 0;
        }

        .error-content {
            padding-left: 16px;
            margin-top: 40px;
            border-left: 13px #F6D6D0 solid;
        }

        .description {
            color: #808080;
            margin-top: 16px;
            font-size: 14pt;
        }
    </style>
    <meta charset="utf-8" />
</head>
<body>
<div id="wrapper">

<a href="/">
<svg x="0px" y="0px"
     width="263.8315px" height="70.9155px" viewBox="0 0 263.8315 70.9155" enable-background="new 0 0 263.8315 70.9155"
     xml:space="preserve">
<path fill="#636464" d="M61.8552,10.5657c-0.1309-3.3442-2.4043-4.874-5.7051-4.874c-2.7979,0-5.6387,1.2456-5.6387,4.437
	c0,3.2788,2.9072,3.6938,5.4209,4.2622c2.5566,0.5903,4.5244,0.9839,4.5244,2.9946c0,2.2075-2.0547,2.8418-3.8691,2.8418
	c-2.4922,0-4.5469-0.9839-4.6338-3.8037h-1.9893c0,3.7598,2.7324,5.4868,6.4482,5.4868c2.9727,0,6.0547-1.2681,6.0547-4.7217
	c0-3.2783-3.2354-4.0654-5.7705-4.5898c-2.4043-0.5029-4.2188-0.8745-4.2188-2.623c0-1.6396,1.29-2.5796,3.5195-2.5796
	c2.2949,0,3.6279,0.9185,3.8682,3.1694H61.8552z"/>







<path fill="#636464" d="M73.9246,10.2815h-1.8584v5.9019c0,2.3169-0.8516,4.0654-3.2998,4.0654
	c-1.9023,0-2.3613-1.0928-2.3613-2.7104v-7.2568h-1.8574v7.7598c0,2.4922,1.3984,3.8252,3.7598,3.8252
	c1.6611,0,2.9072-0.6558,3.8906-2.0767v1.7705h1.7266V10.2815z"/>







<path fill="#636464" d="M82.4688,10.0193c-2.0107,0-3.3877,0.7871-4.1748,2.689v-2.4268h-1.7705v11.2788h1.8584v-4.7651
	c0-2.5352,0.5459-4.874,3.6064-4.874c0.1963,0,0.2842,0,0.4805,0.0215V10.0193z"/>







<path fill="#636464" d="M83.3721,10.2815l4.1963,11.2788h1.9893l4.1309-11.2788h-1.9453l-3.1035,9.4648l-3.1914-9.4648H83.3721z"/>







<path fill="#636464" d="M104.5,17.9973h-1.8145c-0.5244,1.7051-1.4209,2.4048-3.0381,2.4048c-2.1855,0-3.5195-1.4429-3.5195-3.8472
	l0.0225-0.1313h8.4805v-0.2622c0-3.2568-1.3984-6.2075-5.1143-6.2075c-3.126,0-5.2461,2.4697-5.2461,6.1201
	c0,3.6724,1.9893,5.8579,5.3115,5.8579C102.249,21.9319,103.9316,20.5989,104.5,17.9973z M102.708,14.9158h-6.5576
	c0.2402-2.1206,1.5078-3.4321,3.3223-3.4321C101.3301,11.4836,102.5322,12.7737,102.708,14.9158z"/>







<path fill="#636464" d="M115.5879,10.2815h-1.9453l-3.1689,8.9839l-3.3447-8.9839h-2.0986l4.4814,11.2134l-0.875,2.0547
	c-0.2178,0.5244-0.6992,0.9399-1.3115,0.9399c-0.3271,0-0.6113-0.0654-1.2021-0.2402v1.6611
	c0.459,0.1094,0.8965,0.1968,1.3779,0.1968c2.0107,0,2.6445-1.5083,3.2568-3.104L115.5879,10.2815z"/>







<path fill="#636464" d="M134.6006,10.5657c-0.1309-3.3442-2.4043-4.874-5.7041-4.874c-2.7979,0-5.6396,1.2456-5.6396,4.437
	c0,3.2788,2.9072,3.6938,5.4209,4.2622c2.5566,0.5903,4.5244,0.9839,4.5244,2.9946c0,2.2075-2.0547,2.8418-3.8691,2.8418
	c-2.4912,0-4.5459-0.9839-4.6338-3.8037H122.71c0,3.7598,2.7324,5.4868,6.4482,5.4868c2.9727,0,6.0547-1.2681,6.0547-4.7217
	c0-3.2783-3.2344-4.0654-5.7705-4.5898c-2.4043-0.5029-4.2188-0.8745-4.2188-2.623c0-1.6396,1.29-2.5796,3.5195-2.5796
	c2.2949,0,3.6279,0.9185,3.8691,3.1694H134.6006z"/>







<path fill="#636464" d="M142.3135,9.9539c-3.4092,0-5.5303,2.2949-5.5303,6.0107c0,3.7163,2.0547,5.9458,5.5088,5.9458
	c3.4316,0,5.4209-2.2295,5.4209-6.0547C147.7129,12.1179,145.7236,9.9539,142.3135,9.9539z M142.2705,11.5056
	c2.1855,0,3.541,1.7051,3.541,4.3936c0,2.7759-1.3115,4.437-3.498,4.437c-2.2725,0-3.6064-1.6392-3.6064-4.415
	C138.707,13.2327,140.084,11.5056,142.2705,11.5056z"/>







<path fill="#636464" d="M151.7471,5.9973h-1.8799v15.563h1.8799V5.9973z"/>







<path fill="#636464" d="M163.7549,10.2815h-1.8584v5.9019c0,2.3169-0.8525,4.0654-3.3008,4.0654
	c-1.9014,0-2.3604-1.0928-2.3604-2.7104v-7.2568h-1.8574v7.7598c0,2.4922,1.3984,3.8252,3.7588,3.8252
	c1.6611,0,2.9072-0.6558,3.8916-2.0767v1.7705h1.7266V10.2815z"/>







<path fill="#636464" d="M171.3262,10.2815h-2.252V6.9373h-1.8574v3.3442h-1.9023v1.5303h1.9023v5.9893
	c0,2.4697-0.1309,3.8687,2.6885,3.8687c0.5898,0,0.8301-0.022,1.4209-0.0874v-1.5957c-0.3936,0.0439-0.6338,0.0659-1.0059,0.0659
	c-1.3115,0-1.2461-0.6343-1.2461-1.6616v-6.5791h2.252V10.2815z"/>







<path fill="#636464" d="M175.0488,5.9973h-1.8799v2.2734h1.8799V5.9973z M175.0488,10.2815h-1.8799v11.2788h1.8799V10.2815z"/>







<path fill="#636464" d="M182.7129,9.9539c-3.4092,0-5.5303,2.2949-5.5303,6.0107c0,3.7163,2.0547,5.9458,5.5088,5.9458
	c3.4316,0,5.4209-2.2295,5.4209-6.0547C188.1123,12.1179,186.123,9.9539,182.7129,9.9539z M182.6699,11.5056
	c2.1855,0,3.541,1.7051,3.541,4.3936c0,2.7759-1.3115,4.437-3.498,4.437c-2.2725,0-3.6064-1.6392-3.6064-4.415
	C179.1064,13.2327,180.4834,11.5056,182.6699,11.5056z"/>







<path fill="#636464" d="M191.9502,10.2815h-1.749v11.2788h1.8574v-5.9014c0-2.2295,0.7871-4.0659,3.2139-4.0659
	c2.3389,0,2.4258,1.5303,2.4258,3.3228v6.6445h1.8584v-7.4971c0-2.5796-1.0059-4.0874-3.7598-4.0874
	c-1.7266,0-2.9072,0.6772-3.8467,2.0547V10.2815z"/>







<path fill="#636464" d="M210.5918,13.5603c0-2.3823-1.9668-3.6064-4.502-3.6064c-2.623,0-4.3066,1.2896-4.3066,3.3223
	c0,2.6011,2.6016,2.8418,4.5469,3.3228c1.5732,0.3936,2.8408,0.6558,2.8408,1.9014c0,1.1367-1.0928,1.8799-2.7539,1.8799
	c-1.792,0-2.9502-0.6777-3.0596-2.3828h-1.8359c0.1084,2.5361,1.792,3.9131,4.8525,3.9131c2.8193,0,4.6768-1.4429,4.6768-3.6284
	c0-2.4482-2.4697-2.9946-4.3711-3.4321c-1.5303-0.3496-2.9951-0.5464-2.9951-1.814c0-0.9399,0.875-1.5303,2.2959-1.5303
	c1.5957,0,2.623,0.5684,2.7539,2.0547H210.5918z"/>







<path fill="#636464" d="M71.1394,31.0022h-5.1133v8.7847h-9.5391v-8.7847h-5.1133v23.3384h5.1133v-10.063h9.5391v10.063h5.1133
	V31.0022z"/>







<path fill="#636464" d="M91.0898,49.0959h-4.458c-0.6885,1.7046-1.7373,2.4585-3.4414,2.4585c-2.4912,0-3.9004-1.5732-3.9668-4.4907
	h12.1289v-0.459c0-5.9326-3.2451-9.6699-8.3594-9.6699c-4.916,0-8.4895,3.8027-8.4895,9.0474c0,5.3101,3.4417,8.8501,8.6536,8.8501
	C86.9922,54.8323,90.041,52.7673,91.0898,49.0959z M86.6318,44.1135h-7.4082c0.2627-2.3599,1.7051-3.8022,3.7695-3.8022
	C85.3213,40.3113,86.4355,42.0486,86.6318,44.1135z"/>







<path fill="#636464" d="M109.7842,54.3406c-0.623-1.4419-0.5898-3.0483-0.5898-4.5889v-7.3096c0-4.7202-3.9668-5.5073-7.375-5.5073
	c-4.8848,0-7.5723,1.9341-7.835,5.7041h4.3604c0.3271-1.9341,1.2129-2.5898,3.3428-2.5898c2.0654,0,3.0488,0.7212,3.0488,2.2617
	c0,1.377-1.1143,1.6392-4.1299,2.0322c-3.3438,0.4263-7.376,0.9507-7.376,5.376c0,3.1797,2.2949,5.1133,6.0313,5.1133
	c2.0332,0,4.0322-0.688,5.4746-2.1304c0.0654,0.7539,0.0986,1.0161,0.3271,1.6387H109.7842z M104.7031,46.113v1.9014
	c0,2.4258-1.7041,3.7695-4.1299,3.7695c-1.6064,0-2.5566-0.8521-2.5566-2.2617c0-2.0649,1.8027-2.2617,3.4092-2.5239
	C102.6055,46.8015,103.6221,46.7361,104.7031,46.113z"/>







<path fill="#636464" d="M129.3174,54.3406V31.0022h-4.6221v8.5225c-1.0811-1.7373-3.1465-2.5566-5.1455-2.5566
	c-4.4912,0-7.4082,3.5073-7.4082,8.8501c0,5.4741,2.9824,8.9814,7.6699,8.9814c2.3271,0,3.999-0.8848,5.1133-2.6221v2.1631H129.3174
	z M124.8594,45.8508c0,3.311-1.4746,5.2119-4.0313,5.2119c-2.4912,0-3.999-1.9668-3.999-5.2446c0-3.2451,1.4746-5.1792,3.999-5.1792
	C123.3516,40.6389,124.8594,42.573,124.8594,45.8508z"/>







<path fill="#636464" d="M149.5459,37.427h-4.4248v2.0977c-1.2129-1.8354-3.0156-2.5566-5.2119-2.5566
	c-4.5889,0-7.5723,3.54-7.5723,9.0142c0,5.3428,2.8848,8.7847,7.375,8.7847c2.1641,0,3.9336-0.8193,5.2119-2.5566v8.1289h4.6221
	V37.427z M140.9248,40.6721c2.623,0,4.1309,1.9009,4.1309,5.1787c0,3.3438-1.5078,5.2773-4.0322,5.2773s-3.999-1.9009-3.999-5.1133
	C137.0244,42.7043,138.499,40.6721,140.9248,40.6721z"/>







<path fill="#636464" d="M169.0859,37.427h-4.6221v8.7188c0,2.5571-0.7539,4.7861-3.6709,4.7861
	c-2.6553,0-2.8516-1.7046-2.8516-3.8354V37.427h-4.6875v11.374c0,4.0317,2.2617,6.0313,5.9004,6.0313
	c2.4258,0,4.2285-1.0161,5.5068-2.8843v2.3926h4.4248V37.427z"/>







<path fill="#636464" d="M188.5605,54.3406c-0.623-1.4419-0.5898-3.0483-0.5898-4.5889v-7.3096c0-4.7202-3.9668-5.5073-7.376-5.5073
	c-4.8838,0-7.5713,1.9341-7.834,5.7041h4.3594c0.3281-1.9341,1.2129-2.5898,3.3438-2.5898c2.0654,0,3.0488,0.7212,3.0488,2.2617
	c0,1.377-1.1152,1.6392-4.1309,2.0322c-3.3428,0.4263-7.375,0.9507-7.375,5.376c0,3.1797,2.2949,5.1133,6.0313,5.1133
	c2.0322,0,4.0322-0.688,5.4746-2.1304c0.0654,0.7539,0.0977,1.0161,0.3271,1.6387H188.5605z M183.4795,46.113v1.9014
	c0,2.4258-1.7041,3.7695-4.1299,3.7695c-1.6064,0-2.5566-0.8521-2.5566-2.2617c0-2.0649,1.8027-2.2617,3.4092-2.5239
	C181.3818,46.8015,182.3975,46.7361,183.4795,46.113z"/>







<path fill="#636464" d="M202.6855,37.1316c-0.459-0.0654-0.6563-0.0981-1.0166-0.0981c-2.5234,0-4.4248,1.311-5.4736,3.5073V37.427
	h-4.4258v16.9136h4.6553v-7.7358c0-3.0811,1.2451-5.3755,4.458-5.3755c0.5244,0,0.9834,0.0327,1.8027,0.1968V37.1316z"/>







<path fill="#636464" d="M214.7676,37.427h-3.4414v-5.1138h-4.6221v5.1138h-2.8193v3.1465h2.8193v8.7847
	c0,4.1304,1.2461,5.1792,5.2451,5.1792c1.0488,0,1.54-0.0327,2.8184-0.1309v-3.54c-0.5566,0.0654-0.918,0.0654-1.4092,0.0654
	c-2,0-2.0322-0.7539-2.0322-2.3931v-7.9653h3.4414V37.427z"/>







<path fill="#636464" d="M232.7012,49.0959h-4.458c-0.6885,1.7046-1.7373,2.4585-3.4414,2.4585
	c-2.4912,0-3.9014-1.5732-3.9668-4.4907h12.1289v-0.459c0-5.9326-3.2451-9.6699-8.3594-9.6699c-4.916,0-8.4893,3.8027-8.4893,9.0474
	c0,5.3101,3.4414,8.8501,8.6533,8.8501C228.6035,54.8323,231.6523,52.7673,232.7012,49.0959z M228.2432,44.1135h-7.4082
	c0.2627-2.3599,1.7051-3.8022,3.7695-3.8022C226.9326,40.3113,228.0469,42.0486,228.2432,44.1135z"/>







<path fill="#636464" d="M246.7832,37.1316c-0.459-0.0654-0.6553-0.0981-1.0156-0.0981c-2.5244,0-4.4258,1.311-5.4746,3.5073V37.427
	h-4.4248v16.9136h4.6543v-7.7358c0-3.0811,1.2461-5.3755,4.458-5.3755c0.5244,0,0.9834,0.0327,1.8027,0.1968V37.1316z"/>







<path fill="#636464" d="M263.2744,42.3435c-0.1309-3.9331-3.4746-5.4087-7.3418-5.4087c-4.7207,0-7.4082,1.8687-7.4082,5.1792
	c0,4.0317,3.9336,4.4907,6.9492,5.1792c2.4258,0.5571,3.8018,0.8193,3.8018,2.2617c0,1.2783-1.1797,2.0981-3.0811,2.0981
	c-2.1309,0-3.4414-0.7866-3.6055-2.8193h-4.4248c0.0654,4.3271,3.7041,5.9985,7.9326,5.9985c4.8184,0,7.7354-2.1963,7.7354-5.7363
	c0-3.835-3.54-4.6216-6.5889-5.2446c-2.6875-0.5571-4.1299-0.7539-4.1299-2.1631c0-1.0493,0.9834-1.6719,2.6221-1.6719
	c1.8691,0,2.9502,0.5571,3.2129,2.3271H263.2744z"/>







<path fill-rule="evenodd" clip-rule="evenodd" fill="#636464" d="M12.6289,44.1609c0.1816-0.4448,0.3672-0.8892,0.5493-1.3335
	c1.1904-2.9087,1.2383-3.0239,1.2383-6.5469v-9.9688h-3.5732v10.0015c0,3.4927,0.0586,3.6387,1.2222,6.479
	C12.2388,43.2517,12.4434,43.7053,12.6289,44.1609L12.6289,44.1609z M14.3105,49.6458c0.7402-1.8135,1.4736-3.6304,2.2173-5.4414
	c1.4639-3.5747,1.5225-3.7173,1.5225-7.9238V24.4949c0-1.2275-0.3647-1.8169-1.8169-1.8169h-5.3901v-3.7222h10.7813v17.2617
	c0,5.0615-0.1299,5.3784-1.771,9.3755c-2.4165,5.9014-4.8237,11.8066-7.2319,17.7109c-2.4194-5.9395-4.8311-11.8848-7.2637-17.812
	c-1.5278-3.71-1.7241-4.1836-1.7241-9.0825V26.3118H7.209v10.0015c0,4.1763,0.0737,4.3564,1.5063,7.856l2.231,5.4766
	C11.8643,51.9138,13.4326,51.8088,14.3105,49.6458L14.3105,49.6458z M1.8169,22.678H7.209v-5.5391
	c0-1.4043,0.5737-1.8169,1.8169-1.8169h14.4165c1.4512,0,1.8169,0.5889,1.8169,1.8169v19.0786
	c0,5.7466-0.1514,6.1157-2.0566,10.7524c-2.9766,7.27-5.9326,14.5488-8.9004,21.8232c-1.1553,2.8467-2.2261,2.8125-3.3643,0
	c-2.9761-7.3066-5.9355-14.6309-8.9297-21.9243C0.228,42.5486,0,41.9968,0,36.4094V24.4949C0,23.4919,0.2695,22.678,1.8169,22.678z"/>







<path fill-rule="evenodd" clip-rule="evenodd" fill="#636464" d="M3.6338,18.0647c0,1.0029-0.813,1.0732-1.8169,1.0732
	C0.814,19.1379,0,19.0676,0,18.0647v-8.436c0-1.2275,0.333-1.8169,1.8169-1.8169h19.8076V3.845H1.0811
	C0.0767,3.845,0,3.0325,0,2.0281c0-1.0029,0.0767-1.8164,1.0811-1.8164h22.3613c1.4194,0,1.8169,0.4604,1.8169,1.8164v7.6006
	c0,1.1318-0.3657,1.8169-1.8169,1.8169H3.6338V18.0647z"/>



@{
    var returnUrl = Context.Request.Query["ReturnUrl"].FirstOrDefault();

}

</svg>
</a>
<div class="error-content">
    @RenderBody()
</div>
<div class="description">
    @if (isAuthenticated)
    {
        <a href="/Account/LogOff">@Common.Logoff</a>
    }

    @if (!string.IsNullOrWhiteSpace(returnUrl))
    {
        <a href="@returnUrl" style="float: right">@Common.Return</a>
    }
</div>
</div>
</body>
</html>
