@using System.Web.Optimization
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.UserEditModel

@{
    ViewBag.Title = string.Format("Interviewer: {0}", Model.UserName);
}

@section scripts
{
    @Scripts.Render("~/validate")
    <script type="text/javascript">
        $('#umbrella').hide();
    </script>
}
<div class="page-header">
    <h2>
        Edit interviewer: &nbsp;
        <small>
            @Model.UserName
        </small>
    </h2>
</div>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <fieldset class="form-horizontal">
                @{
            this.Html.RenderPartial("UserEditForm");
                }
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        @Html.ActionLink("Cancel", "Back", new { id = Model.Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div class="col-md-6">
        <h4>Device using history</h4>
        @if (Model.DevicesHistory == null || !Model.DevicesHistory.Any())
        {
            <p>Interviewer did not synchronize yet. There is no information about devices in use.</p>
        }
        else
        {
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Device id</th>
                        <th>Start using date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var deviceInfo in Model.DevicesHistory)
                    {
                        <tr>
                            <td>@deviceInfo.DeviceId</td>
                            <td>@deviceInfo.Date.ToLocalTime()</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

