@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_NoFilterListViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Scripts/viewmodels/pages/users.js")
    <script type="text/javascript">
        var $editUrl = '@Url.Action("Edit", "Interviewer", new { area = string.Empty })';
        $(function () {
            var model = new Supervisor.VM.Users('@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "UsersApi", action = "Interviewers"})');
            model.GetFilterMethod = function () {
                return { SupervisorId: '@Model' };
            };
            ko.applyBindings(model);
            model.load();
        });
    </script>
}

@section header
{
    <h2 class="sinle-line-header">
        Interviewers
    </h2>
}

@section gridnavigation
{
    @if (User.IsInRole("Headquarter"))
    {
        <div class="menubar">
            <a class="btn btn-default" href="@Url.Action("Create", "Interviewer", new { id = Model, area = string.Empty })">
                <i class="glyphicon glyphicon-user"></i> Create
            </a>
        </div>
    }
<div class="btn-group">
    <div class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" data-bind="value: SearchBy, enterKey: filter">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: filter">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>
    <div class="btn-group pull-right">
        <a class="btn btn-default" href="@Url.Action("Index", "Interviewers", new { area = string.Empty, supervisorId = Model, Archived = true })">
            Archived interviewers
        </a>
    </div>
}

@section grid
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th data-bind='sortby : "UserName"'>Name</th>
                <th data-bind='sortby : "CreationDate"'>Creation date</th>
                <th data-bind='sortby : "Email"'>Email</th>
                <th>Connected to device</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:Items -->
            <tr>
                <td>
                    <a data-bind="attr: { href: $editUrl + '/' + UserId() }, text: UserName"></a>
                </td>
                <td data-bind="text: CreationDate"></td>
                <td>
                    <a data-bind="attr:{href:'mailto:' + Email()},text:Email"></a>
                </td>
                <td data-bind="text: DeviceId() == null ? 'No': 'Yes'"></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}