@model DocumentFilter

@{
    ViewBag.Title = Reports.InterviewChart;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section styles
{
    @Styles.Render("~/Scripts/jqPlot/jquery.jqplot.min.css")
    @Styles.Render("~/Dependencies/css/jqplot-override.css")
}
@section scripts
{
    @Scripts.Render("~/js/chart")

    <script type="text/javascript">
    var interviewChartUrl = '@Html.Raw(@Url.Action("InterviewsChart", "Reports", new { }, Request.Url.Scheme))';;
        var chartApiUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "ChartStatistics" })';
        var commandExecutionUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "CommandApi", action = "ExecuteCommands" })';
        $(function () {
            var model = new Supervisor.VM.ChartPage(interviewChartUrl, chartApiUrl, commandExecutionUrl);
            ko.applyBindings(model);
            model.load();
        });
    </script>
}

<main class="hold-transition">
    <div class="container-fluid">
        <div class="row">
            <aside class="filters">
                <div class="foldback-button" id="hide-filters">
                    <span class="arrow"></span>
                    <span class="arrow"></span>
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                </div>
                <div class="filters-container">
                    <h4>@Pages.FilterTitle</h4>
                    <div class="block-filter">
                        <h5>@Reports.Questionnaire</h5>
                        <select id="templateSelector" class="selectpicker" data-bind="value: SelectedTemplate" class="form-control">
                            @foreach (var item in Model.Templates)
                            {
                                <option value='{"templateId": "@item.TemplateId","version": "@item.TemplateVersion"}'>(ver. @item.TemplateVersion) @item.TemplateName</option>
                            }
                        </select>
                    </div>
                    <div class="block-filter">
                        <h5>@Reports.DatesRange</h5>
                        <div class="form-date input-group" id="dates-range">
                            <input type="text" placeholder="Select range" class="form-control flatpickr-input" readonly="readonly" data-input>
                            <button type="submit" class="btn btn-link btn-clear">
                                <span></span>
                            </button>
                            <span class="input-group-addon"  data-toggle>
                                <span class="calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="main-information">
                <div class="page-header">
                    <h1>@Reports.CumulativeInterviewChart</h1>
                    <button type="button" class="btn btn-default" data-bind="click: $root.initChart">@Common.Refresh</button>
                </div>
                <div class="clearfix">
                    <div class="col-sm-8">
                        <h2 data-bind="text: TemplateName"></h2>
                        <h2 id="NoResultsFound">@Common.NoResultsFound</h2>
                    </div>
                </div>
                <div id="interviewChart"></div>
            </div>
        </div>
    </div>
</main>