@using RavenQuestionnaire.Core.Views.Interviewer
@using RavenQuestionnaire.Core.Views.User
@model RavenQuestionnaire.Core.Views.Interviewer.InterviewersView

        @foreach (InterviewersItem item in Model.Items)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Statistics", "User", new {id = item.Id})">@item.Login</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InProcess)
                </td>                                
                <td>
                    @if (item.IsLocked)
                    {
                        <a class="btn btn-primary" href="@Url.Action("UnlockUser", "User", new {id = item.Id})"><i class="icon icon-lock icon-white"></i>Unlock</a>
                    }
                    else
                    {
                        <a  class="btn btn-primary" href="@Url.Action("LockUser", "User", new {id = item.Id})"><i class="icon icon-lock icon-white"></i>Lock</a>
                    }
                </td>
            </tr>
        }
