@using RavenQuestionnaire.Core.Views.User
@model InterviewersView

        @foreach (InterviewersItem item in Model.Items)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "User", new {id = item.Id})">@item.Login</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InProcess)
                </td>                                
                <td>
                    @if (item.IsLocked)
                    {
                        @Html.ActionLink("Unlock", "UnlockUser", "User",new {id = item.Id}, new {onclick = "return confirm('Are you sure you wish to change person status?')"})
                    }
                    else
                    {
                        @Html.ActionLink("Lock", "LockUser", "User", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to change person status?')" })
                    }
                </td>
            </tr>
        }
