@using RavenQuestionnaire.Core.Views.Survey
@using RavenQuestionnaire.Core.Views.User
@using Web.Supervisor.Models
@model InterviewerView
@{
    ViewBag.Title = "User assignments";
}
<script type="text/javascript" src="../../Scripts/jquery-latest.js"></script> 
<script type="text/javascript" src="../../Scripts/jquery.tablesorter.js"></script>
<h2>@(Model.UserName)'s assignment</h2>
@foreach (var item in Model.Items)
{
    <script>
         $(document).ready(function() {
             $('#questionnaireTable-@item.TemplateId').tablesorter({
                     order: "@item.Order",
                     send: function(data) {
                         $.ajax({
                                 type: "POST",
                                 url: "@Url.Action("TableGroupByUser", "User")",
                                 data: JSON.stringify({ SortOrder: data, Pager: { Page: @item.Page , PageSize: @item.PageSize }, UserId: '@Model.UserId', TemplateId:'@item.TemplateId'  }),
                                 contentType: 'application/json, charset=utf-8',
                                 statusCode: {
                                     200: function(response) {
                                         $("#questionnaireTable-@item.TemplateId tbody").html(response);
                                     }
                                 }
                             });
                     }
                 });
         });
    </script>
    <table id="questionnaireTable-@item.TemplateId" class="table table-striped table-bordered table-condensed">
    <thead>
        <strong>Survey - <a href="@Url.Action("Assigments", "Survey", new {id = item.TemplateId })">@item.Title</a></strong>        
        <tr>            
            @foreach (var header in item.HeaderFeaturedQuestions)
            {
                <th class="sorting" sorter='{"key":"@header.Key"}'>@header.Value</th>
            }
            <th class="sorting" sorter='{"key":"Status.Name"}'>Status</th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_TableGroupByUser", item)
    </tbody>
</table>
    <div class="pagination">
    @Html.QPager(item.PageSize, item.Page, item.TotalCount, new { order = item.Order })
</div>
}