@using System.Web.Script.Serialization
@using Core.Supervisor.Views.Index
@using Core.Supervisor.Views.Summary
@using Web.Supervisor.Models
@model SummaryView
@{
    var r = new JavaScriptSerializer();
    var xTitles = r.Serialize(@Model.Items.Select(t => t.User.Name).ToArray());
    var chartData = ViewBag.GraphData as SurveyChartModel;

}
<p>
    <div id="switcher" class="btn-group">
        <button id="column" class="btn btn-primary">Column</button>
        <button id="bar" class="btn">Bar</button>
        <button id="pie" class="btn">Pie</button>
        <button id="scatter" class="btn">Scatter</button>
    </div>
</p>

<script type="text/javascript">
barData = @Html.Raw(Json.Encode(chartData.BarData)) ;
    scatterData = @Html.Raw(Json.Encode(chartData.ScatterData)) ;
    pieData = [
        {
            type: 'pie',
            name: 'Totals',
            data: @Html.Raw(Json.Encode(chartData.BrowserData)),
            size: '60%',
            dataLabels: {
                formatter: function() {
                    return this.y > 0 ? this.point.title : null;
                },
                color: 'white',
                distance: -40
            }
        },
        {
            type: 'pie',
            name: 'Statuses',
            data: @Html.Raw(Json.Encode(chartData.VersionsData)),
            showInLegend: false,
            innerSize: '60%',
            dataLabels: {
                formatter: function() {
                    // display only if larger than 1
                    return this.y > 0 ? '<b>' + this.point.name + ':</b> ' + this.y : null;
                }
            }
        }
    ];

    init = function() {
        var containerSettings = {
            column: { 'height': '400px' },
            bar: { 'height': 80 * @(@Model.Items.Count) + 'px' },
            pie: { 'height': '600px' },
            scatter: { 'height': '500px' }
        };
        
        var containerMethods = {
            column: function() { 
                chart.xAxis[0].setCategories( @Html.Raw(xTitles) );
            },
            bar: function() {chart.xAxis[0].setCategories(@Html.Raw(xTitles))},
            pie: function() {},
            scatter: function() {}
        };

        var active = "btn-primary";

        $('#switcher button').each(function(i, el) {
            var self = this;
            $(self).click(function() {
                var id = $(self).attr('id');
                if (!$(self).hasClass(active)) {
                    $("#switcher .btn").removeClass(active);
                    $(self).addClass(active);
                }
                $('#container').css(containerSettings[id]);
                drawPlot(id);
                containerMethods[id]();
            });
        });
       
        $("#column").click();
    };

    plotSettings = {
        column: {
            chart: {
                renderTo: 'container',
                type: 'column',
                marginBottom: 70,
                marginRight: 5,
                marginTop: 30
            },
            xAxis: {
                
            },
            yAxis: {
                title: {
                    text: 'Count'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                allowDecimals: false
            },
            title: {
                text: ""
            },
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.x + ': ' + this.y;
                }
            },
            legend: {
                align: 'center',
                verticalAlign: 'top',
                borderWidth: 0,
                y: -10
            },
            plotOptions: {
                column: {
                    stacking: 'normal'
                },
                bar: {
                    stacking: 'normal'
                },
                series: {
                    pointWidth: 20
                },
                pie: {
                    shadow: false,
                    allowPointSelect: true,
                    showInLegend: true
                }
            },
            series: barData
        },
        bar: {
            chart: {
                renderTo: 'container',
                type: 'bar',
                marginBottom: 70,
                marginRight: 5,
                marginTop: 30
            },
            xAxis: {
            },
            yAxis: {
                title: {
                    text: 'Count'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                allowDecimals: false
            },
            title: {
                text: ""
            },
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.x + ': ' + this.y;
                }
            },
            legend: {
                align: 'center',
                verticalAlign: 'top',
                borderWidth: 0,
                y: -10
            },
            plotOptions: {
                column: {
                    stacking: 'normal'
                },
                bar: {
                    stacking: 'normal'
                },
                series: {
                    pointWidth: 20
                }
            },
            series: barData
        },
        pie: {
            chart: {
                renderTo: 'container',
                type: 'pie',
                marginBottom: 70,
                marginRight: 5,
                marginTop: 30
            },
            
            title: {
                text: ""
            },
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.x + ': ' + this.y;
                }
            },
            legend: {
                align: 'center',
                verticalAlign: 'top',
                borderWidth: 0,
                y: -10
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    allowPointSelect: true,
                    showInLegend: true
                }
            },
            series: pieData
        },
        scatter: {
            chart: {
                renderTo: 'container',
                type: 'scatter',
                marginBottom: 70,
                marginRight: 5,
                marginTop: 75,
                zoomType: 'xy'
            },
            xAxis: {
                title: {
                    text: 'In progress'
                },
                allowDecimals: false,
                min: 0,
                gridLineWidth: 1
            },
            yAxis: {
                title: {
                    text: 'Done'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                allowDecimals: false,
                min: 0
            },
            title: {
                text: ""
            },
            tooltip: {
                 formatter: function() {
                        return ''+
                        this.x +' in progress, '+ this.y +' complete';
                }
            },
            legend: {
                align: 'center',
                verticalAlign: 'top',
                borderWidth: 0,
                y: -10
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 7,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    }
                }
            },
            series: scatterData
        }
    };
    chart = null;
    drawPlot = function(type) {
        $("#container").html('');
        chart = new Highcharts.Chart(plotSettings[type]);
    };
</script>

<div id="container" style="width: 100%; min-width: 400px; min-height: 400px; height: 400px; margin: 0 auto">
</div>