@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Vertical
@using RavenQuestionnaire.Web.Utils
@model CompleteGroupViewV
           
@if (Model.Propagated != Propagate.None)
{
    if (Model.Propagated != Propagate.AutoPropagated)
    { 
    <div class="clearfix">
        <p class="pull-right">
            @Html.ValidationMessage("PropagationError")
            @RenderAddButton(Model.PublicKey)
        </p>
    </div>
    }
    if (Model.PropagatedGroupsCount > 0)
    {
    <div class="col-wrap1">
        <div class="col-wrap2">
            <div class="col1">
                <div class="col1-content">
                    <div id="headerTableWrap">
                        @Html.Partial("~/Views/Group/GroupTemplates/_PropagatebleGroup.cshtml", Model)
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="col2-content">
                    <div id="contentTableWrap" class="scroll-x">
                        @Html.Partial("~/Views/Group/GroupTemplates/_PropagatebleGroup.cshtml", Model)
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    }
}
else
{
    @Html.Partial("~/Views/Group/GroupTemplates/_SimpleGroup.cshtml", Model)
}

@helper RenderAddButton(Guid currentGroupPublicKey)
{
    var requestParams = new
                      {
                          publicKey = currentGroupPublicKey,
                          questionnaireId = ViewBag.QuestionnaireId,
                          parentGroupPublicKey = ViewBag.CurrentGroupPublicKey, 
                          salt = (new Random()).NextDouble()
                      };
    @Ajax.ActionLinkWithIcon("Add", "PropagateGroupI", "Group", requestParams, ViewBag.AjaxOptions as AjaxOptions, new { @class = "btn btn-success" }, "icon-plus icon-white")
}