@using Questionnaire.Core.Web.Helpers
@using Main.Core.Entities.SubEntities
@model Main.Core.View.Group.CompleteGroupMobileView
@if (Model.Propagated != Propagate.None)
{
    <div>
        @Html.Partial("~/Views/Survey/Group/_PropagatebleGroup.cshtml", Model)
        @if (Model.Propagated != Propagate.AutoPropagated)
        {
            var requestParams = new
            {
                publicKey = Model.PublicKey,
                questionnaireId = ViewBag.QuestionnaireId,
                parentGroupPublicKey = ViewBag.CurrentGroupPublicKey,
                salt = (new Random()).NextDouble()
            };

            string templateId = "groupTemplate" + Model.PublicKey;

            using (Ajax.BeginFormHtml5("PropagateGroup", "Survey", requestParams, new AjaxOptions { HttpMethod = "POST", OnComplete = "PropagatedGroup" }))
            {
            <input value="@Model.Title" type="submit" data-role = "button" data-icon = "plus" data-theme = "a"/>
            @Html.ValidationMessage("PublicKey")
            }

            <script id="@templateId"  type="text/x-jsrender">
                @Html.Partial("~/Views/Survey/Group/_PropagatedGrooup.cshtml", Model.PropagateTemplate)
            </script>
            
        }
    </div>
}
else
{
    @Html.Partial("~/Views/Survey/Group/_SimpleGroup.cshtml", Model)
}
