@using Questionnaire.Core.Web.Helpers
@using Main.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Mobile
@model Main.Core.View.Group.CompleteGroupMobileView
@if (Model.Propagated != Propagate.None)
{
    <div>
        @Html.Partial("~/Views/Survey/Group/_PropagatebleGroup.cshtml", Model)
        @if (Model.Propagated != Propagate.AutoPropagated)
        {
            @RenderAddButton(Model.PublicKey)
        }
    </div>
}
else
{
    @Html.Partial("~/Views/Survey/Group/_SimpleGroup.cshtml", Model)
}


@helper RenderAddButton(Guid currentGroupPublicKey)
{
    var requestParams = new
                            {
                                publicKey = currentGroupPublicKey,
                                questionnaireId = ViewBag.QuestionnaireId,
                                parentGroupPublicKey = ViewBag.CurrentGroupPublicKey,
                                salt = (new Random()).NextDouble()
                            };
    string templateId = "groupTemplate" + currentGroupPublicKey;

    using (Ajax.BeginFormHtml5("PropagateGroup", "Survey", requestParams, new AjaxOptions { HttpMethod = "POST", OnComplete = "PropagatedGroup" }))
    {
        <input value="@Model.Title" type="submit" data-role = "button" data-icon = "plus" data-theme = "a"/>

        @Html.ValidationMessage("PublicKey")
    }

    <script id="@templateId"  type="text/x-jsrender">
        @Html.Partial("~/Views/Survey/Group/_PropagatedGrooup.cshtml", Model.PropagateTemplate)
    </script>
}