@using Main.Core.View.Group
@using Main.Core.View.Question
@using Questionnaire.Core.Web.Helpers

@using Main.Core.Entities.SubEntities
@model Main.Core.View.Group.CompleteGroupMobileView
@{ var questionKey = (Guid)ViewBag.CurrentQuestion; }

@using (var enumerator = Model.Children.GetEnumerator())
{
    if (enumerator.MoveNext())
    {
        bool isLast;
        do
        {
            var item = enumerator.Current;
            isLast = !enumerator.MoveNext();
            {
                if ((item as CompleteQuestionView) != null)
                {
                    var question = item as CompleteQuestionView;
                    var bodyClass = question.Enabled && !question.Featured ? "" : "ui-disabled";
                    bodyClass += " " + (questionKey == question.PublicKey ? "scrollHere" : "");
                    bodyClass += " " + (question.Answered ? "answered" : "");
                    bodyClass += " " + (!question.Valid ? "error_block" : "");
                   
    <div class="question-frame">
        <div class="ui-body ui-body-c question-main-content  @bodyClass" id="elem-@(question.PublicKey)" >

            @*render instructions if necessery*@
            @if (!string.IsNullOrWhiteSpace(question.Instructions))
            {
                <a id="inctruction-ref-@(question.PublicKey)" 
                         onclick='ShowInfoDialog(this,"@(question.PublicKey)","inctruction")'
                           data-icon="info" 
                           data-role="button" 
                           data-inline="true">Read instructions</a>
                <div data-role="popup" id="inctruction-@(question.PublicKey)" class="instructions">
                    <p>@Html.Raw(question.Instructions)</p>
                </div>
            }

            @if (question.Cards.Length > 0)
            {
                <a id="gallery-ref-@(question.PublicKey)" 
                           data-role="button" 
                           rel="external" data-icon="grid" 
                           data-inline="true" 
                            href="#gallery-@(question.PublicKey)">Cards</a>
            }



            <div class="question-content">
                @using (Ajax.BeginFormHtml5("SaveAnswer", "Survey", ViewBag.AjaxOptions as AjaxOptions))
                {
                    using (Html.BeginCollectionItem("questions", true, question.PublicKey))
                    {
                        Html.RenderPartial("~/Views/Survey/Question/_Question.cshtml", question);
                    }
                    using (Html.BeginCollectionItem("settings", true, question.PublicKey))
                    {
                    @Html.Hidden("ParentGroupPublicKey", (Guid)ViewBag.CurrentGroupPublicKey)

                    @Html.Hidden("QuestionnaireId", Model.QuestionnairePublicKey)

                        if (Model is PropagatedGroupMobileView)
                        {
                    @Html.Hidden("PropogationPublicKey", ((PropagatedGroupMobileView)Model).PropogationKey)
                        }
                    }
                }

                @using (Ajax.BeginFormHtml5("SaveComments", "Survey", new { }, new AjaxOptions { OnComplete = "UpdateComments" }, new { @class = "comment-form" }))
                {
                    using (Html.BeginCollectionItem("questions", true, question.PublicKey))
                    {
                    @Html.TextBox("Comments", question.Comments ?? string.Empty, new { draw_key_board = "true", on_long_tap_open = "true", grab_parent_areas = "3", style = "display:none;" })
                    }

                    using (Html.BeginCollectionItem("settings", true, question.PublicKey))
                    {
                    @Html.Hidden("ParentGroupPublicKey", (Guid)ViewBag.CurrentGroupPublicKey)
                    @Html.Hidden("QuestionnaireId", Model.QuestionnairePublicKey)
                        if (Model is PropagatedGroupMobileView)
                        {
                    @Html.Hidden("PropogationPublicKey", ((PropagatedGroupMobileView)Model).PropogationKey)
                        }
                    }
                    @Html.Hidden("PublicKey", question.PublicKey)
                }
            </div>
        </div>

        @if (!isLast)
        {
            <div class="question-arrow">
                <a class="next-question" id="iam-@(question.PublicKey)">&darr;</a>
            </div>
        }
        <div style="clear: both;"></div>
    </div>

@*<div class="ui-body">&nbsp;</div>*@
    
                }
                else
                {
                    var @group = item as CompleteGroupMobileView;

                    if (@group.PublicKey != Guid.Empty)
                    {
                        if (@group.Propagated != Propagate.None)
                        {
    @Html.Partial("~/Views/Survey/Group/_CompleteGroup.cshtml", @group)
                        }
                        else
                        {
                            string enabled = !@group.Enabled ? "ui-disabled" : string.Empty;
    
                                                    
    <div class="@enabled ui-body ui-body-c" id="@group.PublicKey" style="margin-bottom:15px;">
        <div class="group-anchor">
            <a id="screen-ref-@(@group.PublicKey)" class="nav-link" 
                                       href="@Url.Action("Screen", new { Id = @group.QuestionnairePublicKey, group = @group.PublicKey })" 
                                       data-role="button" data-corners="false" data-icon="arrow-r" data-iconpos="right">@(@group.Title)</a>
            <script type="text/javascript">
                $('#screen-ref-@(@group.PublicKey)').click(function () {
                    $('.scrollHere').removeClass('scrollHere');
                    $(this).parents('.group-anchor').addClass("scrollHere");
                });
            </script>
            <input type="checkbox" disabled="disabled" style="display: none;" />
        </div>
    </div>
    
    
@*<div class="ui-body">&nbsp;</div>*@
                        }
                    }
                    else
                    {
    @Html.Partial("~/Views/Survey/Group/_CompleteGroup.cshtml", @group)
                    }
                }
            }
        } while (!isLast);
    }
}
