@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.Answer
@model AnswerView
<div class="answer">
    <p>
        @Model.Index)
        @if (!string.IsNullOrEmpty(Model.AnswerValue))
        {
            @Model.AnswerValue;
            <b>= </b>
        }
        @Html.DisplayFor(modelItem => Model.Title)
        @if (Model.AnswerType == AnswerType.Image )
        {
           
            <div class="span2" id="image@(Model.AnswerImage)">
                <div class="thumbnail">
                    <img src="@Url.Action("Thumb", "Resource", new { id = Model.AnswerImage })" alt="@Model.Title" />
                </div>
            </div>
        }
    </p>
</div>
