@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@using RavenQuestionnaire.Web.Utils
@model AnswerView
@{ 
    var currentRowId = "divEditAnswer" + Model.PublicKey.ToString();
    var images = ViewBag.Images as SelectList;
}
@using (Html.BeginCollectionItem("answers"))
{
    <div id="@currentRowId" class="display-answer">
        <div class="answer-header">
            <div>
                <a href="javascript:void(0)" onclick="$('#@currentRowId').remove()" class="btn btn-danger btn-mini">
                    <i class="icon-remove icon-white"></i>Delete</a> <span class="help-inline">@Html.ValidationMessageFor(model => Model.AnswerText)</span>
            </div>
        </div>
        <div class="answer-body">
            <div class="row-fluid">
                <div class="span3">
                    @Html.TextBoxFor(model => Model.AnswerValue, new { @class = "span12", placeholder = "stata value" })
                </div>
                <div class="span9">
                    @Html.TextBoxFor(model => Model.AnswerText, new { @class = "span12", placeholder = "answer text" })
                </div>
            </div>
             <div class="row-fluid">
                <div class="span3">
                    @Html.EnumDropDownListFor(model => Model.AnswerType, new Dictionary<string, object> { {"class" , "span12" } })
                </div>
                <div class="span9">
                    @if (images != null)
                    {
                        @Html.DropDownListFor(model => Model.AnswerImage, images)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => Model.AnswerImage)
                    }
                </div>
            </div>
            @Html.HiddenFor(model => Model.PublicKey)
        </div>
    </div>
}