@using System.Web.Optimization
@model IEnumerable<WB.Core.SharedKernels.SurveyManagement.Views.Reposts.Views.TemplateViewItem>

@{
    ViewBag.Title = "Data Export";
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
}

@section scripts
{

    @Scripts.Render("~/Scripts/viewmodels/pages/interviews.base.js")


    <script type="text/javascript">

        var $getExportedDataUrl = '@Url.Action("GetExportedData", "ImportExport")';
        var $getExportedApprovedDataUrl = '@Url.Action("GetExportedApprovedData", "ImportExport")';
        var $getExportedFilesUrl = '@Url.Action("GetExportedFiles", "ImportExport")';
        var $getExportedHistoryUrl = '@Url.Action("GetExportedHistoy", "ImportExport")';

        Supervisor.VM.ExportData = function () {
            Supervisor.VM.ExportData.superclass.constructor.apply(this, arguments);

            var self = this;
            self.Templates = [
                    @foreach (var item in Model)
            {
            <text>{ id: '@item.TemplateId', version: '@item.TemplateVersion', title: '(ver. @item.TemplateVersion) @item.TemplateName' },</text>

            }];

            self.selectedTemplate = ko.observable();

            self.selectedId = ko.computed(function () {
                return self.selectedTemplate() && self.selectedTemplate().id;
            });

            self.selectedVersion = ko.computed(function () {
                return self.selectedTemplate() && self.selectedTemplate().version;
            });

            self.selectedTitle = ko.computed(function () {
                return self.selectedTemplate() && self.selectedTemplate().title;
            });
        };
        Supervisor.Framework.Classes.inherit(Supervisor.VM.ExportData, Supervisor.VM.BasePage);

        $(function () {
            var model = new Supervisor.VM.ExportData();
            ko.applyBindings(model);

        });

        $('#umbrella').hide();
    </script>
}


@section header
{
    <h3 class="sinle-line-header" data-bind="text: selectedTitle"></h3>
}

@section filters
{
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Template</h4>
            <p class="list-group-item-text">
                <select id="templateSelector" data-bind="options: Templates, value: selectedTemplate, optionsText: 'title'" class="form-control"></select>
            </p>
        </li>
    </ul>
}

<table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>All Data</th>
            <th>Approved Data</th>
            <th>Binary Data</th>
            @if (this.ViewBag.EnableInterviewHistory)
            {
                <th>Para Data</th>
            }
        </tr>
    </thead>
    <tbody>
        <!-- ko if:selectedTitle() != '' -->
        <tr>
            <td>
                <div>
                    <a class="btn btn-default btn-block" data-bind="attr: { href: $getExportedDataUrl + '/' + selectedId() + '?version=' + selectedVersion() }">
                        <i class="glyphicon glyphicon-download">
                        </i>
                        Get Tab
                    </a>

                    <a class="btn btn-default btn-block" data-bind="attr: { href: $getExportedDataUrl + '/' + selectedId() + '?version=' + selectedVersion() + '&type=1' }">
                        <i class="glyphicon glyphicon-download">
                        </i>
                        Get Stata
                    </a>

                    <a class="btn btn-default btn-block" data-bind="attr: { href: $getExportedDataUrl + '/' + selectedId() + '?version=' + selectedVersion() + '&type=2'}">
                        <i class="glyphicon glyphicon-download">
                        </i>
                        Get SPSS
                    </a>
                </div>
</td>
            <td>
                <div >
                    <a class="btn btn-default btn-block" data-bind="attr: { href: $getExportedApprovedDataUrl + '/' + selectedId() + '?version=' + selectedVersion() }">
                        <i class="glyphicon glyphicon-download">
                        </i>
                        Get Tab
                    </a>
                    
                    <a class="btn btn-default btn-block" data-bind="attr: { href: $getExportedApprovedDataUrl + '/' + selectedId() + '?version=' + selectedVersion() + '&type=1' }">
                        <i class="glyphicon glyphicon-download">
                        </i>
                        Get Stata
                    </a>
                    
                    <a class="btn btn-default btn-block" data-bind="attr: { href: $getExportedApprovedDataUrl + '/' + selectedId() + '?version=' + selectedVersion() + '&type=2' }">
                        <i class="glyphicon glyphicon-download">
                        </i>
                        Get SPSS
                    </a>
                </div>
            </td>
            <td>
                <div >
                    <a class="btn btn-default btn-block" data-bind="attr: { href: $getExportedFilesUrl + '/' + selectedId() + '?version=' + selectedVersion() }">
                        <i class="glyphicon glyphicon-download">
                        </i>
                        Get Binary
                    </a>
                </div>
</td>
            @if (this.ViewBag.EnableInterviewHistory)
            {
                <td>
                    <div >

                        <a class="btn btn-default btn-block" data-bind="attr: { href: $getExportedHistoryUrl + '/' + selectedId() + '?version=' + selectedVersion() }">
                            <i class="glyphicon glyphicon-download">
                            </i>
                            Get Para
                        </a>

                    </div>
                </td>
            }
        </tr>
        <!-- /ko  -->
    </tbody>
</table>
