@using System.Activities.Expressions
@using System.ServiceModel.Channels
@using WB.Core.GenericSubdomains.Portable
@using WB.Core.GenericSubdomains.Utils
@using WB.Core.SharedKernels.SurveyManagement.Views.PreloadedData
@using WB.Core.SharedKernels.SurveyManagement.Views.SampleImport
@using WB.Core.SharedKernels.SurveyManagement.Views.User
@model WB.Core.SharedKernels.SurveyManagement.Views.PreloadedData.PreloadedMetaDataView
@{
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
    ViewBag.Title = "Index";
}
<div class="row-fluid">
    @if (Model.MetaData == null)
    {
        <h3>File wasn't parsed</h3>
    }
    else
    {
        <h3>@Model.MetaData.Title</h3>
        <div style="height: 500px; overflow-y: scroll;">
            <table class="table table-striped table-bordered table-condensed table-break-words">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>File Size</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MetaData.FilesMetaInformation)
                    {
                        <tr>
                            <th>@item.FileName</th>
                            <th>@FileSizeUtils.SizeSuffix(item.FileSize)</th>
                            <th>@(item.CanBeHandled ? "" : "File format is not supported, data inside it will be ignored")</th>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <a href="@Url.Action(Model.MetaData.PreloadedContentType == PreloadedContentType.Sample ? "VerifySample" : "VerifyPanel", new { id = Model.MetaData.Id, questionnaireId = Model.QuestionnaireId, version = Model.Version })"
           class="btn btn-primary">Verify</a>
    }
</div>
