@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_NoFilterListViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Scripts/viewmodels/pages/questionnaires.js")
    <script type="text/javascript">
        var $getExportedDataUrl = '@Url.Action("GetExportedData", "ImportExport")';
        var $getExportedApprovedDataUrl = '@Url.Action("GetExportedApprovedData", "ImportExport")';
        var $getExportedFilesUrl = '@Url.Action("GetExportedFiles", "ImportExport")';
        var $getExportedHistoryUrl = '@Url.Action("GetExportedHistoy", "ImportExport")';
        var $newInterviewUrl = '@Url.Action("TakeNew", "HQ")';
        var $batchUploadUrl = '@Url.Action("BatchUpload", "HQ")';
        var $importTemplateUrl = '@Url.Action("Import", "Template")';
        $(function () {
            var questionnairesUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "QuestionnairesApi", action = "AllQuestionnaires"})';
            var deleteQuestionnaireUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "QuestionnairesApi", action = "DeleteQuestionnaire"})';

            var model = new Supervisor.VM.Questionnaires(questionnairesUrl, deleteQuestionnaireUrl);

            ko.applyBindings(model);
            model.load();
        });
    </script>
}

@section header
{
    <h3 class="sinle-line-header">@Dashboard.Questionnaires</h3>
}

@section gridnavigation
{
    <div class="btn-group">
        <div class="form-inline">
            <a class="btn btn-default" data-bind="attr: { href: $importTemplateUrl }">
                <i class="glyphicon glyphicon-import">
                </i> @Dashboard.ImportTemplate
            </a>
        </div>
    </div>
}

@section grid
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th class="fit-column-by-content" data-bind='sortby : "AllowCensusMode"'>@Dashboard.Census</th>
                <th data-bind='sortby : "Title"'>@Dashboard.Title</th>
                <th data-bind='sortby : "Version"'>@Dashboard.Version</th>
                <th data-bind='sortby : "CreationDate"'>@Dashboard.CreationDate</th>
                <th data-bind='sortby : "LastEntryDate"'>@Dashboard.LastEntryDate</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:Items -->
            <tr>
                <td>
                    <!-- ko if:AllowCensusMode -->
                    <span class="glyphicon glyphicon-ok pull-right margin-right-5"></span>
                    <!-- /ko -->
                </td>
                <td data-bind="text: Title"></td>
                <td data-bind="text: Version"></td>
                <td data-bind="date: CreationDate"></td>
                <td data-bind="date: LastEntryDate"></td>
                <td>
                    <!-- ko ifnot:AllowCensusMode -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a data-bind="attr: { href: $batchUploadUrl + '/' + QuestionnaireId() + '?version=' + Version() }">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                    @Dashboard.BatchUpload
                                </a>
                            </li>
                            <li>
                                <a data-bind="attr: { href: $newInterviewUrl + '/' + QuestionnaireId() + '?version=' + Version() }">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                    @Dashboard.NewInterview
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- /ko -->
                </td>
                <td>
                     <!-- ko ifnot:Disabled -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <i class=" glyphicon glyphicon-download">
                            </i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a data-bind="attr: { href: $getExportedDataUrl + '/' + QuestionnaireId() + '?version=' + Version() }">
                                    <i class=" glyphicon glyphicon-download">
                                    </i> @Dashboard.AllData
                                </a>
                            </li>
                            <li>
                                <a data-bind="attr: { href: $getExportedApprovedDataUrl + '/' + QuestionnaireId() + '?version=' + Version() }">
                                    <i class="glyphicon glyphicon-download">
                                    </i> @Dashboard.ApprovedData
                                </a>
                            </li>
                            <li>
                                <a data-bind="attr: { href: $getExportedFilesUrl + '/' + QuestionnaireId() + '?version=' + Version() }">
                                    <i class="glyphicon glyphicon-download">
                                    </i> @Dashboard.BinaryData
                                </a>
                                @if (this.ViewBag.EnableInterviewHistory)
                                {
                                    <a data-bind="attr: { href: $getExportedHistoryUrl + '/' + QuestionnaireId() + '?version=' + Version() }">
                                        <i class="glyphicon glyphicon-download">
                                        </i> @Dashboard.History
                                    </a>
                                }
                            </li>
                        </ul>



                    </div>
                    <div class="btn-group">
                        <a class="btn btn-danger" data-bind="click : $parent.deleteQuestionnaire">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                    <!-- /ko -->
                    <!-- ko if:Disabled -->
                    Disabled
                    <!-- /ko -->
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}