@using System.Web.Optimization
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.DocumentFilter

@{
    ViewBag.Title = Reports.InterviewChart;
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
}

@section scripts
{
    @Scripts.Render("~/js/chart")

    <script type="text/javascript">
    var interviewChartUrl = '@Html.Raw(@Url.Action("InterviewsChart", "HQ", new { }, Request.Url.Scheme))';;
        var chartApiUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "ChartStatistics" })';
        var commandExecutionUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "CommandApi", action = "ExecuteCommands" })';
        $(function () {
            var model = new Supervisor.VM.ChartPage(interviewChartUrl, chartApiUrl, commandExecutionUrl);
            ko.applyBindings(model);
            model.load();
        });
</script>
}

@section styles
{
    @Styles.Render(
        "~/Scripts/jqPlot/jquery.jqplot.min.css",
        "~/Content/datepicker3.css",
        "~/Scripts/dateRangePicker/daterangepicker.css")
    <style type="text/css">
        table.jqplot-table-legend {
            width: 90%;
            border: none;
        }
        td.jqplot-table-legend.jqplot-table-legend-swatch.jqplot-seriesToggle {
            width: 20px;
        }
        div.jqplot-table-legend-swatch-outline {
            border: none;
        }
        .jqplot-table-legend-swatch {
            border-width: 10px;
        }
        
    </style>
}

@section header
{
    <h3>@Reports.CumulativeInterviewChart</h3>
}

@section filters
{
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">@Common.Template</h4>
            <p class="list-group-item-text">
                <select id="templateSelector" data-bind="value: SelectedTemplate" class="form-control">
                    @foreach (var item in Model.Templates)
                    {
                        <option value='{"templateId": "@item.TemplateId","version": "@item.TemplateVersion"}'>(ver. @item.TemplateVersion) @item.TemplateName</option>
                    }
                </select>
            </p>
        </li>
        <li class="list-group-item" id="dates-range">
            <h4 class="list-group-item-heading">@Reports.DatesRange</h4>
            <div class="input-group">
                <input type="text" class="form-control" data-bind="value: SelectedRange" readonly="readonly"/>
                <span style="cursor: pointer" class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </li>
    </ul>
}

@section  actionbar
{
    <h4 class="sinle-line-header text-italic" data-bind="text: TemplateName"></h4>
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-bind="click: $root.initChart">@Common.Refresh</button>
    </div>
}

@section chart
{
    <div class="sinle-line-header" id="NoResultsFound">@Common.NoResultsFound</div>
    <div id="interviewChart"></div>
}