@using System.Web.Optimization
@using AppSettings = WB.Core.SharedKernels.SurveyManagement.Web.Code.AppSettings
@{
    ViewBag.Title = "MapReport";
}

<div id="menu" class="col-sm-3 col-md-2 sidebar">
    <div id="report-builder">
        <div class="central-pane">
            <div class="row-fluid">
                <div class="span12">
                    <div class="form-group">
                        <label for="questionnaire">Questionnaire</label>
                        <div class="controls">
                            <select class="form-control" id="questionnaire" data-bind="options: questionnaires, value: selectedQuestionnaire, optionsText : 'Title', optionsCaption : 'Select questionnaire'"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="version">Version</label>
                        <div class="controls">
                            <select class="form-control" id="version" data-bind="options: questionnaireVersions, value: selectedVersion, optionsCaption : 'Select version', enable : questionnaireVersions"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="variable">Variables</label>
                        <div class="controls">
                            <select class="form-control" id="variable" data-bind="options: questionnaireVariables, value: selectedVariable, optionsText: 'Variable', optionsCaption : 'Select variable', enable : isVariablesEnabled"></select>
                        </div>
                    </div>
                    <div class="form-group" data-bind="visible: markerlimitReached">
                        <div class="alert-warning">
                            <span >Not all markers were loaded for current zoom level. Please zoom in and reload markers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-pane">

            <div class="row-fluid">
                <div class="span23">
                    <button class="btn-block btn" id="redoMarkersOnMap" data-bind="click: redoMarkers, visible: readyToUpdate">Reload markers on map</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="interview-tooltip-template">
        <div>
            <div class="row-fluid"><strong>Interviewer:</strong>&nbsp;<span data-bind="text: InterviewerName">[interviewer name]</span></div>
            <div class="row-fluid"><strong>Supervisor:</strong>&nbsp;<span data-bind="text: SupervisorName">[supervisor name]</span> </div>
            <div class="row-fluid"><strong>Status:</strong>&nbsp;<span data-bind="text: LastStatus">[status]</span> </div>
            <div class="row-fluid"><strong>Completion date:</strong>&nbsp;<span data-bind="text: LastUpdatedDate">[last updated date]</span></div>
            <div class="row-fluid" style="white-space:nowrap;"><strong>View interview content:</strong>&nbsp;<a target="_blank" data-bind="attr: { href: $interviewDetailsUrl + '/' + InterviewId }">details</a></div>
        </div>
    </script>
</div>
<div id="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="map-canvas" class="google-maps" />
</div>
@section scripts
{

    @Scripts.Render("~/js/list")
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=@(AppSettings.Instance.GoogleMapApiKey)&sensor=false">
    </script>
    @Scripts.Render("~/js/map-report")
    <script type="text/javascript">
        var commandExecutionUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "CommandApi", action = "ExecuteCommands" })';
        var $questionnairesListUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "Questionnaires" })';
        var $questionnaireQuestionstUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "QuestionInfo" })';
        var $mapReportUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "MapReport" })';
        var $interiewSummaryUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "InterviewApi", action = "InterviewSummaryForMapPoint" })';
        var $interviewDetailsUrl = '@Url.Action("Details", "Interview")';

        $(function () {
            window.model = new Supervisor.VM.MapReport(commandExecutionUrl, $questionnairesListUrl, $questionnaireQuestionstUrl, $mapReportUrl, $interiewSummaryUrl);
            ko.applyBindings(model);
            model.initializeMap();
            model.load();

            var windowHeight = $(window).height();
            var navigationHeight = $('.navbar.navbar-fixed-top').height();
            $('#map-canvas').css('min-height', (windowHeight - navigationHeight) + 'px');
        });
    </script>
}

@section styles
{

}
