@using System.Web.Optimization
@model IEnumerable<WB.Core.BoundedContexts.Headquarters.Views.Survey.SurveyStatusViewItem>
@{
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
}
@{
    ViewBag.Title = Reports.SupervisorsAndSurveys;
}


@section scripts
{
    @Scripts.Render("~/js/statuslistview")
    @Html.Partial("_ListViewStatusesScript")

    <script type="text/javascript">
        var $surveysUrl = '@Url.Action("SurveysAndStatuses", "HQ")';
        var $interviewsUrl = '@Url.Action("Interviews", "HQ")';
        $(function () {
            var model = new StatusListViewModel('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "StatusApi", action = "Status" })');
            ko.applyBindings(model);
            model.load();
        });
    </script>
}

@section header
{
    <h3 class="sinle-line-header">@Reports.SupervisorsAndSurveys</h3>
}

@section filters
{
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">@Common.Status</h4>
            <p class="list-group-item-text">
                <select data-bind="value: SelectedStatus" class="form-control">
                    <option>Any</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Status">@item.StatusName</option>
                    }
                </select>
            </p>
        </li>
    </ul>
}

@section grid
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th data-bind='sortby: "User.Name"'>@Users.Interviewers</th>
                <!-- ko foreach:ListView.Headers -->
                    <td  data-bind="sortby: TemplateId(), text: Title"></td>
                <!-- /ko -->
                <th data-bind='sortby: "Total"'>@Common.Total</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: ListView.Items">
            <tr>
                <td>
                    <a data-bind="attr: { href: $surveysUrl + '?interviewerId=' + User.Id() }, text: User.Name"></a>
                </td>
                <!-- ko foreach:CountersByTemplate -->
                <td data-bind="text: Count"></td>
                <!-- /ko -->
                <td data-bind="text: Total"></td>

            </tr>
        </tbody>
    </table>
}