@using System.Web.Optimization
@model IEnumerable<WB.Core.BoundedContexts.Headquarters.Views.Reposts.Views.TemplateViewItem>
@{
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
}

@section scripts
{
    @Html.Partial("_ListViewStatusesScript")
    @Scripts.Render("~/js/teamsandstatuses")
    <script type="text/javascript">
        var $surveysUrl = '@Url.Action("SurveysAndStatuses", "HQ")';
        var $interviewsUrl = '@Url.Action("Interviews", "HQ")';
        $(function () {
            var model = new Supervisor.VM.TeamsAndStatuses('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "HeadquarterSupervisorsAndStatusesReport" })');
            ko.applyBindings(model);
            model.load();
        });
    </script>
}

@section header
{
    <h3 class="sinle-line-header">@Reports.TeamsAndStatuses</h3>
}

@section filters
{
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">@Common.Template</h4>
            <p class="list-group-item-text">
                <select id="questionnaireSelector" data-bind="value: SelectedTemplate" class="form-control">
                    @if (Model.Count() > 1)
                    {
                        <option value="">@Common.Any</option>
                    }
                    @foreach (var item in Model)
                    {
                        <option value='{"templateId": "@item.TemplateId","version": "@item.TemplateVersion"}'>(ver. @item.TemplateVersion) @item.TemplateName</option>
                    }
                </select>
            </p>
        </li>
    </ul>

}

@section actionbar
{
    <h4 class="sinle-line-header text-italic" data-bind="text: QuestionnaireName"></h4>
}

@section grid
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th data-bind='sortby: "Responsible"'>@Users.Supervisors</th>
                <th data-bind='sortby: "SupervisorAssignedCount"'>@Reports.SupervisorAssigned</th>
                <th data-bind='sortby: "InterviewerAssignedCount"'>@Reports.InterviewerAssigned</th>
                <th data-bind='sortby: "CompletedCount"'>@Reports.Completed</th>
                <th data-bind='sortby: "RejectedBySupervisorCount"'>@Reports.RejectedBySupervisor</th>
                <th data-bind='sortby: "ApprovedBySupervisorCount"'>@Reports.ApprovedBySupervisor</th>
                <th data-bind='sortby: "RejectedByHeadquartersCount"'>@Reports.RejectedByHQ</th>
                <th data-bind='sortby: "ApprovedByHeadquartersCount"'>@Reports.ApprovedByHQ</th>
                <th data-bind='sortby: "TotalCount"'>@Common.Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko if: TotalRow -->
            <tr style="color: green; font-weight: bold;">
                <td>
                    <b>@Common.Total</b>
                </td>
                <td><span data-bind="text: TotalRow().SupervisorAssignedCount"></span></td>
                <td><span data-bind="text: TotalRow().InterviewerAssignedCount"></span></td>
                <td><span data-bind="text: TotalRow().CompletedCount"></span></td>
                <td><span data-bind="text: TotalRow().RejectedBySupervisorCount"></span></td>
                <td><span data-bind="text: TotalRow().ApprovedBySupervisorCount"></span></td>
                <td><span data-bind="text: TotalRow().RejectedByHeadquartersCount"></span></td>
                <td><span data-bind="text: TotalRow().ApprovedByHeadquartersCount"></span></td>
                <td><span data-bind="text: TotalRow().TotalCount"></span></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach:Items -->
            <tr>
                <td>
                    <a data-bind="attr: { href: $surveysUrl + '?responsible=' + Responsible() }, text: Responsible"></a>
                </td>
                <td data-bind="template: { name: 'SupervisorAssignedCountTemplate' }"></td>
                <td data-bind="template: { name: 'InterviewerAssignedCountTemplate' }"></td>
                <td data-bind="template: { name: 'CompletedCountTemplate' }"></td>
                <td data-bind="template: { name: 'RejectedBySupervisorCountTemplate' }"></td>
                <td data-bind="template: { name: 'ApprovedBySupervisorCountTemplate' }"></td>
                <td data-bind="template: { name: 'RejectedByHeadquartersCountTemplate' }"></td>
                <td data-bind="template: { name: 'ApprovedByHeadquartersCountTemplate' }"></td>
                <td>
                    <a data-bind="attr: { href: $interviewsUrl + '?templateId=' + QuestionnaireId() + '&templateVersion=' + QuestionnaireVersion() + '&responsible=' + Responsible() }, text: TotalCount"></a>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}

