@using System.Web.Optimization
@model IEnumerable<WB.Core.SharedKernels.SurveyManagement.Views.Reposts.Views.UsersViewItem>
@{
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
}

@section scripts
{
    @Html.Partial("_ListViewStatusesScript")
    @Scripts.Render("~/Scripts/viewmodels/pages/surveysandstatuses.js")
    <script type="text/javascript">
        var $interviewsUrl = '@Url.Action("Interviews", "HQ")';
        $(function () {
            var model = new Supervisor.VM.SurveysAndStatuses('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "HeadquarterSurveysAndStatusesReport" })');
            ko.applyBindings(model);
            model.load();
        });
    </script>
}

@section header
{
    <h3>Surveys and Statuses</h3>
}

@section filters
{
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Supervisors</h4>
            <p class="list-group-item-text">
                <select data-bind="value: SelectedUser" class="form-control">
                    @if (Model.Count() > 1)
                    {
                        <option>Any</option>
                    }
                    @foreach (var item in Model)
                    {
                        <option value="@item.UserId">@item.UserName</option>
                    }
                </select>

            </p>
        </li>
    </ul>
}

@section grid
{

    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Survey Name</th>
                <th>Supervisor assigned</th>
                <th>Interviewer assigned</th>
                <th>Completed</th>
                <th>Rejected by supervisor</th>
                <th>Approved by supervisor</th>
                <th>Rejected by HQ</th>
                <th>Approved by HQ</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:Items -->
            <tr>
                <td>
                    <a data-bind="attr: { href: $interviewsUrl + '?templateId=' + QuestionnaireId() + '&templateVersion=' + QuestionnaireVersion() }, text: QuestionnaireTitle() + ' (ver.' + QuestionnaireVersion() + ')'">

                    </a>
                </td>
                <td data-bind="template: { name: 'SupervisorAssignedCountTemplate' }"></td>
                <td data-bind="template: { name: 'InterviewerAssignedCountTemplate' }"></td>
                <td data-bind="template: { name: 'CompletedCountTemplate' }"></td>
                <td data-bind="template: { name: 'RejectedBySupervisorCountTemplate' }"></td>
                <td data-bind="template: { name: 'ApprovedBySupervisorCountTemplate' }"></td>
                <td data-bind="template: { name: 'RejectedByHeadquartersCountTemplate' }"></td>
                <td data-bind="template: { name: 'ApprovedByHeadquartersCountTemplate' }"></td>
                <td>
                    <a data-bind="attr: { href: $interviewsUrl + '?templateId=' + QuestionnaireId() + '&templateVersion=' + QuestionnaireVersion() + '&interviewerId=' + ResponsibleId() }, text: TotalCount"></a>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>

}