@using System.Runtime.Serialization.Formatters
@using System.Web.Optimization
@using Newtonsoft.Json

@model WB.Core.BoundedContexts.Headquarters.Views.TakeNew.TakeNewInterviewView

@{
    ViewBag.Title = Common.CreateNewInterview;
}

<div class="page-header">
    <h3>
        @Common.CreateNewInterview <small data-bind="text: questionnaire().title"></small>
    </h3>
</div>


@section styles
{
    @Styles.Render("~/css/interview-new")
    <style type="text/css">
        .form-group .control-label {
            font-weight: normal;
        }
    </style>
}

@section scripts
{
    @Scripts.Render("~/js/interview-general", "~/js/interview-new")
    <script type="text/javascript">
        $(function() {
            var questionnaire = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.None, new JsonSerializerSettings
                                {
                                    TypeNameHandling = TypeNameHandling.None,
                                    TypeNameAssemblyFormat = FormatterAssemblyStyle.Simple
                                }));

            var commandExecutionUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "CommandApi", action = "Execute"})';
            var interviewListUrl = '@Url.Action("Interviews", "HQ", new {}, Request.Url.Scheme)';
            var supervisorsUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "Teams", action = "Supervisors"})';

            var model = new Supervisor.VM.NewInterview(commandExecutionUrl, questionnaire, interviewListUrl, supervisorsUrl);

            model.load();

            /*ko.validation.group(model);*/
            ko.applyBindings(model);
        });

    </script>
    <script type="text/html" id="SingleOption">
        <!-- ko ifnot: isFilteredCombobox -->
        <div data-bind="template: { name: 'SingleOptionRegular' }"></div>
        <!-- /ko -->
        <!-- ko if: isFilteredCombobox -->
        <div data-bind="template: { name: 'SingleOptionFiltered' }"></div>
        <!-- /ko -->
    </script>
    <script type="text/html" id="SingleOptionRegular">
        <div class="form-group" data-bind="validationElement: selectedOption">
            <label class="col-sm-2 control-label" data-bind="html: title"></label>
            <div class="col-sm-2">
                <!-- ko foreach: options -->
                <div class="radio">
                    <label data-bind='attr: { "for": optionFor }'>
                        <input type='radio' data-bind="attr: { value: id, name: $parent.variable, id: optionFor }, checked: $parent.selectedOption" />
                        <span data-bind="text: label"></span>
                    </label>
                </div>

                <!-- /ko -->
                <span class="help-block" data-bind="validationMessage: selectedOption"></span>
            </div>
        </div>
    </script>
    <script type="text/html" id="SingleOptionFiltered">
        <div class="form-group" data-bind="validationElement: selectedOption">
            <label class="col-sm-2 control-label" data-bind="html: title"></label>
            <div class="col-sm-2">
                <div class="input-group">
                    <input class="form-control" data-bind="typeahead: selectedOption, typeaheadOptions: {source: options(), displayText: function(item){return item.label()}, shouldFitToParent: false, showLoadMore: false, autoSelect: true}, valueupdate:'afterkeydown'" type="text" />
                    <div class="input-group-btn" data-bind="click: function(){ selectedOption(undefined); }">
                        <div class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                    </div>
                </div>
                <span class="help-block" data-bind="validationMessage: selectedOption"></span>
            </div>
        </div>
    </script>
    <script type="text/html" id="MultyOption">
        <div class="form-group" data-bind="validationElement: selectedOptions">
            <label class="col-sm-2 control-label" data-bind="html: title"></label>
            <div class="col-sm-2">
                <!-- ko foreach: options -->
                <div class="checkbox">
                    <label data-bind='attr: { "for": optionFor }'>
                        <input type='checkbox' data-bind="attr: { value: id, name: $parent.variable, id: optionFor }, checked: $parent.selectedOptions" />
                        <span data-bind="text: label"></span>
                    </label>
                </div>
                <!-- /ko -->
                <span class="help-block" data-bind="validationMessage: selectedOptions"></span>
            </div>
        </div>
    </script>
    <script type="text/html" id="Numeric">
        <div class="form-group" data-bind="validationElement: selectedOption">
            <label class="col-sm-2 control-label" data-bind="html: title"></label>
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon">#</span>
                    <input class="form-control" type="text" data-bind="numericformatter: selectedOption, useFormatting: settings().UseFormatting" />
                </div>
                <span class="help-block" data-bind="validationMessage: selectedOption"></span>
            </div>
        </div>

    </script>
    <script type="text/html" id="DateTime">
        <!-- ko ifnot: settings().IsTimestamp -->
        <div data-bind="template: { name: 'DateTimeRegular' }"></div>
        <!-- /ko -->
        <!-- ko if: settings().IsTimestamp -->
        <div data-bind="template: { name: 'DateTimeTimestamp' }"></div>
    </script>

    <script type="text/html" id="DateTimeRegular">
        <div class="form-group" data-bind="validationElement: selectedOption">
            <label class="col-sm-2 control-label" data-bind="html: title"></label>
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input class="form-control" type="text" data-date-format="yyyy-mm-dd" data-bind="datepicker: selectedOption, datepickerOptions: {date: selectedOption }"/>
                </div>
                <span class="help-block" data-bind="validationMessage: selectedOption"></span>
            </div>
        </div>
    </script>
    <script type="text/html" id="DateTimeTimestamp">
        <div class="form-group" data-bind="validationElement: selectedOption">
            <label class="col-sm-2 control-label" data-bind="html: title"></label>
            <div class="col-sm-2">
                <input type="text" class="form-control" disabled="disabled" data-bind="value: selectedOption">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-info" type="button" data-bind="click: $root.answerTimestampQuestion" title="@TakeNewInterview.TimestampBtnText">
                    <i class="glyphicon glyphicon-time"></i>
                </button>
            </div>
        </div>
    </script>

    <script type="text/html" id="AutoPropagate">
        <div class="form-group" data-bind="validationElement: selectedOption">
            <label class="col-sm-2 control-label" data-bind="html: title"></label>
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon">#</span>
                    <input type="number" class="form-control" data-bind="value: selectedOption, valueUpdate: 'afterkeydown'" />
                </div>
                <span class="help-block" data-bind="validationMessage: selectedOption"></span>
            </div>
        </div>

    </script>
    <script type="text/html" id="Text">
        <div class="form-group" data-bind="validationElement: selectedOption">
            <label class="col-sm-2 control-label" data-bind="html: title"></label>
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon">T</span>
                    <input type="text" class="form-control" data-bind="value: selectedOption, valueUpdate: 'afterkeydown', maskFormatter:mask" />
                </div>
                <span class="help-block" data-bind="validationMessage: selectedOption"></span>
            </div>
        </div>
    </script>
    <script type="text/html" id="GpsCoordinates">
        <div class="form-group" >
            <label class="col-sm-2 control-label" data-bind="html: title"></label>
            <div class="col-sm-2" data-bind="validationElement: latitude">
                <div class="input-group">
                    <span class="input-group-addon">lat</span>
                    <input type="text" class="form-control" data-bind="numericformatter: latitude, valueUpdate: 'afterkeydown'" />
                </div>
                <span class="help-block" data-bind="validationMessage: latitude"></span>
            </div>
            <div class="col-sm-2">
                <div class="input-group" data-bind="validationElement: longitude">
                    <span class="input-group-addon">lon</span>
                    <input type="text" class="form-control" data-bind="numericformatter: longitude, valueUpdate: 'afterkeydown'" />
                </div>

                <span class="help-block" data-bind="validationMessage: longitude"></span>
            </div>
            <div class="col-sm-2">
                <div class="input-group" data-bind="visible: isMapVisible()">
                    <a data-bind="attr: { href: showMapUrl() }" target="_blank" style="display: table-cell; padding: 5px;">@("show on map")</a>
                </div>
            </div>
        </div>
    </script>
}

<div class="row-fluid" id="featured-questions-region" data-bind="visible: IsPageLoaded">
    <div id="featured-questions" class="form-horizontal">
        <!-- ko foreach: questions -->
        <!-- ko template:  { name: type(), data: $data } -->
        <!-- /ko -->
        <!-- /ko -->
        <div class="form-group" data-bind="validationElement: responsible">
            <label class="col-sm-2 control-label">@Common.Responsible</label>
            <div class="col-md-2">
                <div class="input-group">
                    <input class="form-control" data-bind="typeahead: responsible, typeaheadOptions: {source: supervisors, displayText: function(item){return item.UserName}, autoSelect: true}, valueupdate:'afterkeydown'" type="text" />
                    <span data-bind="spinner: isSupervisorsLoading, spinnerOptions: { 'left': 1, 'right': '50px' }"></span>
                    <div class="input-group-btn" data-bind="click: function(){ responsible(undefined); }">
                        <div class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                    </div>
                </div>
                <span class="help-block" data-bind="validationMessage: responsible"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
            <button type="submit" class="btn btn-primary" data-bind="click: saveCommand, enable: isSaveEnable">@Common.Create</button>
            @Html.ActionLink(Common.Cancel, "Index", new { }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
