@using System.Web.Optimization
@using WB.Core.SharedKernels.SurveyManagement.Views.PreloadedData
@model WB.Core.SharedKernels.SurveyManagement.Views.PreloadedData.PreloadedDataVerificationErrorsView
@{
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
    ViewBag.Title = "Index";
}

@section scripts
{
    @Scripts.Render("~/js/import-interviews")
    <script type="text/javascript">
        var $invalidInterviewsByLastImportUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "InterviewsApi", action = "GetInvalidInterviewsByLastImport"})';
        $(function () {
            var $importInterviewsStatusUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "InterviewsApi", action = "GetImportInterviewsStatus"})';
            var $importInterviewsUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "InterviewsApi", action = "ImportInterviews"})';
            var $responsiblesUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "Teams", action = "Supervisors"})';

            var $processUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "HQ", action = "VerifySample" })';
            var model = new Supervisor.VM.ImportInterviews('@Model.Id', '@Model.QuestionnaireId', @Model.Version, $importInterviewsStatusUrl, $importInterviewsUrl, $responsiblesUrl);

            model.load();
            ko.applyBindings(model);
        });
    </script>
    <script type="text/html" id="required-prefilled-questions-template">
        @Html.Raw(string.Format(BatchUpload.PrefilledQuestionsRequired,
            "<span class='text-normal' data-bind='text: $data.join(\", \")'></span>"))
    </script>
}


<div id="dialogSelectSupervisor" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click: cancelSupervisorSelection">&times;</button>
                @BatchUpload.ImportInterviews_SelectSupervisor
            </div>
            <div class="modal-body">

                <div id="select-supervisor-dialog" data-bind="css: { 'has-error': selectedResponsible.hasError }">
                    <div class="input-group">
                        <input class="form-control" placeholder="Any" data-bind="typeahead: selectedResponsible, typeaheadOptions: {source: responsibles, displayText: function(item){return item.UserName}}, valueupdate:'afterkeydown'" type="text" />
                        <span data-bind="spinner: isResponsiblesLoading, spinnerOptions: { 'left': 1, 'right': '50px' }"></span>
                        <div class="input-group-btn" data-bind="click: function(){ selectedResponsible(undefined); }">
                            <div class="btn btn-default"><span class=" glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bind="enable: !selectedResponsible.hasError(), click: selectSupervisor">@BatchUpload.ImportInterviews_SelectButtonText</button>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <h3>@string.Format("{0}: (ver. {1}) {2}", BatchUpload.BatchUpload_Title, Model.Version, Model.QuestionnaireTitle)</h3>
    <br />
    @if (Model.Errors.Length > 0)
    {
        <div style="height: 500px; overflow-y: scroll;">
            <table class="table table-striped table-bordered table-condensed table-break-words">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Message</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Errors)
                {
                        <tr>
                            <th>@item.Code</th>
                            <th>@item.Message</th>
                            <th>
                                @foreach (var reference in item.References)
                                {
                                    if (!string.IsNullOrEmpty(@reference.Content))
                                    {
                                        <span>@reference.Type : @reference.Content</span>
                                        <br />
                                    }
                                    if (reference.PositionX.HasValue)
                                    {
                                        <span>Column: @reference.PositionX</span>
                                        <br />
                                    }

                                    if (reference.PositionY.HasValue)
                                    {
                                        <span>Row: @reference.PositionY</span>
                                        <br />
                                    }

                                    <span>File name: @reference.DataFile </span>

                                }
                                <br />
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a href="@Url.Action("BatchUpload", "HQ", new {id = Model.QuestionnaireId, version = Model.Version})" class="btn btn-primary"><i class="icon-white"></i>Upload new data</a>
    }
    else
    {
        <div class="well form-center">
            <div class="form-horizontal">
                <div>
                    <fieldset>
                        <legend data-bind="visible: canImportInterviews">
                            Data is valid
                        </legend>
                        <legend data-bind="visible: isRunningProcessExists">
                            Import interviews is in progress. Wait until running operation is finished.
                        </legend>
                    </fieldset>
                    <div class="form-group" data-bind="visible: canImportInterviews">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button class="btn btn-large btn-primary" type="submit" data-bind="click: importInterviews">
                                Create sample from this data
                            </button>
                        </div>
                    </div>
                </div>
                <fieldset data-bind="visible: importCompleted">
                    <legend>
                        Sample import is completed
                    </legend>
                </fieldset>
                <fieldset data-bind="visible: importCompletedWithError">
                    <legend style="color: red;">
                        Sample import is completed with errors
                    </legend>
                </fieldset>
                <ul class="list-group" data-bind="if: isNeedShowStatusPanel()">
                    <li class="list-group-item disabled">
                        <b>Import status</b>
                    </li>
                    <li class="list-group-item">
                        <span class="badge"><span data-bind="text: status.createdInterviewsCount"></span> of <span data-bind="text: status.totalInterviewsCount"></span></span>
                        Interview(s) imported
                    </li>
                    <li class="list-group-item">
                        <span class="badge" data-bind="text: status.estimatedTime"></span>
                        Estimated Time
                    </li>
                    <li class="list-group-item"  data-bind="visible: status.hasErrors">
                        <a data-bind="if: status.hasErrors, attr: { href: $invalidInterviewsByLastImportUrl }">
                            <i class="glyphicon glyphicon-download-alt"></i> Download invalid interviews
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>