@using System.Web
@using WB.Core.Infrastructure.Versions
@using WB.Enumerator.Native.Resources
@inject IProductVersion version
@model WB.UI.WebTester.Controllers.InterviewPageModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>

    <inject component="markup" type="css"></inject>
    <inject component="markup-web-interview" type="css"></inject>
<link href="/js/core-signalr.js" rel="prefetch"><link href="/js/core-signalr~vue2editor.js" rel="prefetch"><link href="/js/questions.js" rel="prefetch"><link href="/js/table-roster.js" rel="prefetch"><link href="/js/chunk-common.js" rel="preload" as="script"><link href="/js/chunk-vendors.js" rel="preload" as="script"><link href="/js/webtester.js" rel="preload" as="script"></head>
<body class="gray-background">
    <script>
    window.CONFIG = {
        id: '@Model.Id',
        virtualPath:    '@Url.Content(@"~/WebTester/Interview")',
        imageUploadUri: '@Url.Content(@"~/multimedia/image")',
        audioUploadUri: '@Url.Content(@"~/multimedia/audio")',
        imageGetBase:   '@Url.Content(@"~/api/media")',
        audioGet: '@Url.Content(@"~/Multimedia/AudioRecord")',
        verboseLogging: false,
        appVersion: '@(version.ToString())',
		googleApiKey: '@Model.GoogleMapsKey',
		googleMapsApiBaseUrl: 'https://maps.googleapis.com',
        googleMapsBaseUrl: 'https://www.google.com',
        inWebTesterMode: true,
        reloadQuestionnaireUrl: '@Model.ReloadQuestionnaireUrl',
        saveScenarioUrl: '@Model.SaveScenarioUrl',
        getScenarioUrl: '@Model.GetScenarioUrl',
        designerUrl: '@Model.DesignerUrl',
        loadedMessage: '@TempData["Message"]',
        customTexts: {
            completeButton: "@Html.Raw(HttpUtility.JavaScriptStringEncode(WebInterview.Complete))",
            noteToSupervisor: "@Html.Raw(HttpUtility.JavaScriptStringEncode(WebInterview.NoteForSupervisor))"
        }
    }
    </script>
    @RenderSection("scripts", false)
    <div id="app"></div>
    <partial name="partial.webtester" />
    @RenderSection("footer", false)
<script type="text/javascript" src="/js/chunk-vendors.js"></script><script type="text/javascript" src="/js/chunk-common.js"></script><script type="text/javascript" src="/js/webtester.js"></script></body>
</html>
