@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Grouped
@model RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Grouped.CQGroupedBrowseView
@{
    Layout = "~/Views/Shared/_LayputHtml5.cshtml";
}
<div data-role="panel" data-id="main">
    <!-- Start of second page -->
    <div data-role="page" id="main">
        <div data-role="header" data-theme="b">
            <h1>
                Dashboard</h1>
        </div>
        <div data-role="content">
            <ul data-divider-theme="d" data-theme="d" data-role="listview">
                @foreach (CQGroupItem group in Model.Groups)
                {
                    <li data-role="list-divider" role="heading">
                        <fieldset class="ui-grid-b">
                            <div class="ui-block-a">
                                <h1>
                                    Survey - @group.Title</h1>
                            </div>
                            <div class="ui-block-b">
                                &nbsp;
                            </div>
                            <div class="ui-block-c">
                                <a href="#" data-inline="true" data-icon="plus" data-role="button" data-theme="b"
                                    data-iconpos="notext">New</a></div>
                        </fieldset>
                        <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@group.TotalCount</span>
                    </li>
                                                                           foreach (CompleteQuestionnaireBrowseItem survey in group.Items)
                                                                           {
                    <li>
                        <fieldset class="ui-grid-b">
                            <div class="ui-block-a">
                                <h1>@survey.Id @survey.QuestionnaireTitle</h1>
                            </div>
                            <div class="ui-block-b">
                                @survey.Status.Name
                            </div>
                            <div class="ui-block-c">
                                <a href="#" data-inline="true" data-role="button" data-theme="b" data-mini="true">edit</a>
                                <a href="#" data-inline="true" data-role="button" data-mini="true">stat</a></div>
                        </fieldset>
                        <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@survey.AnsweredQuestionCouont
                            / @survey.TotalQuestionCouont</span> </li>
                                                                           }
                }
            </ul>
        </div>
    </div>
</div>
