@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@model RavenQuestionnaire.Core.Views.Question.CompleteQuestionView
@using (Html.BeginCollectionItem("Answers", true, Model.PublicKey))
{
    var settings = ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings);
    Guid selected = Guid.Empty;
    var answer = Model.Answers.FirstOrDefault(a => ((CompleteAnswerView)a).Selected);
    if (answer != null)
    {
        selected = answer.PublicKey;
    }
    settings.Add("onchange", "$(this.form).submit();");
    settings.Add("data-native-menu", "false");
    @Html.Hidden("Selected", true)
    @Html.Hidden("Parent", Model.PublicKey)
 @*   @Html.Label("PublicKey", Model.Title)*@
    <label for="@ViewData.TemplateInfo.GetFullHtmlFieldId("PublicKey")">@Html.Raw( Model.Title)</label>
    @Html.DropDownList("PublicKey", new SelectList(Model.Answers, "PublicKey", "Title", selected), "Select answer", settings)
}
