@using Main.Core.View.Answer
@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Question
@model Main.Core.View.Question.CompleteQuestionView
@using (Html.BeginCollectionItem("Answers", true, Model.PublicKey))
{
    var settings = ((IDictionary<string, object>) ViewBag.EnabledRadioBoxSettings);
    Guid selected = Guid.Empty;
    CompleteAnswerView answer = Model.Answers.FirstOrDefault(a => (a).Selected);
    if (answer != null)
    {
        selected = answer.PublicKey;
    }
    settings.Add("onchange", "$(this.form).submit();");
    settings.Add("data-native-menu", "false");
    @Html.Hidden("Selected", true)
    @Html.Hidden("Parent", Model.PublicKey)
    <label for="@ViewData.TemplateInfo.GetFullHtmlFieldId("PublicKey")">
        @Html.Raw(Model.Title) 
        @if (Model.Mandatory) { <span style="color: red; font-size:25px;">*</span> }
    </label>
    @Html.DropDownList("PublicKey", new SelectList(Model.Answers, "PublicKey", "Title", selected), "Select answer", settings)
}