@using Main.Core.View.Answer
@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@using RavenQuestionnaire.Core.Views.Question
@model Main.Core.View.Question.CompleteQuestionView
@{

    var settings = ((IDictionary<string, object>) ViewBag.EnabledRadioBoxSettings);
    settings.Add("onclick", "$(this.form).submit();");
}
@using (Html.BeginCollectionItem("Answers", true, Model.PublicKey))
{
    @Html.Hidden("Parent", Model.PublicKey)
    <fieldset data-role="controlgroup"><legend>@Html.Raw(Model.Title) @if (Model.Mandatory) { <span style="color: red;font-size:25px;">*</span> }</legend>    
        @foreach (CompleteAnswerView item in Model.Answers)
        {
            @Html.Hidden("Selected", true)

            string radibutonname = string.Format("{0}-{1}", ViewData.TemplateInfo.GetFullHtmlFieldId("PublicKey"), item.PublicKey);
            settings["id"] = radibutonname;

            @Html.RadioButton("PublicKey", item.PublicKey, item.Selected, settings)
            <label for="@radibutonname">
                @{ Html.RenderPartial(string.Format("~/Views/Survey/Answer/Answer/_{0}.cshtml", item.AnswerType), item); }
            </label>
        }
    </fieldset>
}